.body-div {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 160px auto;
  font-family: "Open Sans", sans-serif;
}
.signup-body-div {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 160px auto;
  font-family: "Open Sans", sans-serif;
  width: 400px;
}
.new-claim-body-div {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 160px auto;
  font-family: "Open Sans", sans-serif;
  width: 700px;
}
.claims-body-div {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 160px auto;
  font-family: "Open Sans", sans-serif;
  width: 600px;
}
.updates-body-div {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 160px auto;
  font-family: "Open Sans", sans-serif;
  width: 700px;
}
.update-claim-summary-link {
  color: #0000ee;
}
.admin {
  border-bottom: 2px dotted red;
}
.dotted-underline {
  border-bottom: 1px dotted;
  text-decoration: none;
}
.loading-indicator {
  display: none;
}
.error-text {
  color: red;
  display: none;
}
