.clearfix {
  content: "";
  display: table;
  clear: both;
}
.bHeader {
  background-color: Yellow;
  text-align: right;
  padding: 0.5em 1em;
}
.bQuestion {
  background-color: LightPink;
  text-align: center;
}
.bPriors {
  width: 100%;
  font-size: 0px;
  border: 5px solid green;
}
.bSupport {
  font-size: 0px;
}
.supportColumn {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font-size: 14px;
  padding: 0 3em;
}
.support {
  background-color: LightBlue;
  padding: 2em 0;
}
.comment {
  padding: 0 2em;
}
.bHeader ul {
  position: relative;
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}
.bHeader ul a {
  display: block;
  color: #333;
  text-decoration: none;
  font-size: 1em;
  padding: 0.5em 1em;
}
.bHeader ul li {
  position: relative;
  margin: 0;
  padding: 0;
}
.bHeader ul li:hover {
  background: #f6f6f6;
}
.bHeader ul ul {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: #fff;
  padding: 0;
}
.bHeader ul li:hover > ul {
  display: block;
}
