.claim {
  background-color: LightBlue;
  padding: 2em 0;
  overflow: auto;
}
.bClaim {
  background-color: LightPink;
  text-align: center;
}
.claimLeft {
  float: left;
  width: 10%;
}
.claimRight {
  float: right;
  width: 90%;
}
.newClaimForm {
  display: none;
}
.addExistingClaimForm {
  display: none;
}
.comments {
  padding: 0 2em;
}
.replies {
  padding: 0 2em;
}
.claimInput {
  min-width: 500px;
}
.editClaimForm {
  display: none;
}
.editClaimForm {
  display: none;
}
.editCommentForm {
  display: none;
}
.newCommentForm {
  display: none;
}
