\*scratch*
[#]*[#]
.#*
*~
.gcloud/*
*/*/config.yaml
*.pyc
*.log*
.DS_Store
/prober
/xelaiemon
*.cp
*.swp
*.css.map
.sass-cache
/bower_components
/node_modules
/.sass-cache

# (Alexei) I created some sym-links from site directory to static directory for myself
src/site/html
src/site/js
src/site/scss

bundle.js
src/site/static/js/typings/

.last_deps_update
