<md-autocomplete md-selected-item="searchItem"
		md-search-text="searchText"
		md-items="result in getSearchResults(searchText)"
		md-item-text="searchText"
		md-selected-item-change="searchResultSelected(result)"
		md-menu-class="autocomplete-custom-template"
		md-min-length="1"
		md-delay="300"
		md-autofocus="::doAutofocus"
		md-autoselect
		placeholder="{{::placeholder}}">
	<md-item-template>
		<div layout="row" layout="start center">
			<!--<arb-likes page-id="{{result.pageId}}"></arb-likes>-->
			<!-- There is a bug with using custom directives inside the autocomplete,
				because it uses md-virtual-repeat. -->
			<span class="likes-in-autocomplete" layout="row" layout="start end">
				<md-icon class="like-icon on" ng-show="result.page.myLikeValue > 0">thumb_up</md-icon>
				<md-icon class="like-icon off" md-svg-icon="thumb_up_outline" ng-show="result.page.myLikeValue <= 0"></md-icon>
				<span class="like-count">{{result.page.likeCount + result.page.myLikeValue}}</span>
			</span>
			<!--<arb-page-title page-id="{{result.pageId}}" show-clickbait="true"></arb-page-title>-->
			<div layout="column">
				<div layout="row" layout-align="start center">
					<md-icon class="no-margins" ng-if="pageService.showPrivate(result.page.pageId)">
						<md-tooltip>This page belongs to {{pageService.pageMap[page.seeGroupId].title}} group</md-tooltip>
						lock
					</md-icon>
					<md-icon class="no-margins" ng-if="pageService.showPublic(result.page.pageId)">
						<md-tooltip>This page is public</md-tooltip>
						public
					</md-icon>
					<md-icon class="no-margins" ng-if="result.page.isQuestion()">
						<md-tooltip>This is a question page</md-tooltip>
						help
					</md-icon>
					<span>{{result.page.title}}</span>
					<span ng-if="::userService.user.isAdmin">&nbsp;&lt;{{result.score}}&gt;</span>
				</div>
				<span class="md-caption">{{result.page.clickbait}}</span>
			</div>
		</div>
	</md-item-template>
	<md-not-found>
		No matches found
	</md-not-found>
</md-autocomplete>
