<div layout="column" flex>

	<arb-change-log-row change-log="changeLog"></arb-change-log-row>

	<!-- Extra functionality for new edits -->

	<div ng-if="(changeLog.type === 'newEdit' || changeLog.type === 'newEditProposal' || changeLog.type === 'newSnapshot')
					&& page.edit !== changeLog.edit"
			layout="row"
			layout-align="start center">
		<md-button class="md-warn"
				ng-click="revertToEdit(changeLog.edit)"
				ng-if="changeLog.type === 'newEdit' && changeLog.edit !== page.currentEdit">
			<md-tooltip md-delay="500">Revert to this edit</md-tooltip>
			Revert
		</md-button>
		<md-button ng-click="loadSideEdit(changeLog.edit)">
			<md-tooltip md-delay="500">Show this edit</md-tooltip>
			Show edit
		</md-button>
		<md-button ng-click="showDiff(changeLog.edit)">
			<md-tooltip md-delay="500">Diff with this edit</md-tooltip>
			Diff
		</md-button>
		<md-button ng-click="arb.pageService.approveEditProposal(changeLog)" ng-if="changeLog.type === 'newEditProposal'">
			<md-tooltip md-delay="500">Approve this edit</md-tooltip>
			Approve
		</md-button>
	</div>

	<div ng-if="(changeLog.type === 'newEdit' || changeLog.type === 'newSnapshot') && changeLog.edit === page.edit">
		Currently loaded
	</div>

	<div ng-if="(changeLog.type === 'newEdit' || changeLog.type === 'newSnapshot') && changeLog.edit === page.currentEdit">
		Currently live
	</div>

</div>
