<div layout="column"
		class="change-speed-container"
		ng-class="{
				'slow-down-container': goSlow,
				'speed-up-container': !goSlow,
				'stick-to-top': stickToTop,
				'stick-to-bottom': stickToBottom,
				'expanded': isHovered,
			}"
		arb-click-elsewhere="isHovered = false">

	<div class="md-body-2 change-speed-button change-speed-top-offset"
			ng-mouseenter="hoverStart()"
			ng-mouseleave="hoverEnd()"
			ng-click="isHovered = !isHovered"
			ng-class="{'has-info': hasSomeSuggestions()}"
			layout="row">
		<div ng-if="goSlow">
			<md-icon>trending_down</md-icon>
			&nbsp;
		</div>
		<div ng-bind="::goSlow ? 'Say what?' : 'Go faster'"
				ng-if="true || !haveScrolled || isHovered"></div>
		<div ng-if="!goSlow">
			&nbsp;
			<md-icon>trending_up</md-icon>
		</div>
		&nbsp;&nbsp;
		<div flex ng-show="isHovered"></div>
		<div title="If this explanation is too technical, 'Say what?' will help you find a less technical version. If there is no less technical version of the page, you can read the prerequisites first."
				ng-show="isHovered && goSlow">
			<md-icon>help</md-icon>
		</div>
		<div title="If this explanation is too basic, 'Go faster' will help you find a more technical version."
				ng-show="isHovered && !goSlow">
			<md-icon>help</md-icon>
		</div>
	</div>

	<div class="change-speed-tray md-body-1 change-speed-top-offset"
			ng-class="{'has-info': hasSomeSuggestions()}">
		<div ng-if="isHovered">

			<!-- List arcs that contain this page -->
			<div ng-if="::goSlow && page.arcPageIds.length > 0 && !arb.pathService.isOnPath()">
				<md-subheader class="md-no-sticky">
					Paths
				</md-subheader>
				<div class="change-speed-div">
					<div>
						This page is a part of
						<ng-pluralize count="page.arcPageIds.length"
								when="{'one': 'this path:', 'other': 'these paths:'}"></ng-pluralize>
					</div>
					<ul>
						<li ng-repeat="pageId in page.arcPageIds">
							<arb-page-title page-id="{{::pageId}}" is-link="true"></arb-page-title>
						</li>
					</ul>
				</div>
			</div>

			<!-- Less technical alternatives -->
			<div ng-if="::goSlow">
				<md-subheader class="md-no-sticky">
					Less technical alternatives
				</md-subheader>
				<div class="change-speed-div">
					<ul>
						<li ng-repeat="(suggestionPageId,becausePageIds) in page.lowerLevelMap">
							<arb-page-title page-id="{{::subjectId}}" is-link="true"></arb-page-title>
							<br>
							<span class="md-caption">
								teaches
								<span ng-repeat="becausePageId in becausePageIds">
									<arb-page-title page-id="{{::becausePageId}}"
											is-link="true"
											ng-if="becausePageId != suggestionPageId"></arb-page-title>
									<span ng-if="becausePageId == suggestionPageId">itself</span>
									<span class="comma" ng-if="::!$last">,</span>
								</span>
							</span>
						</li>
					</ul>
					<div class="md-caption" ng-if="!hasLowerLevelMap()">
						No less technical explanations currently exist.
					</div>
				</div>
			</div>

			<!-- Learn a subject at a harder level -->
			<div ng-if="::!goSlow">
				<md-subheader class="md-no-sticky">
					More technical alternatives
				</md-subheader>
				<div class="change-speed-div">
					<ul>
						<li ng-repeat="(suggestionPageId,becausePageIds) in page.higherLevelMap">
							<arb-page-title page-id="{{::suggestionPageId}}" is-link="true"></arb-page-title>
							<br>
							<span class="md-caption">
								teaches
								<span ng-repeat="becausePageId in becausePageIds">
									<arb-page-title page-id="{{::becausePageId}}"
											is-link="true"
											ng-if="becausePageId != suggestionPageId"></arb-page-title>
									<span ng-if="becausePageId == suggestionPageId">itself</span>
									<span class="comma" ng-if="::!$last">,</span>
								</span>
							</span>
						</li>
					</ul>
					<div class="md-caption" ng-if="!hasHigherLevelMap()">
						No more technical explanations currently exist.
					</div>
				</div>
			</div>

			<!-- Learn a subject at the same level, but a slower speed -->
			<div ng-if="::goSlow">
				<md-subheader class="md-no-sticky">
					More detailed alternatives
				</md-subheader>
				<div class="change-speed-div">
					<ul>
						<li ng-repeat="(subjectId,pagePairs) in page.slowerLevelMap">
							<arb-page-title page-id="{{::suggestionPageId}}" is-link="true"></arb-page-title>
							<br>
							<span class="md-caption">
								teaches
								<span ng-repeat="becausePageId in becausePageIds">
									<arb-page-title page-id="{{::becausePageId}}"
											is-link="true"
											ng-if="becausePageId != suggestionPageId"></arb-page-title>
									<span ng-if="becausePageId == suggestionPageId">itself</span>
									<span class="comma" ng-if="::!$last">,</span>
								</span>
							</span>
						</li>
					</ul>
					<div class="md-caption" ng-if="!hasSlowDownMap()">
						No more detailed alternatives of this page currently exist.
					</div>
				</div>
			</div>

			<!-- Learn a subject at the same level, but a faster speed -->
			<div ng-if="::!goSlow">
				<md-subheader class="md-no-sticky">
					More concise alternatives
				</md-subheader>
				<div class="change-speed-div">
					<ul>
						<li ng-repeat="(suggestionPageId,becausePageIds) in page.fasterLevelMap">
							<arb-page-title page-id="{{::suggestionPageId}}" is-link="true"></arb-page-title>
							<br>
							<span class="md-caption">
								teaches
								<span ng-repeat="becausePageId in becausePageIds">
									<arb-page-title page-id="{{::becausePageId}}"
											is-link="true"
											ng-if="becausePageId != suggestionPageId"></arb-page-title>
									<span ng-if="becausePageId == suggestionPageId">itself</span>
									<span class="comma" ng-if="::!$last">,</span>
								</span>
							</span>
						</li>
					</ul>
					<div class="md-caption" ng-if="!hasSpeedUpMap()">
						No more concise alternatives of this page currently exist.
					</div>
				</div>
			</div>

			<!-- Visit the concepts taught by this page -->
			<!-- <div ng-if="::pageSubjectsExceptItself.length > 0 && !goSlow">
				This page tries to teach the following concepts. You can visit their pages to read more about them.
				<ul>
					<li ng-repeat="subject in pageSubjectsExceptItself | orderBy: ['-level']">
						<arb-page-title page-id="{{::subject.parentId}}"
								is-link="true"
								ng-if="subject.parentId != pageId"></arb-page-title>
						<span ng-if="subject.parentId == pageId">
							Itself
						</span>
					</li>
				</ul>
			</div> -->
			<!-- <p ng-if="::pageSubjectsExceptItself.length == 0 && !goSlow">
				Either this page doesn't teach any concepts or the authors haven't added them yet.
			</p> -->

			<!-- Learn one of the requirements -->
			<div ng-if="::goSlow">
				<md-subheader class="md-no-sticky">
					Requirements
				</md-subheader>
				<div class="change-speed-div" ng-if="pageRequirements.length > 0">
					This page relies on the following concepts:
					<ul>
						<li ng-repeat="requirement in pageRequirements | orderBy: ['-isStrong', '-level']">
							<span class="md-caption" ng-if="!requirement.isStrong">(Optional)</span>
							<arb-page-title page-id="{{::requirement.parentId}}"
									is-link="true"
									ng-if="requirement.parentId != pageId"></arb-page-title>
							<span ng-if="requirement.parentId == pageId">
								Itself
							</span>
						</li>
					</ul>
				</div>
				<div class="change-speed-div md-caption" ng-if="page.requirements.length <= 0">
					No prerequisites (or may be authors haven't added them yet).
				</div>
			</div>

			<!-- Request a different explanation -->
			<md-subheader class="md-no-sticky">
				Can't find what you are looking for?
			</md-subheader>
			<div class="change-speed-div">
				<div class="change-speed-something-else" layout="column" layout-align="start start">
					<!-- Other slow down things -->
					<div layout="row" layout-align="start center" ng-if="::goSlow">
						<span ng-if="!page.contentRequests.lessTechnical.myLikeValue">
							<md-button class="minor-button" ng-click="submitExplanationRequest('lessTechnical', $event)">
								Request a less technical explanation
							</md-button>
							<!--<span title="If this explanation is too technical, you can request a less technical explanation. It will have fewer and/or less technical prerequisites.&#13;&#10;We show users' requests to authors, so they can prioritize which explanations to write. We will notify you when this new explanation exists.">
								<md-icon class="helper-icon">help</md-icon>
							</span>-->
						</span>
						<span ng-if="page.contentRequests.lessTechnical.myLikeValue">
							Thanks for requesting a less technical explanation!
						</span>
					</div>

					<div layout="row" layout-align="start center" ng-if="::goSlow">
						<span ng-if="!page.contentRequests.moreWords.myLikeValue">
							<md-button class="minor-button" ng-click="submitExplanationRequest('moreWords', $event)">
								Request a more detailed explanation
							</md-button>
							<!--<span title="If this explanation is moving too fast or skips over some parts, you can request a more detailed. It will have mostly the same prerequisites, but will be longer and more thorough.&#13;&#10;We show users' requests to authors, so they can prioritize which explanations to write. We will notify you when this new explanation exists.">
								<md-icon class="helper-icon">help</md-icon>
							</span>-->
						</span>
						<span ng-if="page.contentRequests.moreWords.myLikeValue">
							Thanks for requesting a more detailed explanation!
						</span>
					</div>

					<!-- Other speed up things -->
					<div layout="row" layout-align="start center" ng-if="::!goSlow">
						<span ng-if="!page.contentRequests.moreTechnical.myLikeValue">
							<md-button class="minor-button" ng-click="submitExplanationRequest('moreTechnical', $event)">
								Request a more technical explanation
							</md-button>
							<!--<span title="If this explanation is not technical enough, you can request a more technical explanation. It will have other and/or more technical prerequisites.&#13;&#10;We show users' requests to authors, so they can prioritize which explanations to write. We will notify you when this new explanation exists.">
								<md-icon class="helper-icon">help</md-icon>
							</span>-->
						</span>
						<span ng-if="page.contentRequests.moreTechnical.myLikeValue">
							Thanks for requesting a more technical explanation!
						</span>
					</div>

					<div layout="row" layout-align="start center" ng-if="::!goSlow">
						<span ng-if="!page.contentRequests.fewerWords.myLikeValue">
							<md-button class="minor-button" ng-click="submitExplanationRequest('fewerWords', $event)">
								Request a more concise explanation
							</md-button>
							<!--<span title="If this explanation is moving too slowly for you or has too much detail, you can request a more concise explanation. It will have mostly the same prerequisites, but will be shorter and more to the point.&#13;&#10;We show users' requests to authors, so they can prioritize which explanations to write. We will notify you when this new explanation exists.">
								<md-icon class="helper-icon">help</md-icon>
							</span>-->
						</span>
						<span ng-if="page.contentRequests.fewerWords.myLikeValue">
							Thanks for requesting a more concise explanation!
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
