<div layout="column" flex>
	<div layout="row">
		<div ng-switch="::changeLog.type">

			<!-- Changes with links -->

			<span ng-switch-when="newParent">
				New parent: <arb-page-title page-id="{{::changeLog.auxPageId}}" is-link="true"></arb-page-title>
			</span>

			<span ng-switch-when="deleteParent">
				Removed parent: <arb-page-title page-id="{{::changeLog.auxPageId}}" is-link="true"></arb-page-title>
			</span>

			<span ng-switch-when="newChild">
				New child: <arb-page-title page-id="{{::changeLog.auxPageId}}" is-link="true"></arb-page-title>
			</span>

			<span ng-switch-when="deleteChild">
				Removed child: <arb-page-title page-id="{{::changeLog.auxPageId}}" is-link="true"></arb-page-title>
			</span>

			<span ng-switch-when="newTag">
				New tag: <arb-page-title page-id="{{::changeLog.auxPageId}}" is-link="true"></arb-page-title>
			</span>

			<span ng-switch-when="deleteTag">
				Removed tag: <arb-page-title page-id="{{::changeLog.auxPageId}}" is-link="true"></arb-page-title>
			</span>

			<span ng-switch-when="newTagTarget">
				Tag for: <arb-page-title page-id="{{::changeLog.auxPageId}}" is-link="true"></arb-page-title>
			</span>

			<span ng-switch-when="deleteTagTarget">
				Not a tag for: <arb-page-title page-id="{{::changeLog.auxPageId}}" is-link="true"></arb-page-title>
			</span>

			<span ng-switch-when="newRequirement">
				New requirement: <arb-page-title page-id="{{::changeLog.auxPageId}}" is-link="true"></arb-page-title>
			</span>

			<span ng-switch-when="deleteRequirement">
				Removed requirement: <arb-page-title page-id="{{::changeLog.auxPageId}}" is-link="true"></arb-page-title>
			</span>

			<span ng-switch-when="newRequiredFor">
				Required for: <arb-page-title page-id="{{::changeLog.auxPageId}}" is-link="true"></arb-page-title>
			</span>

			<span ng-switch-when="deleteRequiredFor">
				Not required for: <arb-page-title page-id="{{::changeLog.auxPageId}}" is-link="true"></arb-page-title>
			</span>

			<span ng-switch-when="newSubject">
				Teaches: <arb-page-title page-id="{{::changeLog.auxPageId}}" is-link="true"></arb-page-title>
			</span>

			<span ng-switch-when="deleteSubject">
				Doesn't teach: <arb-page-title page-id="{{::changeLog.auxPageId}}" is-link="true"></arb-page-title>
			</span>

			<span ng-switch-when="newTeacher">
				Taught by: <arb-page-title page-id="{{::changeLog.auxPageId}}" is-link="true"></arb-page-title>
			</span>

			<span ng-switch-when="deleteTeacher">
				Not taught by: <arb-page-title page-id="{{::changeLog.auxPageId}}" is-link="true"></arb-page-title>
			</span>


			<!-- Settings changes -->

			<span ng-switch-when="newAlias">
				Changed "alias" from "{{::changeLog.oldSettingsValue}}" to "{{::changeLog.newSettingsValue}}"
			</span>

			<span ng-switch-when="newSortChildrenBy">
				Changed "child sort order" from "{{::changeLog.oldSettingsValue}}" to "{{::changeLog.newSettingsValue}}"
			</span>

			<span ng-switch-when="setVoteType">
				Changed "vote type" from "{{::changeLog.oldSettingsValue}}" to "{{::changeLog.newSettingsValue}}"
			</span>

			<span ng-switch-when="newEditKarmaLock">
				Changed "edit karma lock" from "{{::changeLog.oldSettingsValue}}" to "{{::changeLog.newSettingsValue}}"
			</span>

			<span ng-switch-when="newEditGroup">
				Changed "edit group" from
				<!-- old edit group -->
				<span ng-if="::(changeLog.oldSettingsValue == '')">none</span>
				<span ng-if="::(changeLog.oldSettingsValue != '')">
					<arb-page-title page-id="{{::changeLog.oldSettingsValue}}" is-link="true"></arb-page-title>
				</span>
				to
				<!-- new edit group -->
				<span ng-if="::(changeLog.newSettingsValue == '')">none</span>
				<span ng-if="::(changeLog.newSettingsValue != '')">
					<arb-page-title page-id="{{::changeLog.newSettingsValue}}" is-link="true"></arb-page-title>
				</span>
			</span>

			<span ng-switch-when="turnOnVote">
				Show probability bar
			</span>

			<span ng-switch-when="turnOffVote">
				Hide probability bar
			</span>


			<!-- Edits and snapshots -->

			<span ng-switch-when="deletePage">
				Deleted page
			</span>

			<span ng-switch-when="newEdit">
				New edit #{{::changeLog.edit}}
			</span>

			<span ng-switch-when="revertEdit">
				Reverted to edit #{{::changeLog.edit}}
			</span>

			<span ng-switch-when="newSnapshot">
				New snapshot (edit #{{::changeLog.edit}})
			</span>


			<!-- Unknown -->

			<span ng-switch-default>
				Unknown change type: {{::changeLog.type}}
			</span>

		</div>

		<div flex />

		<div>
			<arb-user-name user-id="{{::changeLog.userId}}"></arb-user-name>

			<span ng-bind="::(changeLog.createdAt | relativeDateTime)"></span>
		</div>

	</div>


	<!-- Extra functionality for new edits -->

	<div ng-if="::((changeLog.type === 'newEdit' || changeLog.type === 'newSnapshot') && page.edit !== changeLog.edit)"
			layout="row" layout-align="start center">
		<md-button class="md-warn"
				ng-click="revertToEdit(changeLog.edit)"
				ng-if="::(changeLog.type === 'newEdit' && changeLog.edit !== page.currentEdit)">
			<md-tooltip md-delay="500">Revert to this edit</md-tooltip>
			Revert
		</md-button>
		<md-button ng-click="loadSideEdit(changeLog.edit)">
			<md-tooltip md-delay="500">Show this edit</md-tooltip>
			Show edit
		</md-button>
		<md-button ng-click="showDiff(changeLog.edit)">
			<md-tooltip md-delay="500">Diff with this edit</md-tooltip>
			Diff
		</md-button>
	</div>

	<div ng-if="::((changeLog.type === 'newEdit' || changeLog.type === 'newSnapshot') && changeLog.edit === page.edit)">
		Currently loaded
	</div>

	<div ng-if="::((changeLog.type === 'newEdit' || changeLog.type === 'newSnapshot') && changeLog.edit === page.currentEdit)">
		Currently live
	</div>

</div>
