<!-- Toggle thread button -->
<md-button class="md-primary"
		ng-click="toggleThread()"
		aria-label="Toggle thread"
		ng-bind="threadExpanded ? 'Collapse thread': 'Expand thread'">
</md-button>

<!-- Comment thread -->
<div ng-if="threadExpanded">
	<md-progress-circular md-mode="indeterminate" ng-if="!threadLoaded"></md-progress-circular>
	<div arb-subpage class="reveal-after-render"
			lens-id="{{::comment.getCommentParentPage().pageId}}"
			page-id="{{::comment.pageId}}"
			show-even-if-resolved="true"
			ng-if="threadLoaded"></div>
</div>
