<md-fab-speed-dial md-open="isOpen"
		md-direction="up"
		class="md-scale md-fab-bottom-right"
		ng-mouseenter="toggle(true, true)"
		ng-mouseleave="toggle(false, true)"
		ng-if="!hideFab && userService.userIsCool()">
	<md-fab-trigger>
		<md-button ng-click="fabClicked($event)" class="md-fab">
			<md-icon class="fab-icon" ng-if="!showInlineVersion()">add</md-icon>
			<md-icon class="fab-icon" ng-if="showInlineVersion()">add_box</md-icon>
			<md-tooltip md-delay="500" md-direction="left">Quick menu</md-tooltip>
		</md-button>
		<md-icon class="private-group-icon" ng-if="pageService.privateGroupId !== ''">
			lock
			<md-tooltip md-autohide="true" md-direction="left">Private domain</md-tooltip>
		</md-icon>
	</md-fab-trigger>
	<md-fab-actions ng-if="isOpen && !(userService.isTouchDevice && userService.lensTextSelected)">
		<md-button ng-href="{{editPageUrl}}" class="md-fab md-raised md-mini md-accent" ng-if="editPageUrl">
			<md-icon>create</md-icon>
			<md-tooltip md-delay="500" md-direction="left">Edit this page (ALT+CTRL+E)</md-tooltip>
		</md-button>
		<md-button href="/edit/" class="md-fab md-raised md-mini md-accent">
			<md-icon>note_add</md-icon>
			<md-tooltip md-delay="500" md-direction="left">New page (ALT+CTRL+P)</md-tooltip>
		</md-button>
		<md-button ng-href="{{childUrl}}" class="md-fab md-raised md-mini md-accent" ng-if="childUrl">
			<md-icon>child_care</md-icon>
			<md-tooltip md-delay="500" md-direction="left">New child page (ALT+CTRL+C)</md-tooltip>
		</md-button>
		<md-button ng-href="{{lensUrl}}" class="md-fab md-raised md-mini md-accent" ng-if="lensUrl">
			<md-icon>lens</md-icon>
			<md-tooltip md-delay="500" md-direction="left">New lens page (ALT+CTRL+N)</md-tooltip>
		</md-button>
		<md-button ng-href="{{questionUrl}}" class="md-fab md-raised md-mini md-accent" ng-if="questionUrl">
			<md-icon>help</md-icon>
			<md-tooltip md-delay="500" md-direction="left">New question page</md-tooltip>
		</md-button>
		<md-button ng-click="newQueryMark()" class="md-fab md-raised md-mini md-accent" ng-if="pageService.primaryPage">
			<md-icon md-svg-icon="cursor_pointer"></md-icon>
			<md-tooltip md-delay="500" md-direction="left">New question/objection (ALT+CTRL+Q)</md-tooltip>
		</md-button>
		<md-button ng-click="newFeedback($event)" class="md-fab md-raised md-mini md-accent">
			<md-icon>feedback</md-icon>
			<md-tooltip md-delay="500" md-direction="left">Leave feedback about Arbital (ALT+CTRL+K)</md-tooltip>
		</md-button>
	</md-fab-actions>
</md-fab-speed-dial>
