<div layout="row" layout-align="start center">
	<md-button aria-label="{{::buttonText}}"
			class="md-warn md-raised"
			ng-click="toggleConfirming(true)"
			ng-disabled="disabled"
			flex-order="{{::buttonFlexOrder}}"
			ng-if="::buttonText">
		<span ng-bind="::buttonText"></span>
		<md-tooltip ng-bind="::tooltipText" ng-if="::tooltipText"></md-tooltip>
	</md-button>
	<md-button aria-label="{{::buttonText}}"
			class="md-icon-button"
			ng-click="toggleConfirming(true)"
			ng-disabled="disabled"
			flex-order="{{::buttonFlexOrder}}"
			ng-if="::!buttonText">
		<md-tooltip ng-bind="::tooltipText" ng-if="::tooltipText"></md-tooltip>
		<md-icon>delete</md-icon>
	</md-button>

	<div flex-order="0" ng-if="confirming">
		Are you sure?
		<a href="#" ng-click="confirmed();toggleConfirming(false)">yes</a> /
		<a href="#" ng-click="toggleConfirming(false)">no</a>
	</div>
</div>
