<!-- Discussion section for some page -->
<div ng-attr-id="{{::('discussion-' + page.pageId)}}"></div>
<div layout="column">
	<md-toolbar class="md-hue-2">
		<div class="md-toolbar-tools">
			<h1>Discussion</h1>

			<div flex></div>
			<!-- Menu with all the other stuff -->
			<md-menu>
				<!-- Trigger element is a md-button with an icon -->
				<md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Options">
					<md-icon>more_vert</md-icon>
				</md-button>
				<md-menu-content>
					<!-- Toggle tree view -->
					<md-menu-item>
						<md-button ng-click="toggleEditorComments()">
							{{userService.showEditorComments ? 'Hide' : 'Show'}} editor comments
						</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</div>
	</md-toolbar>

	<div class="dynamic-hor-padding">
		<div arb-subpage class="reveal-after-render"
				lens-id="{{::page.pageId}}"
				page-id="{{::subpageId}}"
				ng-repeat="subpageId in page.subpageIds"></div>
		<!-- New comment editor -->
		<div>
			<md-button class="new-comment-button md-primary"
					ng-click="newCommentClick()"
					arb-user-check="cool"
					ng-if="!newCommentId">
				<md-icon class="md-raised">comment</md-icon>
				<span ng-bind="visibleCommentCount() <= 0 ? 'Write first comment' : 'New Comment'"></span>
			</md-button>
			<div arb-edit-page
					class="new-comment-edit-page edit-comment-embed"
					is-embedded="true"
					page-id="{{newCommentId}}"
					done-fn="newCommentDone(result)"
					ng-if="newCommentId"></div>
		</div>
	</div>
</div>
