<!-- Discussion section for some page -->
<div ng-attr-id="{{'discussion-' + page.pageId}}"></div>
<div layout="column">
	<md-toolbar class="md-hue-2">
		<div class="md-toolbar-tools">
			<h1>Discussion</h1>
		</div>
	</md-toolbar>

	<div class="dynamic-hor-padding">
		<div arb-subpage class="reveal-after-render"
				lens-id="{{page.pageId}}"
				page-id="{{subpageId}}"
				ng-repeat="subpageId in page.subpageIds"></div>
	
		<!-- New comment editor -->
		<div>
			<md-button class="new-comment-button md-primary"
					ng-click="newCommentClick()"
					arb-user-check="cool"
					ng-hide="newCommentId">
				<md-icon class="md-raised">comment</md-icon>
				{{page.subpageIds.length <= 0 ? "Write the first comment" : "New Comment"}}
			</md-button>
			<div arb-edit-page
					class="new-comment-edit-page edit-comment-embed"
					is-embedded="true"
					page-id="{{newCommentId}}"
					done-fn="newCommentDone(result)"
					ng-if="newCommentId"></div>
		</div>
	</div>
</div>
