<div class="capped-body-width">
	<div class="domain-user-list md-whiteframe-1dp"
			layout="column"
			ng-repeat="(domainId,users) in ::domainUsersMap"
			ng-init="domain=arb.stateService.domainMap[domainId]">
		<md-toolbar class="md-hue-2">
			<div class="md-toolbar-tools">
				<arb-page-title page-id="{{::domain.pageId}}" is-link="true"><arb-page-title>
				({{domain.alias}})
			</div>
		</md-toolbar>

		<!-- Members table -->
		<!-- Member rows -->
		<div layout="row"
				layout-align="start center"
				class="domain-user-list-row"
				ng-repeat="memberId in ::users">
			<arb-user-name user-id="{{::memberId}}" flex></arb-user-name>
			<arb-domain-role-input
					domain-id="{{::domainId}}"
					user-id="{{::memberId}}"
					layout="row"
					flex></arb-domain-role-input>
		</div>

		<!-- New member form -->
		<div class="domain-user-list-row">
			<form layout="row"
					layout-align="start center"
					ng-submit="newMemberFormSubmit(domainId, newMemberInput)">
				<span><md-icon>person_add</md-icon></span>
				<md-input-container class="aligned-input-container">
					<label>User's email, id or alias</label>
					<input name="newMemberInput" ng-model="newMemberInput">
				</md-input-container>
				<md-progress-circular md-mode="indeterminate" toggle-on-submit hide></md-progress-circular>
				<md-button type="submit" toggle-on-submit>Add member</md-button>
				<div class="submit-form-error md-warn" hidden></div>
			</form>
		</div>


		<!-- Friends table -->
		<div ng-if="arb.userService.user.domainMembershipMap[domainId].role == 'arbitrator'">
			<br>
			<br>
			<!-- Header row -->
			<div layout="row" class="domain-user-list-header domain-user-list-row">
				Friendly domains
				<span>
					<md-icon>help</md-icon>
					<md-tooltip>Members of these domains will be granted Default status in this domain.</md-tootlip>
				</span>
			</div>
			<!-- Invite rows -->
			<div layout="row"
					layout-align="start center"
					class="domain-user-list-row"
					ng-repeat="friendId in domain.friendDomainIds">
				<div flex>{{arb.stateService.domainMap[friendId].alias}}</div>
			</div>
			<div layout="row"
					layout-align="start center"
					class="domain-user-list-row"
					ng-if="domain.friendDomainIds.length <= 0">
				None yet
			</div>
		</div>

		<br>
		<br>

		<!-- Invites table -->
		<!-- Header row -->
		<div layout="row" class="domain-user-list-header domain-user-list-row">
			Your invites
		</div>
		<!-- Invite rows -->
		<div layout="row"
				layout-align="start center"
				class="domain-user-list-row"
				ng-repeat="invite in invitesMap[domainId]">
			<div flex>{{invite.toEmail}}</div>
			<div flex>{{invite.role}}</div>
			<div flex>{{getInviteStatus(invite)}}</div>
		</div>
		<div layout="row"
				layout-align="start center"
				class="domain-user-list-row"
				ng-if="invitesMap[domainId].length <= 0">
			None yet
		</div>

		<!-- New invite form -->
		<div class="domain-user-list-row" ng-init="newInviteDomainMembership={role:'default'}">
			<form layout="row"
					layout-align="start center"
					ng-submit="newInviteFormSubmit(domainId, newInviteInput,newInviteDomainMembership)">
				<span><md-icon>person_add</md-icon></span>
				<md-input-container class="aligned-input-container">
					<label>User's email</label>
					<input name="newInviteInput" ng-model="newInviteInput">
				</md-input-container>
				<arb-domain-role-input domain-id="{{::domainId}}" domain-membership="newInviteDomainMembership"></arb-domain-role-input>
				<md-progress-circular md-mode="indeterminate" toggle-on-submit hide></md-progress-circular>
				<md-button type="submit" toggle-on-submit>Send invite</md-button>
				<div class="submit-form-error md-warn" hidden></div>
			</form>
		</div>
	</div>
</div>
