<div class="full-height md-whiteframe-1dp"
		ng-class="::{'layout-row': fullView, 'layout-column': !fullView}"
		ng-keyup="handleKeyPress($event)">
	<!-- Main edit column (left half) -->
	<div class="md-primary"
			layout="column"
			flex="{{::(fullView ? '50' : undefined)}}"
			ng-show="!inPreview && (fullView || (!otherDiff && !sideEdit))">
		<md-tabs ng-class="::{'hide-tabs': page.isComment()}"
				class="md-primary md-hue-2"
				md-selected="selectedTab"
				md-stretch-tabs="{{::(gtXSmallScreen ? 'always' : 'never')}}"
				layout="column"
				flex>
			<!-- (0) Title tab -->
			<md-tab label="Title" ng-disabled="::(page.isComment())">
				<div flex>
					<div class="editor-tab" layout="column">
						<div ng-if="!showAdvancedMode()">
							New to editing pages?
							<arb-page-title page-id="3hs" is-link="true" custom-page-title="Read the author's guide."></arb-page-title>
						</div>

						<div layout="row">
							<md-input-container flex>
								<label>Title</label>
								<input ng-model="page.title"
										md-maxlength="100"
										aria-label="Title"
										autofocus>
							</md-input-container>
							<md-button class="md-icon-button intrasite-link editor-input-container-help-button"
									target="_blank"
									ng-href="{{arb.urlService.getPageUrl('596')}}"
									page-id="596"
									tabindex="-1">
								<md-icon>live_help</md-icon>
							</md-button>
						</div>
						<div layout="row">
							<md-input-container flex>
								<label>Clickbait (a one-sentence teaser for the page)</label>
								<input ng-model="page.clickbait" md-maxlength="200">
							</md-input-container>
							<md-button class="md-icon-button intrasite-link editor-input-container-help-button"
									target="_blank"
									ng-href="{{arb.urlService.getPageUrl('597')}}"
									page-id="597"
									tabindex="-1">
								<md-icon>live_help</md-icon>
							</md-button>
						</div>
						<div layout="row" ng-if="showAdvancedMode()">
							<md-input-container flex>
								<label>Alias</label>
								<input ng-model="page.alias" md-maxlength="50">
							</md-input-container>
							<md-button class="md-icon-button intrasite-link editor-input-container-help-button"
									ng-href="{{arb.urlService.getPageUrl('595')}}"
									target="_blank"
									page-id="595"
									tabindex="-1">
								<md-icon>live_help</md-icon>
							</md-button>
						</div>
					</div>

					<!-- Related pages -->
					<md-list ng-if="::!page.wasPublished">
						<md-subheader class="md-primary md-hue-1 md-no-sticky" ng-if="similarPages.length > 0">
							<span class="black-font">Similar pages</span>
						</md-subheader>
						<md-list-item layout="row" ng-repeat="(index,similarPage) in similarPages">
							<arb-likes object-id="{{::similarPage.pageId}}"></arb-likes>
							<arb-page-title page-id="{{::similarPage.pageId}}" is-link="true" show-clickbait="true"></arb-page-title>
						</md-list-item>
					</md-list>
				</div>
			</md-tab>

			<!-- (1) Text tab -->
			<md-tab label="Text">
				<div layout="column" flex>
					<div layout="row" ng-show="showInsertLink">
						<md-button class="md-icon-button" ng-click="insertLinkSelect()">
							<md-icon>close</md-icon>
						</md-button>
						<!-- Input we show when entering a new link -->
						<arb-autocomplete class="insert-autocomplete"
								placeholder="Search for a page to link"
								search-groups="searchGroups"
								ignore-groups="!searchGroups"
								on-select="insertLinkSelect(result)"
								on-blur="insertLinkSelect()"
								flex></arb-autocomplete>
					</div>

					<!-- Markdown toolbar -->
					<div id="wmd-button-bar{{::page.pageId}}"
							class="wmd-button-bar"
						 	layout="row"
							ng-show="!showInsertLink && !freezeEdit">
						<md-button ng-class="{'md-primary': showSnapshotText}"
									ng-click="toggleSnapshotting()"
									ng-if="::!page.isComment()">
							<md-icon>save</md-icon>
							<md-tooltip md-delay="500">Snapshot</md-tooltip>
						</md-button>
						<div class="separator"></div>
						<md-button class="wmd-bold-button{{::page.pageId}}">
							<md-icon>format_bold</md-icon>
							<md-tooltip md-delay="500">**Bold** | Ctrl+B</md-tooltip>
						</md-button>
						<md-button class="wmd-italic-button{{::page.pageId}}">
							<md-icon>format_italic</md-icon>
							<md-tooltip md-delay="500">*Italics* | Ctrl+I</md-tooltip>
						</md-button>
						<div class="separator"></div>
						<md-button class="wmd-link-button{{::page.pageId}}">
							<md-icon>insert_link</md-icon>
							<md-tooltip md-delay="500">[hyper](link) | Ctrl+'</md-tooltip>
						</md-button>
						<md-button class="wmd-intralink-button{{::page.pageId}}">
							<md-icon md-svg-icon="link_variant"></md-icon>
							<md-tooltip md-delay="500">[Intrasite link] | Ctrl+;</md-tooltip>
						</md-button>
						<md-button class="wmd-at-mention-button{{::page.pageId}}" ng-show="::gtSmallScreen">
							<md-icon>person</md-icon>
							<md-tooltip md-delay="500">[@Mention]</md-tooltip>
						</md-button>

							<!-- Menu with all the Arbital specific stuff -->
						<div layout="row" ng-show="::gtSmallScreen && !insideDialog">
							<div class="separator"></div>
							<md-menu>
								<md-button ng-click="$mdOpenMenu($event)" aria-label="New page options">
									<md-icon>note_add</md-icon>
									<md-tooltip md-delay="500">New page</md-tooltip>
								</md-button>
								<md-menu-content>
									<md-menu-item>
										<md-button class="wmd-new-page-button{{::page.pageId}}">
											<md-icon>note_add</md-icon>
											[New page link] | Ctrl+P
										</md-button>
									</md-menu-item>
									<md-menu-item>
										<md-button class="wmd-new-child-button{{::page.pageId}}" ng-show="page.isWiki()">
											<md-icon>child_care</md-icon>
											[New child link] | Ctrl+Shift+P
										</md-button>
									</md-menu-item>
									<md-menu-item>
										<md-button class="wmd-new-sibling-button{{::page.pageId}}" ng-show="page.isWiki()">
											<md-icon>people</md-icon>
											[New sibling link] | Ctrl+Shift+S
										</md-button>
									</md-menu-item>
								</md-menu-content>
							</md-menu>
						</div>
						<div layout="row" ng-show="::gtXSmallScreen">
							<div class="separator"></div>
							<md-button class="wmd-quote-button{{::page.pageId}}">
								<md-icon>format_quote</md-icon>
								<md-tooltip md-delay="500">&gt; Blockquote | Ctrl+Q</md-tooltip>
							</md-button>
							<md-button class="wmd-code-button{{::page.pageId}}">
								<md-icon>format_clear</md-icon>
								<md-tooltip md-delay="500">`Preformatted` | Ctrl+K</md-tooltip>
							</md-button>
							<md-button class="wmd-image-button{{::page.pageId}}">
								<md-icon>insert_photo</md-icon>
								<md-tooltip md-delay="500">![image](url) | Ctrl+M</md-tooltip>
							</md-button>

							<!-- Menu with all the Arbital specific stuff -->
							<md-menu ng-show="::gtSmallScreen && !page.isComment()">
								<md-button ng-click="$mdOpenMenu($event)" aria-label="Arbital options">
									<md-icon>more_vert</md-icon>
									<md-tooltip md-delay="500">Arbital extensions</md-tooltip>
								</md-button>
								<md-menu-content>
									<md-menu-item>
										<md-button class="wmd-note-button{{::page.pageId}}">
											<md-icon>help_outline</md-icon>
											%note: text%
										</md-button>
									</md-menu-item>
									<md-menu-item>
										<md-button class="wmd-summary-button{{::page.pageId}}">
											<md-icon>note</md-icon>
											[summary: text]
										</md-button>
									</md-menu-item>
									<md-menu-item>
										<md-button class="wmd-multiple-choice-button{{::page.pageId}}">
											<md-icon>dns</md-icon>
											[multiple-choice: text]
										</md-button>
									</md-menu-item>
									<md-menu-item>
										<md-button class="wmd-checkbox-button{{::page.pageId}}">
											<md-icon>check_box</md-icon>
											[checkbox: text]
										</md-button>
									</md-menu-item>
									<md-menu-item>
										<md-button class="wmd-condition-button{{::page.pageId}}">
											<md-icon>assignment_ind</md-icon>
											%conditional text%
										</md-button>
									</md-menu-item>
									<md-menu-item>
										<md-button class="wmd-hidden-text-button{{::page.pageId}}">
											<md-icon>flip_to_back</md-icon>
											%hidden: text%
										</md-button>
									</md-menu-item>
									<md-menu-item>
										<md-button class="wmd-table-of-contents-button{{::page.pageId}}">
											<md-icon>view_headline</md-icon>
											[toc:]
										</md-button>
									</md-menu-item>
								</md-menu-content>
							</md-menu>
						</div>
						<div class="separator"></div>
						<md-button class="wmd-olist-button{{::page.pageId}}">
							<md-icon>format_list_numbered</md-icon>
							<md-tooltip md-delay="500">1. Numbered list | Ctrl+O</md-tooltip>
						</md-button>
						<md-button class="wmd-ulist-button{{::page.pageId}}">
							<md-icon>format_list_bulleted</md-icon>
							<md-tooltip md-delay="500">* Bullet list | Ctrl+U</md-tooltip>
						</md-button>
						<md-button class="wmd-heading-button{{::page.pageId}}">
							<md-icon md-svg-icon="format_header_pound"></md-icon>
							<md-tooltip md-delay="500"># Heading | Ctrl+H</md-tooltip>
						</md-button>
						<div layout="row" ng-show="::gtXSmallScreen">
							<md-button class="wmd-hr-button{{::page.pageId}}" ng-show="::gtSmallScreen">
								<md-icon>remove</md-icon>
								<md-tooltip md-delay="500">--- Line | Ctrl+E</md-tooltip>
							</md-button>
							<div class="separator"></div>
							<md-button class="wmd-undo-button{{::page.pageId}}">
								<md-icon>undo</md-icon>
								<md-tooltip md-delay="500">Undo | Ctrl+Z</md-tooltip>
							</md-button>
							<md-button class="wmd-redo-button{{::page.pageId}}">
								<md-icon>redo</md-icon>
								<md-tooltip md-delay="500">Redo | Ctrl+Shift+Z</md-tooltip>
							</md-button>
						</div>
						<div flex></div>
						<md-button ng-href="{{::arb.urlService.getEditPageUrl(page.pageId)}}" ng-show="::(isEmbedded && !insideDialog)">
							<md-icon>fullscreen</md-icon>
							<md-tooltip md-delay="500">Go to full-windowed edit page</md-tooltip>
						</md-button>
						<div class="separator" ng-show="::(isEmbedded && !insideDialog)"></div>
						<md-button href="https://arbital.com/p/Arbital_markdown" target="_blank">
							<md-icon>live_help</md-icon>
							<md-tooltip md-delay="500">Markdown editing help</md-tooltip>
						</md-button>
					</div>

					<!-- Input we show when the user wants to snapshot the page. -->
					<div layout="row" ng-if="showSnapshotText">
						<input class="snapshot-text" ng-model="page.snapshotText" flex>
						<md-button class="md-primary md-hue-1 md-raised" ng-click="snapshotPage()">
								<md-tooltip md-delay="500">Save snapshot</md-tooltip>
							Snapshot
						</md-button>
					</div>

					<!-- Textarea for editing the page's text -->
					<textarea id="wmd-input{{::page.pageId}}"
							class="wmd-input"
							placeholder="Truth is singular. Its &#34;versions&#34; are mistruths.&#13;&#10;&mdash; Sonmi-451"
							ng-model="page.text"
							autofocus
							flex
							ng-disabled="freezeEdit"
							ng-if="::!page.isQuestion()"></textarea>

					<div class="prevent-horizontal-scroll" layout="column" flex ng-if="::page.isQuestion()">
						<md-input-container class="question-text-container" flex>
							<textarea id="wmd-input{{::page.pageId}}"
								class="wmd-input"
								ng-model="page.text"
								md-maxlength="{{maxQuestionTextLength}}"
								autofocus
								flex
								aria-label="Question text"></textarea>
						</md-input-container>
						<div>
							Note that Arbital
							<arb-page-title page-id="185"
									is-link="true"
									custom-page-title="questions"></arb-page-title>
							are not like StackOverflow or Quora questions, which ask someone for an answer.
							Instead, Arbital questions are means of navigation. Most users won't stop
							to read the question and, in fact, might skip it entirely and go to the best
							answer. Because of that, the question text is limited to {{maxQuestionTextLength}} characters.
						</div>
					</div>
				</div>
			</md-tab>

			<!-- (2) Relationships tab -->
			<md-tab label="Relationships" ng-disabled="::page.isComment()" ng-if="showAdvancedMode()">

				<md-tabs class="md-primary"
						md-selected="selectedRelationshipsTab"
						md-stretch-tabs="{{::(gtXSmallScreen ? 'always' : 'never')}}"
						layout="column"
						flex>

					<!-- Primary relationships tab -->
					<md-tab label="Primary">
						<div class="editor-tab" flex>
							<!-- Parents -->
							<div arb-relationships
									class="edit-relationship-div"
									page-id="{{::page.pageId}}"
									type="parent"
									quick-parent-id="{{::quickParentId}}"
									force-edit-mode="true"
									readonly="::!(page.isWiki() || page.isQuestion())"></div>

							<!-- Tags -->
							<div arb-relationships
									class="edit-relationship-div"
									page-id="{{::page.pageId}}"
									type="tag"
									force-edit-mode="true"
									readonly="::!(page.isWiki() || page.isQuestion())"></div>

							<!-- Requirements -->
							<div arb-req-relationships
									class="edit-relationship-div"
									page-id="{{::page.pageId}}"
									type="requirement"
									force-edit-mode="true"
									readonly="::!(page.isWiki() || page.isQuestion())"></div>

							<!-- Teaches -->
							<div arb-req-relationships
									class="edit-relationship-div"
									page-id="{{::page.pageId}}"
									type="subject"
									force-edit-mode="true"
									readonly="::!(page.isWiki())"></div>

							<!-- Children and lenses -->
							<div arb-child-relationships
									class="edit-relationship-div"
									page-id="{{::page.pageId}}"
									force-edit-mode="true"
									readonly="::!(page.isWiki())"></div>

							<!-- Path -->
							<div arb-path-editor
									page-id="{{::page.pageId}}"
									class="edit-relationship-div"
									ng-if="::page.isWiki()"></div>

							<!-- List of strings (for questions) -->
							<div ng-if="::page.isQuestion()">
								<div class="md-subhead">
									<arb-page-title page-id="35z"
											is-link="true"
											custom-page-title="'Search strings'"></arb-page-title>
								</div>
								<div layout="row"
										layout-align="start center"
										ng-repeat="(id,text) in page.searchStrings">
									<!-- Delete button -->
									<md-button class="md-icon-button" ng-click="deleteSearchString(id)">
										<md-icon>delete</md-icon>
									</md-button>

									<!-- Relationship page title -->
									<span ng-bind="text"></span>
								</div>

								<!-- Add a new string -->
								<br>
								<form layout="row" layout-align="start start" ng-submit="addSearchString()">
									<md-input-container layout-fill>
										<label>New search string</label>
										<input ng-model="addSearchStringData.text">
									</md-input-container>
									<md-button class="md-primary" ng-click="addSearchString()">
										Add string
									</md-button>
								</div>
							</form>

							<!-- Info about how many incoming marks there are -->
							<div ng-if="::page.isQuestion()">
								<div class="md-subhead">
									<arb-page-title page-id="370"
											is-link="true"
											custom-page-title="'Linked marks'"></arb-page-title>
								</div>
								<span>
									{{arb.stateService.pageMap[page.pageId].linkedMarkCount}}
									<ng-pluralize count="arb.stateService.pageMap[page.pageId].linkedMarkCount" when="{'0': 'marks are', 'one': 'mark is', 'other': 'marks are'}"></ng-pluralize>
									linked to this question.
								</span>
							</div>

							<br>

							<!-- Answers section -->
							<div ng-if="::page.isQuestion()">
								<div class="md-subhead">
									<arb-page-title page-id="187"
											is-link="true"
											custom-page-title="'Answers'"></arb-page-title>
								</div>
								<arb-answers page-id="{{::page.pageId}}" show-delete="true"></arb-answers>
							</div>

							<br>
							<br>
						</div>
					</md-tab>

					<!-- Additional more tab -->
					<md-tab label="Additional" md-on-select="loadMoreRelationships()">
						<div class="editor-tab" flex ng-if="moreRelationshipIds">
							<div arb-page-list
									panel-title="Pages using this page"
									show-created-at="true"
									show-text-length="true"
									page-ids="::moreRelationshipIds"></div>
						</div>
					</md-tab>
				</md-tabs>
			</md-tab>

			<!-- (3) Settings tab -->
			<md-tab label="Settings"
					ng-disabled="::!arb.userService.user.isAdmin && (page.isComment() || page.isUser())">
				<div layout="column" flex>
					<md-content class="editor-tab" flex>
						<div ng-if="::!showAdvancedMode()">
							<!-- Advanced mode toggle -->
							<md-checkbox ng-model="arb.userService.user.showAdvancedEditorMode"
									ng-change="advancedModeToggled()"
									ng-if="!arb.userService.user.hasDomainInvite">
								Show advanced settings
							</md-checkbox>
						</div>

						<div ng-if="showAdvancedMode()">
							<!-- Alias -->
							<div layout="row" ng-if="::(!page.isComment() && !page.isUser())">
								<div layout="column" flex>
									<md-input-container>
										<label>Alias</label>
										<input ng-model="page.alias" md-maxlength="50">
									</md-input-container>
								</div>
								<div class="md-caption" layout-margin flex>
									<div>Unique name for this page, e.g. "linear_algebra"</div>
									<div ng-if="isIntIdValid(page.seeDomainId)">
										This alias will be prefixed with "{{arb.stateService.domainMap[page.seeDomainId].alias}}."
										because it's part of the private domain
									</div>
								</div>
							</div>

							<!-- See group id -->
							<!--<div layout="row" ng-if="::!page.wasPublished">
								<md-input-container flex>
									<label>See group</label>
									<md-select ng-model="page.seeDomainId">
										<md-option ng-repeat="(key,value) in ::domainOptions" value="{{::key}}" ng-bind="::value"></md-option>
									</md-select>
								</md-input-container>
								<div class="md-caption" layout-margin flex>
									Group that can see this page. If not set, anyone can see it
								</div>
							</div>-->

							<!-- Edit group id -->
							<div layout="row" ng-if="arb.userService.user.isAdmin">
								<md-input-container flex>
									<label>Domain</label>
									<md-select ng-model="page.editDomainId">
										<md-option ng-repeat="(key,value) in ::domainOptions" value="{{::key}}" ng-bind="::value"></md-option>
									</md-select>
								</md-input-container>
								<div class="md-caption" layout-margin flex>
									Domain which owns this page. This controls who can edit the page.
								</div>
							</div>

							<!-- Page type -->
							<div layout="row">
								<md-input-container flex>
									<label>Page type</label>
									<md-select ng-model="page.type" required="true">
										<md-option ng-repeat="(key,value) in ::pageTypes" value="{{::key}}" ng-bind="::value"></md-option>
									</md-select>
								</md-input-container>
								<div class="md-caption" layout-margin flex>
									<span ng-if="page.isWiki()">
										Standard wiki page
									</span>
									<span ng-if="page.isQuestion()">
										A canonical question page
									</span>
								</div>
							</div>

							<!-- Show/hide vote -->
							<div layout="row" layout-margin ng-if="::(page.lockedVoteType != '' && page.isWiki() && arb.userService.user.isAdmin)">
								<md-switch ng-model="page.hasVote">
									Show the {{::page.lockedVoteType}} voting bar
								</md-switch>
							</div>

							<!-- Vote type -->
							<div layout="row" ng-if="::(page.lockedVoteType == '' && !page.isQuestion() && !page.isComment() && arb.userService.user.isAdmin)">
								<md-input-container flex>
									<label>Voting</label>
									<md-select ng-model="page.voteType">
										<md-option ng-repeat="(key,value) in ::voteTypes" value="{{::key}}">
											{{::value}}
										</md-option>
									</md-select>
								</md-input-container>
								<div layout-margin flex>
									<!-- TODO: helpful notes -->
								</div>
							</div>

							<!-- Sort children option -->
							<div layout="row" layout-align="start center" ng-if="::!isSecondary">
								<md-input-container flex>
									<label>Sort children</label>
									<md-select ng-model="page.sortChildrenBy">
										<md-option ng-repeat="(key,value) in ::sortTypes" value="{{::key}}">
											{{::value}}
										</md-option>
									</md-select>
								</md-input-container>
								<div class="md-caption" layout-margin flex>
									How to sort the children of this page
									<!-- TODO: helpful notes about specific types -->
								</div>
							</div>

							<!-- Indirect teacher -->
							<div layout="row" layout-margin ng-if="::page.isWiki()">
								<md-switch ng-model="page.indirectTeacher">
									This page teaches its requisites indirectly
								</md-switch>
							</div>

							<!-- Merge question -->
							<div layout="row" layout-margin ng-if="::page.isQuestion() && !page.isDeleted">
								<div flex>
									<arb-autocomplete class="insert-autocomplete"
											placeholder="Find the question to merge into"
											on-select="selectedMergeQuestion(result)"
											do-autofocus="false"
											flex
											page-type="question"
											ng-show="!mergeCandidate"></arb-autocomplete>
									<arb-page-title page-id="{{::mergeCandidate.pageId}}"
											is-link="true"
											show-clickbait="true"
											ng-if="mergeCandidate"></arb-page-title>
									<arb-confirm-button button-text="Merge"
											button-before-confirm="true"
											confirmed="mergeQuestion()"
											ng-if="mergeCandidate"></arb-confirm-button>
								</div>
								<div class="md-caption" flex>
									This will merge all answers and search strings into the selected question. This question will be deleted.
								</div>
							</div>
						</div>

						<!-- Delete page -->
						<arb-confirm-button button-text="Delete page"
								button-before-confirm="true"
								disabled="::page.isDeleted"
								confirmed="deletePage()"
								ng-if="::page.wasPublished"></arb-confirm-button>
					</md-content>
				</div>
			</md-tab>

			<!-- (4) Changelog tab -->
			<md-tab label="History" ng-disabled="::(page.isComment())" ng-if="showAdvancedMode()">
				<div class="md-caption" layout-padding ng-if="::(page.changeLogs.length <= 0)">No changes yet</div>
				<md-list class="editor-tab" flex>
					<md-list-item ng-repeat="(index,changeLog) in ::page.changeLogs">
						<arb-change-log-entry flex></arb-change-log-entry>
						<md-divider ng-if="::!$last"></md-divider>
					</md-list-item>
				</md-list>
			</md-tab>
		</md-tabs>

		<!-- Publishing options panel -->
		<div class="publishing-options-panel" layout="column" ng-if="showPublishingOptionsPanel">
			<md-input-container>
				<label>Edit summary</label>
				<input ng-model="page.newEditSummary" md-maxlength="200">
			</md-input-container>
			<md-checkbox ng-model="publishOptions.isProposal" ng-if="::page.permissions.edit.has">
				Propose edit
			</md-checkbox>
		</div>

		<!-- Footer -->
		<div class="edit-page-footer md-primary md-hue-2" layout="row" layout-align="start center" layout-margin>
			<!-- Go back button -->
			<div layout="column" ng-if="::!isEmbedded">
				<!-- TODO: ideally we should navigate to whatever page we came from before opening the editor -->
				<md-button ng-if="::(page.isDeleted || !page.wasPublished)" ng-href="/" class="md-primary md-hue-1 md-raised">
					<md-icon>arrow_back</md-icon>
					Home
					<md-tooltip md-delay="500">Go home</md-tooltip>
				</md-button>
				<md-button ng-if="::(!page.isDeleted && page.wasPublished)" ng-href="{{::arb.urlService.getPageUrl(page.pageId)}}"
					class="md-primary md-hue-1 md-raised">
					<md-icon>arrow_back</md-icon>
					Back
					<md-tooltip md-delay="500">Go to live view</md-tooltip>
				</md-button>
			</div>
			<span ng-if="page.isComment() && !page.isApprovedComment">
				<md-icon>info</md-icon>
				<md-tooltip md-delay="500">
					You are new to this domain. Your comment will become publicly visible after it's approved by a moderator.
				</md-tooltip>
			</span>
			<div class="no-margins" flex></div>

			<div layout="row" layout-align="end center" flex ng-if="::gtXSmallScreen">
				<div ng-if="autosaving">
					Autosaving...
				</div>
				<div ng-if="successfulAutosave">
					Autosaved
				</div>
				<div ng-if="snapshotting">
					Saving a snapshot...
				</div>
				<div ng-if="publishing">
					Publishing...
				</div>
				<div ng-if="selectedTab == getRelationshipTabIndex() && page.wasPublished">
					All relationship changes are published instantly
				</div>
			</div>

			<arb-confirm-button button-text="Discard"
					confirmed="discardPage()"
					disabled="publishing || snapshotting"
					tooltip-text="Discard the autosave"
					ng-if="isPublishButtonVisible() && isPageDirty"></arb-confirm-button>
			<div ng-if="isPublishButtonVisible() && !fullView && !inPreview">
				<md-button class="md-primary md-hue-1 md-raised"
						ng-click="togglePreview(true)"
						ng-disabled="publishing || snapshotting">
					<md-tooltip md-delay="500">Preview the page before publishing</md-tooltip>
					Preview
				</md-button>
			</div>
			<div ng-if="isPublishButtonVisible()">
				<md-button class="md-raised"
						ng-click="processEditProposal(true)"
						ng-if="isReviewingProposal">
					<md-tooltip md-delay="500">Dismiss this edit proposal</md-tooltip>
					Dismiss edit
				</md-button>
				<md-button class="md-primary md-raised heap-publish-button"
						ng-click="publishPage()"
						ng-disabled="publishing || snapshotting"
						ng-if="::getPublishText()">
					<!-- Don't show for comments, because when inline comment gets created the tooltip remains -->
					<md-tooltip md-delay="500" ng-if="::!page.isComment()">{{getPublishTooltipText()}}</md-tooltip>
					{{getPublishText()}}
				</md-button>
				<md-button class="md-icon-button"
						ng-class="{'md-raised': showPublishingOptionsPanel}"
						ng-click="togglePublishingOptionsPanel()"
						aria-label="Publishing options"
						ng-if="!page.isComment()">
					<md-tooltip md-delay="500">Publishing options</md-tooltip>
					<md-icon>more_vert</md-icon>
				</md-button>
				<span ng-if="pageInfoChanged()">
					<md-tooltip md-delay="500" md-direction="top">
						Setting changes will be lost if you navigate away
					</md-tooltip>
					<md-icon>warning</md-icon>
				</span>
			</div>
		</div>
	</div>

	<!-- Right half -->
	<div ng-class="::{'edit-page-rhs-border': fullView}"
			layout="column"
			flex="{{fullView ? '50' : (inPreview || otherDiff || sideEdit) ? '' : 'none'}}">
		<!-- Messages -->
		<md-list ng-if="!otherDiff && !sideEdit">
			<md-list-item class="no-margins"
					ng-class="::({error: 'md-warn bold', warning: 'md-warn md-hue-1', info: 'md-primary md-hue-1'}[value.type])"
					ng-repeat="(key,value) in messages">
				<!-- Dismiss button -->
				<md-button class="md-icon-button"
						ng-click="deleteMessage(key)"
						ng-if="::!value.permanent">
					<md-icon>close</md-icon>
				</md-button>
				<div ng-bind="::value.text"></div>
			</md-list-item>
		</md-list>

		<!-- Live preview -->
		<md-content class="preview-area"
				ng-class="{'hidden': !isPreviewVisible()}"
				flex>
			<div class="md-display-3" ng-if="page.title != '' || page.text != ''">
				<span ng-bind="page.title"></span>
			</div>
			<div class="md-caption" ng-if="page.title === '' && page.text === ''">
				<div class="md-display-3">Live preview</div>
			</div>
			<div id="wmd-preview{{::page.pageId}}"></div>
		</md-content>

		<!-- Buttons shown in preview -->
		<div class="md-primary md-hue-2"
				layout="row"
				layout-align="space-between center"
				ng-if="inPreview">
			<div layout-margin>
				<md-button class="md-primary md-hue-1 md-raised" ng-click="togglePreview(false)">
					<md-icon>arrow_back</md-icon>
					Editing
					<md-tooltip md-delay="500">Go back to editing</md-tooltip>
				</md-button>
			</div>
			<div layout-margin>
				<md-button class="md-raised md-primary" ng-click="publishPage()">
					Publish
					<md-tooltip md-delay="500">Make this version live</md-tooltip>
				</md-button>
			</div>
		</div>

		<!-- Diff between edits -->
		<md-content layout-padding flex ng-if="otherDiff">
			<div ng-bind-html="diffHtml"></div>
		</md-content>
		<div class="md-primary md-hue-2"
				layout="row"
				layout-align="space-between center"
				ng-if="otherDiff">
			<div layout-margin>
				<md-button class="md-primary md-hue-1 md-raised" ng-click="hideDiff()">
					<md-icon>arrow_back</md-icon>
					<md-tooltip md-delay="500">Go back to live preview</md-tooltip>
					Back to live preview
				</md-button>
			</div>
			<div flex></div>
			<div layout-margin>
				<md-button class="md-raised" ng-click="toggleExpandDiff()" ng-if="::fullView">
					<span ng-if="!diffExpanded">
						<md-tooltip md-delay="500">Expand unchanged paragraphs</md-tooltip>
						Expand
					</span>
					<span ng-if="diffExpanded">
						<md-tooltip md-delay="500">Collapse unchanged paragraphs</md-tooltip>
						Collapse
					</span>
				</md-button>
			</div>
			<div layout-margin>
				<md-button class="md-raised" ng-click="refreshDiff()" ng-if="::fullView">
					<md-tooltip md-delay="500">Refresh the diff</md-tooltip>
					Refresh
				</md-button>
			</div>
		</div>

		<!-- Show side-by-side edit -->
		<md-content layout-padding flex ng-if="sideEdit">
			<h2 class="md-display-1" ng-bind="'(#' + sideEdit.edit + ') ' + sideEdit.snapshotText"></h2>
			<h2 class="md-display-3" ng-bind="sideEdit.title"></h2>
			<h3 class="md-display-1" ng-bind="sideEdit.clickbait"></h3>
			<div class="edit-page-side-text" ng-bind="sideEdit.text"></div>
		</md-content>
		<div class="md-primary md-hue-2"
				layout-padding
				ng-if="sideEdit">
			<md-button class="md-primary md-hue-1 md-raised" ng-click="hideSideEdit()">
				<md-icon>arrow_back</md-icon>
				<md-tooltip md-delay="500">Go back to live preview</md-tooltip>
				Back to live preview
			</md-button>
		</div>
	</div>
</div>
