<div class="full-height" layout="{{fullView ? 'row' : 'column'}}">
	<!-- Main edit column (left half) -->
	<div class="full-height" layout="column" flex="{{fullView ? 50 : 'grow'}}">
		<md-tabs md-selected="selectedTab"
				md-stretch-tabs="always"
				md-border-bottom
				flex>
			<!-- (0) Title tab -->
			<md-tab label="Title">
				<md-tab-body>
					<div layout="column">
					<md-input-container>
						<label>Title</label>
						<input ng-model="page.title" md-maxlength="100">
					</md-input-container>
					<md-input-container>
						<label>Clickbait</label>
						<input ng-model="page.clickbait" md-maxlength="200">
					</md-input-container>
					<div>
						You need to publish the page to save these changes.
					</div>
				</div>
				</md-tab-body>
			</md-tab>

			<!-- (1) Text tab -->
			<md-tab label="Text">
				<!-- We have to use table layout here, so that the textarea can expand to fill
					the available height. This is the only workable solution I was about to find. -->
				<div class="full-height edit-page-table-layout">
					<!-- Input we show when entering a new link -->
					<div class="edit-page-row" ng-show="showInsertLink">
						<arb-autocomplete class="insert-autocomplete"
								placeholder="Search for a page to link"
								on-select="insertLinkSelect(result)"></arb-autocomplete>
					</div>

					<!-- Markdown toolbar -->
					<div class="edit-page-row">
						<div id="wmd-button-bar{{page.pageId}}"
								class="wmd-button-bar"
							 	layout="row"
								flex
								ng-hide="hideMarkdownToolbar || showInsertLink">
							<md-button class="wmd-bold-button">
								<md-icon>format_bold</md-icon>
								<md-tooltip>**Bold** | Ctrl+B</md-tooltip>
							</md-button>
							<md-button class="wmd-italic-button">
								<md-icon>format_italic</md-icon>
								<md-tooltip>**Italics** | Ctrl+I</md-tooltip>
							</md-button>
							<div class="separator"></div>
							<md-button class="wmd-link-button">
								<md-icon>insert_link</md-icon>
								<md-tooltip>[hyper](link) | Ctrl+L</md-tooltip>
							</md-button>
							<md-button class="wmd-intralink-button">
								<md-icon md-svg-icon="link_variant"></md-icon>
								<md-tooltip>[Intrasite link] | Ctrl+;</md-tooltip>
							</md-button>
							<!--<md-button class="wmd-new-page-button">
								<md-icon>note_add</md-icon>
								<md-tooltip>[New page link] | Ctrl+P</md-tooltip>
							</md-button>-->
							<div class="separator"></div>
							<md-button class="wmd-quote-button">
								<md-icon>format_quote</md-icon>
								<md-tooltip>&gt; Blockquote | Ctrl+Q</md-tooltip>
							</md-button>
							<md-button class="wmd-code-button">
								<md-icon>format_clear</md-icon>
								<md-tooltip>`Escape` | Ctrl+K</md-tooltip>
							</md-button>
							<md-button class="wmd-image-button">
								<md-icon>insert_photo</md-icon>
								<md-tooltip>![image](url) | Ctrl+G</md-tooltip>
							</md-button>
							<div class="separator"></div>
							<md-button class="wmd-olist-button">
								<md-icon>format_list_numbered</md-icon>
								<md-tooltip>1. Numbered list | Ctrl+O</md-tooltip>
							</md-button>
							<md-button class="wmd-ulist-button">
								<md-icon>format_list_bulleted</md-icon>
								<md-tooltip>* Bullet list | Ctrl+U</md-tooltip>
							</md-button>
							<md-button class="wmd-heading-button">
								<md-icon md-svg-icon="format_header_pound"></md-icon>
								<md-tooltip># Heading | Ctrl+H</md-tooltip>
							</md-button>
							<md-button class="wmd-hr-button">
								<md-icon>remove</md-icon>
								<md-tooltip>--- Line | Ctrl+E</md-tooltip>
							</md-button>
							<div class="separator"></div>
							<md-button class="wmd-undo-button">
								<md-icon>undo</md-icon>
								<md-tooltip>Undo | Ctrl+Z</md-tooltip>
							</md-button>
							<md-button class="wmd-redo-button">
								<md-icon>redo</md-icon>
								<md-tooltip>Redo | Ctrl+Shift+Z</md-tooltip>
							</md-button>
							<div flex></div>
							<md-button class="wmd-help-button">
								<md-icon>help</md-icon>
								<md-tooltip>Markdown editing help</md-tooltip>
							</md-button>
							<!--<div class="separator"></div>
							<md-button ng-click="hideMarkdownToolbar=true">
								<md-icon>close</md-icon>
								<md-tooltip>Close this toolbar</md-tooltip>
							</md-button>-->
						</div>
					</div>

					<!-- Textarea for editing the page's text -->
					<div class="full-height edit-page-row">
						<textarea name="text"
								class="wmd-input"
								id="wmd-input{{page.pageId}}"
								placeholder="Truth is singular. Its &#34;versions&#34; are mistruths.&#13;&#10;&mdash; Sonmi-451"
								ng-model="page.text"
								ng-disabled="showInsertLink"></textarea>
					</div>

					<!-- Footer -->
					<div class="edit-page-row">
						<div layout="row" layout-align="start center">
							<!-- Lock timer -->
							<div ng-show="lockExists">
								<md-tooltip ng-show="page.lockedBy!='0' && page.lockedBy===userService.user.id">
									You have locked the page.
								</md-tooltip>
								<md-tooltip ng-show="lockedByAnother">
									This page is locked by another user.
								</md-tooltip>
								<md-icon>lock</md-icon>
								<span class="autoupdate" ng-bind="pageService.primaryPage.lockedUntil | relativeDateTimeNoSuffix"></span>
							</div>
			
							<div flex></div>
			
							<div ng-show="autosaving">
								Autosaving...
							</div>
							<div ng-show="successfulAutosave">
								Autosaved
							</div>
							<div class="md-warn" ng-bind="autosaveError">
							</div>
							<div ng-show="snapshotting">
								Saving a snapshot...
							</div>
							<div ng-show="publishing">
								Publishing...
							</div>
							<md-button class="md-warn"
									ng-click="discardPage()"
									ng-disable="publishing || snapshotting">
								Discard
							</md-button>
							<md-button ng-click="snapshotPage()" ng-disable="publishing || snapshotting">
								Snapshot
							</md-button>
							<md-button class="md-primary"
									ng-click="publishPage()"
									ng-disable="publishing || snapshotting">
								Publish
							</md-button>
						</div>
					</div>
				</div>
			</md-tab>

			<!-- (2) Settings tab -->
			<md-tab label="Settings">
				<md-tab-body>
					<div layout="column" class="full-height">
						<div>These settings have to be saved independently of publishing the page.</div>
						<!-- Page type -->
						<div layout="row">
							<md-input-container flex>
								<label>Page type</label>
								<md-select ng-model="page.type" required="true">
									<md-option ng-repeat="(key,value) in pageTypes" value="{{key}}">
										{{value}}
									</md-option>
								</md-select>
							</md-input-container>
							<div flex>
								<span ng-show="isWiki">
									Standard wiki page.
								</span>
								<span ng-show="isLens">
									A lens page is used to present the same material as another page but with a different emphasis.
								</span>
							</div>
						</div>
					
						<!-- Edit group id -->
						<div layout="row">
							<md-input-container flex>
								<label>Edit group</label>
								<md-select ng-model="page.editGroupId">
									<md-option ng-repeat="(key,value) in groupOptions" value="{{key}}">
										{{value}}
									</md-option>
								</md-select>
							</md-input-container>
							<div flex>
								Group that can edit this page. If not set, anyone can edit it.
							</div>
						</div>
					
						<!-- Show/hide vote -->
						<div layout="row" ng-show="page.lockedVoteType != '' && isWiki">
							<md-switch ng-model="page.hasVote" aria-label="Switch 1">
								Show the {{page.lockedVoteType}} voting bar
						  </md-switch>
						</div>
					
						<!-- Vote type -->
						<div layout="row" ng-show="page.lockedVoteType == '' && !isQuestion && !isComment">
							<md-input-container flex>
								<label>Voting</label>
								<md-select ng-model="page.voteType">
									<md-option ng-repeat="(key,value) in voteTypes" value="{{key}}">
										{{value}}
									</md-option>
								</md-select>
							</md-input-container>
							<div flex>
								<!-- TODO: helpful notes -->
							</div>
						</div>
					
						<!-- Karma edit lock -->
						<div layout="row" ng-show="userService.user.maxKarmaLock > 0 && !isComment">
							<div flex>
								<label>Edit karma lock</label>
								<md-slider md-discrete ng-model="page.editKarmaLock"
										step="10" min="0" max="{{userService.user.maxKarmaLock}}">
								</md-slider>
							</div>
							<div flex>
								Editing this page will require a this amount of karma
							</div>
						</div>
					
						<!-- Alias -->
						<div layout="row" ng-show="!isAnswer && !isComment && !isGroup">
							<div layout="column" flex>
								<md-input-container>
									<label>Alias</label>
									<input ng-model="page.alias" md-maxlength="50">
								</md-input-container>
							</div>
							<div flex>
								<div>Unique name for this page, e.g. "HumanHealth".</div>
								<div ng-show="page.seeGroupId != '0'">
									This alias will be prefixed with "{{pageService.pageMap[page.seeGroupId].alias}}."
									because it's part of the private domain.
								</div>
							</div>
						</div>
					
						<!-- Sort children option -->
						<div layout="row" ng-show="!isSecondary">
							<md-input-container flex>
								<label>Sort children</label>
								<md-select ng-model="page.sortChildrenBy">
									<md-option ng-repeat="(key,value) in sortTypes" value="{{key}}">
										{{value}}
									</md-option>
								</md-select>
							</md-input-container>
							<div flex>
								How to sort the children of this page
								<!-- TODO: helpful notes about specific types -->
							</div>
						</div>

						<!-- Delete page -->
						<div layout="row" layout-align="start center">
							<md-button class="md-warn md-raised" ng-click="toggleDeleteConfirm(true)">Delete page</md-button>
							<div ng-show="deleting">
								Are you sure?
								<a href="#" ng-click="deletePage()">yes</a> / <a href="#" ng-click="toggleDeleteConfirm(false)">no</a>
							</div>
						</div>

						<div flex></div>

						<!-- Footer -->
						<div layout="column">
							<md-button class="md-raised md-primary" ng-click="saveSettingsClick()">
								Save
							</md-button>
						</div>
					</div>
				</md-tab-body>
			</md-tab>

			<!-- (3) Relationships tab -->
			<md-tab label="Relationships">
				<md-tab-body>
					<div layout="column">
						<!-- Parents -->
						<arb-relationships page-id="{{page.pageId}}"
								type="parent"
								force-edit-mode="true"></arb-relationships>
						<!-- Tags -->
						<arb-relationships page-id="{{page.pageId}}"
								type="tag"
								force-edit-mode="true"></arb-relationships>
						<!-- Requirements -->
						<arb-relationships page-id="{{page.pageId}}"
								type="requirement"
								force-edit-mode="true"></arb-relationships>
					</div>
				</md-tab-body>
			</md-tab>

			<!-- (4) Changelog tab -->
			<md-tab label="Changelog">
				<md-tab-body>
					<md-list>
						<md-list-item ng-repeat="(index,changeLog) in page.changeLogs">
							<div layout="column">
								<div>
									<span ng-show="changeLog.auxPageId == '0'" ng-bind="changeLog.type">
									</span>
									<span ng-show="changeLog.auxPageId != '0'">
										<a class="intrasite-link"
												page-id="{{changeLog.auxPageId}}"
												ng-href="{{pageService.getPageUrl(changeLog.auxPageId)}}"
												ng-bind="changeLog.type"></a>
									</span>
									<span ng-show="changeLog.edit != 0">(edit #{{changeLog.edit}})</span>
									by
					
									<span ng-show="userService.user.id === changeLog.userId">you</span>
									<span ng-show="userService.user.id !== changeLog.userId">
										<arb-user-name user-id="{{changeLog.userId}}"></arb-user-name>
									</span>
					
									<span ng-bind="changeLog.createdAt | relativeDateTime"></span>
								</div>
					
								<!-- Extra functionality for new edits -->
								<div ng-show="(changeLog.type === 'newEdit' || changeLog.type === 'newSnapshot') && page.edit !== changeLog.edit"
										layout="row" layout-align="start center">
									<md-button class="md-warn md-raised"
											ng-click="revertToEdit(changeLog.edit)"
											ng-show="changeLog.type === 'newEdit' && changeLog.edit !== page.currentEditNum">
										<md-tooltip>Revert to this edit</md-tooltip>
										Revert
									</md-button>
									<md-button ng-href="{{pageService.getEditPageUrl(page.pageId) + '/' + changeLog.edit}}"
											class="md-warn md-raised">
										<md-tooltip>Load this edit in the editor</md-tooltip>
										Load Edit
									</md-button>
									<md-button class="md-raised" ng-click="showDiff(changeLog.edit)">
										<md-tooltip>Diff with this edit</md-tooltip>
										Diff
									</md-button>
								</div>
								<div ng-show="(changeLog.type === 'newEdit' || changeLog.type === 'newSnapshot') && changeLog.edit === page.edit">
									Currently loaded
								</div>
							</div>
						</md-list-item>
					</md-list>
				</md-tab-body>
			</md-tab>
		</md-tabs>
	</div>

	<div class="wmd-preview-separator" ng-show="!fullView"></div>

	<!-- Right half -->
	<div ng-class="{'full-height': fullView}" layout="column" flex="{{fullView ? 50 : 'none'}}">
		<!-- Live preview -->
		<md-content class="preview-area" flex ng-hide="!fullView || otherDiff">
			<h2 class="md-display-2" ng-bind="page.title"></h2>
			<div id="wmd-preview{{page.pageId}}"></div>
		</md-content>

		<!-- Diff between edits -->
		<div class="diff-buttons" layout="row" ng-show="otherDiff">
			<md-button class="md-icon-button md-raised" ng-click="refreshDiff()">
				<md-icon>refresh</md-icon>
				<md-tooltip>Recompute the diff</md-tooltip>
			</md-button>
			<md-button class="md-icon-button md-raised" ng-click="hideDiff()">
				<md-icon>arrow_back</md-icon>
				<md-tooltip>Go back to live preview</md-tooltip>
			</md-button>
		</div>
		<md-content flex ng-if="otherDiff">
			<h2 class="md-display-2" ng-bind="'(#' + otherDiff.edit + ') ' + otherDiff.title"></h2>
			<h3 class="md-display-3" ng-bind="otherDiff.clickbait"></h3>
			<div class="diff-section" ng-bind-html="diffHtml"></div>
		</md-content>

		<!-- Messages -->
		<md-list ng-hide="otherDiff">
			<md-list-item ng-repeat="(key,value) in messages">
				<!-- Dismiss button -->
				<md-button class="md-icon-button md-raised"
						ng-class="{'md-warn': value.type === 'error', 'md-primary': value.type === 'info'}"
						ng-click="deleteMessage(key)"
						ng-hide="value.permanent">
					<md-icon>close</md-icon>
				</md-button>
				<div ng-class="{'md-warn': value.type === 'error', 'md-primary': value.type === 'info'}" ng-bind="value.text"></div>
			</md-list-item>
		</md-list>
		<md-list ng-hide="otherDiff">
			<div ng-switch="page.getEditLevel()" ng-show="page.wasPublished">
				<md-list-item ng-switch-when="admin" class="md-warn">
					<md-button class="md-icon-button md-warn md-raised" ng-click="hideMessage($event)">
						<md-icon>close</md-icon>
					</md-button>
					Enforcing admin priviledges.
				</md-list-item>
				<md-list-item ng-switch-when="comment" class="md-warn">
					Can't edit a comment you didn't create.
				</md-list-item>
				<md-list-item ng-switch-when="" hide></md-list-item>
				<md-list-item ng-switch-default class="md-warn">
					You don't have enough karma to edit this page. Required: {{page.getEditLevel()}}.
				</md-list-item>
			</div>
			<!-- Show a warning if you've loaded an edit that's not currently live. -->
			<md-list-item ng-show="page.edit !== page.currentEditNum && !page.isAutosave && !page.isSnapshot">
				<div class="md-warn">
					<md-button class="md-icon-button md-warn md-raised" ng-click="hideMessage($event)">
						<md-icon>close</md-icon>
					</md-button>
					Currently looking at a non-live edit.
					<a ng-href="{{pageService.getEditPageUrl(page.pageId) + '/' + page.currentEditNum}}">
						Switch to editing the live version.
					</a>
				</div>
			</md-list-item>
			<!-- Check permissions -->
			<md-list-item class="md-warn" ng-hide="isMemberOfGroup">
				You need to be part of {{pageService.pageMap[page.editGroupId].title}} group to edit this page.
			</md-list-item>
			<!-- Friendly warnings / info alerts -->
			<md-list-item ng-show="page.wasPublished && (page.isAutosave || page.isSnapshot)">
				<md-button class="md-icon-button md-warn md-raised" ng-click="hideMessage($event)">
					<md-icon>close</md-icon>
				</md-button>
				<div ng-show="page.isAutosave" class="md-warn">
					Restored autosave which was last updated
					<span class="autoupdate" ng-bind="pageService.primaryPage.createdAt | relativeDateTime"></span>.
					<md-button href="#" class="md-warn">Discard my autosave and edit the live version</a>
				</div>
				<div ng-show="page.isSnapshot" class="md-warn">
					Restored snapshot which was last updated
					<span class="autoupdate" ng-bind="pageService.primaryPage.createdAt | relativeDateTime"></span>.
					<a ng-href="{{pageService.getEditPageUrl(page.pageId) + '/' + page.currentEditNum}}">
						Switch to editing the live version.
					</a>
				</div>
			</md-list-item>
		</md-list>

		<!-- Related pages -->
		<md-list ng-hide="otherDiff">
			<md-subheader class="md-no-sticky" ng-show="similarPages.length > 0">
				Similar {{isQuestion ? "questions" : "pages"}}
			</md-subheader>
			<md-list-item layout="row"
					layout-align="start center"
					ng-init="similarPage = similarPages[0]"
					ng-if="similarPages.length > 0">
				<arb-likes page-id="{{similarPage.pageId}}"></arb-likes>
				<arb-page-title page-id="{{similarPage.pageId}}" show-clickbait="true"></arb-page-title>
				<div flex></div>
				<md-button ng-click="toggleSimilarPages(true)"
						ng-show="!forceExpandSimilarPages && !expandSimilarPages && similarPages.length > 1">
					<md-icon>expand_more</md-icon>
					Show {{similarPages.length - 1}} more
				</md-button>
				<md-button ng-click="toggleSimilarPages(false)"
						ng-show="!forceExpandSimilarPages && expandSimilarPages">
					<md-icon>expand_less</md-icon>
					Hide
				</md-button>
			</md-list-item>
			<md-list-item ng-repeat="(index,similarPage) in similarPages" ng-if="index > 0 && expandSimilarPages">
				<arb-likes page-id="{{similarPage.pageId}}"></arb-likes>
				<arb-page-title page-id="{{similarPage.pageId}}" show-clickbait="true"></arb-page-title>
			</md-list-item>
		</md-list>
	</div>
</div>
