<div class="full-height md-whiteframe-1dp"
		ng-class="{'layout-row': fullView, 'layout-column': !fullView}"
		ng-keyup="handleKeyPress($event)">
	<!-- Main edit column (left half) -->
	<div class="md-primary"
			layout="column"
			flex="{{fullView ? '50' : undefined}}"
			ng-hide="inPreview || (!fullView && otherDiff)">
		<md-tabs ng-class="{'hide-tabs': isComment || isAnswer}"
				class="md-primary md-hue-2"
				md-selected="selectedTab"
				md-stretch-tabs="{{gtXSmallScreen ? 'always' : 'never'}}"
				layout="column"
				flex>
			<!-- (0) Title tab -->
			<md-tab label="Title" ng-disabled="isComment || isAnswer">
				<div class="editor-tab" layout="column" flex>
					<md-input-container>
						<label>Title</label>
						<input ng-model="page.title" md-maxlength="100" autofocus default-tab-item="0">
					</md-input-container>
					<md-input-container>
						<label>Clickbait</label>
						<input ng-model="page.clickbait" md-maxlength="200">
					</md-input-container>
					<div class="md-caption">
						You need to publish the page for these fields to show up live.
					</div>
				</div>
			</md-tab>

			<!-- (1) Text tab -->
			<md-tab label="Text">
				<div layout="column" flex>
					<!-- Input we show when entering a new link -->
					<arb-autocomplete class="insert-autocomplete"
							placeholder="Search for a page to link"
							on-select="insertLinkSelect(result)"
							ng-show="showInsertLink"></arb-autocomplete>

					<!-- Markdown toolbar -->
					<div id="wmd-button-bar{{page.pageId}}"
							class="wmd-button-bar"
						 	layout="row"
							layout-align="start center"
							ng-hide="showInsertLink">
						<md-button class="wmd-bold-button">
							<md-icon>format_bold</md-icon>
							<md-tooltip>**Bold** | Ctrl+B</md-tooltip>
						</md-button>
						<md-button class="wmd-italic-button">
							<md-icon>format_italic</md-icon>
							<md-tooltip>**Italics** | Ctrl+I</md-tooltip>
						</md-button>
						<div class="separator"></div>
						<md-button class="wmd-link-button">
							<md-icon>insert_link</md-icon>
							<md-tooltip>[hyper](link) | Ctrl+L</md-tooltip>
						</md-button>
						<md-button class="wmd-intralink-button">
							<md-icon md-svg-icon="link_variant"></md-icon>
							<md-tooltip>[Intrasite link] | Ctrl+;</md-tooltip>
						</md-button>
						<div layout="row" ng-show="gtSmallScreen">
							<div class="separator" ng-hide="insideDiaog"></div>
							<md-button class="wmd-new-page-button" ng-hide="insideDialog">
								<md-icon>note_add</md-icon>
								<md-tooltip>[New page link] | Ctrl+P</md-tooltip>
							</md-button>
							<md-button class="wmd-new-child-button" ng-hide="insideDialog || !isWiki">
								<md-icon>child_care</md-icon>
								<md-tooltip>[New child link] | Ctrl+Shift+P</md-tooltip>
							</md-button>
							<md-button class="wmd-new-sibling-button" ng-hide="insideDialog || !isWiki">
								<md-icon>people</md-icon>
								<md-tooltip>[New sibling link]</md-tooltip>
							</md-button>
						</div>
						<div layout="row" ng-show="gtXSmallScreen">
							<div class="separator"></div>
							<md-button class="wmd-quote-button">
								<md-icon>format_quote</md-icon>
								<md-tooltip>&gt; Blockquote | Ctrl+Q</md-tooltip>
							</md-button>
							<md-button class="wmd-code-button">
								<md-icon>format_clear</md-icon>
								<md-tooltip>`Preformatted` | Ctrl+K</md-tooltip>
							</md-button>
							<md-button class="wmd-image-button">
								<md-icon>insert_photo</md-icon>
								<md-tooltip>![image](url) | Ctrl+G</md-tooltip>
							</md-button>
						</div>
						<div class="separator"></div>
						<md-button class="wmd-olist-button">
							<md-icon>format_list_numbered</md-icon>
							<md-tooltip>1. Numbered list | Ctrl+O</md-tooltip>
						</md-button>
						<md-button class="wmd-ulist-button">
							<md-icon>format_list_bulleted</md-icon>
							<md-tooltip>* Bullet list | Ctrl+U</md-tooltip>
						</md-button>
						<md-button class="wmd-heading-button">
							<md-icon md-svg-icon="format_header_pound"></md-icon>
							<md-tooltip># Heading | Ctrl+H</md-tooltip>
						</md-button>
						<div layout="row" ng-show="gtXSmallScreen">
							<md-button class="wmd-hr-button" ng-show="gtSmallScreen">
								<md-icon>remove</md-icon>
								<md-tooltip>--- Line | Ctrl+E</md-tooltip>
							</md-button>
							<div class="separator"></div>
							<md-button class="wmd-undo-button">
								<md-icon>undo</md-icon>
								<md-tooltip>Undo | Ctrl+Z</md-tooltip>
							</md-button>
							<md-button class="wmd-redo-button">
								<md-icon>redo</md-icon>
								<md-tooltip>Redo | Ctrl+Shift+Z</md-tooltip>
							</md-button>
						</div>
						<div flex></div>
						<md-button ng-href="{{pageService.getEditPageUrl(page.pageId)}}" ng-show="isEmbedded && !insideDialog">
							<md-icon>open_in_new</md-icon>
							<md-tooltip>Go to full-windowed edit page</md-tooltip>
						</md-button>
						<div class="separator" ng-show="isEmbedded && !insideDialog"></div>
						<md-button href="http://math.stackexchange.com/editing-help" target="_blank">
							<md-icon>live_help</md-icon>
							<md-tooltip>Markdown editing help</md-tooltip>
						</md-button>
					</div>

					<!-- Textarea for editing the page's text -->
					<textarea class="wmd-input"
							id="wmd-input{{page.pageId}}"
							placeholder="Truth is singular. Its &#34;versions&#34; are mistruths.&#13;&#10;&mdash; Sonmi-451"
							ng-model="page.text" autofocus
							flex
							ng-disabled="showInsertLink" default-tab-item="1"></textarea>
				</div>
			</md-tab>

			<!-- (2) Relationships tab -->
			<md-tab label="Relationships" ng-disabled="isComment">
				<div class="editor-tab" flex>
					<!-- Parents -->
					<arb-relationships page-id="{{page.pageId}}"
							type="parent"
							force-edit-mode="true"
							readonly="!(isWiki || isQuestion)"></arb-relationships>
					<!-- Tags -->
					<arb-relationships page-id="{{page.pageId}}"
							type="tag"
							force-edit-mode="true"
							readonly="!(isWiki || isQuestion)"></arb-relationships>
					<!-- Requirements -->
					<arb-relationships page-id="{{page.pageId}}"
							type="requirement"
							force-edit-mode="true"
							readonly="!(isWiki || isLens)"></arb-relationships>
				</div>
			</md-tab>

			<!-- (3) Settings tab -->
			<md-tab label="Settings" ng-disabled="!(isWiki || isLens)">
				<div layout="column" flex>
					<md-content class="editor-tab" flex>
						<!-- Alias -->
						<div layout="row" layout-ng-show="!isAnswer && !isComment && !isGroup">
							<div layout="column" flex>
								<md-input-container>
									<label>Alias</label>
									<input ng-model="page.alias" md-maxlength="50" default-tab-item="2">
								</md-input-container>
							</div>
							<div class="md-caption" layout-margin flex>
								<div>Unique name for this page, e.g. "human_health"</div>
								<div ng-show="page.seeGroupId != '0'">
									This alias will be prefixed with "{{pageService.pageMap[page.seeGroupId].alias}}."
									because it's part of the private domain
								</div>
							</div>
						</div>
					
						<!-- Edit group id -->
						<div layout="row">
							<md-input-container flex>
								<label>Edit group</label>
								<md-select ng-model="page.editGroupId">
									<md-option ng-repeat="(key,value) in groupOptions" value="{{key}}" ng-bind="value"></md-option>
								</md-select>
							</md-input-container>
							<div class="md-caption" layout-margin flex>
								Group that can edit this page. If not set, anyone can edit it
							</div>
						</div>
					
						<!-- Karma edit lock -->
						<div layout="row" ng-show="userService.user.maxKarmaLock > 0 && !isComment">
							<div flex>
								<label>Edit karma lock</label>
								<md-slider md-discrete ng-model="page.editKarmaLock"
										step="10" min="0" max="{{userService.user.maxKarmaLock}}">
								</md-slider>
							</div>
							<div class="md-caption" layout-margin flex>
								Editing this page will require <span ng-bind="page.editKarmaLock"></span> karma
							</div>
						</div>
	
						<!-- Page type -->
						<div layout="row">
							<md-input-container flex>
								<label>Page type</label>
								<md-select ng-model="page.type" required="true">
									<md-option ng-repeat="(key,value) in pageTypes" value="{{key}}" ng-bind="value"></md-option>
								</md-select>
							</md-input-container>
							<div class="md-caption" layout-margin flex>
								<span ng-show="isWiki">
									Standard wiki page
								</span>
								<span ng-show="isLens">
									A lens page is used to present the same material as another page but with a different emphasis
								</span>
							</div>
						</div>
					
						<!-- Show/hide vote -->
						<div layout="row" layout-margin ng-show="page.lockedVoteType != '' && isWiki">
							<md-switch ng-model="page.hasVote">
								Show the {{page.lockedVoteType}} voting bar
						  </md-switch>
						</div>
					
						<!-- Vote type -->
						<div layout="row" ng-show="page.lockedVoteType == '' && !isQuestion && !isComment">
							<md-input-container flex>
								<label>Voting</label>
								<md-select ng-model="page.voteType">
									<md-option ng-repeat="(key,value) in voteTypes" value="{{key}}">
										{{value}}
									</md-option>
								</md-select>
							</md-input-container>
							<div layout-margin flex>
								<!-- TODO: helpful notes -->
							</div>
						</div>
					
						<!-- Sort children option -->
						<div layout="row" layout-align="start center" ng-show="!isSecondary">
							<md-input-container flex>
								<label>Sort children</label>
								<md-select ng-model="page.sortChildrenBy">
									<md-option ng-repeat="(key,value) in sortTypes" value="{{key}}">
										{{value}}
									</md-option>
								</md-select>
							</md-input-container>
							<div class="md-caption" layout-margin flex>
								How to sort the children of this page
								<!-- TODO: helpful notes about specific types -->
							</div>
						</div>
	
						<!-- Delete page -->
						<arb-confirm-button button-text="Delete page"
								button-before-confirm="true"
								confirmed="deletePage()"></arb-confirm-button>
					</md-content>
				</div>
			</md-tab>

			<!-- (4) Changelog tab -->
			<md-tab label="Changelog" ng-disabled="isComment || isAnswer">
				<md-list class="editor-tab" flex>
					<md-list-item ng-repeat="(index,changeLog) in page.changeLogs">
						<div layout="column">
							<div>
								<span ng-show="changeLog.auxPageId == '0'" ng-bind="changeLog.type">
								</span>
								<span ng-show="changeLog.auxPageId != '0'">
									<a class="intrasite-link"
											page-id="{{changeLog.auxPageId}}"
											ng-href="{{pageService.getPageUrl(changeLog.auxPageId)}}"
											ng-bind="changeLog.type"></a>
								</span>
								<span ng-show="changeLog.edit != 0">(edit #{{changeLog.edit}})</span>
								by
				
								<span ng-show="userService.user.id === changeLog.userId">you</span>
								<span ng-show="userService.user.id !== changeLog.userId">
									<arb-user-name user-id="{{changeLog.userId}}"></arb-user-name>
								</span>
				
								<span ng-bind="changeLog.createdAt | relativeDateTime"></span>
							</div>
				
							<!-- Extra functionality for new edits -->
							<div ng-show="(changeLog.type === 'newEdit' || changeLog.type === 'newSnapshot') && page.edit !== changeLog.edit"
									layout="row" layout-align="start center">
								<md-button class="md-warn"
										ng-click="revertToEdit(changeLog.edit)"
										ng-show="changeLog.type === 'newEdit' && changeLog.edit !== page.currentEditNum">
									<md-tooltip>Revert to this edit</md-tooltip>
									Revert
								</md-button>
								<md-button ng-href="{{pageService.getEditPageUrl(page.pageId) + '/' + changeLog.edit}}"
										class="md-warn">
									<md-tooltip>Load this edit in the editor</md-tooltip>
									Load Edit
								</md-button>
								<md-button ng-click="showDiff(changeLog.edit)">
									<md-tooltip>Diff with this edit</md-tooltip>
									Diff
								</md-button>
							</div>
							<div ng-show="(changeLog.type === 'newEdit' || changeLog.type === 'newSnapshot') && changeLog.edit === page.edit">
								Currently loaded
							</div>
						</div>
						<md-divider ng-if="!$last"></md-divider>
					</md-list-item>
				</md-list>
			</md-tab>
		</md-tabs>

		<!-- Footer -->
		<div class="edit-page-footer md-primary md-hue-2" layout="row" layout-align="start center" layout-margin>
			<!-- Go back button -->
			<div layout="column" ng-hide="isEmbedded">
				<md-button ng-href="{{pageService.getPageUrl(page.pageId)}}" class="md-primary md-hue-1 md-raised">
					<md-icon>arrow_back</md-icon>
					Back
					<md-tooltip>
						Go to live view
					</md-tooltip>
				</md-button>
			</div>
			<div class="no-margins" flex></div>

			<div layout="row" layout-align="end center" flex ng-hide="!gtXSmallScreen">
				<div ng-show="autosaving">
					Autosaving...
				</div>
				<div ng-show="successfulAutosave">
					Autosaved
				</div>
				<div ng-show="snapshotting">
					Saving a snapshot...
				</div>
				<div ng-show="publishing">
					Publishing...
				</div>
				<div ng-show="selectedTab == 2">All changes saved automatically</div>
			</div>

			<arb-confirm-button button-text="Discard"
					confirmed="discardPage()"
					disabled="publishing || snapshotting"
					ng-hide="selectedTab == 2 || !isPageDirty"></arb-confirm-button>
			<div ng-show="selectedTab == 0 || selectedTab == 1">
				<md-button class="md-primary md-hue-1 md-raised"
						ng-click="snapshotPage()"
						ng-disable="publishing || snapshotting">
					<md-tooltip>Save this text for later</md-tooltip>
					Snapshot
				</md-button>
			</div>
			<div ng-show="!fullView && !inPreview && (selectedTab != 2)">
				<md-button class="md-primary md-raised"
						ng-click="togglePreview(true)"
						ng-disable="publishing || snapshotting">
					<md-tooltip>Preview the page before publishing</md-tooltip>
					Preview
				</md-button>
			</div>
			<div ng-show="(fullView || inPreview) && (selectedTab != 2)">
				<md-button class="md-primary md-raised"
						ng-click="publishPage()"
						ng-disable="publishing || snapshotting">
					<md-tooltip>Make this version live</md-tooltip>
					Publish
				</md-button>
			</div>
		</div>
	</div>

	<!-- Right half -->
	<div ng-class="{'edit-page-rhs-border': fullView}"
			layout="column"
			flex="{{fullView ? '50' : (inPreview || otherDiff) ? '' : 'none'}}">
		<!-- Live preview -->
		<md-content class="preview-area" flex ng-hide="(!fullView && !inPreview) || otherDiff">
			<div class="md-display-3" ng-bind="page.title"></div>
			<div id="wmd-preview{{page.pageId}}"></div>
		</md-content>

		<!-- Buttons shown in preview -->
		<div class="md-primary md-hue-2"
				layout="row"
				layout-align="space-between center"
				ng-show="inPreview">
			<div layout-margin>
				<md-button class="md-raised" ng-click="togglePreview(false)">
					<md-icon>arrow_back</md-icon>
					<md-tooltip>Go back to editing</md-tooltip>
				</md-button>
			</div>
			<div layout-margin>
				<md-button class="md-raised md-primary" ng-click="publishPage()">
					Publish
					<md-tooltip>Make this version live</md-tooltip>
				</md-button>
			</div>
		</div>

		<!-- Diff between edits -->
		<md-content flex ng-if="otherDiff">
			<h2 class="md-display-3" ng-bind="'(#' + otherDiff.edit + ') ' + otherDiff.title"></h2>
			<h3 class="md-display-1" ng-bind="'Clickbait: ' + otherDiff.clickbait"></h3>
			<div ng-bind-html="diffHtml"></div>
		</md-content>
		<div class="md-primary md-hue-2"
				layout="row"
				layout-align="space-between center"
				ng-show="otherDiff">
			<div layout-margin>
				<md-button ng-click="hideDiff()">
					<md-icon>arrow_back</md-icon>
					<md-tooltip>Go back to live preview</md-tooltip>
					Back to live preview
				</md-button>
			</div>
			<div flex></div>
			<div layout-margin>
				<md-button class="md-raised" ng-click="refreshDiff()" ng-show="fullView">
					<md-tooltip>Recompute the diff</md-tooltip>
					Recompute
				</md-button>
			</div>
		</div>

		<!-- Messages -->
		<md-list ng-hide="otherDiff">
			<md-list-item class="no-margins"
					ng-class="{error: 'md-warn md-body-2', warning: 'md-warn md-hue-1', info: 'md-primary md-hue-1'}[value.type]"
					ng-repeat="(key,value) in messages">
				<!-- Dismiss button -->
				<md-button class="md-icon-button"
						ng-click="deleteMessage(key)"
						ng-hide="value.permanent">
					<md-icon>close</md-icon>
				</md-button>
				<div ng-bind="value.text"></div>
			</md-list-item>
		</md-list>

		<!-- Related pages -->
		<md-list ng-hide="otherDiff">
			<md-subheader class="md-no-sticky" ng-show="similarPages.length > 0">
				Similar {{isQuestion ? "questions" : "pages"}}
			</md-subheader>
			<md-list-item class="md-no-proxy"
					ng-init="similarPage = similarPages[0]"
					ng-if="similarPages.length > 0">
				<arb-likes page-id="{{similarPage.pageId}}"></arb-likes>
				<arb-page-title page-id="{{similarPage.pageId}}" is-link="true" show-clickbait="true"></arb-page-title>
				<div flex></div>
				<md-button ng-click="toggleSimilarPages(true)"
						ng-show="!forceExpandSimilarPages && !expandSimilarPages && similarPages.length > 1">
					<md-icon>expand_more</md-icon>
					Show {{similarPages.length - 1}} more
				</md-button>
				<md-button ng-click="toggleSimilarPages(false)"
						ng-show="!forceExpandSimilarPages && expandSimilarPages">
					<md-icon>expand_less</md-icon>
					Hide
				</md-button>
			</md-list-item>
			<md-list-item layout="row"
					ng-repeat="(index,similarPage) in similarPages"
					ng-if="index > 0 && (expandSimilarPages || index < forceExpandSimilarPagesCount)">
				<arb-likes page-id="{{similarPage.pageId}}"></arb-likes>
				<arb-page-title page-id="{{similarPage.pageId}}" is-link="true" show-clickbait="true"></arb-page-title>
			</md-list-item>
		</md-list>
	</div>
</div>
