<!-- This file is meant to be included only from editPage.html -->
<md-list ng-if="::!page.wasPublished">
	<md-subheader class="md-primary md-hue-1 md-no-sticky" ng-if="similarPages.length > 0">
		<span class="black-font" ng-bind="::('Similar ' + (isQuestion ? 'questions' : 'pages'))"></span>
	</md-subheader>
	<md-list-item layout="row"
			ng-repeat="(index,similarPage) in similarPages"
			ng-if="$first || (index > 0 && (expandSimilarPages || index < forceExpandSimilarPagesCount))">
		<arb-likes page-id="{{::similarPage.pageId}}"></arb-likes>
		<arb-page-title page-id="{{::similarPage.pageId}}" is-link="true" show-clickbait="true"></arb-page-title>
		<div ng-if="::($first && isQuestion)" flex></div>
		<div ng-if="::($first && isQuestion)">
			<md-button ng-if="!expandSimilarPages && similarPages.length > forceExpandSimilarPagesCount"
				ng-click="toggleSimilarPages(true)">
				<md-icon>expand_more</md-icon>
				Show {{similarPages.length - forceExpandSimilarPagesCount}} more
			</md-button>
			<md-button ng-if="expandSimilarPages" ng-click="toggleSimilarPages(false)">
				<md-icon>expand_less</md-icon>
				Hide
			</md-button>
		</div>
	</md-list-item>
</md-list>
