<!-- A recursive panel to display one panel and its children. Used in Explore page. -->
<div class="explore-panel">
	<div ng-class="{'big-explore-panel-header': panel.isTopLevel}">
		<span class="collapse-span">
			<i class="collapse-link glyphicon" ng-class="{'glyphicon-triangle-bottom': panel.showChildren, 'glyphicon-triangle-right': !panel.showChildren}" ng-click="togglePanel()" ng-show="page.HasChildren"></i>
			<span class="gray-text" ng-show="!page.HasChildren">&nbsp;&bull;</span>
		</span>

		<!-- Likes / dislikes and approval voting -->
		<span class="explore-like-span" ng-class="{'like-small-span': !panel.isTopLevel, 'like-span': panel.isTopLevel}">
			<span class="like-count" ng-bind="page.LikeCount"></span>
			<span class="disabled-like glyphicon glyphicon-thumbs-up" ng-class="{'on': page.MyLikeValue >= 1}"></span>
			&nbsp;
			<span class="dislike-count" ng-bind="page.DislikeCount"></span>
			<span class="disabled-dislike glyphicon glyphicon-thumbs-down" ng-class="{'on': page.MyLikeValue <= -1}"></span>
		</span>

		<a ng-href="{[{getPageUrl(page)}]}" class="explore-header-link" ng-bind="page.Title"></a>
	</div>
	<div class="explore-panel-body" ng-show="panel.showChildren">
		<img src="/static/images/loading.gif" ng-show="panel.loadingChildren"/>
		<div explore-panel ng-repeat="panel in panel.children | orderBy:sortChildren"></div>
	</div>
	<br ng-show="panel.isTopLevel">
</div>
