<!-- A recursive panel to display one page and its children. Used in Explore page. -->
<div class="explore-panel">
	<div>
		<span class="collapse-span">
			<i class="collapse-link glyphicon" ng-class="{'glyphicon-triangle-bottom': page.Explore.ShowChildren, 'glyphicon-triangle-right': !page.Explore.ShowChildren}" ng-click="togglePanel()" ng-show="page.HasChildren"></i>
		</span>

		<!-- Likes / dislikes and approval voting -->
		<span class="like-small-span">
			<span class="like-count" ng-bind="page.LikeCount"></span>
			<span class="disabled-like glyphicon glyphicon-thumbs-up" ng-class="{'on': page.MyLikeValue >= 1}"></span>
			&nbsp;
			<span class="dislike-count" ng-bind="page.DislikeCount"></span>
			<span class="disabled-dislike glyphicon glyphicon-thumbs-down" ng-class="{'on': page.MyLikeValue <= -1}"></span>
		</span>

		<a ng-href="{[{getPageUrl(page)}]}" class="explore-header-part" ng-bind="page.Title"></a>
	</div>
	<div class="explore-panel-body" ng-show="page.Explore.ShowChildren">
		<img src="/static/images/loading.gif" ng-show="page.Explore.LoadingChildren"/>
		<div explore-panel ng-repeat="pageId in page.Explore.ChildrenIds | orderBy:sortChildren"></div>
	</div>
</div>
