<div class="padding-gt-xs children-margin-gt-xs children-vertical-margin-lt-xs">
	<!-- Top row -->
	<div id="index-header"
			layout="column"
			layout-gt-xs="row"
			layout-align="space-between start"
			class="children-margin-gt-xs children-vertical-margin-lt-xs">
		<div class="md-whiteframe-1dp arbital-blurb"
				layout="column"
				layout-gt-sm="row"
				layout-align="start center">
			<span>
				<a ng-href="{{::arb.urlService.getPageUrl('3d')}}"
						class="intrasite-link"
						page-id="3d">Arbital</a>
				is the place for healthy discussions to improve your understanding of the world.
			</span>
		</div>
		<div layout="row"
				layout-align="end center"
				layout-wrap
				class="horizontal-margin-between-children">
			<arb-edit-button custom-text="Create new page"
					analytics-desc="feed page, new page button"
					hide-icon="true"></arb-edit-button>
			<md-button class="md-raised"
					ng-class="{'md-primary': !isSubmittingLink}"
					ng-click="isSubmittingLink=true">
				Submit new link
			</md-button>
		</div>
	</div>

	<!-- Submit link -->
	<div class="md-whiteframe-1dp" layout="column" ng-if="isSubmittingLink">
		<h2>Submit link</h2>
		<md-input-container flex>
			<label>URL</label>
			<input ng-model="submission.url" ng-change="submissionUrlChanged()" autofocus>
		</md-input-container>
		<md-input-container flex>
			<label>Title</label>
			<input ng-model="submission.title" ng-disabled="submission.pageId">
		</md-input-container>
		<md-button class="md-primary md-raised" ng-click="submitLink()">
			Submit
		</md-button>
	</div>

	<!-- Feed rows -->
	<div layout="column" layout-align="center center">
		<div ng-repeat="feedRow in feedRows"
				ng-init="page=arb.stateService.pageMap[feedRow.pageId]"
				class="md-whiteframe-1dp feed-row">
			<div class="page-row" flex>
			
				<!-- Page title and caption -->
				<div layout="column" layout-align="center" flex>
					<div layout="row" layout-align="start start" flex>
						<div flex>
							<!-- Title row row -->
							<div class="feed-page-title-row">
								<arb-page-title page-id="{{::page.pageId}}"
									is-link="true"
									show-clickbait="false"
									ng-if="page.externalUrl.length <= 0"></arb-page-title>
								<a ng-href="{{page.externalUrl}}"
										class="external-link"
										ng-if="page.externalUrl.length > 0">{{page.title}}</a>
								<span class="md-caption" ng-if="page.externalUrl.length <= 0">
									by <arb-user-name user-id="{{::page.pageCreatorId}}"></arb-user-name>
								</span>
								<span class="md-caption" ng-if="page.externalUrl.length > 0">
									(<span ng-bind="::page.externalUrl | urlDomain"></span>)
								</span>
							</div>
							<!-- Second row -->
							<div layout="row"? layout-align="start center">
								<arb-likes object-id="{{::page.pageId}}" class="s16"></arb-likes>
								<a ng-href="{{arb.urlService.getPageUrl(page.pageId, {discussionHash: true})}}" class="s16">
		 							<md-icon>comment</md-icon>
		 							<span ng-bind="::page.commentCount"></span>
		 						</a>
							</div>
						</div>
			
						<!-- RHS metadata -->
						<div class="md-caption"
								layout="column"
								layout-align="end end">
							<div class="md-caption">
								submitted
								<span ng-if="feedRow.submitterId != page.pageCreatorId || page.externalUrl.length > 0">
									by
									<arb-user-name user-id="{{::feedRow.submitterId}}"></arb-user-name>
								</span>
								<span ng-bind="::feedRow.createdAt | smartDateTime"></span>
							</div>
							<!--<div ng-if="showTags">
								<span ng-repeat="tag in page.tagIds">
									<arb-tag tag-id="{{::tag}}"></arb-tag>
								</span>
							</div>-->
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
