<div class="padding-gt-xs children-margin-gt-xs children-vertical-margin-lt-xs">
	<!-- Top row -->
	<div id="index-header"
			layout="column"
			layout-gt-xs="row"
			layout-align="space-between start"
			class="children-margin-gt-xs children-vertical-margin-lt-xs">
		<div class="md-whiteframe-1dp arbital-blurb"
				layout="column"
				layout-gt-sm="row"
				layout-align="start center">
			<span>
				<a ng-href="{{::arb.urlService.getPageUrl('3d')}}"
						class="intrasite-link"
						page-id="3d">Arbital</a>
				is the place for healthy discussions to improve your understanding of the world.
			</span>
		</div>
		<div layout="row"
				layout-align="end center"
				layout-wrap
				class="horizontal-margin-between-children">
			<arb-edit-button custom-text="Create new page"
					analytics-desc="feed page, new page button"
					ng-if="arb.userService.userIsLoggedIn()"></arb-edit-button>
			<md-button class="md-raised"
					ng-class="{'md-primary': !isSubmittingLink}"
					ng-click="showSubmissionForm()"
					ng-if="arb.userService.user.domainMembershipMap[2069].canSubmitLinks">
				Submit new link
			</md-button>
		</div>
	</div>

	<!-- Submit link -->
	<div layout="column" layout-align="center center">
		<div class="submit-link-form md-whiteframe-1dp" layout="column" ng-if="isSubmittingLink">
			<md-button class="md-icon-button submit-link-close-button" ng-click="resetSubmission()">
				<md-icon>close</md-icon>
			</md-button>
			<h2>Submit link</h2>
			<md-input-container md-is-error="externalUrlIsDupe" flex>
				<label>URL</label>
				<input class="submit-link-url-input" ng-model="submission.url" ng-change="submissionUrlChanged()" autofocus>
				<div class="submit-link-message" ng-if="externalUrlIsDupe">
					<span class="md-caption">This url has already been submitted.</span>
					<span ng-if="externalUrlOriginalPageID">
						<span class="md-caption">See:</span>
						<arb-page-title page-id="{{externalUrlOriginalPageID}}"
							is-link="true"
							show-clickbait="false">
						</arb-page-title>
					</span>
				</div>
				<md-progress-linear class="submit-link-message" md-mode="indeterminate" ng-if="showExternalUrlProgressBar" flex></md-progress-linear>
			</md-input-container>
			<md-input-container flex>
				<label>Title</label>
				<input ng-model="submission.title" ng-disabled="submission.pageId">
			</md-input-container>
			<md-button class="md-primary md-raised" ng-click="submitLink()" ng-disabled="externalUrlIsDupe">
				Submit
			</md-button>
		</div>
	</div>

	<!-- Feed rows -->
	<div layout="column" layout-gt-sm="row" layout-align="start start">
		<div flex="5" flex-gt-md="10"></div>

		<div class="feed-rows" layout="column" flex-gt-sm="50">
			<div ng-repeat="feedRow in feedRows"
					ng-init="page=arb.stateService.pageMap[feedRow.pageId]"
					class="md-whiteframe-1dp feed-row">
				<div class="page-row" flex>
				
					<!-- Page title and caption -->
					<div layout="column" layout-align="center" flex>
						<div layout="row" layout-align="start start" flex>
							<div flex>
								<!-- Title row row -->
								<div layout="row" layout-align="start start" class="feed-page-title-row">
									<span class="claim-tag" ng-if="page.isClaimPage()"></span>
									<span class="post-tag" ng-if="page.isBlogPage()"></span>
									<span class="link-tag" ng-if="page.isLinkPage()"></span>
									<div>
										<arb-page-title page-id="{{::page.pageId}}"
											is-link="true"
											show-clickbait="false"
											ng-if="page.externalUrl.length <= 0"></arb-page-title>
										<a ng-href="{{page.externalUrl}}"
												class="external-link"
												ng-if="page.externalUrl.length > 0">{{page.title}}</a>
										<span class="md-caption" ng-if="page.externalUrl.length > 0">
											(<span ng-bind="::page.externalUrl | urlDomain"></span>)
										</span>
										<div class="md-caption" ng-if="page.isBlogPage()">
											<span ng-if="page.isClaimPage()">posed</span>
											by <arb-user-name user-id="{{::page.pageCreatorId}}"></arb-user-name>
										</div>
									</div>
								</div>
								<!-- Second row -->
								<div layout="row" layout-align="start center" flex>
									<div layout="row" layout-align="start center" flex>
										<arb-likes object-id="{{::page.pageId}}" class="s16"></arb-likes>
										<arb-comment-count page-id="{{::page.pageId}}" class="s16"></arb-comment-count>
										<div ng-if="page.hasVote">
											&nbsp;&nbsp;&nbsp;&nbsp;
											<span class="inline-vote" ng-bind="page.getVoteBars()" ng-if="page.votes.length > 0"></span>
											<span class="md-caption" ng-if="page.votes.length == 0">No votes yet</span>
											<ng-pluralize class="md-caption"
													count="page.votes.length"
													when="{'one': '(1 vote)', 'other': '({} votes)'}"
													ng-if="page.votes.length > 0"></ng-pluralize>
										</div>
									</div>
									<div class="md-caption">
										<span class="nowrap">
											submitted {{::feedRow.createdAt | smartDateTime}}
										</span>
									</div>
								</div>
							</div>
				
						</div>
					</div>
	
				</div>
			</div>
		</div>

		<!-- Recent claims -->
		<div class="md-whiteframe-1dp" flex="30">
			<div ng-repeat="claimRow in claimRows"
					ng-init="page=arb.stateService.pageMap[claimRow.pageId]">
				<md-divider></md-divider>
				<div class="claim-row page-row" flex>

					<!-- Page title and caption -->
					<div layout="column" layout-align="center" flex>
						<div layout="row" layout-align="start start" flex>
							<div flex>
								<!-- Title row row -->
								<div class="feed-page-title-row">
									<div layout="row" layout-align="start start" class="feed-page-title-row">
										<span class="claim-tag" ng-if="page.isClaimPage()"></span>
										<div>
											<arb-page-title page-id="{{::page.pageId}}"
												is-link="true"
												show-clickbait="false"
												ng-if="page.externalUrl.length <= 0"></arb-page-title>
											<a ng-href="{{page.externalUrl}}"
													class="external-link"
													ng-if="page.externalUrl.length > 0">{{page.title}}</a>
									<div class="md-caption">
										<span class="nowrap" ng-if="page.isBlogPage()">
											posed by
											<arb-user-name user-id="{{::page.pageCreatorId}}"></arb-user-name>
										</span>
										<span class="nowrap" ng-if="!page.isBlogPage()">
											posed by
											<arb-page-title page-id="{{::arb.stateService.domainMap[page.editDomainId].pageId}}"
													is-link="true"></arb-page-title>
										</span>
										<span class="nowrap" ng-bind="::claimRow.createdAt | smartDateTime"></span>
									</div>
										</div>
									</div>
								</div>
								<!-- Second row -->
								<div layout="row" layout-align="start center" flex>
									<div layout="row" layout-align="start center" flex>
										<arb-likes object-id="{{::page.pageId}}" class="s16"></arb-likes>
										<arb-comment-count page-id="{{::page.pageId}}" class="s16"></arb-comment-count>
										<div ng-if="page.hasVote">
											&nbsp;&nbsp;&nbsp;&nbsp;
											<span class="inline-vote" ng-bind="page.getVoteBars()" ng-if="page.votes.length > 0"></span>
											<span class="md-caption" ng-if="page.votes.length == 0">No votes yet</span>
											<ng-pluralize class="md-caption"
													count="page.votes.length"
													when="{'one': '(1 vote)', 'other': '({} votes)'}"
													ng-if="page.votes.length > 0"></ng-pluralize>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div flex="5" flex-gt-md="10"></div>
	</div>
	<br>
</div>
