<div class="capped-body-width">
	<div class="md-whiteframe-1dp"
			layout="column"
			style="margin: 15px 0"
			ng-repeat="(groupId,group) in ::groupMap"
			ng-init="userCanAddMembers = group.members[arb.userService.user.id].canAddMembers; userCanAdmin = group.members[arb.userService.user.id].canAdmin">
		<md-toolbar class="md-hue-2">
			<div class="md-toolbar-tools">
				<arb-page-title page-id="{{::groupId}}" is-link="true"><arb-page-title>
			</div>
		</md-toolbar>

		<!-- Members table -->
		<!-- Header row -->
		<div layout="row" layout-margin>
			<h3 flex>Member name</h3>
			<h3 flex>Can add members</h3>
			<h3 flex>Is group admin</h3>
			<h3 flex>Remove</h3>
		</div>
		<md-divider></md-divider>
		<!-- Member rows -->
		<div layout="row"
				layout-align="start center"
				layout-margin
				ng-repeat="(memberId,member) in group.members">
				<arb-user-name user-id="{{::memberId}}" flex></arb-user-name>
			<md-checkbox ng-model="member.canAddMembers"
					ng-change="updateMemberPermissions(groupId, memberId)"
					ng-disabled="!userCanAddMembers || member.canAdmin" flex></md-checkbox>
			<md-checkbox ng-model="member.canAdmin"
					ng-change="updateMemberPermissions(groupId, memberId)"
					ng-disabled="::!userCanAdmin" flex></md-checkbox>
			<div flex>
				<md-button class="md-icon-button md-warn md-raised"
						ng-click="removeFromGroup(groupId, memberId)"
						ng-if="userCanAddMembers && !(member.canAdmin && !userCanAdmin)">
					<md-icon>delete</md-icon>
				</md-button>
			</div>
		</div>

		<!-- New Member form -->
		<div ng-if="::userCanAddMembers">
			<form layout="row"
					layout-align="start center"
					layout-margin
					ng-submit="newMemberFormSubmit($event, groupId, newMemberInput)">
				<span><md-icon>person_add</md-icon></span>
				<md-input-container>
					<label>User's id, email, or alias</label>
					<input name="newMemberInput" ng-model="newMemberInput">
				</md-input-container>
				<md-progress-circular md-mode="indeterminate" toggle-on-submit hide></md-progress-circular>
				<md-button type="submit" toggle-on-submit>Add member</md-button>
				<div class="submit-form-error md-warn" hidden></div>
			</form>
		</div>
	</div>

	<!-- Create new group -->
	<div class="md-whiteframe-1dp" layout-margin ng-if="::arb.userService.user.isAdmin">
		<md-toolbar class="md-hue-1" layout-fill>
			<div class="md-toolbar-tools">
				New group
			</div>
		</md-toolbar>
		<form ng-submit="newGroupFormSubmit($event)">
			<div layout="row" layout-align="start center">
			<md-input-container>
				<label>Group name</label>
				<input name="name" ng-model="newGroupForm.newGroupName">
			</md-input-container>
			<md-input-container>
				<label>Group alias</label>
				<input name="alias" ng-model="newGroupForm.newGroupAlias">
			</md-input-container>
			<md-progress-circular md-mode="indeterminate" toggle-on-submit hide></md-progress-circular>
			<md-button type="submit" toggle-on-submit>Create group</md-button>
			<div class="submit-form-error md-warn" hidden></div>
		</div>
		</form>
	</div>
</div>
