<div layout="column" class="capped-body-width">
	<!-- The group page -->
	<h1 ng-class="{'dynamic-hor-padding': showingText, 'layout-margin': !showingText}"
			ng-bind="::page.title"></h1>
	<div arb-markdown
			page-id="{{::page.pageId}}"
			class="lens-text-container md-whiteframe-1dp reveal-after-render"
			ng-if="showingText"></div>
	<md-button class="md-primary md-raised"
			ng-click="showText()"
			ng-if="!showingText">
		Show page text
	</md-button>
	<br>
	<br>

	<div arb-page-list
			panel-title="New"
			show-created-at="true"
			show-text-length="true"
			page-ids="::idsMap.recentlyCreatedIds"></div>
	<div arb-page-list
			panel-title="Hot"
			show-last-edit="true"
			show-comment-count="true"
			show-text-length="true"
			page-ids="::idsMap.hotIds"></div>
	<div arb-page-list
			panel-title="Top"
			show-created-at="true"
			show-text-length="true"
			page-ids="::idsMap.mostLikedIds"></div>
	<div arb-page-list
			panel-title="Controversial"
			show-comment-count="true"
			show-text-length="true"
			page-ids="::idsMap.mostControversialIds"></div>
</div>
