<!-- GUI that appears at the top of a HUB page -->
<div layout="column">
	<!--<div>
		Arbital thinks you
		<md-input-container class="inline-md-select no-margins">
			<md-select ng-model="level"
					md-on-close="updateLevel()"
					aria-label="Level">
				<md-option value="0">haven't heard of</md-option>
				<md-option value="1">have a loose understanding of</md-option>
				<md-option value="2">have a basic understanding of</md-option>
				<md-option value="3">have a technical understanding of</md-option>
				<md-option value="4">have a research level understanding of</md-option>
			</md-select>
		</md-input-container>
		this concept.
	</div>-->

	<md-content>
		<section ng-repeat="level in levels" class="hub-list-item">
			<md-subheader class="md-primary md-hue-1">
				<span ng-bind="getLevelTitle(level)"></span>
			</md-subheader>

			<!-- Pages that teach -->
			<md-list class="hub-list list-panel">
				<!-- Page list -->
				<ng-pluralize count="page.hubContent.learnPageIds[level].length"
						when="{'one': 'Page that teaches this concept:', 'other': 'Pages that teach this concept:'}"
						ng-if="page.hubContent.learnPageIds[level].length > 0"></ng-pluralize>
				<md-list-item ng-repeat="pageId in page.hubContent.learnPageIds[level]">
					<span class="bullet">&bull;</span>
					<arb-page-title page-id="{{::pageId}}"
							is-link="true"
							show-clickbait="true"
							show-arc-info="true"
							custom-link="{{::arb.urlService.getHubSuggestionPageUrl(pageId, {hubId: page.pageId})}}">
					</arb-page-title>
				</md-list-item>

				<!-- Not clear if we need this button at all
				<md-button class="md-primary md-raised" ng-click="goLearn($event)">
					Start learning
				</md-button>
				-->

				<!-- When there are no pages that teach -->
				<div ng-if="page.hubContent.learnPageIds[level].length <= 0">
					<div ng-if="!page.contentRequests['teach' + getLevelName(level)].myLikeValue">
						<md-button class="short-button"
								ng-click="arb.signupService.submitContentRequest('teach' + getLevelName(level), page)">
							<md-icon>plus_one</md-icon>
						</md-button>
						Unfortunately there are no pages on Arbital that can teach this concept at this level.
					</div>
					<span ng-if="page.contentRequests['teach' + getLevelName(level)].myLikeValue">
						There are no pages that teach this concept at this level, but thank you for letting us know you want one!
					</span>
				</div>
			</md-list>

			<!-- Pages that boost -->
			<md-list class="hub-list list-panel">
				<!-- Page list -->
				<ng-pluralize count="page.hubContent.boostPageIds[level].length"
						when="{'one': 'Page that can expand your understanding:',
							'other': 'Pages that can expand your understanding:'}"
						ng-if="page.hubContent.boostPageIds[level].length > 0"></ng-pluralize>
				<md-list-item ng-repeat="pageId in page.hubContent.boostPageIds[level]"
						ng-class="{'md-caption': !arb.masteryService.doesPageTeachUnknownReqs(pageId)}">
					<span class="bullet">&bull;</span>
					<arb-page-title page-id="{{::pageId}}"
							is-link="true"
							show-clickbait="true"
							show-arc-info="true"
							custom-link="{{::arb.urlService.getHubSuggestionPageUrl(pageId, {hubId: page.pageId})}}">
					</arb-page-title>
				</md-list-item>

				<!-- Not clear if we need this button at all
				<md-button class="md-primary md-raised lucky-hub-button"
						ng-click="goBoost($event)"
						ng-if="arb.masteryService.hasUnreadBoostPages(page, level)">
					Start boosting
				</md-button>
				-->

				<!-- When there are no pages that boost -->
				<div ng-if="page.hubContent.boostPageIds[level].length <= 0">
					<div ng-if="!page.contentRequests['boost' + getLevelName(level)].myLikeValue">
						<md-button class="short-button"
								ng-click="arb.signupService.submitContentRequest('boost' + getLevelName(level), page)">
							<md-icon>plus_one</md-icon>
						</md-button>
						Unfortunately there are no pages on Arbital that boost understanding of this concept at this level.
					</div>
					<div ng-if="page.contentRequests['boost' + getLevelName(level)].myLikeValue">
						There are no pages that boost this concept at this level, but thank you for letting us know you want one!
					</div>
				</div>
			</md-list>
		</section>
	</md-content>
</div>
