<!-- Footer that appears at the bottom of the page if the user is exploring from a HUB page -->
<div>
	<hr>
	<div>
		<div>
			Currently learning about:
			<arb-page-title page-id="{{::hubPageId}}" is-link="true"></arb-page-title>
		</div>
		<div ng-if="levelUpMasteryCount > 1">
			Arbital will remember your improved understanding of these concepts:
		</div>
		<div ng-repeat="(masteryId,level) in levelUpMasteries">
			<md-checkbox class="md-primary no-margins"
					ng-model="levelUpMasteries[masteryId]"
					aria-label="Level up?">
				<span ng-if="levelUpMasteryCount <= 1">
					Arbital will remember your improved understanding of
				<span ng-if="masteryId==hubPageId">that concept</span>
				</span>
				<arb-page-title page-id="{{::masteryId}}"
						is-link="true"
						ng-if="masteryId!=hubPageId || levelUpMasteryCount > 1"></arb-page-title>
			</md-checkbox>
		</div>
	</div>

	<!-- Buttons when on a path -->
	<div layout="row" layout-align="start center" ng-if="::pathPage">
		<md-button ng-href="{{prevPageUrl}}"
				ng-if="prevPageUrl">
			<md-icon>chevron_left</md-icon>
			Prev
		</md-button>
		<span>
			<arb-page-title page-id="{{::pathPage.pageId}}"
					is-link="true"
					custom-page-title="{{'Arc: ' + (currentPathIndex + 1) + '/' + pathPage.pathPages.length}}">
			</arb-page-title>
			&nbsp;&nbsp;
		</span>
		<md-button class="md-primary md-raised"
				ng-href="{{nextPageUrl}}"
				ng-click="doLevelUp()"
				ng-if="nextPageUrl">
			Next
			<md-icon>chevron_right</md-icon>
		</md-button>
		<div flex ng-if="currentPathIndex < pathPage.pathPages.length - 1"></div>
		<md-button ng-href="{{arb.urlService.getPageUrl(hubPageId)}}"
				ng-click="doLevelUp()"
				ng-class="{'md-primary md-raised': !nextPageUrl}">
			Back to hub page
		</md-button>
	</div>

	<!-- Buttons when not on a path -->
	<div layout="row" ng-if="::!pathPage">
		<md-button class="md-primary md-raised"
				ng-href="{{getBoostUrl()}}"
				ng-click="doLevelUp()"
				ng-if="getBoostUrl()">Boost understanding</md-button>
		<md-button class="md-primary"
				ng-class="{'md-raised': !getBoostUrl()}"
				ng-href="{{getLearnUrl()}}"
				ng-click="doLevelUp()"
				ng-if="getLearnUrl()">Learn at next level</md-button>
		<div flex ng-if="getBoostUrl() || getLearnUrl()"></div>
		<md-button ng-href="{{arb.urlService.getPageUrl(hubPageId)}}"
				ng-click="doLevelUp()"
				ng-class="{'md-primary md-raised': !getBoostUrl() && !getLearnUrl()}">Back to hub page</md-button>
	</div>
</div>
