<!-- GUI that appears at the top of a HUB page -->
<div layout="column">
	<!--<div>
		Arbital thinks you
		<md-input-container class="inline-md-select no-margins">
			<md-select ng-model="level"
					md-on-close="updateLevel()"
					aria-label="Level">
				<md-option value="0">haven't heard of</md-option>
				<md-option value="1">have a loose understanding of</md-option>
				<md-option value="2">have a basic understanding of</md-option>
				<md-option value="3">have a technical understanding of</md-option>
				<md-option value="4">have a research level understanding of</md-option>
			</md-select>
		</md-input-container>
		this concept.
	</div>-->

	<md-content>
		<section ng-repeat="level in levels" ng-init="expanded=true" class="hub-list-item">
			<md-subheader>
				<div layout="row" layout-align="start center">
					<div ng-bind="getLevelTitle(level)" flex></div>
					<md-button class="md-icon-button s24" ng-click="expanded=!expanded">
						<arb-expand-icon expanded="expanded"></arb-expand-icon>
					</md-button>
				</div>
			</md-subheader>

			<!-- Pages that boost -->
			<md-list class="hub-list list-panel" ng-show="expanded" ng-if="level > 0">
				<!-- Page list -->
				<span ng-if="page.hubContent.boostPageIds[level].length > 0">
					Here
					<ng-pluralize count="page.hubContent.boostPageIds[level].length"
							when="{'one': 'is a page', 'other': 'are some pages'}"></ng-pluralize>
					that might expand your understanding:
				</span>
				<md-list-item ng-repeat="pageId in page.hubContent.boostPageIds[level]">
					<span class="bullet" ng-if="arb.masteryService.doesPageTeachUnknownReqs(pageId)">&bull;</span>
					<span class="bullet" ng-if="!arb.masteryService.doesPageTeachUnknownReqs(pageId)">
						<md-tooltip>This page doesn't have anything new to teach you</md-tooltip>
						<span>&#10003;</span>
					</span>
					<arb-page-title page-id="{{::pageId}}"
							is-link="true"
							show-clickbait="true"
							show-arc-info="true"
							custom-link="{{::arb.urlService.getHubSuggestionPageUrl(pageId, {hubId: page.pageId})}}">
					</arb-page-title>
				</md-list-item>

				<!-- Not clear if we need this button at all
				<md-button class="md-primary md-raised lucky-hub-button"
						ng-click="goBoost($event)"
						ng-if="arb.masteryService.hasUnreadBoostPages(page, level)">
					Start boosting
				</md-button>
				-->

				<!-- When there are no pages that boost -->
				<div ng-if="page.hubContent.boostPageIds[level].length <= 0">
					<div>
						There are no pages that can boost understanding of <b>{{page.title}}</b> at {{getLevelName(level)}} level.
					</div>
					<div ng-if="!page.contentRequests['boost' + getRequestName(level)].myLikeValue">
						<md-button class="short-button"
								ng-click="arb.signupService.submitContentRequest('boost' + getRequestName(level), page)">
							<md-icon>plus_one</md-icon>
						</md-button>
						I want to read a page that boosts <b>{{page.title}}</b> at {{getLevelName(level)}} level.
					</div>
					<div ng-if="page.contentRequests['boost' + getRequestName(level)].myLikeValue">
						Thank you for letting us know you want one!
					</div>
				</div>
			</md-list>

			<!-- Pages that teach -->
			<md-list class="hub-list list-panel" ng-show="expanded" ng-if="level < levels.length - 1">
				<!-- Page list -->
				<span ng-if="page.hubContent.learnPageIds[level + 1].length > 0">
					Here
					<ng-pluralize count="page.hubContent.learnPageIds[level + 1].length"
							when="{'one': 'is a page that teaches', 'other': 'are some pages that teach'}"></ng-pluralize>
					<b>{{page.title}}</b> at a {{getLevelName(level + 1)}} level:
				</span>
				<md-list-item ng-repeat="pageId in page.hubContent.learnPageIds[level + 1]">
					<span class="bullet">&bull;</span>
					<arb-page-title page-id="{{::pageId}}"
							is-link="true"
							show-clickbait="true"
							show-arc-info="true"
							custom-link="{{::arb.urlService.getHubSuggestionPageUrl(pageId, {hubId: page.pageId})}}">
					</arb-page-title>
				</md-list-item>

				<!-- Not clear if we need this button at all
				<md-button class="md-primary md-raised" ng-click="goLearn($event)">
					Start learning
				</md-button>
				-->

				<!-- When there are no pages that teach -->
				<div ng-if="page.hubContent.learnPageIds[level + 1].length <= 0">
					<div>
						There are no pages that can teach <b>{{page.title}}</b> at {{getLevelName(level + 1)}} level.
					</div>
					<div ng-if="!page.contentRequests['teach' + getRequestName(level + 1)].myLikeValue">
						<md-button class="short-button"
								ng-click="arb.signupService.submitContentRequest('teach' + getRequestName(level + 1), page)">
							<md-icon>plus_one</md-icon>
						</md-button>
						I want to read a page that teaches <b>{{page.title}}</b> at {{getLevelName(level + 1)}} level.
					</div>
					<div ng-if="page.contentRequests['teach' + getRequestName(level + 1)].myLikeValue">
						Thank you for letting us know you want one!
					</div>
				</div>
			</md-list>

		</section>
	</md-content>
</div>
