<!-- GUI that appears at the top of a HUB page -->
<div layout="column">
	<div>
		Arbital thinks you
		<md-input-container class="inline-md-select no-margins">
			<md-select ng-model="level"
					md-on-close="updateLevel()"
					aria-label="Level">
				<md-option value="0">haven't heard of</md-option>
				<md-option value="1">have a loose understanding of</md-option>
				<md-option value="2">have a basic understanding of</md-option>
				<md-option value="3">have a technical understanding of</md-option>
				<md-option value="4">have a research level understanding of</md-option>
			</md-select>
		</md-input-container>
		this concept.
	</div>

	<!-- Start learning / Next level -->
	<div>
		<div ng-if="getIntLevel() < page.hubContent.learnPageIds.length - 1">
			<div ng-if="page.hubContent.learnPageIds[getIntLevel() + 1].length > 0">
				<md-button class="md-primary md-raised" ng-click="goLearn($event)">
					{{getIntLevel() ? 'Next level' : 'Start learning'}}
				</md-button>
				<br>
				Or pick a page that {{getIntLevel() ? 'teaches the next level of' : 'introduces'}} this concept:
				<ul class="no-top-margin">
					<li ng-repeat="pageId in page.hubContent.learnPageIds[getIntLevel() + 1]">
						<arb-page-title page-id="{{::pageId}}"
								is-link="true"
								custom-link="{{::arb.urlService.getHubSuggestionPageUrl(pageId, {hubId: page.pageId})}}"></arb-page-title>
						<span ng-if="arb.stateService.pageMap[pageId].pathPages.length > 0">
							(Arc of {{arb.stateService.pageMap[pageId].pathPages.length}} pages)
						</span>
					</li>
				</ul>
			</div>
			<div ng-if="page.hubContent.learnPageIds[getIntLevel() + 1].length <= 0">
				<div>
					Unfortunately there are no pages on Arbital that
					{{getIntLevel() ? 'teach the next level of this concept.' : 'introduce this concept to beginners.'}}
				</div>
				<span ng-if="!page.contentRequests['teach' + getLevelName(getIntLevel() + 1)].myLikeValue">
					<md-button class="md-raised"
							ng-click="arb.signupService.submitContentRequest('teach' + getLevelName(getIntLevel() + 1), page)">
						I want it
					</md-button>
				</span>
				<span class="md-caption"
						ng-if="page.contentRequests['teach' + getLevelName(getIntLevel() + 1)].myLikeValue">
					Thanks for letting us know that you want this explanation!
				</span>
			</div>
		</div>

		<!-- Boost understanding -->
		<div ng-if="getIntLevel()>0">
			<div ng-if="page.hubContent.boostPageIds[getIntLevel()].length > 0">
				<md-button class="md-primary md-raised"
						ng-click="goBoost($event)"
						ng-if="arb.masteryService.hasUnreadBoostPages(page, getIntLevel())">Boost understanding</md-button>
				<br>
				Or pick a page that boosts your understanding:
				<ul class="no-top-margin">
					<li ng-repeat="pageId in page.hubContent.boostPageIds[getIntLevel()]"
							ng-class="{'md-caption': !arb.masteryService.doesPageTeachUnknownReqs(pageId)}">
						<arb-page-title page-id="{{::pageId}}"
								is-link="true"
								custom-link="{{::arb.urlService.getHubSuggestionPageUrl(pageId, {hubId: page.pageId})}}"></arb-page-title>
						<span ng-if="arb.stateService.pageMap[pageId].pathPages.length > 0">
							(Arc of {{arb.stateService.pageMap[pageId].pathPages.length}} pages)
						</span>
					</li>
				</ul>
			</div>

			<div ng-if="page.hubContent.boostPageIds[getIntLevel()].length <= 0">
				<div>Unfortunately there are no pages on Arbital that boost understanding of this concept at this level.</div>
				<span ng-if="!page.contentRequests['boost' + getLevelName(getIntLevel())].myLikeValue">
					<md-button class="md-raised"
							ng-click="arb.signupService.submitContentRequest('boost' + getLevelName(getIntLevel()), page)">
						I want it
					</md-button>
				</span>
				<span class="md-caption"
						ng-if="page.contentRequests['boost' + getLevelName(getIntLevel())].myLikeValue">
					Thanks for letting us know that you want this explanation!
				</span>
			</div>
		</div>
	</div>
</div>
<hr></hr>
