<!-- If the user is not logged in, show the full list of new stuff -->
<div arb-read-mode-page ng-if="arb.userService.user.id == ''"></div>

<!-- If the user is logged in, show various panels -->
<md-content layout="column"
		layout-gt-sm="row"
		class="md-padding"
		ng-if="arb.userService.user.id !== ''">
	<div flex>
		<div arb-read-mode-panel></div>
	</div>
	<div flex>
		<div arb-discussion-mode-panel num-to-display="5"></div>
		<div arb-continue-writing-mode-panel num-to-display="5"></div>
	</div>
</md-content>

