<div ng-class="::{'touch-device': arb.isTouchDevice}"
		md-swipe-left="onSwipe()"
		md-swipe-right="onSwipe()">
	<div class="popover-close-note md-caption" ng-if="arb.isTouchDevice">Swipe to close</div>

	<!-- Loading spinner -->
	<div layout="column"
			layout-align="center center"
			ng-if="!isLoaded">
		<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	</div>

	<!-- Lens tabs -->
	<md-tabs class="md-primary md-hue-2"
			ng-class="::{'hide-tabs': summaries.length <= 1}"
			md-dynamic-height
			ng-if="::isLoaded">
		<md-tab ng-repeat="summary in ::summaries" label="{{::summary.name}}">
			<md-tab-body>
				<div layout="column">
					<md-content class="prevent-scroll-leak popover-tab-body" layout-padding>
						<!-- Title row -->
						<div class="popover-title" layout="row" layout-align="start center">
							<div layout="row" layout-align="start end" flex>
								<!-- Title -->
								<arb-page-title page-id="{{::pageId}}"
										custom-page-title="{{::page.isComment() ? 'Comment': undefined}}"
										is-link="true"
										class="ignore-popover" 
										ng-if="::page"></arb-page-title>
								<a ng-href="{{page.externalUrl}}" class="md-caption" ng-if="page.isLinkPage()">
									&nbsp;({{::page.externalUrl | urlDomain}})
								</a>
							</div>

							<!-- Likes and comment count -->
							<div layout="row" layout-align="start center">
								<arb-likes class="s16" object-id="{{::pageId}}" is-not-square="true"></arb-likes>
								<arb-comment-count page-id="{{::pageId}}"></arb-comment-count>
							</div>
						</div>

						<!-- Vote bar -->
						<div arb-vote-bar class="white-background md-padding"
								page-id="{{::pageId}}"
								is-embedded="true"
								ng-if="::(page.hasVote && isLoaded)"></div>

						<!-- Summary content -->
						<div arb-markdown
								class="popover-text-container"
								page-id="{{::pageId}}"
								summary-name="{{::summary.name}}"></div>

						<!-- Number of characters -->
						<div class="md-caption">{{::page.textLength | numSuffix}} characters on the full page</div>
					</md-content>
				</div>
			</md-tab-body>
		</md-tab>
	</md-tabs>
</div>
