<div class="intrasite-popover">
	<div class="top-triangle-track" ng-show="::direction === 'down'">
		<div class="triangle-up" ng-style="::getArrowStyle()"></div>
	</div>
	<div class="popover-body md-whiteframe-8dp">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<arb-page-title page-id="{{page.pageId}}" ng-if="page"></arb-page-title> 
				<span ng-if="!page">Not found</span> 
			</div>
		</md-toolbar>
	
		<arb-vote-bar page-id="{{page.pageId}}"
				is-embedded="true"
				ng-if="page.hasVote && isLoaded()"></arb-vote-bar> 
		
		<!-- Lens tabs -->
		<md-tabs class="md-primary md-hue-2"
				ng-class="{'hide-tabs': summaries.length <= 1}"
				md-dynamic-height
				ng-if="isLoaded()">
			<md-tab ng-repeat="summary in summaries" label="{{summary.name}}">
				<md-tab-body>
					<div class="popover-tab-body" layout="column">
						<md-content layout="column" layout-padding>
							<arb-markdown class="popover-text-container"
									page-id="{{pageId}}"
									summary-name="{{summary.name}}"></arb-markdown>
						</md-content>
					</div>
				</md-tab-body>
			</md-tab>
		</md-tabs>
	
		<!-- Footer -->
		<div class="comment-footer" layout="row" layout-align="start center" ng-if="isLoaded()">
			<arb-likes page-id="{{pageId}}" is-button="true" is-stretched="true"></arb-likes>
			<arb-subscribe page-id="{{pageId}}"></arb-subscribe>
			<div flex></div>
			<div layout="row" layout-align="start center" ng-show="page.commentCount">
				<span class="separator"></span>
				<md-icon>comment</md-icon>
				<span ng-bind="page.commentCount"></span>
			</div>
			<div layout="row" layout-align="start center" ng-show="page.type === 'question'">
				<span class="separator"></span>
				<md-icon>font_download</md-icon>
				<span ng-bind="page.answerCount"></span>
			</div>
			<div class="md-caption" ng-show="page.type !== 'question'">
				<span class="separator"></span>
				{{page.textLength}} characters
			</div>
		</div>
		
		<!-- Loading spinner -->
		<div layout="column"
				layout-align="center center"
				ng-if="!isLoaded()">
			<md-progress-circular md-mode="indeterminate"></md-progress-circular>
		</div>
	</div>
	<div class="bottom-triangle-track" ng-show="::direction === 'up'">
		<div class="triangle-down" ng-style="::getArrowStyle()"></div>
	</div>
</div>
