<div class="intrasite-popover md-whiteframe-8dp" layout="column">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<arb-page-title page-id="{{page.pageId}}"></arb-page-title> 
		</div>
	</md-toolbar>

	<arb-vote-bar page-id="{{page.pageId}}" ng-if="page.hasVote && isLoaded(page.pageId)"></arb-vote-bar> 
	
	<!-- Lens tabs -->
	<md-tabs ng-class="{'hide-tabs': page.lensIds.length <= 1}"
			md-dynamic-height>
		<md-tab ng-repeat="lensId in page.lensIds"
				md-on-select="tabSelect(lensId)">
			<md-tab-label>
				<arb-page-title page-id="{{lensId}}"
						custom-page-title="lensId === page.pageId ? 'Primary' : ''"></arb-page-title>
				<md-icon>done</md-icon>
			</md-tab-label>
			<md-tab-body>
				<div class="popover-tab-body" layout="column">
					<!-- Lens body -->
					<div layout="column" ng-if="isLoaded(lensId)">
						<md-content layout="column" layout-padding>
							<arb-markdown class="popover-text-container"
									page-id="{{lensId}}"
									use-summary="true"
									></arb-markdown>
						</md-content>
	
						<!-- Footer -->
						<div class="comment-footer" layout="row" layout-align="start center" ng-if="isLoaded(lensId)">
							<arb-likes page-id="{{lensId}}" is-button="true"></arb-likes>
							<arb-subscribe page-id="{{lensId}}" ng-hide="parentSubpageId"></arb-subscribe>
							<div layout="row" layout-align="start center" ng-show="page.commentCount">
								<md-icon>comment</md-icon>
								<span ng-bind="page.commentCount"></span>
							</div>
							<div flex></div>
							<div class="md-caption" ng-show="page.type !== 'question'">
								{{page.textLength}} characters
							</div>
							<div layout="row" layout-align="start center" ng-show="page.type === 'question'">
								<md-icon>font_download</md-icon>
								<span ng-bind="page.answerCount"></span>
							</div>
						</div>
					</div>
	
					<!-- Loading spinner -->
					<div layout="column"
							layout-align="center center"
							layout-fill
							ng-if="!isLoaded(lensId)">
						<md-progress-circular md-mode="indeterminate"></md-progress-circular>
					</div>
				</div>
			</md-tab-body>
		</md-tab>
	</md-tabs>
</div>
