<div>
	<span arb-requisite-button requisite-id="{{::requirement.pageId}}"></span>
</div>
<div ng-if="!arb.masteryService.hasMastery(requirement.pageId)">
	<div class="which-part" ng-if="::tutor">
		You can learn it from
		<arb-page-title page-id="{{requirement.bestTutorId}}" is-link="true"></arb-page-title>
		(<span ng-bind="arb.pageService.pageMap[requirement.bestTutorId].textLength | numSuffix"></span> characters)
		<md-menu>
			<md-button ng-click="$mdOpenMenu($event)" class="small-button md-icon-button" aria-label="Change tutor">
				<md-icon>call_split</md-icon>
			</md-button>
			<md-menu-content>
				<md-menu-item ng-repeat="tutorId in ::requirement.tutorIds">
					<md-button ng-click="changeTutor(requirement.pageId, tutorId)" aria-label="Change tutor">
						<md-icon ng-if="tutorId === requirement.bestTutorId">done</md-icon>
						<span ng-bind="::arb.pageService.pageMap[tutorId].title"></span>
						<span ng-bind="::'(' + tutorMap[tutorId].cost + ')'"><span>
					</md-button>
				</md-menu-item>
			</md-menu-content>
		</md-menu>
		<span class="comma" ng-if="tutor.requirementIds.length > 0">
			, which depends on:
		</span>
	</div>
	<div class="which-part" ng-if="::!tutor">
		<span class="md-warn">Unfortunately, Arbital doesn't yet have a page that teaches this.</span>
	</div>
	<div class="learn-requirements" ng-if="::tutor">
		<div arb-learn-part ng-repeat="pageId in tutor.requirementIds"></div>
	</div>
</div>
