<div layout="column" class="capped-body-width">
	<div class="md-whiteframe-1dp" layout="column">
		<md-toolbar class="md-hue-2">
			<div class="md-toolbar-tools">
				<md-icon>book</md-icon>
				&nbsp;Learning list
				<div flex></div>
				<!-- Menu with all the other stuff -->
				<md-menu>
					<!-- Trigger element is a md-button with an icon -->
					<md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Options">
						<md-icon>more_vert</md-icon>
					</md-button>
					<md-menu-content>
						<!-- Toggle tree view -->
						<md-menu-item>
							<md-button ng-click="toggleView()">
								Toggle tree view
							</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
			</div>
		</md-toolbar>

		<!-- Tree view -->
		<div layout-padding ng-if="showTreeView">
			<div>
				This is the requisite tree Arbital generated for learning
				<span ng-repeat="(index,pageId) in pageIds">
					<span class="comma" ng-if="::index > 0 && index != pageIds.length - 1">,</span>
					<span ng-if="::index > 0 && index == pageIds.length - 1">and</span>
					<arb-page-title page-id="{{::pageId}}" is-link="true"></arb-page-title>
				</span>
				:
			</div>
			<div class="root-learn-part" arb-learn-part ng-repeat="pageId in pageIds"></div>
		</div>

		<!-- List view -->
		<div layout-padding ng-if="!showTreeView && readIds.length > 0">
			<div>
				To learn about
				<span ng-repeat="(index,pageId) in pageIds">
					<span class="comma" ng-if="::index > 0 && index != pageIds.length - 1">,</span>
					<span ng-if="::index > 0 && index == pageIds.length - 1">and</span>
					<arb-page-title page-id="{{::pageId}}" is-link="true"></arb-page-title>
				</span>
				<span class="comma">
					, Arbital dynamically generated this list based on your <a href="/requisites/">requisites</a>:
				</span>
			</div>
			<div class="learn-list">
				<div layout="row"
						layout-align="start center"
						layout-xs="column"
						layout-align-xs="start start"
						ng-repeat="(index,pageId) in ::readIds">
					<span>
						<span>{{index + 1}})&nbsp;</span>
						<arb-page-title page-id="{{::pageId}}"
								is-link="true"
								show-clickbait="true"
								custom-link="{{::getListUrl(pageId)}}"></arb-page-title>
					</span>
					<span flex></span>
					<span class="nowrap md-caption">
						&nbsp;(<span ng-bind="::(pageService.pageMap[pageId].textLength | numSuffix)"></span> characters)
					</span>
				</div>
			</div>
		</div>

		<!-- Start reading and stuff -->
		<div layout-padding>
			<div layout="column" ng-if="readIds.length > 0">
				<md-button class="special md-raised" ng-click="startReading()">
					<span ng-bind="::continueLearning ? 'Continue learning' : 'Begin learning'"></span>
					<md-icon>chevron_right</md-icon>
				</md-button>
			</div>
			<div ng-if="readIds.length <= 0">
				Looks like you are done.
			</div>
		</div>

		<!-- Show a warning if there are requisites the user can't learn. -->
		<div layout-padding ng-if="!showTreeView && readIds.length > 0">
			<div ng-if="hasUnlearnableIds">
				<md-icon class="md-warn">
					warning
				</md-icon>
				<span class="md-warn">
					Some of the pages in the generated list have requirements that Arbital can't yet teach:
				</span>
			</div>
			<ul class="unlearnable-list">
				<li ng-repeat="(pageId,idsList) in unlearnableIds">
					<arb-page-title page-id="{{::pageId}}"
							is-link="true"
							show-clickbait="true"></arb-page-title>
					<span ng-if="::idsList.length > 0">It's required by:</span>
					<span ng-repeat="(index, byPageId) in idsList">
						<span class="comma" ng-show="::(index > 0)">,</span>
						<arb-page-title page-id="{{::byPageId}}" is-link="true"></arb-page-title>
					</span>
				</div>
			</div>
		</div>

	</div>
</div>
