<!-- Learn more section for some page -->
<a id="learnMore"></a>
<div layout="column" ng-if="::hasLearnMore()">
	<md-toolbar class="md-hue-2">
		<div class="md-toolbar-tools">
			<h1>Learn more</h1>
		</div>
	</md-toolbar>

	<div class="dynamic-hor-padding">
		<br>

		<!-- Taught -->
		<div ng-repeat="(subjectId,pageIds) in page.learnMoreTaughtMap">
			This page is marked as teaching
			<arb-page-title page-id="{{::subjectId}}" is-link="true"></arb-page-title>
			<span class="comma">.</span>
			Read a page that expands on that concept:
			<ul class="no-top-margin">
				<li ng-repeat="pageId in pageIds">
					<arb-page-title page-id="{{::pageId}}" is-link="true"></arb-page-title>
				</li>
			</ul>
		</div>

		<!-- Required -->
		<div ng-repeat="(subjectId,pageIds) in page.learnMoreRequiredMap">
			This page is marked as teaching
			<arb-page-title page-id="{{::subjectId}}" is-link="true"></arb-page-title>
			<span class="comma">.<span>
			Read a page that relies on that concept:
			<ul class="no-top-margin">
				<li ng-repeat="pageId in pageIds">
					<arb-page-title page-id="{{::pageId}}" is-link="true"></arb-page-title>
				</li>
			</ul>
		</div>

		<!-- Covered -->
		<div ng-repeat="(subjectId,pageIds) in page.learnMoreCoveredMap">
			This page is marked as covering
			<arb-page-title page-id="{{::subjectId}}" is-link="true"></arb-page-title>
			<span class="comma">.<span>
			Read a page that expands on that concept:
			<ul class="no-top-margin">
				<li ng-repeat="pageId in pageIds">
					<arb-page-title page-id="{{::pageId}}" is-link="true"></arb-page-title>
				</li>
			</ul>
		</div>

		<br>
	</div>
</div>
