<!-- Learn more section for some page -->
<a id="learnMore"></a>
<div layout="column" ng-if="::hasLearnMore()">
	<md-toolbar class="md-hue-2">
		<div class="md-toolbar-tools">
			<h1>Learn more</h1>
		</div>
	</md-toolbar>

	<md-list class="full-height">
		<md-list-item ng-repeat="(suggestionId,reasons) in suggestedPageIds" class="panel-list-item">
			<div layout="row" layout-xs="column" layout-align="start start" flex>
				<arb-page-row page-id="{{::suggestionId}}" flex></arb-page-row>
				<div class="md-caption">
					<div ng-if="reasons.teaches.length > 0">Teaches: {{reasons.teaches}}</div>
					<div ng-if="reasons.reliesOn.length > 0">Relies on: {{reasons.reliesOn}}</div>
					<div ng-if="reasons.expandsOn > 0">Expands on: {{reasons.expandsOn}}</div>
				</div>
			</div>
			<md-divider ng-if="::!$last"></md-divider>
		</md-list-item>
	</md-list>
</div>
