<!-- Lens menu -->
<div class="lens-menu"
		layout="row"
		layout-align="start center"
		layout-padding>
	<!-- Like -->
	<arb-likes class="no-right-margin"
			object-id="{{selectedLens.pageId}}"
			likeable="selectedLens"
			is-stretched="!isTinyScreen"
			is-button="true"></arb-likes>

	<!-- Subscribe -->
	<arb-subscribe page-id="{{selectedLens.pageId}}"
			is-stretched="::!isTinyScreen"></arb-subscribe>

	<!-- Edit -->
	<div layout="column" layout-align="start center">
		<md-button ng-href="{{arb.urlService.getEditPageUrl(selectedLens.pageId)}}"
				ng-class="::{'md-icon-button': isTinyScreen}"
				arb-user-check="cool">
			<md-icon>create</md-icon>
			<span ng-if="::!isTinyScreen">Edit</span>
			<md-tooltip md-delay="500" ng-if="!selectedLens.permissions.edit.has && arb.userService.userIsLoggedIn()">
				{{selectedLens.cantEditMessage}}
			</md-tooltip>
		</md-button>
		<span class="accent-dot" ng-if="(selectedLens.hasDraft && isTinyScreen)">
			<md-tooltip md-delay="500">
				You have an unpublished draft
			</md-tooltip>
		</span>
		<span class="md-accent md-caption" ng-if="selectedLens.hasDraft">
			Unpublished draft
		</span>
	</div>

	<!-- Link -->
	<div>
		<md-button ng-href="{{::(arb.urlService.getPageUrl(arb.stateService.primaryPage.pageId) + '#page-' + page.pageId)}}"
				ng-if="::(page.type == 'answer')">
			<md-icon>link</md-icon>
			<span ng-if="::!isTinyScreen">Link</span>
		</md-button>
	</div>

	<div flex></div>

	<!-- Menu with all the other stuff -->
	<!-- TODO(alexei): figure out a better way than hardcoding these numbers -->
	<md-menu md-offset="0 -100">
		<!-- Trigger element is a md-button with an icon -->
		<md-button ng-click="$mdOpenMenu($event)" class="md-icon-button icon-last" aria-label="More page actions">
			<md-icon>more_vert</md-icon>
		</md-button>
		<md-menu-content>

			<!-- Permalink -->
			<md-menu-item>
				<md-button ng-href="{{arb.urlService.getPageUrl(selectedLens.pageId, {permalink: true})}}">
					Permalink
				</md-button>
			</md-menu-item>

			<!-- Toggle subscription as maintainer -->
			<md-menu-item>
				<md-button ng-click="toggleMaintainerSub()"
						aria-label="Toggle subscribe as maintainer"
						arb-user-check="cool">
					{{selectedLens.isSubscribedAsMaintainer ? 'Unsubscribe' : 'Subscribe'}} as maintainer
					<md-tooltip md-delay="500">
						Get updates for edits and marks on this page
					</md-tooltip>
				</md-button>
			</md-menu-item>

			<!-- Show requirements -->
			<md-menu-item ng-if="!showRequirementsPanel">
				<md-button ng-click="showRequisites()">
					Show page's requisites
				</md-button>
			</md-menu-item>

			<!-- Show unresolved marks -->
			<!--<md-menu-item ng-if="!loadedMarks && arb.userService.userIsLoggedIn()">
				<md-button ng-click="loadMarks()">
					Show all marks
				</md-button>
			</md-menu-item>-->
		</md-menu-content>
	</md-menu>
</div>
