<div layout="column">
	<!-- Requirements -->
	<arb-relationships class="reveal-after-render"
			page-id="{{page.pageId}}"
			type="requirement"
			is-lens-requirements="true"></arb-relationships>

	<!-- Page's text. Populated by markdown. -->
	<arb-markdown class="md-whiteframe-1dp lens-text"
			page-id="{{page.pageId}}"
			ng-hide="showingDiff"></arb-markdown>
	<div class="md-whiteframe-1dp" ng-if="showingDiff">
		<div class="diff-section" ng-bind-html="diffHtml"></div>
	</div>

	<!-- Inline comments container (but the buttons are positioned absolutely) -->
	<div class="inline-comments-div">
		<md-button class="inline-comment-icon md-icon-button"
				ng-style="getNewInlineCommentButtonStyle()"
				ng-click="newInlineComment()"
				ng-show="showNewInlineCommentButton">
			<md-icon md-svg-icon="comment_plus_outline"></md-icon>
		</md-button>
		<div class="inline-comment-icon"
				ng-style="getInlineCommentIconStyle(commentId)"
				ng-mouseenter="inlineCommentIconMouseover(commentId, true)"
				ng-mouseleave="inlineCommentIconMouseover(commentId, false)"
				ng-repeat="(commentId,comment) in inlineComments">
			<md-button class="md-icon-button"
					ng-class="{'md-primary': isInlineCommentIconSelected(commentId)}"
					ng-click="toggleInlineComment(commentId)">
				<md-icon>comment</md-icon>
				<span ng-bind="'+' + comment.likeScore()" ng-show="comment.likeScore() > 0"></span>
			</md-button>
		</div>
	</div>

	<!-- Mastery container -->
	<md-button class="md-primary md-raised" ng-click="toggleMastery()">
		<span ng-show="mastery.has">
			<span ng-show="mastery.isManuallySet">You marked this requirement as fulfilled</span>
			<span ng-hide="mastery.isManuallySet">This requirement is fulfilled</span>
			<md-icon>done</md-icon>
		</span>
		<span ng-hide="mastery.has">
			<span ng-show="mastery.isManuallySet">You marked this requirement unfulfilled</span>
			<span ng-hide="mastery.isManuallySet">Click to fulfill the requirement</span>
		</span>
	</md-button>

	<arb-discussion class="reveal-after-render" page-id="{{page.pageId}}"></arb-discussion>
</div>
