<div layout="column">
	<div ng-include="'static/html/lensToolbar.html'"></div>

	<!-- Requirements -->
	<div class="requirements-container"
			ng-if="!isSimpleEmbed && showRequirementsPanel">
		<div>
			<span class="md-subhead" ng-class="{'md-accent': !meetsAllRequirements()}">
				<md-icon>assignment</md-icon>
				This lens relies on:
			</span>
			<span arb-mastery-list ids-source="::page.requirementIds" is-span="true"></span>

			<div>
				<!-- Mark as done button -->
				<md-button class="md-primary"
						ng-click="toggleRequirements()"
						ng-if="::(page.requirementIds.length > 1)">
					<md-icon ng-if="meetsAllRequirements()">clear</md-icon>
					<md-icon ng-if="!meetsAllRequirements()">done_all</md-icon>
					<span ng-bind="meetsAllRequirements() ? 'Nevermind, I don\'t know these' : 'I already know these'"></span>
				</md-button>
			</div>
		</div>

		<!-- Lens suggestion -->
		<div class="lens-suggestion">
			<div ng-if="::simplerLens">
				If you have trouble understanding this lens, try a simpler one:
				<a ng-href="{{::pageService.getPageUrl(simplerLens.pageId)}}"
						ng-bind="::('&quot;' + simplerLens.lensTitle() + '&quot;')"></a>.
				<!--<span ng-if="simplerLens.requirementIds.length <= 0">with no requisites.</span>
				<span ng-if="simplerLens.requirementIds.length > 0 && meetsAllRequirements(simplerLens.pageId)">
					that relies on requisites you already have.
				</span>
				<span ng-if="simplerLens.requirementIds.length > 0 && !meetsAllRequirements(simplerLens.pageId)">
					that relies on:
					<span ng-repeat="(index, reqId) in ::simplerLens.requirementIds">
						<span ng-if="::(index > 0)">,</span>
						<arb-page-title page-id="{{::reqId}}" is-link="true"></arb-page-title>
					</span>
				</span>-->
			</div>
		</div>
	</div>

	<!-- Page's text. Populated by markdown. -->
	<div class="lens-text-container">
		<!-- Owner -->
		<div class="author-list md-caption page-list-span" ng-if="::(page.editGroupId !== '' && !isSimpleEmbed)">
			Owner: <arb-page-title page-id="{{::page.editGroupId}}" is-link="true"></arb-page-title>
		</div>

		<arb-markdown class="lens-text"
				page-id="{{::page.pageId}}"
				ng-if="!showingDiff"></arb-markdown>
		<div ng-if="showingDiff">
			<div class="diff-section" ng-bind-html="diffHtml"></div>
		</div>

		<!-- Contributors -->
		<div class="author-list md-caption page-list-span"
				ng-if="::(page.creatorIds.length > 0 && !isSimpleEmbed &&
					!(page.editGroupId === page.creatorIds[0] && page.creatorIds.length == 1))">
			<br>
			<ng-pluralize count="::page.creatorIds.length"
					when="{'one': 'Contributor:', 'other': 'Contributors:'}"></ng-pluralize>
			<span ng-repeat="(index, creatorId) in ::page.creatorIds">
				<span ng-if="::(index > 0)">,</span>
				<arb-user-name ng-class="::{bold: creatorId === page.originalCreatedBy}"
						user-id="{{::creatorId}}"></arb-user-name>
			</span>
		</div>

		<!-- Subjects taught -->
		<div ng-if="::(!isSimpleEmbed && subjectIds.length > 0)">
			<hr>

			<span class="md-subhead">
				<md-icon>assignment</md-icon>
				Did you learn these concepts from "{{::page.title}}"?
			</span>
			<div arb-mastery-list ids-source="::subjectIds" hide-checkboxes="!showSubjectCheckboxes"></div>

			<!-- Mark as done button -->
			<md-button class="special md-raised"
					ng-click="toggleSubjects()">
				<span ng-bind="knowsAllSubjects() ? 'Nevermind, none of them' : 'Yes, all of them'"></span>
			</md-button>
			<md-button class="special"
					ng-click="showSubjectCheckboxes = !showSubjectCheckboxes"
					ng-if="!showSubjectCheckboxes">
				Only some of them
			</md-button>
		</div>
	</div>

	<div class="bottom-next-prev">
		<div arb-next-prev page-id="{{::lensParentId}}" extra-info="true" class="float-right"></div>
	</div>

	<div ng-include="'static/html/lensToolbar.html'" ng-if="::(page.textLength > 1000)"></div>

	<!-- Inline comments container (but the buttons are positioned absolutely) -->
	<div class="inline-comments-div" ng-if="lensIsVisible && !isSimpleEmbed">
		<md-button aria-label="New inline comments"
				class="inline-comment-icon md-icon-button md-accent md-raised"
				ng-style="getNewInlineCommentButtonStyle()"
				ng-click="newInlineComment()"
				arb-user-check="cool"
				ng-if="showNewInlineCommentButton">
			<md-tooltip>New inline comment (ALT+CTRL+M)</md-tooltip>
			<md-icon md-svg-icon="comment_plus_outline"></md-icon>
		</md-button>
		<div class="inline-comment-icon"
				ng-style="getInlineCommentIconStyle(commentId)"
				ng-mouseenter="inlineCommentIconMouseover(commentId, true)"
				ng-mouseleave="inlineCommentIconMouseover(commentId, false)"
				ng-repeat="(commentId,comment) in inlineComments">
			<md-button class="md-icon-button md-raised"
					ng-class="{'md-primary': isInlineCommentIconSelected(commentId)}"
					ng-click="toggleInlineComment(commentId)">
				<md-icon>comment</md-icon>
				<span ng-bind="'+' + comment.likeScore()" ng-if="comment.likeScore() > 0"></span>
			</md-button>
		</div>
	</div>
</div>
