<!-- Lens menu -->
<div class="lens-menu md-primary md-hue-1"
		layout="row"
		layout-align="space-around start"
		ng-if="!isSimpleEmbed">
	<!-- Like -->
	<div layout="column" layout-align="start center">
		<arb-likes class="no-right-margin"
				page-id="{{page.pageId}}"
				is-stretched="true"
				is-button="true"></arb-likes>
		<span class="md-caption" ng-bind="'Seen by ' + page.viewCount" ng-if="!isTinyScreen"></span>
	</div>
	
	<!-- Subscribe -->
	<arb-subscribe page-id="{{page.pageId}}"
			is-stretched="!isTinyScreen"
			show-subscriber-count="!isTinyScreen"></arb-subscribe>
	
	<!-- Edit -->
	<div layout="column" layout-align="start center">
		<md-button ng-href="{{pageService.getEditPageUrl(page.pageId)}}"
				ng-class="{'md-icon-button': isTinyScreen}"
				arb-user-check="cool">
			<md-icon>create</md-icon>
			<span ng-hide="isTinyScreen">Edit</span>
		</md-button>
		<span class="md-accent md-caption" ng-if="page.hasDraft">
			Unpublished draft
		</span>
	</div>
	
	<!-- Link -->
	<md-button ng-href="{{pageService.getPageUrl(pageService.primaryPage.pageId) + '#page-' + page.pageId}}"
			ng-show="page.type == 'answer'">
		<md-icon>link</md-icon>
		<span ng-hide="isTinyScreen">Link</span>
	</md-button>
	
	<!-- Show diff -->
	<md-button ng-class="{'md-icon-button': isTinyScreen}"
			arb-user-check="cool"
			ng-click="toggleDiff()">
		<md-icon>compare_arrows</md-icon>
		<span ng-hide="showingDiff || isTinyScreen">Show diff</span>
		<span ng-show="showingDiff && !isTinyScreen">Hide diff</span>
		<span class="accent-dot" ng-show="page.isUpdatedPage()"></span>
		<md-tooltip md-delay="500" ng-if="page.isUpdatedPage()">
			This page has been updated since the last time you saw it
		</md-tooltip>
	</md-button>
	
	<!-- Prev/Next -->
	<div layout="row"
			layout-align="start center"
			ng-if="lensParentPage && (lensParentPage.nextPageId !== '' || lensParentPage.prevPageId !== '')">
		<md-button ng-href="{{pageService.getPageUrl(lensParentPage.prevPageId) +
					'?sequence=' + lensParentPage.sequenceUrl}}"
				ng-disabled="lensParentPage.prevPageId === ''">
			<md-tooltip md-delay="500" ng-show="lensParentPage.prevPageId === ''">No previous page</md-tooltip>
			<md-icon>chevron_left</md-icon>
			<span>Prev</span>
		</md-button>
		<md-button class="md-icon-button"
				ng-href="/s/{{lensParentPage.sequenceId}}"
				ng-if="lensParentPage.sequenceId">
			<md-tooltip md-delay="500">Current sequence</md-tooltip>
			<md-icon>book</md-icon>
		</md-button>
		<md-button ng-href="{{pageService.getPageUrl(lensParentPage.nextPageId) +
					'?sequence=' + lensParentPage.sequenceUrl}}"
				ng-disabled="lensParentPage.nextPageId === ''"
				ng-if="lensParentPage.nextPageId !== '' || !lensParentPage.sequenceUrl">
			<md-tooltip md-delay="500" ng-show="lensParentPage.nextPageId === ''">No next page</md-tooltip>
			<span>Next</span>
			<md-icon>chevron_right</md-icon>
		</md-button>
		<span class="md-primary md-body-2" ng-if="lensParentPage.nextPageId === '' && lensParentPage.sequenceUrl">
			DONE!
		</span>
	</div>
</div>
