<!-- Lens menu -->
<div ng-class="{
				'md-whiteframe-6dp': floating
			}"
		layout="row"
		layout-align="start center"
		layout-padding>

	<!-- Tags -->
	<span ng-if="page.taggedAsIds.length > 0">
		<arb-tag ng-repeat="tag in page.taggedAsIds" tag-id="{{tag}}"></arb-tag>
	</span>

	<!-- Parents -->
	<div class="page-list-span"
			ng-if="page.parentIds.length > 0">
		<span>Parents:</span>
		<span ng-repeat="(index, parentId) in page.parentIds">
			<span class="comma" ng-if="index > 0">,</span>
			<arb-page-title page-id="{{::parentId}}" is-link="true"></arb-page-title>
		</span>
	</div>

	<div flex></div>

	<!-- Like -->
	<arb-likes class="no-right-margin"
			likeable-type="page"
			likeable-id="{{::pageId}}"
			is-stretched="true"
			is-button="true"></arb-likes>

	<!-- Subscribe -->
	<arb-subscribe page-id="{{::pageId}}"
			is-stretched="::!isTinyScreen"></arb-subscribe>

	<!-- Edit -->
	<div layout="column" layout-align="start center">
		<md-button ng-href="{{::arb.urlService.getEditPageUrl(pageId)}}"
				ng-class="::{'md-icon-button': isTinyScreen}"
				arb-user-check="cool">
			<md-icon>create</md-icon>
			<span ng-if="::!isTinyScreen">Edit</span>
			<md-tooltip md-delay="500" ng-if="::!page.permissions.edit.has && arb.userService.userIsLoggedIn()">
				{{::page.cantEditMessage}}
			</md-tooltip>
		</md-button>
		<span class="accent-dot" ng-if="::(page.hasDraft && isTinyScreen)">
			<md-tooltip md-delay="500">
				You have an unpublished draft
			</md-tooltip>
		</span>
		<span class="md-accent md-caption" ng-if="::page.hasDraft">
			Unpublished draft
		</span>
	</div>

	<!-- Link -->
	<div>
		<md-button ng-href="{{::(arb.urlService.getPageUrl(arb.stateService.primaryPage.pageId) + '#page-' + page.pageId)}}"
				ng-if="::(page.type == 'answer')">
			<md-icon>link</md-icon>
			<span ng-if="::!isTinyScreen">Link</span>
		</md-button>
	</div>

	<!-- Menu with all the other stuff -->
	<md-menu>
		<!-- Trigger element is a md-button with an icon -->
		<md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="More page actions">
			<md-icon>more_vert</md-icon>
			<span class="primary-dot" ng-if="::page.isUpdatedPage()">
				<md-tooltip md-delay="500">
					This page has been updated since the last time you saw it
				</md-tooltip>
			</span>
		</md-button>
		<md-menu-content>

			<!-- Permalink -->
			<md-menu-item>
				<md-button ng-href="{{arb.urlService.getPageUrl(page.pageId, {permalink: true})}}">
					Permalink
				</md-button>
			</md-menu-item>

			<!-- Toggle subscription as maintainer -->
			<md-menu-item>
				<md-button ng-click="toggleMaintainerSub()"
						aria-label="Toggle subscribe as maintainer"
						arb-user-check="cool">
					{{page.isSubscribedAsMaintainer ? 'Unsubscribe' : 'Subscribe'}} as maintainer
					<md-tooltip md-delay="500">
						Get updates for edits and marks on this page
					</md-tooltip>
				</md-button>
			</md-menu-item>

			<!-- Show diff -->
			<md-menu-item>
				<md-button arb-user-check="cool" ng-click="toggleDiff()" aria-label="Toggle diff">
					<span ng-bind="showingDiff ? 'Hide changes' : 'View changes'"></span>
					<span class="primary-dot" ng-if="::page.isUpdatedPage()">
						<md-tooltip md-delay="500">
							This page has been updated since the last time you saw it
						</md-tooltip>
					</span>
				</md-button>
			</md-menu-item>

			<!-- Show requirements -->
			<md-menu-item ng-if="!showRequirementsPanel">
				<md-button ng-click="showRequisites()">
					Show page's requisites
				</md-button>
			</md-menu-item>

			<!-- Show unresolved marks -->
			<md-menu-item ng-if="!loadedMarks && arb.userService.userIsLoggedIn()">
				<md-button ng-click="loadMarks()">
					Show all marks
				</md-button>
			</md-menu-item>

			<!-- Requisite value -->
			<md-menu-item>
				<span>
					<span arb-requisite-button
							requisite-id="{{::page.pageId}}"
							prevent-menu-close="true"
							hide-title="true">
					</span>
					This requisite
				</span>
			</md-menu-item>

		</md-menu-content>
	</md-menu>
</div>
