<md-button ng-class="::{'short-button': !isStretched, 'plus-one-button': isPlusOne}"
		ng-click="arb.signupService.processLikeClick(likeable, objectId)"
		aria-label="Like"
		ng-if="::isButton">
	<md-icon class="like-icon on"
			ng-if="!isPlusOne && likeable.myLikeValue > 0">thumb_up</md-icon>
	<md-icon class="like-icon"
			md-svg-icon="thumb_up_outline"
			ng-if="!isPlusOne && likeable.myLikeValue <= 0"></md-icon>
	<span class="like-count" ng-if="likeable.myLikeValue == 0">
		<span ng-if="isPlusOne && (likeable.likeCount + likeable.myLikeValue) >= 0">+</span>{{likeable.likeCount + likeable.myLikeValue}}
	</span>
	<span class="like-count" ng-if="likeable.myLikeValue == 1">
		<b>
			<span ng-if="isPlusOne && (likeable.likeCount + likeable.myLikeValue) >= 0">+</span>{{likeable.likeCount + likeable.myLikeValue}}
		</b>
	</span>
	<md-tooltip class="unlimited"
			md-direction="top"
			ng-if="likeable.individualLikes.length > 0 && !arb.isTouchDevice">
		<span ng-repeat="userId in likeable.individualLikes">{{arb.userService.getFullName(userId) + '\n'}}</span>
	</md-tooltip>
</md-button>
<span class="icon-likes" layout="row" layout="center end" ng-if="::!isButton">
	<md-icon class="like-icon on" ng-if="likeable.myLikeValue > 0">thumb_up</md-icon>
	<md-icon class="like-icon off" md-svg-icon="thumb_up_outline" ng-if="likeable.myLikeValue <= 0"></md-icon>
	<span class="like-count">{{likeable.likeCount + likeable.myLikeValue}}</span>
</span>
