<div class="panel-triangle-track" ng-if="::!isFullPage">
	<div class="triangle"></div>
</div>
<div class='list-panel'
		ng-class="{'full-page-panel md-whiteframe-1dp': isFullPage,
			'dense-panel white-background': !isFullPage}"
		ng-if="modeRows && modeRows.length != 0">
	<!-- Header -->
	<md-toolbar class="md-hue-2" ng-if="::title && isFullPage">
		<div class="md-toolbar-tools">
			<span ng-bind="::title"></span>
		</div>
	</md-toolbar>

	<!-- List of mode rows -->
	<md-list class="full-height prevent-scroll-leak">
		<md-list-item ng-repeat="(index, modeRow) in modeRows | orderBy:'-activityDate' | limitTo:numToDisplay"
				class="panel-list-item"
				ng-class="{'unseen-update': modeRow.activityDate > lastView}">

			<div ng-switch="::modeRow.rowType" flex>
				<arb-page-row page-id="{{::modeRow.pageId}}"
						show-created-at="true"
						ng-switch-when="page"></arb-page-row>

				<!-- bell updates -->
				<div arb-comment-update-row update="::modeRow.update" ng-switch-when="topLevelComment" on-dismiss="dismissRow(modeRows, index)"></div>
				<div arb-comment-update-row update="::modeRow.update" ng-switch-when="reply" on-dismiss="dismissRow(modeRows, index)"></div>
				<div arb-page-to-domain-update-row update="::modeRow.update" ng-switch-when="pageToDomainSubmission"
					on-dismiss="dismissRow(modeRows, index)"></div>
				<div arb-page-to-domain-update-row update="::modeRow.update" ng-switch-when="pageToDomainAccepted"
					on-dismiss="dismissRow(modeRows, index)"></div>
				<div arb-bell-update-row mode-row="::modeRow" ng-switch-when="atMention" on-dismiss="dismissRow(modeRows, index)"></div>
				<div arb-bell-update-row mode-row="::modeRow" ng-switch-when="newMark" on-dismiss="dismissRow(modeRows, index)"></div>
				<div arb-bell-update-row mode-row="::modeRow" ng-switch-when="resolvedThread" on-dismiss="dismissRow(modeRows, index)"></div>
				<div arb-bell-update-row mode-row="::modeRow" ng-switch-when="resolvedMark" on-dismiss="dismissRow(modeRows, index)"></div>
				<div arb-bell-update-row mode-row="::modeRow" ng-switch-when="answeredMark" on-dismiss="dismissRow(modeRows, index)"></div>

				<!-- achievements -->
				<arb-likes-mode-row mode-row="::modeRow" ng-switch-when="likes"></arb-likes-mode-row>
				<arb-reqs-taught-mode-row mode-row="::modeRow" ng-switch-when="reqsTaught"></arb-reqs-taught-mode-row>
				<arb-added-to-group-mode-row mode-row="::modeRow" ng-switch-when="addedToGroup"></arb-added-to-group-mode-row>
				<arb-removed-from-group-mode-row mode-row="::modeRow" ng-switch-when="removedFromGroup"></arb-removed-from-group-mode-row>
				<arb-invite-received-mode-row mode-row="::modeRow" ng-switch-when="inviteReceived"></arb-invite-received-mode-row>

				<!-- maintenance updates -->
				<div arb-maintenance-update-row mode-row="::modeRow" ng-switch-when="pageEdit" on-dismiss="dismissRow(modeRows, index)"></div>
				<div arb-maintenance-update-row mode-row="::modeRow" ng-switch-when="newLens" on-dismiss="dismissRow(modeRows, index)"></div>
				<div arb-maintenance-update-row mode-row="::modeRow" ng-switch-when="changeLog" on-dismiss="dismissRow(modeRows, index)"></div>
				<div arb-maintenance-update-row mode-row="::modeRow" ng-switch-when="questionMerged" on-dismiss="dismissRow(modeRows, index)"></div>
				<div arb-maintenance-update-row mode-row="::modeRow" ng-switch-when="questionMergedReverse" on-dismiss="dismissRow(modeRows, index)"></div>

				<div arb-mark-info mark-id="{{::modeRow.markId}}" ng-switch-when="mark"></div>
				<div arb-query-info mark-id="{{::modeRow.markId}}" ng-switch-when="query"></div>
				<arb-comment-mode-row mode-row="::modeRow" ng-switch-when="comment"></arb-comment-mode-row>
				<arb-draft-row mode-row="::modeRow" ng-switch-when="draft"></arb-draft-row>
				<arb-tagged-for-edit-row mode-row="::modeRow" ng-switch-when="taggedForEdit"></arb-tagged-for-edit-row>
			</div>

			<md-divider ng-if="::!$last"></md-divider>
		</md-list-item>
	</md-list>

	<!-- Footer -->
	<div layout="column" ng-if="moreLink && !isFullPage">
		<md-button class="md-primary md-raised md-hue-1" ng-href="{{::moreLink}}">
			See all
			<md-icon>arrow_forward</md-icon>
		</md-button>
	</div>
</div>
