<div class="capped-body-width">
	<form class="md-whiteframe-1dp"
			layout="column"
			layout-margin
			ng-submit="formSubmit($event)">
		<md-toolbar class="md-hue-1" layout-fill>
			<div class="md-toolbar-tools">
				<h3>Log In</h3>
			</div>
		</md-toolbar>
	
		<div layout="column" layout-margin>
			<md-input-container>
				<label>Email</label>
				<input name="email" type="email" ng-model="formData.email" required="true">
			</md-input-container>
			<md-input-container>
				<label>Password</label>
				<input name="password" type="password" ng-model="formData.password" required="true">
				<span class="md-caption">Reminder: at least eight characters long, mixed case, and at least one number.</span>
			</md-input-container>
		</div>
	
		<md-progress-circular md-mode="indeterminate" toggle-on-submit hide></md-progress-circular>
		<div class="submit-form-error md-warn" hidden></div>
		<md-button class="md-primary md-raised" type="submit" toggle-on-submit>Log In</md-button>
	</form>
</div>
