<form layout="column" ng-submit="formSubmit($event)">
	<md-toolbar class="md-hue-1" ng-if="::!isEmbedded">
		<div class="md-toolbar-tools">
			<h3>Log in</h3>
		</div>
	</md-toolbar>

	<!--<div layout="column" layout-margin>
		<div>
			<md-button class="facebook-button" ng-click="loginWithFb()">
				<md-icon md-svg-icon="facebook_box"></md-icon>
				facebook
			</md-button>
			<div class="md-warn" ng-bind="socialError"></div>
		</div>
	</div>

	<md-subheader>
		Or log in with email:
	</md-subheader>-->

	<div layout="column" layout-margin>
		<md-input-container>
			<label>Email</label>
			<input name="email" type="email" ng-model="formData.email" required="true">
		</md-input-container>
		<md-input-container>
			<label>Password</label>
			<input name="password" type="password" ng-model="formData.password" required="true">
			<span class="md-caption">Reminder: at least eight characters long, mixed case, and at least one number.</span>
		</md-input-container>
		<md-progress-circular md-mode="indeterminate" toggle-on-submit hide></md-progress-circular>
		<div class="submit-form-error md-warn" hidden></div>
		<md-button class="md-primary md-raised" type="submit" toggle-on-submit>Log In</md-button>
	</div>
	<div layout="row" layout-align="end start">
		<div>
			<md-button ng-click="forgotPassword()" ng-if="!forgotPasswordSuccess">Forgot password</md-button>
			<span ng-if="forgotPasswordSuccess">An email to reset your password has been sent to {{::formData.email}}</span>
			&nbsp;
		</div>
	</div>
	
  <div layout="column" layout-margin>
		 <i>We have recently moved to a new authentication service, Okta. If you are having trouble logging in, please send a Hangouts message to alexei.andreev@gmail.com.</i>
  </div>
</form>
