<div layout="row">
	<div ng-switch="::type">

		<!-- Changes with links -->

		<span ng-switch-when="newParent">
			New parent: <arb-page-title page-id="{{::relatedPageId}}" is-link="true"></arb-page-title>
		</span>

		<span ng-switch-when="deleteParent">
			Removed parent: <arb-page-title page-id="{{::relatedPageId}}" is-link="true"></arb-page-title>
		</span>

		<span ng-switch-when="newChild">
			New child: <arb-page-title page-id="{{::relatedPageId}}" is-link="true"></arb-page-title>
		</span>

		<span ng-switch-when="deleteChild">
			Removed child: <arb-page-title page-id="{{::relatedPageId}}" is-link="true"></arb-page-title>
		</span>

		<span ng-switch-when="newTag">
			New tag: <arb-page-title page-id="{{::relatedPageId}}" is-link="true"></arb-page-title>
		</span>

		<span ng-switch-when="deleteTag">
			Removed tag: <arb-page-title page-id="{{::relatedPageId}}" is-link="true"></arb-page-title>
		</span>

		<span ng-switch-when="newUsedAsTag">
			Tag for: <arb-page-title page-id="{{::relatedPageId}}" is-link="true"></arb-page-title>
		</span>

		<span ng-switch-when="deleteUsedAsTag">
			Not a tag for: <arb-page-title page-id="{{::relatedPageId}}" is-link="true"></arb-page-title>
		</span>

		<span ng-switch-when="newRequirement">
			New requirement: <arb-page-title page-id="{{::relatedPageId}}" is-link="true"></arb-page-title>
		</span>

		<span ng-switch-when="deleteRequirement">
			Removed requirement: <arb-page-title page-id="{{::relatedPageId}}" is-link="true"></arb-page-title>
		</span>

		<span ng-switch-when="newRequiredBy">
			Required for: <arb-page-title page-id="{{::relatedPageId}}" is-link="true"></arb-page-title>
		</span>

		<span ng-switch-when="deleteRequiredBy">
			Not required for: <arb-page-title page-id="{{::relatedPageId}}" is-link="true"></arb-page-title>
		</span>

		<span ng-switch-when="newSubject">
			Teaches: <arb-page-title page-id="{{::relatedPageId}}" is-link="true"></arb-page-title>
		</span>

		<span ng-switch-when="deleteSubject">
			Doesn't teach: <arb-page-title page-id="{{::relatedPageId}}" is-link="true"></arb-page-title>
		</span>

		<span ng-switch-when="newTeacher">
			Taught by: <arb-page-title page-id="{{::relatedPageId}}" is-link="true"></arb-page-title>
		</span>

		<span ng-switch-when="deleteTeacher">
			Not taught by: <arb-page-title page-id="{{::relatedPageId}}" is-link="true"></arb-page-title>
		</span>


		<!-- Settings changes -->

		<span ng-switch-when="newAlias">
			Changed "alias" from "{{::oldSettingsValue}}" to "{{::newSettingsValue}}"
		</span>

		<span ng-switch-when="newSortChildrenBy">
			Changed "child sort order" from "{{::oldSettingsValue}}" to "{{::newSettingsValue}}"
		</span>

		<span ng-switch-when="setVoteType">
			Changed "vote type" from "{{::oldSettingsValue}}" to "{{::newSettingsValue}}"
		</span>

		<span ng-switch-when="newEditKarmaLock">
			Changed "edit karma lock" from "{{::oldSettingsValue}}" to "{{::newSettingsValue}}"
		</span>

		<span ng-switch-when="newEditGroup">
			Changed "edit group" from
			<!-- old edit group -->
			<span ng-if="::(oldSettingsValue == '')">none</span>
			<span ng-if="::(oldSettingsValue != '')">
				<arb-page-title page-id="{{::oldSettingsValue}}" is-link="true"></arb-page-title>
			</span>
			to
			<!-- new edit group -->
			<span ng-if="::(newSettingsValue == '')">none</span>
			<span ng-if="::(newSettingsValue != '')">
				<arb-page-title page-id="{{::newSettingsValue}}" is-link="true"></arb-page-title>
			</span>
		</span>

		<span ng-switch-when="turnOnVote">
			Show probability bar
		</span>

		<span ng-switch-when="turnOffVote">
			Hide probability bar
		</span>


		<!-- Edits and snapshots -->

		<span ng-switch-when="deletePage">
			Deleted page
		</span>

		<span ng-switch-when="newEdit">
			New edit #{{::edit}}
		</span>

		<span ng-switch-when="revertEdit">
			Reverted to edit #{{::edit}}
		</span>

		<span ng-switch-when="newSnapshot">
			New snapshot (edit #{{::edit}})
		</span>


		<!-- Unknown -->

		<span ng-switch-default>
			Unknown change type: {{::type}}
		</span>

	</div>

	<div flex></div>

	<div>
		<arb-user-name user-id="{{::userId}}"></arb-user-name>

		<span ng-bind="::(createdAt | relativeDateTime)"></span>
	</div>

</div>
