<div layout="row">
	<div ng-switch="::type">

		<!-- Changes with links -->

		<span ng-switch-when="newParent">
			New parent: <arb-page-title page-id="{{::relatedPageId}}" is-link="true"></arb-page-title>
		</span>

		<span ng-switch-when="deleteParent">
			Removed parent: <arb-page-title page-id="{{::relatedPageId}}" is-link="true"></arb-page-title>
		</span>

		<span ng-switch-when="newChild">
			New child: <arb-page-title page-id="{{::relatedPageId}}" is-link="true"></arb-page-title>
		</span>

		<span ng-switch-when="deleteChild">
			Removed child: <arb-page-title page-id="{{::relatedPageId}}" is-link="true"></arb-page-title>
		</span>

		<span ng-switch-when="newTag">
			New tag: <arb-page-title page-id="{{::relatedPageId}}" is-link="true"></arb-page-title>
		</span>

		<span ng-switch-when="deleteTag">
			Removed tag: <arb-page-title page-id="{{::relatedPageId}}" is-link="true"></arb-page-title>
		</span>

		<span ng-switch-when="newUsedAsTag">
			Used as tag for: <arb-page-title page-id="{{::relatedPageId}}" is-link="true"></arb-page-title>
		</span>

		<span ng-switch-when="deleteUsedAsTag">
			Not a tag for: <arb-page-title page-id="{{::relatedPageId}}" is-link="true"></arb-page-title>
		</span>

		<span ng-switch-when="newRequirement">
			New requirement: <arb-page-title page-id="{{::relatedPageId}}" is-link="true"></arb-page-title>
		</span>

		<span ng-switch-when="deleteRequirement">
			Removed requirement: <arb-page-title page-id="{{::relatedPageId}}" is-link="true"></arb-page-title>
		</span>

		<span ng-switch-when="newRequiredBy">
			Required for: <arb-page-title page-id="{{::relatedPageId}}" is-link="true"></arb-page-title>
		</span>

		<span ng-switch-when="deleteRequiredBy">
			Not required for: <arb-page-title page-id="{{::relatedPageId}}" is-link="true"></arb-page-title>
		</span>

		<span ng-switch-when="newSubject">
			Teaches: <arb-page-title page-id="{{::relatedPageId}}" is-link="true"></arb-page-title>
		</span>

		<span ng-switch-when="deleteSubject">
			Doesn't teach: <arb-page-title page-id="{{::relatedPageId}}" is-link="true"></arb-page-title>
		</span>

		<span ng-switch-when="newTeacher">
			Taught by: <arb-page-title page-id="{{::relatedPageId}}" is-link="true"></arb-page-title>
		</span>

		<span ng-switch-when="deleteTeacher">
			Not taught by: <arb-page-title page-id="{{::relatedPageId}}" is-link="true"></arb-page-title>
		</span>

		<span ng-switch-when="searchStringChange">
			<span ng-if="::newSettingsValue">
				Search string added: <span ng-bind="::newSettingsValue"></span>
			</span>
			<span ng-if="::oldSettingsValue">
				Search string removed: <span ng-bind="::oldSettingsValue"></span>
			</span>
		</span>

		<span ng-switch-when="answerChange">
			<span ng-if="::newSettingsValue">
				Answer added: <arb-page-title page-id="{{::relatedPageId}}" is-link="true"></arb-page-title>
			</span>
			<span ng-if="::oldSettingsValue">
				Answer removed: <arb-page-title page-id="{{::relatedPageId}}" is-link="true"></arb-page-title>
			</span>
		</span>

		<!-- Settings changes -->

		<span ng-switch-when="newAlias">
			Alias changed
			<br><span>&nbsp;&nbsp;&nbsp;&nbsp;from: "{{::oldSettingsValue}}"</span>
			<br><span>&nbsp;&nbsp;&nbsp;&nbsp;to: "{{::newSettingsValue}}"</span>
		</span>

		<span ng-switch-when="newSortChildrenBy">
			Child sort order changed
			<br><span>&nbsp;&nbsp;&nbsp;&nbsp;from: "{{::oldSettingsValue}}"</span>
			<br><span>&nbsp;&nbsp;&nbsp;&nbsp;to: "{{::newSettingsValue}}"</span>
		</span>

		<span ng-switch-when="setVoteType">
			Vote type changed
			<br><span>&nbsp;&nbsp;&nbsp;&nbsp;from: "{{::oldSettingsValue}}"</span>
			<br><span>&nbsp;&nbsp;&nbsp;&nbsp;to: "{{::newSettingsValue}}"</span>
		</span>

		<span ng-switch-when="newEditKarmaLock">
			Edit karma lock changed
			<br><span>&nbsp;&nbsp;&nbsp;&nbsp;from: "{{::oldSettingsValue}}"</span>
			<br><span>&nbsp;&nbsp;&nbsp;&nbsp;to: "{{::newSettingsValue}}"</span>
		</span>

		<span ng-switch-when="newEditGroup">
			Edit group changed
			<br><span>&nbsp;&nbsp;&nbsp;&nbsp;from:
				<!-- old edit group -->
				<span ng-if="::(oldSettingsValue == '')">none</span>
				<span ng-if="::(oldSettingsValue != '')">
					<arb-page-title page-id="{{::oldSettingsValue}}" is-link="true"></arb-page-title>
				</span>
			</span>
			<br><span>&nbsp;&nbsp;&nbsp;&nbsp;to:
				<!-- new edit group -->
				<span ng-if="::(newSettingsValue == '')">none</span>
				<span ng-if="::(newSettingsValue != '')">
					<arb-page-title page-id="{{::newSettingsValue}}" is-link="true"></arb-page-title>
				</span>
			</span>
		</span>

		<span ng-switch-when="turnOnVote">
			Probability bar shown
		</span>

		<span ng-switch-when="turnOffVote">
			Probability bar hidden
		</span>

		<span ng-switch-when="pageInfoEdit">
			Settings changed
		</span>


		<!-- Edits and snapshots -->

		<span ng-switch-when="deletePage">
			Deleted page
		</span>

		<span ng-switch-when="newEdit">
			New edit #{{::edit}}
		</span>

		<span ng-switch-when="revertEdit">
			Reverted to edit #{{::edit}}
		</span>

		<span ng-switch-when="newSnapshot">
			New snapshot (edit #{{::edit}})
		</span>


		<!-- Updates -->

		<span ng-switch-when="topLevelComment">
			<arb-user-name user-id="{{::userId}}"></arb-user-name>
			wrote a
			<a ng-href="{{::pageService.getPageUrl(relatedPageId)}}"
					page-id="{{::relatedPageId}}"
					class="intrasite-link">new comment</a>
		</span>

		<span ng-switch-when="reply">
			<arb-user-name user-id="{{::userId}}"></arb-user-name>
			wrote a
			<a ng-href="{{::pageService.getPageUrl(relatedPageId)}}"
					page-id="{{::relatedPageId}}"
					class="intrasite-link">new comment reply</a>
		</span>

		<span ng-switch-when="pageEdit">
			Edited
			<span ng-if="::(repeated > 1)">
				{{::repeated}} times
			</span>
		</span>

		<span ng-switch-when="newPageByUser">
			Created a new page:
			<!-- ROGTODO: do the following check for all references to the related page -->
			<span ng-if="::isRelatedPageAlive">
				<arb-page-title page-id="{{::relatedPageId}}" is-link="true"></arb-page-title>
			</span>
			<span ng-if="!isRelatedPageAlive">
				<a ng-href="{{::pageService.getEditPageUrl(relatedPageId)}}"
						page-id="{{::relatedPageId}}"
						class="red-link">[DELETED]</a>
			</span>
		</span>

		<span ng-switch-when="commentEdit">
			<arb-user-name user-id="{{::userId}}"></arb-user-name>
			edited a
			<a ng-href="{{::pageService.getPageUrl(relatedPageId)}}"
					page-id="{{::relatedPageId}}"
					class="intrasite-link">comment</a>
		</span>

		<span ng-switch-when="atMention">
			<arb-user-name user-id="{{::userId}}"></arb-user-name>
			mentioned you in a
			<a ng-href="{{::pageService.getPageUrl(relatedPageId)}}"
					page-id="{{::relatedPageId}}"
					class="intrasite-link">comment</a>
		</span>

		<span ng-switch-when="addedToGroup">
			<arb-user-name user-id="{{::userId}}"></arb-user-name>
			added you to
			<a ng-href="{{::pageService.getPageUrl(relatedPageId)}}"
					page-id="{{::relatedPageId}}"
					class="intrasite-link">
				the {{pageService.pageMap[relatedPageId].title}} group
			</a>
		</span>

		<span ng-switch-when="removedFromGroup">
			<arb-user-name user-id="{{::userId}}"></arb-user-name>
			removed you from
			<a ng-href="{{::pageService.getPageUrl(relatedPageId)}}"
					page-id="{{::relatedPageId}}"
					class="intrasite-link">
				the {{pageService.pageMap[relatedPageId].title}} group
			</a>
		</span>

		<!-- Marks -->

		<div ng-switch-when="newMark"
				arb-confusion-window
				mark-id="{{::markId}}">
		</div>

		<div ng-switch-when="resolvedMark"
				arb-confusion-window
				mark-id="{{::markId}}">
		</div>

		<!-- Unknown -->

		<span ng-switch-default class="md-warn">
			Unknown activity type: {{::type}}
		</span>

	</div>

	<div flex></div>

	<div>
		<!-- Link to the user who performed the action (if we haven't already) -->
		<span ng-switch="::type">
			<span ng-switch-when="topLevelComment"></span>
			<span ng-switch-when="reply"></span>
			<span ng-switch-when="commentEdit"></span>
			<span ng-switch-when="atMention"></span>
			<span ng-switch-when="addedToGroup"></span>
			<span ng-switch-when="removedFromGroup"></span>
			<span ng-switch-default>
				<arb-user-name user-id="{{::userId}}" ng-if="::showUserLink && !!userId"></arb-user-name>
			</span>
		</span>

		<span class="nowrap" ng-bind="::(createdAt | relativeDateTime)"></span>
	</div>

</div>
