<div class="mastery-list-vertical" layout="column" ng-if="::!isSpan">
	<!-- List of masteries -->
	<div arb-requisite-button
			requisite-id="{{::masteryId}}"
			hide-checkbox="hideCheckboxes"
			show-clickbait="::showClickbait"
			unlocked-fn="pageUnlocked(result)"
			ng-repeat="masteryId in ::idsSource">
	</div>
</div>

<span ng-if="::isSpan">
	<!-- List of masteries -->
	<span ng-repeat="(index,masteryId) in ::idsSource">
		<span class="comma" ng-if="::(index > 0)">,</span>
		<span arb-requisite-button
				requisite-id="{{::masteryId}}"
				unlocked-fn="pageUnlocked(result)">
		</span>
	</span>
</span>
