<div layout="column">
	MC
	<!-- List of masteries -->
	<div layout="row"
			layout-align="start center"
			ng-repeat="masteryId in idsSource">

		<!-- Mark as done button -->
		<md-button class="md-icon-button" ng-click="toggleRequirement(masteryId)">
			<md-icon ng-show="hasMastery(masteryId)">check_box</md-icon>
			<md-icon ng-hide="hasMastery(masteryId)">check_box_outline_blank</md-icon>
		</md-button>

		<!-- Relationship page title -->
		<arb-page-title page-id="{{masteryId}}" is-link="true"></arb-page-title>
	</div>
</div>
