<arb-list-panel
	items="newLikes"
	title="Achievements"
	more-link="/achievements/"
	is-full-page="isFullPage"
	num-to-display="numToDisplay">
	<md-list role="list" class="ng-scope">
		<md-list-item role="listitem" class="panel-list-item"
			ng-repeat="newLike in newLikes | orderBy:'-createdAt' | limitTo:numToDisplay"
			ng-class="{'new-row': newLike.newSinceLastView}">
			<div layout="row"
				layout-gt-sm="row"
				layout-align-gt-sm="start center"
				flex>
				<span>
					{{getNames(newLike)}}
					<arb-page-title page-id="{{newLike.pageId}}"
						is-link="true"
						flex></arb-page-title>
				</span>
			</div>
			<div class="md-caption" layout="row" layout-gt-xs="row" layout-align="start center">
				<span ng-bind="::(newLike.createdAt | relativeDateTime)"></span>
			</div>
			<md-divider ng-if="::!$last"></md-divider>
		</md-list-item>
	</md-list>
</arb-list-panel>
