<div class="capped-body-width">

	<!-- Begin MailChimp Signup Form -->
	<h1 id="subscribe">Subscribe to our mailing list</h1>
	<div id="mc-signup" class="lens-text-container md-whiteframe-1dp">
		<div ng-if="subscribed">
			Thank you!
			<span ng-if="::!alreadySubscribed">
				Please check your inbox for the confirmation email.
			</span>
		</div>
		<div ng-if="!subscribed">
			<md-input-container>
				<label>
					Your email
				</label>
				<input type="email" ng-model="subscribeData.email" required>
			</md-input-container>
			<div layout="column">
				<p><strong>What are you interested in?</strong></p>
				<md-checkbox ng-model="subscribeData.interests['7ec5d431b0']">
				  Receiving general updates about Arbital (once a month)
				</md-checkbox>
				<md-checkbox ng-model="subscribeData.interests['7b38bc3921']">
				  Explaining math topics on Arbital
				</md-checkbox>
			</div>
			<div>
				<md-button class="md-primary"
						ng-class="{'md-raised': !alreadySubscribed}"
						ng-click="subscribeToList()"
						ng-bind="::alreadySubscribed ? 'Update subscription' : 'Subscribe'"
						aria-label="Subscribe">
				</md-button>
				<div class="md-warn" ng-bind="subscribeError" ng-if="subscribeError"></div>
			</div>
		</div>
	</div>
	<br><br>

</div>
