<div class="page-row" layout="row" layout-align="start center">

	<arb-likes likeable-type="page"
		likeable-id="{{::page.pageId}}"
		ng-if="::!hideLikes"></arb-likes>

	<div layout="column" flex layout-align="center">
		<div layout="row" layout-align="start">
			<div layout="row" flex>
				<arb-page-title page-id="{{::page.pageId}}"
						is-link="true"
						use-edit-map="::useEditMap"
						flex></arb-page-title>
			</div>
			<div class="md-caption" layout="row" layout-align="start center">
				<span class="chip" ng-if="markAsDraft">
					Draft
				</span>
				<span ng-if="showTags">
					<span ng-repeat="tag in page.taggedAsIds">
						<arb-tag tag-id="{{::tag}}"></arb-tag>
					</span>
				</span>
				<md-button ng-href="{{::arb.urlService.getEditPageUrl(page.pageId)}}"
						class="md-icon-button"
						ng-if="::showQuickEdit">
					<md-icon>create</md-icon>
				</md-button>
				<div style="white-space: nowrap" ng-if="::showRedLinkCount">
					<span class="separator"></span>
					<md-tooltip>Number of manual todos in text + number of broken links</md-tooltip>
					<span ng-if="::(page.todoCount > 0 || page.redLinkCount > 0)">
						<span ng-bind="::page.todoCount"></span> + <span ng-bind="::page.redLinkCount"></span>
					</span>
					<span ng-if="::(page.todoCount <= 0 && page.redLinkCount <= 0)">
						No TODOs
					</span>
				</div>
				<div style="white-space: nowrap" ng-if="::showTextLength">
					<span class="separator"></span>
					<span ng-bind="::(page.textLength | numSuffix)"></span> characters
				</div>
				<div style="white-space: nowrap" ng-if="::(page.type === 'question')">
					<span class="separator"></span>
					<md-icon>font_download</md-icon>
					<span ng-bind="::page.answerCount"></span>
				</div>
				<div style="white-space: nowrap" ng-if="::showCommentCount && page.commentCount > 0">
					<span class="separator"></span>
					<md-icon>comment</md-icon>
					<span ng-bind="::page.commentCount"></span>
				</div>
				<div style="white-space: nowrap" ng-if="::showLastEdit">
					<span class="separator"></span>
					edited <span ng-bind="::(page.editCreatedAt | relativeDateTime)"></span>
				</div>
				<div style="white-space: nowrap" ng-if="::showCreatedAt">
					<span ng-bind="::(page.pageCreatedAt | relativeDateTime)"></span>
				</div>
			</div>
		</div>
		<div class="md-caption clickbait" ng-bind="::page.clickbait" flex></div>
	</div>
</div>
