<div id="subpage-{{::page.pageId}}" layout="{{::(isSingleColumn ? 'column' : 'row')}}">
	<!-- Hash anchor -->
	<a id="page-{{::page.pageId}}"></a>

	<!-- Primary column -->
	<div layout="column" class="vertical-layout-padding" flex>

		<div layout-gt-sm="row" layout-align-gt-sm="space-between end" ng-if="arb.pathService.path">
			<div arb-next-prev page-id="{{::page.pageId}}" whiteframe="::true"></div>
		</div>

		<!-- For user page display some additional info -->
		<div ng-if="::page.isUser()">

			<div ng-repeat="(domainId, trust) in ::page.trustMap">
				<!-- Admins can edit the level of the user -->
				<div layout="row" ng-if="::arb.userService.user.isAdmin">
					<md-input-container flex>
						<label>User trust level ({{arb.stateService.pageMap[domainId].title}})</label>
						<md-select ng-model="trust.editTrust"
								md-on-close="updateUserTrust(domainId)">
							<md-option value="0">Default</md-option>
							<md-option value="200">Basic</md-option>
							<md-option value="300">Reviewer</md-option>
							<md-option value="400">Arbiter</md-option>
						</md-select>
					</md-input-container>
				</div>
				<div ng-if="::!arb.userService.user.isAdmin && trust.editTrust > 0">
					This user is
					<span ng-if="200 <= trust.editTrust && trust.editTrust < 300">
						<arb-page-title page-id="58l" is-link="true" custom-page-title="a trusted member"></arb-page-title>
					</span>
					<span ng-if="300 <= trust.editTrust && trust.editTrust < 400">
						<arb-page-title page-id="58l" is-link="true" custom-page-title="a reviewer"></arb-page-title>
					</span>
					<span ng-if="400 <= trust.editTrust">
						<arb-page-title page-id="58l" is-link="true" custom-page-title="an arbiter"></arb-page-title>
					</span>
					of
					<arb-page-title page-id="{{::domainId}}" is-link="true"></arb-page-title>
					domain.
				</div>
			</div>

		</div>

		<!-- Unlisted page -->
		<div class="md-whiteframe-1dp md-accent md-hue-1"
				layout-padding
				layout="row"
				layout-align="start center"
				ng-if="page.domainIds.length <= 0 && !page.isUser() && !page.isGroup()">
			<!-- Hasn't been submitted -->
			<div ng-if="page.domainSubmissionsCount() <= 0">
				This page is
				<arb-page-title page-id="14z" is-link="true" custom-page-title="unlisted."></arb-page-title>
				<md-button class="md-primary md-raised"
						ng-click="submitToDomain()"
						ng-if="page.permissions.edit.has">
					Submit for approval
				</md-button>
			</div>
			<!-- Has been submitted -->
			<div ng-if="page.domainSubmissionsCount() > 0">
				<span ng-if="page.domainSubmissions['1lw'].approverId == ''">
					This page has been submitted to the Math domain and is pending approval.
				</span>
				<md-button class='md-primary md-raised'
						ng-click="arb.pageService.approvePageToDomain(page.pageId, '1lw')"
						ng-if="page.domainSubmissions['1lw'].approverId == '' && arb.userService.user.trustMap['1lw'].level >= 2">
					Approve
				</md-button>
				<span ng-if="page.domainSubmissions['1lw'].approverId != ''">
					<arb-user-name user-id="{{::page.domainSubmissions['1lw'].approverId}}"></arb-user-name>
					added this page to the math domain, but the page is now orphaned.
				</span>
			</div>
		</div>

		<!-- Voting container -->
		<arb-vote-bar class="md-whiteframe-1dp" page-id="{{::page.pageId}}" ng-if="::page.hasVote"></arb-vote-bar>

		<!-- Lenses -->
		<div class="md-whiteframe-1dp">
			<!-- Tab labels -->
			<div class="page-tabs"
					layout="row"
					layout-xs="column"
					ng-if="::lenses.length > 1">
				<md-button ng-repeat="lens in ::lenses"
						ng-click="tabsClicked($event, lens.lensId)"
						ng-class="{'active-tab': lens.lensId == selectedLens.pageId}"
						aria-label="Switch tab">
					<span ng-bind="::lens.lensName"></span>
				</md-button>
			</div>

			<!-- For each lens -->
			<div ng-repeat="lens in ::lenses" ng-if="lens.lensId === selectedLens.pageId">
				<!-- Lens body -->
				<div class="md-whiteframe-1dp">
					<div class="md-whiteframe-1dp page-lens-body">
						<!-- How to make this page better box -->
						<div arb-page-improvement page="selectedLens"
								ng-if="selectedLens && selectedLens.isInDomain('1lw')"></div>

						<div ng-style="{'min-height': 500}"
								layout="column"
								layout-align="center center"
								ng-if="!isLoaded(lens.lensId)">
							<md-progress-circular md-mode="indeterminate"></md-progress-circular>
						</div>
						<arb-lens class="reveal-after-render"
								page-id="{{::lens.lensId}}"
								lens-parent-id="{{::page.pageId}}"
								ng-if="isLoaded(lens.lensId)"></arb-lens>
					</div>

					<!-- Parents and tags -->
					<div layout="column" layout-padding>
						<div layout="column"
								layout-gt-sm="row"
								layout-align="start start"
								ng-if="selectedLens.parentIds.length > 0 || selectedLens.nonMetaTagIds.length > 0">
							<!-- Parents -->
							<div flex>
								<div layout-align="start center"
										ng-if="selectedLens.parentIds.length > 0">
									<span>Parents:</span>
									<span ng-repeat="(index, parentId) in selectedLens.parentIds">
										<span class="comma" ng-if="index > 0">,</span>
										<arb-page-title page-id="{{::parentId}}" is-link="true"></arb-page-title>
									</span>
								</div>
							</div>

							<!-- Tags -->
							<div layout-align="start center"
					 				ng-if="selectedLens.nonMetaTagIds.length > 0">
					 			<span>Tags:</span>
					 			<span ng-repeat="(index, tagId) in selectedLens.nonMetaTagIds">
					 				<span class="comma" ng-if="::(index > 0)">,</span>
					 				<arb-page-title page-id="{{::tagId}}" is-link="true"></arb-page-title>
					 			</span>
					 		</div>
					 	</div>
						<div layout="column" layout-gt-sm="row">
							<a ng-href="{{arb.urlService.getEditPageUrl(selectedLens.pageId, {tabId: 4})}}"
									class="md-caption"
									flex>
								{{page.changeLogs.length}} changes by {{page.authors.length}}
								<ng-pluralize count="page.authors.length" when="{'one': 'author', 'other': 'authors'}"></ng-pluralize>
							</a>
							<span class="md-caption">{{page.viewCount}} views</span>
						</div>
					</div>

					<!-- Add tags panel -->
					<div layout-padding ng-if="isTagsPanelVisible">
						<div arb-relationships
								class="edit-relationship-div"
								page-id="{{::selectedLens.pageId}}"
								use-normal-page-map="true"
								type="tag"
								force-edit-mode="true"></div>
					</div>
				</div>
			</div>
		</div>

		<!-- Answers section -->
		<a id="answers"></a>
		<div class="after-page-container" ng-if="::page.isQuestion()">
			<div class="user-page-panel md-whiteframe-1dp" layout="column">
				<md-toolbar class="md-hue-2">
					<div class="md-toolbar-tools">
						Answers ({{page.answers.length}})
						<div flex></div>
						<md-menu ng-if="::page.permissions.edit.has">
							<md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Answer actions">
								<md-icon>more_vert</md-icon>
							</md-button>
							<md-menu-content>
								<!-- Delete answers -->
								<md-menu-item>
									<md-button ng-click="toggleDeleteAnswers()" aria-label="Toggle delete answers">
										Toggle delete answers
									</md-button>
								</md-menu-item>
							</md-menu-content>
						</md-menu>
					</div>
				</md-toolbar>
				<arb-answers page-id="{{::page.pageId}}" show-delete="showDeleteAnswer" layout-margin></arb-answers>
			</div>
		</div>

		<!-- Marks section -->
		<div class="after-page-container">
			<arb-marks ng-repeat="lens in ::lenses"
					class="reveal-after-render"
					page-id="{{::lens.lensId}}"
					ng-if="isLoaded(lens.lensId) && lens.lensId === selectedLens.pageId"></arb-marks>
		</div>

		<!-- Learn more section -->
		<div class="after-page-container md-whiteframe-1dp">
			<arb-learn-more ng-repeat="lens in ::lenses"
					class="reveal-after-render"
					page-id="{{::lens.lensId}}"
					ng-if="isLoaded(lens.lensId) && lens.lensId === selectedLens.pageId"></arb-page-discussion>
		</div>

		<!-- Discussion section -->
		<div class="after-page-container">
			<arb-page-discussion ng-repeat="lens in ::lenses"
					class="reveal-after-render"
					page-id="{{::lens.lensId}}"
					ng-if="isLoaded(lens.lensId) && lens.lensId === selectedLens.pageId"></arb-page-discussion>
		</div>
	</div>
</div>
