<div class="improvement-header {{qualityTag}}"
		layout="row"
		layout-align="start center"
		ng-if="showQualityBar()">
	<div flex ng-switch="qualityTag">
		<span ng-switch-when="wip">
			An editor is actively working on this page. Check with them before making major changes.
		</span>
		<span ng-switch-when="still-needs-work">
			An editor has plans for this page. You may want to check with them before making major changes.
		</span>
		<span ng-switch-when="unassessed">
			This page's quality is unknown.
			<span ng-if="::arb.userService.user.maxTrustLevel >= 2">
				Can you add a
				<arb-page-title page-id="4yg"
						is-link="true"
						custom-page-title="quality"></arb-page-title>
				tag?
			</span>
		</span>
		<span ng-switch-when="stub">
			This page is just getting started. Can you
			<arb-page-title page-id="3hs"
					is-link="true"
					custom-page-title="help"></arb-page-title>
			improve it?
		</span>
		<span ng-switch-when="start">
			This page has some issues, would you like to
			<arb-page-title page-id="3hs"
					is-link="true"
					custom-page-title="help"></arb-page-title>
			fix them?
		</span>
		<span ng-switch-when="c-class">
			This page could use some improvement, would you like to
			<arb-page-title page-id="3hs"
					is-link="true"
					custom-page-title="help"></arb-page-title>
			with it?
		</span>
	</div>
	<md-button ng-click="toggleExpand()"
			class="short-button icon-last"
			aria-label="Expand"
			ng-if="shouldShowImprovements()">
		<span ng-if="!expanded">See details</span>
		<span ng-if="expanded">Hide details</span>
		<arb-expand-icon expanded="expanded"></arb-expand-icon>
	</md-button>
</div>

<div class="improvement-body expand-tray vertical-layout-padding"
		layout="column"
		ng-if="expanded && shouldShowImprovements()">
	<div ng-if="shouldShowTags()">
		<span>
			This page has the following issues:
			<span ng-repeat="tagId in page.improvementTagIds">
				<arb-page-title page-id="{{::tagId}}"
						is-link="true"></arb-page-title>
				<span class="comma" ng-if="!$last">,</span>
			</span>
		</span>
	</div>
	<div ng-if="shouldShowTodos()">
		This page has {{page.todos.length}} TODO
		<ng-pluralize count="page.todos.length"
				when="{'one': 'item', 'other': 'items'}"></ng-pluralize>:
		<ul>
			<li ng-repeat="text in page.todos track by $index">
				{{text}}
			</li>
		</ul>
	</div>
	<div>
		<md-button ng-href="{{arb.urlService.getEditPageUrl(page.pageId)}}"
				ng-class="::{'md-icon-button': isTinyScreen}"
				arb-user-check="cool">
			<md-icon>create</md-icon>
			<span>Edit</span>
		</md-button>
	</div>
</div>
