<div class="user-page-panel md-whiteframe-1dp" layout="column">
	<md-toolbar class="md-hue-2" ng-if="::panelTitle.length > 0">
		<div class="md-toolbar-tools">
			<span ng-bind="::panelTitle" flex></span>
		</div>
	</md-toolbar>
	<md-list>
		<md-list-item ng-repeat="pageId in pageIds">
			<arb-page-row page-id="{{pageId}}"
					hide-likes="hideLikes"
					show-last-edit="showLastEdit"
					show-created-at="showCreatedAt"
					show-quick-edit="showQuickEdit"
					show-red-link-count="showRedLinkCount"
					show-comment-count="showCommentCount"
					show-text-length="showTextLength"
					use-edit-map="useEditMap"></arb-page-row>
			<md-divider ng-if="::!$last"></md-divider>
		</md-list-item>
		
		<md-divider></md-divider>
		<md-list-item ng-if="pageIds && fetchMore">
			<md-progress-circular md-mode="indeterminate" ng-if="fetchingMore"></md-progress-circular>
			<md-button ng-click="fetchMore()" ng-if="!fetchingMore">Load more</md-button>
		</md-list-item>
		
	</md-list>
	<span class="md-caption" layout-padding ng-if="::(pageIds.length <= 0)">
		Nothing here
	</span>
</div>
