<!-- A recursive tree node to display corresponding page and node's children. -->
<div class="page-panel" ng-hide="page.title == ''">
	<div ng-class="{'big-page-panel-header': isSupersized()}">
		<span class="extra-info pull-right">
			<span ng-show="page.redLinkCount>0">
				<span class="red-link-count" title="Number of [todo: ...] blocks in text + number of broken links">
					TODOs: <span ng-bind="page.todoCount"></span>
					+ <span ng-bind="page.redLinkCount"></span>
				</span>
				|
			</span>

			<span title="Length of the page in characters.">{[{page.textLength}]} chars | </span>
			<span title="When this page was last edited.">edited {[{page.createdAt | relativeDateTime}]}</span>
		</span>
		<span class="collapse-span">
			<span ng-show="showCollapseArrow()" class="collapse-link glyphicon" ng-class="{'glyphicon-triangle-bottom': node.showChildren, 'glyphicon-triangle-right': !node.showChildren}" ng-click="toggleNode($event)"></span>
			<span ng-show="!showCollapseArrow()" class="gray-text">&nbsp;&bull;</span>
		</span>

		<arb-likes-page-title page-id="{[{page.pageId}]}" is-supersized="{[{isSupersized()}]}" show-clickbait="true" style="display:table-cell"></arb-likes-page-title>
	</div>
	<div class="page-panel-body" ng-show="node.showChildren">
		<img src="/static/images/loading.gif" ng-show="isLoadingChildren()"/>
		<arb-page-tree-node ng-repeat="node in node.children" node="node"></arb-page-tree-node>
	</div>
	<br ng-show="isSupersized()">
</div>
