<md-list>
	<div ng-init="page=getPage(pageId)"
			layout="column"
			layout-gt-sm="row"
			layout-align-gt-sm="start center"
			flex>
		<!-- First row -->
		<div layout="row" layout-align="start start" flex>
			<arb-likes likeable-type="page" likeable-id="{{::pageId}}" ng-if="::!hideLikes"></arb-likes>
			<arb-page-title page-id="{{::pageId}}"
					is-link="true"
					show-clickbait="true"
					use-edit-map="::useEditMap"
					flex></arb-page-title>
		</div>
		<!-- Second row -->
		<div class="md-caption" layout-gt-xs="row" layout-align="start center">
			<md-button ng-href="{{::pageService.getEditPageUrl(pageId)}}"
					class="md-icon-button"
					ng-if="::showQuickEdit">
				<md-icon>create</md-icon>
			</md-button>
			<div style="white-space: nowrap" ng-if="::showRedLinkCount">
				<span class="separator"></span>
				<md-tooltip>Number of manual todos in text + number of broken links</md-tooltip>
				<span ng-if="::(page.todoCount > 0 || page.redLinkCount > 0)">
					<span ng-bind="::page.todoCount"></span> + <span ng-bind="::page.redLinkCount"></span>
				</span>
				<span ng-if="::(page.todoCount <= 0 && page.redLinkCount <= 0)">
					No TODOs
				</span>
			</div>
			<div style="white-space: nowrap" ng-if="::showTextLength">
				<span class="separator"></span>
				<span ng-bind="::(page.textLength | numSuffix)"></span> characters
			</div>
			<div style="white-space: nowrap" ng-if="::showLastEdit">
				<span class="separator"></span>
				edited <span ng-bind="::(page.createdAt | relativeDateTime)"></span>
			</div>
			<div style="white-space: nowrap" ng-if="::showCreatedAt">
				<span class="separator"></span>
				created <span ng-bind="::(page.originalCreatedAt | relativeDateTime)"></span>
			</div>
			<div style="white-space: nowrap" ng-if="::(page.type === 'question')">
				<span class="separator"></span>
				<md-icon>font_download</md-icon>
				<span ng-bind="::page.commentCount"></span>
			</div>
			<div style="white-space: nowrap" ng-if="::(showCommentCount && page.type !== 'question')">
				<span class="separator"></span>
				<md-icon>comment</md-icon>
				<span ng-bind="::page.commentCount"></span>
			</div>
		</div>
	</div>
	<md-divider ng-if="::!$last"></md-divider>
</md-list>