<div layout="row" layout-margin>
	<!-- Primary column -->
	<div class="md-whiteframe-1dp" layout="column" flex="70">
		<!-- Parents -->
		<div>
			<span ng-repeat="(index, parentId) in page.parentIds">
				<span ng-show="index > 0">,</span>
				<arb-page-title page-id="{{parentId}}" is-link="true"></arb-page-title>
			</span>
		</div>

		<!-- Hash anchor -->
		<a id="page-{{page.pageId}}"></a>

		<!-- Page title -->
		<h1 class="md-display-3">
			<arb-page-title page-id="{{page.pageId}}" show-type="true"></arb-page-title>
		</h1>

		<!-- Tags -->
		<div>
			<span ng-repeat="(index, tagId) in page.taggedAsIds">
				<span ng-show="index > 0">,</span>
				<arb-page-title page-id="{{tagId}}" is-link="true"></arb-page-title>
			</span>
		</div>

		<!-- Voting container -->
		<arb-vote-bar page-id="{{page.pageId}}" ng-if="page.hasVote"></arb-vote-bar>

		<!-- Lens tabs -->
		<md-tabs md-dynamic-height
				ng-class="{'hide-tabs': page.lensIds.length <= 1}"
				ng-style="{'min-height': tabsMinHeight}"
				md-selected="selectedLensIndex">
			<md-tab ng-repeat="lensId in page.lensIds"
					md-on-select="tabSelect(lensId)">
				<md-tab-label>
					<arb-page-title page-id="{{lensId}}"
							custom-page-title="{{lensId === page.pageId ? 'Primary' : ''}}"></arb-page-title>
					<md-icon>done</md-icon>
				</md-tab-label>
				<md-tab-body>
					<div ng-style="{'min-height': tabsMinHeight}"
							layout="column"
							layout-align="center center"
							ng-if="!isLoaded(lensId)">
						<md-progress-circular md-mode="indeterminate"></md-progress-circular>
					</div>
					<arb-lens page-id="{{lensId}}" ng-if="isLoaded(lensId)"></arb-lens>
				</md-tab-body>
			</md-tab>
		</md-tabs>
	</div>

	<div flex="15"></div>

	<!-- RHS page menu -->
	<div class="md-whiteframe-1dp" layout="column" flex="15">
		<!-- Like -->
		<arb-likes page-id="{{selectedLens.pageId}}" is-stretched="true" is-button="true"></arb-likes>

		<!-- Subscribe -->
		<arb-subscribe page-id="{{selectedLens.pageId}}" is-stretched="true"></arb-subscribe>

		<!-- Edit -->
		<md-button ng-href="{{pageService.getEditPageUrl(selectedLens.pageId)}}">
			<md-icon>create</md-icon>
			<span>Edit</span>
		</md-button>
		<div ng-show="selectedLens.hasDraft">You have an unpublished draft for this page</div>

		<!-- Link -->
		<md-button ng-href="#page-{{page.pageId}}"
				ng-show="page.type == 'answer'">
			<md-icon>link</md-icon>
			<span>Link</span>
		</md-button>

		<!-- Show diff -->
		<!--<md-button>
			<md-icon>compare_arrows</md-icon>
			<span>Show diff</span>
		</md-button>-->

		<!-- Prev/Next -->
		<div layout="row" ng-hide="page.nextPageId === '0' && page.prevPageId === '0'">
			<md-button ng-href="{{pageService.getPageUrl(page.prevPageId)}}"
					ng-disabled="page.prevPageId === '0'">
				<md-tooltip ng-show="page.prevPageId === '0'">No previous page</md-tooltip>
				<md-icon>chevron_left</md-icon>
				<span>Prev</span>
			</md-button>
			<md-button ng-href="{{pageService.getPageUrl(page.nextPageId)}}"
					ng-disabled="page.nextPageId === '0'">
				<md-tooltip ng-show="page.nextPageId === '0'">No next page</md-tooltip>
				<span>Next</span>
				<md-icon>chevron_right</md-icon>
			</md-button>
		</div>
	</div>
</div>
