<!-- Display page's title with potential additional meta info. -->
<md-icon ng-show="pageService.showLockedGroup(page.pageId, useEditMap)">
	<md-tooltip>This page belongs to {{pageService.pageMap[page.seeGroupId].title}} group</md-tooltip>
	lock
</md-icon>
<md-icon ng-show="pageService.showPublic(page.pageId, useEditMap)">
	<md-tooltip>This page is public</md-tooltip>
	public
</md-icon>
<md-icon ng-show="showType && page.type === 'question'">
	<md-tooltip>This is a question page</md-tooltip>
	help
</md-icon>
<a ng-href="{{pageService.getPageUrl(page.pageId)}}"
		class="intrasite-link"
		page-id="{{page.pageId}}"
		ng-bind="getTitle()"
		ng-if="isLink"></a>
<span ng-bind="getTitle()"
		ng-if="!isLink"></span>
<span class="primary-dot" ng-show="page.isNewPage() && !useEditMap">
	<md-tooltip>You've never seen this page</md-tooltip>
</span>
<div class="md-caption" ng-bind="page.clickbait" ng-show="showClickbait">
</div>
