<!-- Display page's title with potential additional meta info. -->
<md-icon ng-if="::(showType && page.type === 'question')">
	<md-tooltip>This is a question page</md-tooltip>
	help
</md-icon>
<a ng-href="{{::pageUrl}}"
		ng-class="::('intrasite-link' + (page.isDeleted ? ' red-link' : ''))"
		page-id="{{::page ? page.pageId : pageId}}"
		ng-bind="::getTitle()"
		ng-if="::isLink"></a>
<span ng-bind="::getTitle()"
		ng-if="::!isLink"></span>
<div class="md-caption" ng-bind="::page.clickbait" ng-if="::showClickbait">
</div>
