<div class="capped-body-width">
	<!-- The primary page -->
	<md-content arb-page page-id="{{::arb.stateService.primaryPage.pageId}}"></md-content>

	<!-- Children pages -->
	<div arb-page-list panel-title="Children"
			show-created-at="::(page.sortChildrenBy === 'recentFirst' || page.sortChildrenBy === 'oldestFirst')"
			show-comment-count="true"
			show-text-length="true"
			page-ids="::page.childIds"
			ng-if="::page.childIds.length > 0"></div>

	<!-- Related pages -->
	<div arb-page-list panel-title="Related"
			show-comment-count="true"
			show-text-length="true"
			page-ids="::page.relatedIds"
			ng-if="::page.relatedIds.length > 0"></div>

	<div ng-include="'static/html/footer.html'" ng-if="::!noFooter"></div>
</div>
