<div layout="column">
	<!-- All the pages -->
	<div>
		<arb-page page-id="{{pageService.primaryPage.pageId}}"></arb-page>
	</div>

	<!-- Answers for a question page -->
	<div class="answers" ng-show="answerIds.length > 0">
		<h1>Answers</h1>
		<div class="answers-list">
		</div>
	</div>

	<!-- New Answer for a question page -->
	<div class="new-answer" ng-show="page.type === 'question'">
		<h1>Find Existing Answer</h1>
		<input id="find-answer-search"
				type="text"
				class="form-control"
				placeholder="Find existing answer"
				ng-model="findAnswerTerm">
		<div id="found-answers"></div>
		<!-- arbFindAnswer is inserted here dynamically when primary page is a question -->
		<h1>Your Answer</h1>
		<!-- arbEditPage is inserted here dynamically when primary page is a question -->
	</div>
	
	<div layout="row" layout-margin>
		<!-- Children -->
		<div class="md-whiteframe-1dp" layout="column" flex>
			<h2>Children</h2>
			<md-list>
				<md-list-item class="md-2-line" ng-repeat="childPair in page.children">
					<arb-likes page-id="{{childPair.childId}}"></arb-likes>
					<div class="md-list-item-text" layout="column">
						<arb-page-title page-id="{{childPair.childId}}"
								is-link="true"
								show-clickbait="true"></arb-page-title>
					</div>
				</md-list-item>
			</md-list>
		</div>

		<!-- Related -->
		<div class="md-whiteframe-1dp" layout="column" flex>
			<h2>Related</h2>
			<md-list>
				<md-list-item class="md-2-line" ng-repeat="relatedId in page.relatedIds">
					<arb-likes page-id="{{relatedId}}"></arb-likes>
					<div class="md-list-item-text" layout="column">
						<arb-page-title page-id="{{relatedId}}"
								is-link="true"
								show-clickbait="true"></arb-page-title>
					</div>
				</md-list-item>
			</md-list>
		</div>
	</div>
</div>
