<!-- Show this if this marked is owned by the logged in user -->
<div layout="column" ng-if="::mark.isCurrentUserOwned">
	<div ng-if="isNew">
		What is your question/objection?
	</div>
	
	<div ng-if="!isNew">
		You created this query
		<span ng-bind="::(mark.createdAt | relativeDateTime)"></span>.
	</div>

	<blockquote arb-markdown
			mark-id="{{::mark.id}}"
			ng-if="!isOnPage && mark.anchorContext"></blockquote>

	<!-- Show query's text -->
	<div ng-if="!isNew && mark.text.length > 0">
		Query text: <strong ng-bind="::mark.text"></strong>
	</div>

	<!-- Resolved -->
	<div ng-if="!mark.answered && (mark.resolvedPageId || mark.resolvedBy)">
		This query has been
		<strong ng-bind="mark.resolvedPageId === '' ? 'dismissed' : 'resolved'"></strong>
		by
		<arb-user-name user-id="{{mark.resolvedBy}}"></arb-user-name>
		<span ng-if="mark.resolvedPageId !== ''">
			via:
			<arb-page-title page-id="{{mark.resolvedPageId}}" is-link="true"></arb-page-title>
		</span>
	</div>

	<!-- Answered -->
	<div ng-if="mark.answered">
		This query has been <strong>answered</strong> via:
		<arb-page-title page-id="{{mark.resolvedPageId}}" is-link="true"></arb-page-title>
	</div>

	<a ng-href="{{::pageService.getPageUrl(mark.pageId, {markId: markId})}}"
			page-id="{{::mark.pageId}}"
			class="intrasite-link"
			ng-if="!inPopup">
		View this query mark on the page
	</a>

	<!-- Accept/reject answer -->
	<div ng-if="potentialResolvedPageId">
		<div>
			Did this page answer your question/objection?
		</div>
	
		<!-- Bottom buttons -->
		<div layout="row">
			<md-button ng-click="resolveSuggestion(false)" aria-label="Reject response">
				No
			</md-button>
			<div flex></div>
			<md-button class="md-primary"
					ng-click="resolveSuggestion(true)"
					aria-label="Accept response">
				Yes
			</md-button>
		</div>
	</div>
	
	<div ng-if="!potentialResolvedPageId">
		<!-- Query text input -->
		<md-input-container class="full-width" ng-if="mark.text.length <= 0 || !mark.resolvedBy">
			<label ng-if="::!isNew">Update query text</label>
			<textarea ng-model="mark.text"
				md-maxlength="1000"
				autofocus
				aria-label="Query text"></textarea>
		</md-input-container>
		<div class="md-caption" ng-if="::isNew">
			To avoid confusing the system, make sure this is your question/objection and not someone else's.
			<br>
		</div>
		
		<!-- Potential questions / answers -->
		<md-list>
			<md-subheader class="md-primary md-hue-1 md-no-sticky" ng-if="responses.length > 0">
				<span class="black-font">Possible responses</span>
			</md-subheader>
			<md-list-item layout="row" ng-repeat="(index,response) in responses">
				<arb-likes likeable-type="page" id="{{::response.pageId}}"></arb-likes>
				<arb-page-title page-id="{{::response.pageId}}"
						is-link="true"
						show-clickbait="true"
						ng-click="suggestedLinkClicked(response.pageId, $event)"></arb-page-title>
			</md-list-item>
		</md-list>

		<!-- Bottom buttons -->
		<div layout="row">
			<md-button class="md-accent"
					ng-click="dismissMark()"
					aria-label="Discard query"
					ng-if="!mark.resolvedPageId">
				Discard
			</md-button>
			<div flex></div>
			<md-button class="md-primary"
					ng-click="updateMarkText(true)"
					aria-label="Submit query"
					ng-if="!mark.resolvedBy">
				Submit
			</md-button>
		</div>
	</div>
</div>

<!-- Show this if this marked is NOT owned by the logged in user -->
<div ng-if="::!mark.isCurrentUserOwned">
	<span ng-if="isOnPage()">
		This question/objection was created 
		<span ng-bind="::(mark.createdAt | relativeDateTime)"></span>.
	</span>

	<div ng-if="!isOnPage() && mark.anchorContext">
		The reader highlighted the following section:
		<blockquote arb-markdown mark-id="{{::mark.id}}"></blockquote>
	</div>

	<div ng-if="::mark.text.length > 0">
		Query text: <strong ng-bind="::mark.text"></strong>
	</div>

	<!-- Resolved -->
	<div ng-if="!mark.answered && (mark.resolvedPageId || mark.resolvedBy)">
		This query mark has been
		<strong ng-bind="mark.resolvedPageId === '' ? 'dismissed' : 'resolved'"></strong>
		by
		<arb-user-name user-id="{{mark.resolvedBy}}"></arb-user-name>
		<span ng-if="mark.resolvedPageId !== ''">
			via:
			<arb-page-title page-id="{{mark.resolvedPageId}}" is-link="true"></arb-page-title>
		</span>
	</div>

	<!-- Answered -->
	<div ng-if="mark.answered">
		This query has been <strong>answered</strong> via:
		<arb-page-title page-id="{{mark.resolvedPageId}}" is-link="true"></arb-page-title>
	</div>

	<a ng-href="{{::pageService.getPageUrl(mark.pageId, {markId: markId})}}"
			page-id="{{::mark.pageId}}"
			class="intrasite-link"
			ng-if="!isOnPage()">
		View this query mark on the page
	</a>

	<!-- Bottom buttons -->
	<div ng-if="!mark.resolvedPageId">
		<div>
			Help this reader by resolving this query:
		</div>
		<div layout="row" layout-align="space-around center">
			<md-button ng-href="{{::pageService.getEditPageUrl(mark.pageId, {markId: markId})}}">
				Edit page
			</md-button>
			<md-button ng-click="showLinkToQuestion()">
				Link to existing question
			</md-button>
			<md-button ng-href="/edit?markId={{::markId}}">
				Link to new question
			</md-button>
			<md-button class="md-warn" ng-click="dismissMark(markId)" ng-if="!mark.resolvedBy">
				Dismiss
			</md-button>
		</div>
	</div>

	<!-- User can search for a matching question. -->
	<!-- NOTE: we can't use ng-if with autocomplete, because then when autocomplete
		goes away, it'll leave an md-scoll-mask in place. -->
	<div ng-show="showQuestionInput">
		<arb-autocomplete do-autofocus="::true"
				placeholder="Search for existing question"
				on-select="questionResultSelected(result)"
				page-type="{{::'question'}}"></arb-autocomplete>
	</div>

	<div ng-if="questionLinked">
		Thanks! Consider
		<a ng-href="{{::pageService.getEditPageUrl(mark.resolvedPageId)}}">editing the question page</a>
		to include a new search string or tag.
	</div>
</div>
