<div layout="column">
	<!-- Title -->
	<div class="md-subhead" >
		<arb-page-title page-id="8992241719442104138"
				is-link="true"
				custom-page-title="'Parents'"
				ng-if="::isParentType"></arb-page-title>
		<arb-page-title page-id="7648631253816709800"
				is-link="true"
				custom-page-title="'Tags'"
				ng-if="::isTagType"></arb-page-title>
		<arb-page-title page-id="6686682198220623534"
				is-link="true"
				custom-page-title="'Requires requisites'"
				ng-if="::isRequirementType"></arb-page-title>
		<arb-page-title page-id="6686682198220623534"
				is-link="true"
				custom-page-title="'Teaches requisites'"
				ng-if="::isSubjectType"></arb-page-title>
	</div>

	<div class="md-caption" ng-if="::readonly">
		You can't edit this field for this type of page.
	</div>

	<!-- List of relationships -->
	<div layout="row"
			layout-align="start center"
			ng-repeat="otherPageId in idsSource">

		<!-- Delete button -->
		<md-button class="md-icon-button"
				ng-click="deleteRelationship(otherPageId)"
				ng-if="::!readonly">
			<md-icon>delete</md-icon>
		</md-button>

		<!-- Relationship page title -->
		<arb-page-title page-id="{{::otherPageId}}" is-link="true" show-clickbait="true"></arb-page-title>
	</div>

	<!-- Add a relationship -->
	<arb-autocomplete placeholder="Add a {{::type}}"
			on-select="searchResultSelected(result)"
			ng-if="::!readonly"></arb-autocomplete>
</div>
