<div layout="column">
	<!-- Title -->
	<div class="md-headline">
		<arb-page-title page-id="3n"
				is-link="true"
				custom-page-title="Parents"
				ng-if="::isParentType"></arb-page-title>
		<arb-page-title page-id="178"
				is-link="true"
				custom-page-title="Tags"
				ng-if="::isTagType"></arb-page-title>
	</div>

	<div class="md-caption" ng-if="::readonly">
		You can't edit this field for this type of page.
	</div>

	<!-- List of relationships -->
	<div class="list"
			layout="row"
			layout-align="start center"
			ng-repeat="otherPageId in idsSource">

		<div layout="row" layout-align="start center" flex>
			<!-- Delete button -->
			<md-button class="md-icon-button"
					ng-click="deleteRelationship(otherPageId)"
					ng-if="::!readonly">
				<md-icon>clear</md-icon>
			</md-button>

			<!-- Relationship page title -->
			<arb-page-title page-id="{{::otherPageId}}"
					is-link="true"
					show-clickbait="true"></arb-page-title>
		</div>
	</div>

	<!-- Add a relationship -->
	<arb-autocomplete placeholder="Add a {{::type}}"
			on-select="searchResultSelected(result)"
			preferred-edit-domain-id="{{page.editDomainId}}"
			ng-if="::!readonly"></arb-autocomplete>

	<!-- Quick parent button -->
	<div layout="row" layout-align="start center" ng-if="quickParentId && isParentType && !readonly">
		<md-button class="md-icon-button" ng-click="addQuickParent()">
			<md-icon>add</md-icon>
		</md-button>
		<arb-page-title page-id="{{::quickParentId}}"
				is-link="true"
				show-clickbait="true"></arb-page-title>
	</div>
</div>
