<!-- Need ng-show's instead of ng-if's here because sometimes this item is inside
	an md-menu, and with ng-if the tooltip will appear on the menu instead of on this
	checkbox. -->
<span style="display:inline-flex" layout-align="start center">
	<md-button class="md-primary md-icon-button"
			ng-class="::{'small-button': !showClickbait}"
			ng-click="toggleRequirement()"
			ng-attr-md-prevent-menu-close="{{::preventMenuClose}}"
			aria-label="Toggle"
			ng-show="!hideCheckbox">
		<md-icon ng-show="pageService.hasMastery(requisiteId)">
			check_box
			<md-tooltip md-delay="500">Click to mark as wanted</md-tooltip>
		</md-icon>
		<md-icon ng-show="pageService.wantsMastery(requisiteId)">
			bookmark
			<md-tooltip md-delay="500">Click to mark as not known</md-tooltip>
		</md-icon>
		<md-icon ng-show="pageService.nullMastery(requisiteId)">
			check_box_outline_blank
			<md-tooltip md-delay="500">Click to mark as known</md-tooltip>
		</md-icon>
	</md-button>
	<span ng-if="hideCheckbox">&bull;</span>
	<arb-page-title page-id="{{::requisiteId}}"
			show-clickbait="::showClickbait"
			is-link="true"
			ng-if="::!hideTitle"></arb-page-title>
</span>
