<div layout="column" class="capped-body-width">
	<div class="user-page-panel md-whiteframe-1dp" layout="column">
		<md-toolbar class="md-hue-2">
			<div class="md-toolbar-tools">
				Your requisites
			</div>
		</md-toolbar>

		<div arb-mastery-list
			show-has-first="::true"
			show-clickbait="::true"
			ids-source="::masteryList"></div>
		<span class="md-caption" layout-padding ng-if="::(masteryList.length <= 0)">
			You don't have any requisites yet.
		</span>
		<md-button class="md-warn md-raised"
				aria-label="Reset all requisites"
				ng-click="resetAll()"
				ng-if="::(masteryList.length > 0)">
			Reset all requisites
		</md-button>
	</div>
</div>
