<!-- TODO: bring this back we we're ready to bring back query marks -->
<!-- <md-bottom-sheet ng-class="{'md-grid': !isTinyScreen, 'md-list': isTinyScreen}">
	<div class="center-text">Swipe down to close</div>
	<md-list layout="row"
			layout-xs="column"
			layout-align="center center"
			flex>
		<md-list-item>
			<div>
				<md-button ng-click="newEditorMark('typo')"
						aria-label="Spelling/grammar">
					<md-icon>spellcheck</md-icon>
					<div>Spelling/grammar</div>
				</md-button>
			</div>
		</md-list-item>

		<md-list-item>
			<div>
				<md-button ng-click="newQueryMark()" aria-label="Question/objection">
					<md-icon md-svg-icon="cursor_pointer"></md-icon>
					<div>Question/objection</div>
				</md-button>
			</div>
		</md-list-item>

		<md-list-item>
			<div>
				<md-button ng-click="newInlineComment()" aria-label="New editor feedback">
					<md-icon>comment</md-icon>
					<div>New comment</div>
				</md-button>
			</div>
		</md-list-item>
	</md-list>
</md-bottom-sheet>
 -->