<div layout="column" class="capped-body-width">
	<div class="md-whiteframe-1dp" layout="column">
		<md-toolbar class="md-hue-2">
			<div class="md-toolbar-tools">
				Sequence
			</div>
		</md-toolbar>
		
		<div layout-padding>
			<div>
				To learn about <arb-page-title page-id="{{::sequence.pageId}}" is-link="true"></arb-page-title>, we suggest you acquire the following requisites:
			</div>
			<div arb-sequence-part part="::sequence"></div>
			<div layout="column" ng-if="::!pageService.hasMastery(sequence.pageId)">
				<md-button class="md-primary md-raised" ng-click="startReading()">
					Start reading
				</md-button>
			</div>
			<div ng-if="::pageService.hasMastery(sequence.pageId)">
				Looks like you are done.
			</div>
			<div class="md-warn" ng-if="::isSequenceEmpty">
				Looks like there is nothing for you to read here.
			</div>
		</div>
	</div>
</div>
