<md-content layout-padding>
	<!-- Show/hide form to send a new invitation -->
	<md-button class="md-primary"
			ng-click="toggleCreatingInvite()"
			aria-label="New invite">
		<md-icon ng-bind="creatingInvite ? 'cancel': 'add_circle'"></md-icon>
		<span ng-bind="creatingInvite ? 'Cancel': 'Send new invite'"></span>
	</md-button>

	<!-- Form to create an invitation -->
	<form class="md-whiteframe-4dp create-code-form" layout="column" ng-if="creatingInvite">

		<h4>Send invite to these emails:</h4>

		<md-input-container>
			<label>
				List of emails
			</label>
			<textarea required ng-model="emails" md-select-on-focus></textarea>
			<div class="hint">Comma separated</div>
		</md-input-container>

		<p>Specific domains:</p>
		<md-checkbox ng-repeat="domain in ::domains"
				ng-model="selectedDomains[domain.domainId]"
				aria-label="{{::domain.longName}}"
				ng-if="arb.userService.user.trustMap[domain.domainId].level >= 2">
			<span ng-bind="::domain.longName"></span>
		</md-checkbox>

		<div layout-align="end center" layout="row">
			<md-button class="md-raised md-primary"
					type="submit"
					ng-click="newInvite(emails)">
				Send
			</md-button>
		</div>

		<div ng-if="invalidEmails.length > 0">
			Invalid email addresses: <span ng-repeat="email in invalidEmails" ng-bind="email + ', '"></span>
		</div>
		<div class="submit-form-error md-warn" hidden></div>
	</form>

	<!-- List of invitations -->
	<md-list class="md-dense">
		<md-list-item ng-repeat="invite in invitesSent"
				class="md-2-line"
				layout="row">
			<div class="md-list-item-text">
				<h3 ng-bind="::invite.toEmail"></h3>
				<p>
					<span layout="row" layout-align="space-between center" class="md-caption">
						<span ng-bind="arb.stateService.pageMap[invite.domainId].title + ' domain'"></span>
						<span ng-bind="getInviteStatus(invite)"></span>
					</span>
				<p>
			</div>
		</md-list-item>
	</md-list>
</md-content>
