<md-content layout-padding>
	<!-- Show/hide form to send a new invitation -->
	<md-button class="md-primary"
			ng-click="toggleCreatingInvite()"
			aria-label="New invite">
		<md-icon ng-bind="creatingInvite ? 'cancel': 'add_circle'"></md-icon>
		<span ng-bind="creatingInvite ? 'Cancel': 'Send new invite'"></span>
	</md-button>

	<!-- Form to create an invitation -->
	<form class="md-whiteframe-4dp create-code-form" layout="column" ng-if="creatingInvite">

		<h4>Send invite to these emails:</h4>

		<md-input-container>
			<label>
				List of emails
			</label>
			<textarea required ng-model="emails" md-select-on-focus></textarea>
			<div class="hint">Comma separated</div>
		</md-input-container>

		<md-input-container>
			<label>
				Domain
			</label>
			<md-select ng-model="domainId">
				<!-- Option for creating a general invite, gets sent to backend/db as ""-->
				<md-option value="">No special access</md-option>
				<md-option ng-repeat="domain in ::domains"
						ng-bind="::domain.longName"
						value="{{::domain.domainId}}"></md-option>
			</md-select>
		</md-input-container>

		<div layout-align="end center" layout="row">
			<md-button class="md-raised md-primary"
					type="submit"
					ng-click="newInvite(emails,domainId)">
				Send
			</md-button>
		</div>

		<div ng-if="invalidEmails.length > 0">
			Invalid email addresses: <span ng-repeat="email in invalidEmails" ng-bind="email + ', '"></span>
		</div>
		<div class="submit-form-error md-warn" hidden></div>
	</form>

	<!-- List of invitations -->
	<md-list class="md-dense">
		<md-list-item ng-repeat="invite in invitesSent"
				class="md-2-line"
				layout="row">
			<div class="md-list-item-text">
				<h3 ng-bind="::invite.toEmail"></h3>
				<p>
					<span class="md-caption">
						<span ng-bind="pageService.getDomainName(invite.domainId) + ' domain'"></span>
						|
						<span ng-bind="getInviteStatus(invite)"></span>
					</span>
				<p>
			</div>
		</md-list-item>
	</md-list>
</md-content>
