<div class="capped-body-width">
	<div class="md-whiteframe-1dp" layout="column">
		<md-toolbar class="md-hue-2">
			<div class="md-toolbar-tools">
				Settings
			</div>
		</md-toolbar>

		<md-tabs md-selected="selectedIndex" md-dynamic-height md-border-bottom>
			<md-tab label="Account">
				<md-content layout-margin>
					<form ng-submit="submitForm($event)" layout="column" layout-margin>
						<div>
							Your email: {{arb.userService.user.email}}
						</div>

						<!-- Email frequency -->
						<md-input-container>
							<label>
								Email frequency
							</label>
							<md-select ng-model="arb.userService.user.emailFrequency">
								<md-option ng-repeat="(type,label) in ::frequencyTypes" value="{{::type}}">
									{{::label}}
								</md-option>
							</md-select>
						</md-input-container>

						<!-- Email threshold -->
						<md-input-container ng-if="arb.userService.user.emailFrequency === 'daily' ||
								arb.userService.user.emailFrequency === 'weekly'">
							<label>
								Email threshold
							</label>
							<input type="number" min="0" name="emailThreshold" ng-model="arb.userService.user.emailThreshold">
						</md-input-container>

						<!-- Explain email settings to the user in a readable format -->
						<div ng-switch="arb.userService.user.emailFrequency">
							<span ng-switch-when="never">
								You'll never get update emails.
							</span>
							<span ng-switch-when="immediately">
								You'll receive an email as soon as there is a new update.
							</span>
							<span ng-switch-default>
								You will receive a {{arb.userService.user.emailFrequency}} email when you have more than {{arb.userService.user.emailThreshold}} unread updates.
							</span>
						</div>

						<br>
						<br>

						<md-subheader class="md-hue-1">
							Editor
						</md-subheader>

						<div>
							<!-- Show advanced mode -->
							<md-checkbox ng-model="arb.userService.user.showAdvancedEditorMode"
									ng-if="!arb.userService.user.hasDomainInvite">
								Show advanced settings in the editor mode
							</md-checkbox>

							<!-- Ignore MathJax -->
							<md-checkbox ng-model="arb.userService.user.ignoreMathjax">
								Ignore MathJax in live preview
							</md-checkbox>
						</div>

						<md-progress-circular md-mode="indeterminate" toggle-on-submit hide></md-progress-circular>
						<div layout-align="end center" layout="row">
							<md-button class="md-primary md-raised" type="submit" toggle-on-submit>Submit</md-button>
						</div>
						<div class="submit-form-error md-warn" hidden></div>
						<div ng-if="submitted">Submitted!</div>
					</form>
				</md-content>
			</md-tab>

			<md-tab label="Invites">
				<div arb-settings-invite-tab
						domains="domains"
						invites-sent="invitesSent"
						ng-if="::arb.userService.user.maxTrustLevel >= 2"></div>
				<div layout-padding ng-if="::arb.userService.user.maxTrustLevel < 2">
					You haven't unlocked this feature yet.
				</div>
			</md-tab>
		</md-tabs>
	</div>
</div>
