<div class="capped-body-width">
	<div class="md-whiteframe-1dp" layout="column">
		<md-toolbar class="md-hue-1">
			<div class="md-toolbar-tools">
				Email settings
			</div>
		</md-toolbar>
		<form ng-submit="submitForm($event)" layout="column" layout-padding>
			<!-- Email frequency -->
			<md-input-container>
				<label>
					Email frequency
				</label>
				<md-select ng-model="userService.user.emailFrequency">
					<md-option ng-repeat="(type,label) in frequencyTypes" value="{{type}}">
						{{label}}
					</md-option>
				</md-select>
			</md-input-container>
	
			<!-- Email threshold -->
			<md-input-container ng-show="userService.user.emailFrequency === 'daily' ||
					userService.user.emailFrequency === 'weekly'">
				<label>
					Email threshold 
				</label>
				<input type="number" min="0" name="emailThreshold" ng-model="userService.user.emailThreshold">
			</md-input-container>

			<div ng-switch="userService.user.emailFrequency">
				<span ng-switch-when="never">
					You'll never get update emails.
				</span>
				<span ng-switch-when="immediately">
					You'll receive an email as soon as there is a new update.
				</span>
				<span ng-switch-default>
					You will receive a {{userService.user.emailFrequency}} email when you have more than {{userService.user.emailThreshold}} unread updates.
				</span>
			</div>
	
			<md-progress-circular md-mode="indeterminate" toggle-on-submit hide></md-progress-circular>
			<md-button class="md-primary md-raised" type="submit" toggle-on-submit>Submit</md-button>
			<div class="submit-form-error md-warn" hidden></div>
			<div ng-show="submitted">Submitted!</div>
		</form>
	</div>
</div>
