<form class="md-whiteframe-1dp"
		layout="column"
		layout-align="center center"
		layout-padding
		ng-submit="formSubmit($event)">

	<!-- Sign up with Facebook -->
	<!-- <div flex layout="row" layout-align="center center">
		<md-button class="md-raised facebook-button" ng-click="signupWithFb()">
			<md-icon md-svg-icon="facebook_box"></md-icon>
			sign up with facebook
		</md-button>
		<div class="g-signin2" data-onsuccess="onSignIn"></div>
		<div class="md-warn" ng-bind="socialError"></div>
	</div>-->

	<!-- Horizontal rule -->
	<!--<span class="centered-hr-text"><span>or</span></span>-->
	<br>

	<!-- Sign up with email form -->
	<div layout="column" layout-align="center center">
		<!-- Input fields -->
		<md-input-container>
			<label>Email</label>
			<input name="email" type="email" ng-model="formData.email" required="true">
		</md-input-container>
		<md-input-container>
			<label>First name</label>
			<input name="firstName" ng-model="formData.firstName" required="true">
		</md-input-container>
		<md-input-container>
			<label>Last name</label>
			<input name="lastName" ng-model="formData.lastName" required="true">
		</md-input-container>
		<md-input-container>
			<label>Password</label>
			<input name="password" type="password" ng-model="formData.password" required="true">
			<span class="md-caption">eight characters, a number, mixed case</span>
		</md-input-container>

		<!-- Sign up with email button -->
		<div layout="column" layout-align="center center">
			<md-progress-circular md-mode="indeterminate" toggle-on-submit hide></md-progress-circular>
			<div class="submit-form-error md-warn" hidden></div>
			<div class="md-warn" layout-margin ng-bind="normalError"></div>
			<md-button class="md-primary md-raised"
					type="submit"
					toggle-on-submit>
				&nbsp;Sign up with email&nbsp;
			</md-button>
		</div>
	</div>
</form>
