<form class="md-whiteframe-1dp" layout="column" ng-submit="formSubmit($event)">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h3>Sign Up</h3>
		</div>
	</md-toolbar>

	<md-input-container>
		<label>Email</label>
		<input ng-model="formData.email" readonly>
	</md-input-container>
	<md-input-container>
		<label>First name</label>
		<input ng-model="formData.firstName" md-maxlength="30" required="true">
	</md-input-container>
	<md-input-container>
		<label>Last name</label>
		<input ng-model="formData.lastName" md-maxlength="30" required="true">
	</md-input-container>
	<md-input-container>
		<label>Invite code (optional)</label>
		<input ng-model="formData.inviteCode">
	</md-input-container>

	<md-progress-circular md-mode="indeterminate" toggle-on-submit hide></md-progress-circular>
	<md-button class="md-primary md-raised" type="submit" toggle-on-submit>Sign up</md-button>
	<div class="submit-form-error md-warn" hidden></div>
</form>
