<div layout="column"
		ng-mouseover="isHovered = true"
		ng-mouseleave="isHovered = false"
		class="slow-down-container"
		ng-class="{'slow-down-container-expanded': isHovered}">
	<div class="slow-down-button md-body-2"
			ng-class="{
					'slow-down-button-collapsed': haveScrolled && !isHovered,
				}">
		<md-icon>slow_motion_video</md-icon>
		<span ng-if="!haveScrolled || isHovered">Say what?</span>
	</div>
	<div class="slow-down-tray md-body-1">
		<div ng-if="isHovered">

			<!-- Learn a subject at an easier level -->
			<div ng-repeat="(subjectId,pagePairs) in page.slowDownMap">
				<div>
					Would you like to learn
					<arb-page-title page-id="{{::subjectId}}" is-link="true"></arb-page-title>
					at a different level? See:
				</div>
				<ul>
					<li ng-repeat="pagePair in pagePairs | orderBy: '-level'">
						<arb-page-title page-id="{{::pagePair.childId}}" is-link="true"></arb-page-title>
					</li>
				</ul>
			</div>

			<!-- Learn one of the requirements -->
			<div ng-if="::page.requirements.length > 0">
				You can also learn
				<ng-pluralize count="page.requirements.length"
						when="{'one': 'one of the', 'other': 'one of the {}'}"></ng-pluralize>
				topics this page relies on:
				<ul>
					<li ng-repeat="requirement in page.requirements | orderBy: ['-isStrong', '-level']">
						<arb-page-title page-id="{{::requirement.parentId}}" is-link="true"></arb-page-title>
					</li>
				</ul>
			</div>

			<!-- What the page teaches -->
			<!--<span ng-if="page.subjects.length + page.requirements.length > 0"><b>Goals of this page:</b></span>
			<div ng-if="page.subjects.length > 0">
				This page teaches
				<span ng-repeat="subjectRelationship in page.subjects">
					<span ng-if="$last && !$first">and</span>
					<arb-page-title page-id="{{subjectRelationship.parentId}}"
							is-link="true"></arb-page-title>
					<span ng-if="!$last && page.subjects.length != 2" class="comma">,</span>
				</span>

				<span class="comma">.</span>
				<br>
			</div>-->

			<!-- What this page requires -->
			<!-- <div ng-if="page.requirements.length > 0">
				This page relies on
				<span ng-repeat="reqRelationship in page.requirements">
					<span ng-if="$last && !$first">and</span>
					<arb-page-title page-id="{{reqRelationship.parentId}}"
							is-link="true"></arb-page-title>
					<span ng-if="!$last && page.requirements.length != 2" class="comma">,</span>
				</span>

				<span class="comma">.</span>
				<br>
			</div>-->

			<!-- TODO: rearrange this so that it's ("to learn thing1, see a or b or c; to learn thing2, see b or d or e" -->
			<!-- TODO: fix issue with commas on 1x5 -->
			<!-- List other pages that teach things this page teaches -->
			<!--<div ng-if="altTeachers && altTeachers.length > 0">
				<br>
				<span><b>Related explanations:</b></span>
				<div ng-repeat="altTeacher in altTeachers">
					*
					<arb-page-title page-id="{{altTeacher.pageId}}"
							is-link="true"></arb-page-title>
					teaches
					<span ng-repeat="subjectRelationship in altTeacher.subjects">
						<span ng-if="$last && !$first">and</span>
						<arb-page-title page-id="{{subjectRelationship.parentId}}"
								is-link="true"></arb-page-title>
						<span ng-if="!$last && altTeacher.subjects.length != 2" class="comma">,</span>
					</span>
					<span ng-if="altTeacher.requirements.length > 0"><span class="comma">,</span> and relies on</span>
					<span ng-repeat="reqRelationship in altTeacher.requirements">
						<span ng-if="$last && !$first">and</span>
						<arb-page-title page-id="{{reqRelationship.parentId}}"
								is-link="true"></arb-page-title>
						<span ng-if="!$last && altTeacher.subjects.length != 2" class="comma">,</span>
					</span>
				</div>
			</div>-->

			<!-- Request a slower explanation -->
			<br>
			<div>
				<div>
					<span ng-if="hasSomeSuggestions()">Not helpful?</span>
					<span ng-if="!hasSomeSuggestions()">Looks like Arbital doesn't have any suggestions for this page yet.</span>
					Help us by making a request:
				</div>
				<div>
					<md-input-container flex>
						<input ng-model="request.freeformText"
								class="slow-down-free-form-text"
								aria-label="Alternate page request"
								placeholder="Optional request text"
								flex>
					</md-input-container>
					<md-button ng-click="submitExplanationRequest()">submit</md-button>
				</div>
			</div>
		</div>
	</div>
</div>
