<div layout="column"
		ng-mouseover="isHovered = true"
		ng-mouseleave="isHovered = false"
		class="slow-down-container"
		ng-class="{'slow-down-container-expanded': isHovered}">
	<div class="slow-down-button md-body-2"
			ng-class="{
					'slow-down-button-collapsed': haveScrolled && !isHovered,
				}">
		<md-icon>slow_motion_video</md-icon>
		<span ng-if="!haveScrolled || isHovered">Say what?</span>
	</div>
	<div class="slow-down-tray md-body-1">
		<span ng-if="isHovered">
			<!-- What the page teaches -->
			<div ng-if="page.subjects.length > 0">
				This page teaches
				<span ng-repeat="subjectRelationship in page.subjects">
					<span ng-if="$last && !$first">and</span>
					<arb-page-title page-id="{{subjectRelationship.parentId}}"
							is-link="true"></arb-page-title>
					<span ng-if="!$last && page.subjects.length != 2" class="comma">,</span>
				</span>

				<span class="comma">.</span>
				<br>
			</div>

			<!-- What this page requires -->
			<div ng-if="page.requirements.length > 0">
				This page relies on
				<span ng-repeat="reqRelationship in page.requirements">
					<span ng-if="$last && !$first">and</span>
					<arb-page-title page-id="{{reqRelationship.parentId}}"
							is-link="true"></arb-page-title>
					<span ng-if="!$last && page.requirements.length != 2" class="comma">,</span>
				</span>

				<span class="comma">.</span>
				<br>
			</div>

			<!-- List other pages that teach things this page teaches -->
			<!-- <div ng-if="altTeachers">
				<div ng-repeat="altTeacher in altTeachers">
					<arb-page-title page-id="{{altTeacher.pageId}}"
							is-link="true"></arb-page-title>
					teaches
					<span ng-repeat="subjectRelationship in altTeacher.subjects">
						<span ng-if="$last && !$first">and</span>
						<arb-page-title page-id="{{subjectRelationship.parentId}}"
								is-link="true"></arb-page-title>
						<span ng-if="!$last && altTeacher.subjects.length != 2" class="comma">,</span>
					</span>
					and relies on
					<span ng-repeat="reqRelationship in altTeacher.requirements">
						<span ng-if="$last && !$first">and</span>
						<arb-page-title page-id="{{reqRelationship.parentId}}"
								is-link="true"></arb-page-title>
						<span ng-if="!$last && altTeacher.subjects.length != 2" class="comma">,</span>
					</span>
				</div>
			</div> -->

			<!-- TODO: Request explanations without this pages reqs -->

			<!-- TODO: Request a slower or faster explanation -->

			<!-- TODO: Free-form feedback -->
			<div layout="row" layout-align="start end">
				<md-input-container flex>
					<input ng-model="request.freeformText"
							class="slow-down-free-form-text"
							aria-label="Alternate page request"
							placeholder="How can this page be improved?"
							flex>
				</md-input-container>
				<md-button ng-click="submitFreeformExplanationRequest()">submit</md-button>
			</div>
		</span>
	</div>
</div>