<div layout="column"
		class="speed-up-container"
		arb-speed-up-or-slow-down-button
		arb-click-elsewhere="isHovered = false"
		ng-class="{'speed-up-container-expanded': isHovered}">
	<div class="speed-up-button md-body-2"
			ng-click="isHovered = true"
			ng-class="{
					'speed-up-button-collapsed': haveScrolled && !isHovered,
				}">
		<span ng-if="!haveScrolled || isHovered">Go faster</span>
		<md-icon>slow_motion_video</md-icon>
	</div>
	<div class="speed-up-tray md-body-1">
		<span ng-if="isHovered">
			Coming soon
		</span>
	</div>
</div>