<div id="subpage-{{::page.pageId}}"
		layout="column"
		class="subpage-content full-width md-whiteframe-2dp"
		ng-class="{'selected-subpage': isSelected()}"
		ng-if="!isDeleted && !page.isResolved && (!page.isEditorComment || arb.stateService.getShowEditorComments())">
	<!-- Comment header -->
	<div class="comment-header" layout="row" layout-align="start center">
		<span ng-if="!parentSubpageId && !page.isEditorComment">
			<md-icon>comment</md-icon>
			<md-tooltip>Public comment</md-tooltip>
		</span>
		<span ng-if="!parentSubpageId && page.isEditorComment">
			<md-icon>rate_review</md-icon>
			<md-tooltip>Editor comment</md-tooltip>
		</span>
		<span class="separator" ng-if="::!parentSubpageId"></span>

		<!-- User name -->
		<arb-user-name user-id="{{::page.pageCreatorId}}"></arb-user-name>

		<!-- Collapse button -->
		<div layout="column" flex>
			<md-button aria-label="Collapse comment" ng-click="collapseToggle()">
				<md-icon ng-if="!isCollapsed">expand_less</md-icon>
				<md-icon ng-if="isCollapsed">expand_more</md-icon>
			</md-button>
		</div>

		<!-- RHS menu -->
		<md-menu class="no-padding">
			<md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Options">
				<md-icon>more_vert</md-icon>
			</md-button>
			<md-menu-content>

				<!-- Permalink -->
				<md-menu-item>
					<md-button ng-href="{{::myUrl}}" aria-label="Permalink">
						Permalink
					</md-button>
				</md-menu-item>

				<!-- Edit comment -->
				<md-menu-item ng-if="::(page.pageCreatorId === arb.userService.user.id)">
					<md-button ng-href="{{::arb.urlService.getEditPageUrl(page.pageId)}}"
							aria-label="Edit comment"
							ng-disabled="editing"
							ng-click="editSubpage($event)">
						Edit
					</md-button>
				</md-menu-item>

				<!-- Mark comment as for editors only -->
				<md-menu-item ng-if="(page.permissions.edit.has || lens.permissions.edit.has) && !page.isEditorComment">
					<md-button ng-click="showToEditorsOnly()"
							ng-disabled="editing"
							aria-label="Show to editors only">
						Show to editors only
					</md-button>
				</md-menu-item>

				<!-- Resolve comment thread -->
				<md-menu-item ng-if="(page.isEditorComment && !parentSubpageId && lens.permissions.edit.has)">
					<md-button aria-label="Resolve comment thread"
							ng-disabled="editing"
							ng-click="resolveThread($event)">
						Resolve thread
					</md-button>
				</md-menu-item>

				<!-- Delete comment -->
				<md-menu-item ng-if="page.permissions.delete.has">
					<md-button ng-click="deleteSubpage()"
							ng-disabled="editing"
							aria-label="Delete comment">
						Delete
					</md-button>
				</md-menu-item>

			</md-menu-content>
		</md-menu>
	</div>

	<!-- Collapsable body -->
	<div layout="column" ng-if="!isCollapsed" layout-margin>
		<arb-markdown class="comment-text-container" page-id="{{::page.pageId}}" ng-if="!editing"></arb-markdown>
		<!-- Edit this subpage -->
		<div arb-edit-page
				class="edit-comment-embed"
				is-embedded="true"
				page-id="{{::page.pageId}}"
				done-fn="editDone(result)"
				ng-if="editing"></div>

		<!-- Footer -->
		<div class="comment-footer" layout="row" layout-align="start start" ng-if="!editing">
			<arb-likes likeable-type="page" likeable-id="{{::page.pageId}}" is-button="true" is-stretched="true"></arb-likes>
			<arb-subscribe page-id="{{::page.pageId}}"
					show-subscriber-count="::!isTinyScreen"
					ng-if="::!parentSubpageId && (page.editCreatorId != arb.userService.user.id)"></arb-subscribe>
			<md-button class="md-primary"
					aria-label="Reply to comment"
					ng-click="newReply()"
					ng-disabled="newReplyId"
					arb-user-check=""
					ng-if="page.permissions.comment.has && !parentSubpageId && page.subpageIds.length <= 0">
				<md-icon>reply</md-icon>
				Reply
			</md-button>
			<span flex></span>
			<span class="md-caption" ng-bind="::(page.pageCreatedAt | relativeDateTime)"></span>
		</div>

		<!-- Indented reply section -->
		<div layout="row">
			<div flex="10"></div>
			<div flex="90" layout="column">
				<!-- Replies -->
				<div arb-subpage lens-id="{{::lensId}}"
						page-id="{{::subpageId}}"
						parent-subpage-id="{{::page.pageId}}"
						ng-repeat="subpageId in page.subpageIds"></div>

				<!-- Reply to thread button -->
				<md-button class="md-primary"
						aria-label="Reply to thread"
						ng-click="newReply()"
						arb-user-check=""
						ng-if="page.permissions.comment.has && !newReplyId && page.subpageIds.length > 0">
					<md-icon>reply</md-icon>
					New Reply
				</md-button>

				<!-- Write a new reply -->
				<div arb-edit-page
						class="new-comment-edit-page edit-comment-embed"
						is-embedded="true"
						page-id="{{newReplyId}}"
						done-fn="newReplyDone(result)"
						ng-if="newReplyId"></div>
			</div>
		</div>
	</div>
</div>
