<md-button arb-user-check
		aria-label="subscribe"
		ng-class="::{'md-icon-button': !isStretched}"
		ng-click="subscribeClick()">
	<md-icon ng-class="{on: isSubscribed()}">visibility</md-icon>
	<span class="like-count">
		{{page.subscriberCount + (isSubscribed() ? 1 : 0)}}
	</span>
	<md-tooltip md-delay="500" md-direction="top" ng-if="!isSubscribed()">
		Click to increase the importance of events around this item
	</md-tooltip>
	<md-tooltip md-delay="500" md-direction="top" ng-if="isSubscribed()">
		Click to decrease the importance of events around this item
	</md-tooltip>
</md-button>
