<div layout="column" layout-align="start center">
	<md-button arb-user-check
			ng-class="::{'md-icon-button': !isStretched}"
			ng-click="subscribeClick()">
		<md-icon ng-class="{on: isSubscribed()}">visibility</md-icon>
		<span ng-if="::isStretched">Subscribe</span>
		<md-icon class="on" ng-if="isSubscribedAsMaintainer()">build</md-icon>
		<md-tooltip md-delay="500" ng-if="!isSubscribed()">
			Receive updates for comments on this page
		</md-tooltip>
		<md-tooltip md-delay="500" ng-if="isSubscribed() && !isSubscribedAsMaintainer()">
			You will receive updates for comments on this page
		</md-tooltip>
		<md-tooltip md-delay="500" ng-if="isSubscribed() && isSubscribedAsMaintainer()">
			You will receive updates for comments, edits, and marks on this page
		</md-tooltip>
	</md-button>
	<ng-pluralize class="md-caption"
			count="page.subscriberCount + (isSubscribed() ? 1 : 0)" when="{
				'0': 'No subscribers',
				'one': '1 subscriber',
				'other': '{} subscribers'}"
			ng-if="::showSubscriberCount">
	</ng-pluralize>
</div>
