<div class="intrasite-popover" ng-class="::{'touch-device': arb.isTouchDevice}">
	<div class="top-triangle-track" ng-if="::(direction === 'down')">
		<div class="triangle-up toolbarless-version" ng-style="::getArrowStyle()"></div>
	</div>
	<div class="popover-body toolbarless-version md-whiteframe-8dp">
		<div class="popover-tab-body toolbarless-version prevent-scroll-leak">
		</div>
	</div>
	<div class="bottom-triangle-track" ng-if="::(direction === 'up')">
		<div class="triangle-down toolbarless-version" ng-style="::getArrowStyle()"></div>
	</div>
</div>
