<!-- TODO: switch back to md-swipe- (rather than ng-swipe-) once this bug is fixed: https://github.com/angular/material/issues/10145 -->
<div class="intrasite-popover"
		ng-class="::{'touch-device': arb.isTouchDevice}"
		ng-swipe-left="onSwipe()"
		ng-swipe-right="onSwipe()">
	<div class="popover-close-note md-caption" ng-if="arb.isTouchDevice" ng-click="onSwipe()">close</div>

	<div class="popover-body toolbarless-version">
		<div class="popover-tab-body toolbarless-version prevent-scroll-leak"></div>
	</div>
</div>
