<!-- Top toolbar appearing on every page -->
<md-toolbar ng-class="{'md-tall': isTinyScreen, 'md-hue-3': pageService.privateGroupId !== ''}"
		ng-if="!hide">
	<div class="md-toolbar-tools">
		<a ng-href="{{::pageService.getDomainUrl()}}">
			<md-icon md-svg-icon="arbital_logo" class="arbital-logo"></md-icon>
		</a>

		<a href="/"
				layout-margin
				ng-bind="::(pageService.pageMap[pageService.privateGroupId].title | shorten: 30)"
				ng-if="pageService.privateGroupId !== ''"></a>

		<!-- Search -->
		<span flex></span>
		<arb-autocomplete ng-repeat="currentPage in [urlService.currentPage]"
				do-autofocus="::doAutofocus()"
				placeholder="Search"
				on-select="searchResultSelected(result)"
				flex="grow"
				ng-if="::!isTinyScreen"></arb-autocomplete>
		<span flex></span>

		<!-- Updates -->
		<md-button href="/updates/"
				ng-class="{'md-icon-button': userService.user.updateCount <= 0}"
				aria-label="Your updates"
				ng-if="userService.user.id !== ''">
			<md-icon ng-if="userService.user.updateCount <= 0">notifications_none</md-icon>
			<md-icon class="md-accent md-hue-3" ng-if="userService.user.updateCount > 0">notifications</md-icon>
			<span ng-bind="userService.user.updateCount" ng-if="userService.user.updateCount > 0"></span>
		</md-button>

		<!-- Login/signup buttons -->
		<md-button ng-href="/signup/?continueUrl={{currentUrl}}"
				ng-if="userService.user.id === ''">
			Sign Up
		</md-button>
		<md-button ng-click="toggleRightMenu()"
				aria-label="Log in"
				ng-if="userService.user.id === ''">
			Log In
		</md-button>

		<!-- Button for RHS sidebar -->
		<md-button class="md-icon-button"
				ng-click="toggleRightMenu()"
				aria-label="Main menu"
				ng-if="userService.user.id !== ''">
			<md-icon>menu</md-icon>
    </md-button>
	</div>
	<div class="md-toolbar-tools md-toolbar-tools-bottom" ng-if="::isTinyScreen">
		<arb-autocomplete ng-repeat="currentPage in [urlService.currentPage]"
				do-autofocus="::doAutofocus()"
				placeholder="Search"
				on-select="searchResultSelected(result)"
				layout-fill></arb-autocomplete>
	</div>
</md-toolbar>
<md-progress-linear id="loading-bar" md-mode="determinate" value="{{loadingBarValue}}" hide></md-progress-linear>

<!-- Right sidenav slide out; only if the user is logged in -->
<md-sidenav class="md-sidenav-right md-whiteframe-6dp" md-component-id="right" ng-if="userService.user.id !== ''">
	<md-toolbar>
		<h1 class="md-toolbar-tools" layout="row" layout-align="space-between center">
			<div class="sidenav-email" ng-bind="::userService.user.email"></div>
			<md-button class="md-icon-button"
					ng-click="toggleRightMenu()">
				<md-icon>arrow_forward</md-icon>
			</md-button>
		</h1>
	</md-toolbar>
	<md-content layout="column">
		<!-- List of groups -->
		<md-subheader ng-if="(userService.user.groupIds.length > 0)">
			Your Groups
		</md-subheader>
		<div layout="column" layout-align="start center">
			<div ng-repeat="groupId in ::userService.user.groupIds">
				<md-button aria-label="Go to domain"
						ng-href="{{::pageService.getDomainUrl(pageService.pageMap[groupId].alias)}}"
						ng-bind="::(pageService.pageMap[groupId].title | shorten: 30)"></md-button>
			</div>
		</div>
		<md-divider></md-divider>

		<!-- Other buttons -->
		<md-subheader>
			Your Account
		</md-subheader>
		<md-button href="/dashboard/" ng-click="toggleRightMenu()">
			Your Dashboard
		</md-button>
		<md-button ng-href="/groups" ng-click="toggleRightMenu()">Your Groups</md-button>
		<md-button ng-href="/requisites" ng-click="toggleRightMenu()">Your Requisites</md-button>
		<md-button ng-href="/settings" ng-click="toggleRightMenu()">Your Settings</md-button>
		<md-divider></md-divider>

		<md-button ng-click="logout()" id="logout">Log Out</md-button>
	</md-content>
</md-sidenav>

<!-- Right sidenav slide out; only if the user is logged out -->
<md-sidenav class="md-sidenav-right md-whiteframe-6dp" md-component-id="right" ng-if="!userService.user.id !== ''">
	<md-toolbar>
		<h1 class="md-toolbar-tools" layout="row" layout-align="space-between center">
			<span>Log In</span>
			<md-button class="md-icon-button" ng-click="toggleRightMenu()">
				<md-icon>arrow_forward</md-icon>
			</md-button>
		</h1>
	</md-toolbar>
	<md-content>
		<arb-login is-embedded="true"></arb-login>
	</md-content>
</md-sidenav>
