<!-- Template for the toolbar -->
<md-toolbar class="md-whiteframe-6dp">
	<div class="md-toolbar-tools">
		<a ng-href="{{pageService.getDomainUrl()}}">Arbital</a>

		<span flex="5"></span>

		<a ng-href="/"
				ng-bind="pageService.pageMap[pageService.privateGroupId].title"
				ng-show="pageService.privateGroupId"></a>

		<span flex="5"></span>

		<!-- Search -->
		<md-autocomplete md-selected-item="searchItem"
				md-search-text="searchText"
				md-items="result in getSearchResults(searchText)"
				md-item-text="searchText"
				md-selected-item-change="searchResultSelected(result)"
				md-menu-class="autocomplete-custom-template"
				md-no-cache="true"
				md-min-length="2"
				md-delay="300"
				md-autofocus="true"
				placeholder="Search"
				flex="80">
			<md-item-template>
				<div layout="row">
					<arb-likes page-id="{{result.label}}"></arb-likes>
						<arb-page-title page-id="{{result.label}}" show-clickbait="true"></arb-page-title>
				</div>
			</md-item-template>
			<md-not-found>
				No matches found.
			</md-not-found>
		</md-autocomplete>

		<span flex="10"></span>

		<!-- Updates -->
		<md-button class="md-icon-button" ng-show="userService.user.isLoggedIn">
			<md-icon ng-show="userService.user.updateCount <= 0">notifications_none</md-icon>
			<md-icon ng-show="userService.user.updateCount > 0">notifications</md-icon>
			<span ng-bind="userService.user.updateCount" ng-show="userService.user.updateCount > 0"></span>
		</md-button>

		<!-- Login/signup buttons -->
		<md-button ng-href="/signup/?continueUrl={{currentUrl}}"
				ng-hide="userService.user.isLoggedIn">
			Sign Up
		</md-button>
		<md-button ng-href="/login/?continueUrl={{currentUrl}}"
				target="_self"
				ng-hide="userService.user.isLoggedIn">
			Log In
		</md-button>

		<!-- Button for RHS sidebar -->
		<md-button class="md-icon-button"
				ng-click="toggleRightMenu()"
				ng-show="userService.user.isLoggedIn">
			<md-icon>menu</md-icon>
    </md-button>
	</div>
</md-toolbar>

<md-sidenav class="md-sidenav-right md-whiteframe-6dp" md-component-id="right">
	<md-toolbar>
		<h1 class="md-toolbar-tools">
			{{userService.user.email}}
			<md-button class="md-icon-button"
					ng-click="toggleRightMenu()">
				<md-icon>arrow_forward</md-icon>
			</md-button>
		</h1>
	</md-toolbar>
	<md-content>
			<!-- List of groups -->
			<md-subheader ng-show="userService.user.groupIds.length > 0">
				My Groups
			</md-subheader>
			<div ng-repeat="groupId in userService.user.groupIds"
				ng-init="groupAlias=pageService.pageMap[groupId].alias">
				<a ng-href="{{pageService.getDomainUrl(groupAlias)}}" ng-bind="groupAlias"></a>
			</div>
			<md-divider></md-divider>

			<div>
				<a ng-href="{{userService.getUserUrl(userService.user.id)}}">My Profile</a>
			</div>
			<div>
				<a ng-href="/groups">My Groups</a>
			</div>
			<div>
				<a ng-href="/settings">My Settings</a>
			</div>
			<md-divider></md-divider>

			<md-button ng-href="/logout/?continueUrl={{currentUrl}}"
					id="logout"
					target="_self">Log Out</md-button>
		</form>
	</md-content>
</md-sidenav>
