<div class="updates-body-div">
	<div ng-repeat="(index,group) in updateGroups">
		<div class="panel"
				ng-class="{'panel-info': group.key.isNew, 'panel-default': !group.key.isNew}">

			<!-- Panel header -->
			<div class="panel-heading">
				<!-- Header when grouping by page -->
				<span ng-show="group.key.groupByPageId !== '0'">
					<span class="pull-right">
						<a href="#"
								class="group-subscribe-to-link glyph-link glyphicon glyphicon-eye-open"
								ng-class="{on: pageService.pageMap[group.key.groupByPageId].isSubscribed}"
								page-id="{{group.key.groupByPageId}}"></a>
					</span>
					<arb-likes-page-title page-id="{{group.key.groupByPageId}}"></arb-likes-page-title>
				</span>

				<!-- Header when grouping by user -->
				<span ng-show="group.key.groupByUserId !== '0'">
					<span class="pull-right">
						<a href="#"
								class="group-subscribe-to-link glyphicon glyphicon-eye-open"
								ng-class="{on: pageService.pageMap[group.key.groupByUserId].isSubscribed}"
								page-id="{{group.key.groupByUserId}}"></a>
					</span>
					<arb-user-name user-id="{{group.key.groupByUserId}}"></arb-user-name>
				</span>
			</div>

			<!-- Panel body -->
			<div class="panel-body">
				<div ng-repeat="(index,update) in group.updates">
					<div class="update-row"
							ng-class="{'unvisited-update': !update.isVisited}"
							ng-switch="update.type">
						
						<div ng-switch-when="topLevelComment">
							<arb-user-name user-id="{{update.byUserId}}"></arb-user-name>
							wrote a
							<a ng-href="{{pageService.getPageUrl(update.goToPageId)}}"
									page-id="{{update.goToPageId}}"
									class="intrasite-link">new comment</a>
						</div>
		
						<div ng-switch-when="reply">
							<arb-user-name user-id="{{update.byUserId}}"></arb-user-name>
							wrote a
							<a ng-href="{{pageService.getPageUrl(update.goToPageId)}}"
									page-id="{{update.goToPageId}}"
									class="intrasite-link">new comment reply</a>
						</div>
		
						<div ng-switch-when="pageEdit">
							This page has been edited
							<span ng-show="update.repeated==1">
								by <arb-user-name user-id="{{update.byUserId}}"></arb-user-name>
							</span>
							<span ng-show="update.repeated>1">
								{{update.repeated}} times
							</span>
						</div>
		
						<div ng-switch-when="newPageByUser">
							Created a new page:
							<arb-likes-page-title page-id="{{update.goToPageId}}"></arb-likes-page-title>
						</div>
		
						<div ng-switch-when="newParent">
							New parent page:
							<arb-likes-page-title page-id="{{update.goToPageId}}"></arb-likes-page-title>
						</div>
		
						<div ng-switch-when="newChild">
							New child page:
							<arb-likes-page-title page-id="{{update.goToPageId}}"></arb-likes-page-title>
						</div>
		
						<div ng-switch-when="newRequirement">
							New requirement:
							<arb-likes-page-title page-id="{{update.goToPageId}}"></arb-likes-page-title>
						</div>
		
						<div ng-switch-when="newRequiredBy">
							This page is now a requirement for
							<arb-likes-page-title page-id="{{update.goToPageId}}"></arb-likes-page-title>
						</div>
		
						<div ng-switch-when="newTag">
							New tag:
							<arb-likes-page-title page-id="{{update.goToPageId}}"></arb-likes-page-title>
						</div>
		
						<div ng-switch-when="newTaggedBy">
							This page now tags
							<arb-likes-page-title page-id="{{update.goToPageId}}"></arb-likes-page-title>
						</div>
		
						<div ng-switch-when="commentEdit">
							<arb-user-name user-id="{{update.byUserId}}"></arb-user-name>
							edited a
							<a ng-href="{{pageService.getPageUrl(update.goToPageId)}}"
									page-id="{{update.goToPageId}}"
									class="intrasite-link">comment</a>
						</div>
		
						<div ng-switch-when="atMention">
							<arb-user-name user-id="{{update.byUserId}}"></arb-user-name>
							mentioned you in a
							<a ng-href="{{pageService.getPageUrl(update.goToPageId)}}"
									page-id="{{update.goToPageId}}"
									class="intrasite-link">comment</a>
						</div>
		
						<div ng-switch-when="addedToGroup">
							<arb-user-name user-id="{{update.byUserId}}"></arb-user-name>
							added you to
							<a ng-href="{{pageService.getPageUrl(update.goToPageId)}}"
									page-id="{{update.goToPageId}}"
									class="intrasite-link">
								the {{pageService.pageMap[update.goToPageId].title}} group
							</a>
						</div>
		
						<div ng-switch-when="removedFromGroup">
							<arb-user-name user-id="{{update.byUserId}}"></arb-user-name>
							removed you from
							<a ng-href="{{pageService.getPageUrl(update.goToPageId)}}"
									page-id="{{update.goToPageId}}"
									class="intrasite-link">
								the {{pageService.pageMap[update.goToPageId].title}} group
							</a>
						</div>
		
						<div ng-switch-default class="alert alert-danger" role="alert">
							Unknown update type: {{update.type}}
						</div>
					</div>
				</div>
			</div><!--panel-body-->

		</div>
	</div>

	<p class="alert alert-info"
			ng-show="updateGroups.length == 0">
		No new updates
	</p>
</div>
