<div class="capped-body-width">
	<div layout="column" layout-margin>
		<div class="md-whiteframe-1dp"
				ng-repeat="(index,group) in ::updateGroups"
				ng-if="group.updates.length > 0">

			<!-- Panel header -->
			<md-subheader ng-class="::{'md-accent md-hue-1': !group.key.seen}">
				<!-- Header when grouping by page -->
				<div layout="row" layout-align="start center" ng-if="::(group.key.groupByPageId !== '')">
					<arb-page-title is-link="true" page-id="{{::group.key.groupByPageId}}" flex></arb-page-title>
					<arb-subscribe page-id="{{::group.key.groupByPageId}}"
						ng-if="::(!parentSubpageId && group.key.isGroupByObjectAlive)"></arb-subscribe>
				</div>

				<!-- Header when grouping by user -->
				<div layout="row" layout-align="start center" ng-if="::(group.key.groupByUserId !== '')">
					<arb-user-name user-id="{{::group.key.groupByUserId}}" flex></arb-user-name>
					<arb-subscribe page-id="{{::group.key.groupByUserId}}"
						ng-if="::(!parentSubpageId && group.key.isGroupByObjectAlive)"></arb-subscribe>
				</div>
			</md-subheader>

			<!-- Panel body -->
			<md-list>
				<md-list-item ng-repeat="(index,update) in group.updates">
					<div ng-class="::{'unseen-update': !update.isVisited}" flex>
						<div arb-log-row
							update="::update"
							change-log="::update.changeLog"
							by-user-id="{{::update.byUserId}}"
							show-user-link="::(update.subscribedToId != update.byUserId)"
							type="{{::update.type}}"
							mark-id="{{::update.markId}}"
							go-to-page-id="{{::update.goToPageId}}"
							is-related-page-alive="::update.isGoToPageAlive"
							created-at="{{::update.createdAt}}"
							show-dismiss-icon="::true"
							on-dismiss="dismissUpdate(update, group.updates, index)"
						></div>

						<div ng-if="::update.type == 'pageEdit'">
							<arb-edit-diff change-log="::update.changeLog"></arb-edit-diff>
						 </div>
					</div>
					<md-divider ng-if="::!$last"></md-divider>
				</md-list-item>
			</md-list>

		</div>

		<p ng-if="::(updateGroups.length == 0)">
			No new updates
		</p>
	</div>
</div>
