<div class="capped-body-width">
	<div layout="column" layout-margin>
		<div class="md-whiteframe-1dp" ng-repeat="(index,group) in ::updateGroups">

			<!-- Panel header -->
			<md-subheader ng-class="::{'md-accent md-hue-1': group.key.unseen}">
				<!-- Header when grouping by page -->
				<div layout="row" layout-align="start center" ng-if="::(group.key.groupByPageId !== '')">
					<arb-page-title is-link="true" page-id="{{::group.key.groupByPageId}}" flex></arb-page-title>
					<arb-subscribe page-id="{{::group.key.groupByPageId}}" ng-if="::!parentSubpageId"></arb-subscribe>
				</div>

				<!-- Header when grouping by user -->
				<div layout="row" layout-align="start center" ng-if="::(group.key.groupByUserId !== '')">
					<arb-user-name user-id="{{::group.key.groupByUserId}}" flex></arb-user-name>
					<arb-subscribe page-id="{{::group.key.groupByUserId}}" is-user="true" ng-if="::!parentSubpageId"></arb-subscribe>
				</div>
			</md-subheader>

			<!-- Panel body -->
			<div layout="column" layout-padding>
				<div ng-class="::{'unseen-update': !update.isVisited}"
						ng-repeat="(index,update) in ::group.updates">
					<div ng-switch="::update.type">

						<div ng-switch-when="topLevelComment">
							<arb-user-name user-id="{{::update.byUserId}}"></arb-user-name>
							wrote a
							<a ng-href="{{::pageService.getPageUrl(update.goToPageId)}}"
									page-id="{{::update.goToPageId}}"
									class="intrasite-link">new comment</a>
							(<span ng-bind="::(update.createdAt | relativeDateTime)"></span>)
						</div>

						<div ng-switch-when="reply">
							<arb-user-name user-id="{{::update.byUserId}}"></arb-user-name>
							wrote a
							<a ng-href="{{::pageService.getPageUrl(update.goToPageId)}}"
									page-id="{{::update.goToPageId}}"
									class="intrasite-link">new comment reply</a>
							(<span ng-bind="::(update.createdAt | relativeDateTime)"></span>)
						</div>

						<div ng-switch-when="pageEdit">
							Edited
							<span ng-if="::(update.repeated > 1)">
								{{::update.repeated}} times
							</span>
							<span>
								by <arb-user-name user-id="{{::update.byUserId}}"></arb-user-name>
							</span>
							(<span ng-bind="::(update.createdAt | relativeDateTime)"></span>)
						</div>

						<div ng-switch-when="pageInfoEdit">
							<span ng-switch="update.settingsChangeType">
								<span ng-switch-when="newAlias">
									Alias changed from "{{::update.oldSettingsValue}}" to "{{::update.newSettingsValue}}"
								</span>

								<span ng-switch-when="newSortChildrenBy">
									Child sort order changed from "{{::update.oldSettingsValue}}" to "{{::update.newSettingsValue}}"
								</span>

								<span ng-switch-when="setVoteType">
									Vote type changed from "{{::update.oldSettingsValue}}" to "{{::update.newSettingsValue}}"
								</span>

								<span ng-switch-when="newEditKarmaLock">
									Edit karma lock changed from "{{::update.oldSettingsValue}}" to "{{::update.newSettingsValue}}"
								</span>

								<span ng-switch-when="newEditGroup">
									Edit group changed from
									<!-- old edit group -->
									<span ng-if="::(update.oldSettingsValue == '')">none</span>
									<span ng-if="::(update.oldSettingsValue != '')">
										<arb-page-title page-id="{{::update.oldSettingsValue}}" is-link="true"></arb-page-title>
									</span>
									to
									<!-- new edit group -->
									<span ng-if="::(update.newSettingsValue == '')">none</span>
									<span ng-if="::(update.newSettingsValue != '')">
										<!-- ROGTODO: this is showing up blank. is it because the page isn't in the pagemap? -->
										<arb-page-title page-id="{{::update.newSettingsValue}}" is-link="true"></arb-page-title>
									</span>
								</span>

								<span ng-switch-when="turnOnVote">
									Probability bar shown
								</span>

								<span ng-switch-when="turnOffVote">
									Probability bar hidden
								</span>

								<span ng-switch-default>
									Settings edited
								</span>
							</span>
							<span>
								by <arb-user-name user-id="{{::update.byUserId}}"></arb-user-name>
							</span>
							(<span ng-bind="::(update.createdAt | relativeDateTime)"></span>)
						</div>

						<div ng-switch-when="newPageByUser">
							Created a new page:
							<arb-page-title is-link="true" page-id="{{::update.goToPageId}}"></arb-page-title>
							(<span ng-bind="::(update.createdAt | relativeDateTime)"></span>)
						</div>

						<div ng-switch-when="newParent">
							New parent page:
							<arb-page-title is-link="true" page-id="{{::update.goToPageId}}"></arb-page-title>
							(<span ng-bind="::(update.createdAt | relativeDateTime)"></span>)
						</div>

						<div ng-switch-when="newChild">
							New child page:
							<arb-page-title is-link="true" page-id="{{::update.goToPageId}}"></arb-page-title>
							(<span ng-bind="::(update.createdAt | relativeDateTime)"></span>)
						</div>

						<div ng-switch-when="newRequirement">
							New requirement:
							<arb-page-title is-link="true" page-id="{{::update.goToPageId}}"></arb-page-title>
							(<span ng-bind="::(update.createdAt | relativeDateTime)"></span>)
						</div>

						<div ng-switch-when="newRequiredBy">
							This page is now a requirement for
							<arb-page-title is-link="true" page-id="{{::update.goToPageId}}"></arb-page-title>
							(<span ng-bind="::(update.createdAt | relativeDateTime)"></span>)
						</div>

						<div ng-switch-when="newTag">
							New tag:
							<arb-page-title is-link="true" page-id="{{::update.goToPageId}}"></arb-page-title>
							(<span ng-bind="::(update.createdAt | relativeDateTime)"></span>)
						</div>

						<div ng-switch-when="newTaggedBy">
							This page now tags
							<arb-page-title is-link="true" page-id="{{::update.goToPageId}}"></arb-page-title>
							(<span ng-bind="::(update.createdAt | relativeDateTime)"></span>)
						</div>

						<div ng-switch-when="newSubject">
							New "teaches requisite":
							<arb-page-title is-link="true" page-id="{{::update.goToPageId}}"></arb-page-title>
							(<span ng-bind="::(update.createdAt | relativeDateTime)"></span>)
						</div>

						<div ng-switch-when="deleteSubject">
							Deleted "teaches requisite":
							<arb-page-title is-link="true" page-id="{{::update.goToPageId}}"></arb-page-title>
							(<span ng-bind="::(update.createdAt | relativeDateTime)"></span>)
						</div>

						<div ng-switch-when="newTeacher">
							New "taught by":
							<arb-page-title is-link="true" page-id="{{::update.goToPageId}}"></arb-page-title>
							(<span ng-bind="::(update.createdAt | relativeDateTime)"></span>)
						</div>

						<div ng-switch-when="deleteTeacher">
							Deleted "taught by":
							<arb-page-title is-link="true" page-id="{{::update.goToPageId}}"></arb-page-title>
							(<span ng-bind="::(update.createdAt | relativeDateTime)"></span>)
						</div>

						<div ng-switch-when="commentEdit">
							<arb-user-name user-id="{{::update.byUserId}}"></arb-user-name>
							edited a
							<a ng-href="{{::pageService.getPageUrl(update.goToPageId)}}"
									page-id="{{::update.goToPageId}}"
									class="intrasite-link">comment</a>
							(<span ng-bind="::(update.createdAt | relativeDateTime)"></span>)
						</div>

						<div ng-switch-when="atMention">
							<arb-user-name user-id="{{::update.byUserId}}"></arb-user-name>
							mentioned you in a
							<a ng-href="{{::pageService.getPageUrl(update.goToPageId)}}"
									page-id="{{::update.goToPageId}}"
									class="intrasite-link">comment</a>
							(<span ng-bind="::(update.createdAt | relativeDateTime)"></span>)
						</div>

						<div ng-switch-when="addedToGroup">
							<arb-user-name user-id="{{::update.byUserId}}"></arb-user-name>
							added you to
							<a ng-href="{{::pageService.getPageUrl(update.goToPageId)}}"
									page-id="{{::update.goToPageId}}"
									class="intrasite-link">
								the {{pageService.pageMap[update.goToPageId].title}} group
							</a>
							(<span ng-bind="::(update.createdAt | relativeDateTime)"></span>)
						</div>

						<div ng-switch-when="removedFromGroup">
							<arb-user-name user-id="{{::update.byUserId}}"></arb-user-name>
							removed you from
							<a ng-href="{{::pageService.getPageUrl(update.goToPageId)}}"
									page-id="{{::update.goToPageId}}"
									class="intrasite-link">
								the {{pageService.pageMap[update.goToPageId].title}} group
							</a>
							(<span ng-bind="::(update.createdAt | relativeDateTime)"></span>)
						</div>

						<div ng-switch-default class="md-warn">
							Unknown update type: {{::update.type}}
						</div>
					</div>
				</div>
			</div><!--panel-body-->

		</div>

		<p ng-if="::(updateGroups.length == 0)">
			No new updates
		</p>
	</div>
</div>
