<div class="capped-body-width">
	<div layout="column" layout-margin>
		<div class="md-whiteframe-1dp" ng-repeat="(index,group) in ::updateGroups">

			<!-- Panel header -->
			<md-subheader ng-class="::{'md-accent md-hue-1': group.key.unseen}">
				<!-- Header when grouping by page -->
				<div layout="row" layout-align="start center" ng-if="::(group.key.groupByPageId !== '')">
					<arb-page-title is-link="true" page-id="{{::group.key.groupByPageId}}" flex></arb-page-title>
					<arb-subscribe page-id="{{::group.key.groupByPageId}}" ng-if="::!parentSubpageId"></arb-subscribe>
				</div>

				<!-- Header when grouping by user -->
				<div layout="row" layout-align="start center" ng-if="::(group.key.groupByUserId !== '')">
					<arb-user-name user-id="{{::group.key.groupByUserId}}" flex></arb-user-name>
					<arb-subscribe page-id="{{::group.key.groupByUserId}}" is-user="true" ng-if="::!parentSubpageId"></arb-subscribe>
				</div>
			</md-subheader>

			<!-- Panel body -->
			<div layout="column" layout-padding>
				<div ng-class="::{'unseen-update': !update.isVisited}"
						ng-repeat="(index,update) in ::group.updates">
					<arb-log-row
						user-id="{{::update.byUserId}}"
						show-user-link="::(update.subscribedToId != update.byUserId)"
						type="{{::((update.type == 'pageInfoEdit' && update.settingsChangeType != '') ? update.settingsChangeType : update.type)}}"
						mark-id="{{::update.markId}}"
						related-page-id="{{::update.goToPageId}}"
						is-related-page-alive="::update.isGoToPageAlive"
						created-at="{{::update.createdAt}}"
						old-settings-value="{{::update.oldSettingsValue}}"
						new-settings-value="{{::update.newSettingsValue}}"
						repeated="::update.repeated"
					></arb-log-row>
				</div>
			</div><!--panel-body-->

		</div>

		<p ng-if="::(updateGroups.length == 0)">
			No new updates
		</p>
	</div>
</div>
