<div layout="column" class="capped-body-width">
	<arb-primary-page class="reveal-after-render" page-id="{{::userId}}"></arb-primary-page>

    <!-- User page specific-->
    <div arb-page-list panel-title="Recently created comments"
    	show-created-at="true"
    	page-ids="::idsMap.recentlyCreatedCommentIds"
    	ng-if="::userId"></div>
    <div arb-page-list panel-title="Recently created pages"
    	show-created-at="true"
    	show-red-link-count="::(userId === userService.user.id)"
    	show-text-length="::(userId === userService.user.id)"
    	page-ids="::idsMap.recentlyCreatedIds"
    	ng-if="::userId"></div>
    <div arb-page-list panel-title="Recently edited"
    	show-last-edit="true"
    	show-red-link-count="::(userId === userService.user.id)"
    	show-text-length="::(userId === userService.user.id)"
    	show-quick-edit-link="true"
    	page-ids="::idsMap.recentlyEditedIds"
    	ng-if="::userId"></div>
    <div arb-page-list panel-title="Top pages"
    	show-created-at="true"
    	page-ids="::idsMap.topPagesIds"
    	ng-if="::userId"></div>
</div>
