<!-- TODO: switch back to md-swipe- (rather than ng-swipe-) once this bug is fixed: https://github.com/angular/material/issues/10145 -->
<div ng-class="::{'touch-device': arb.isTouchDevice}"
		ng-swipe-left="onSwipe()"
		ng-swipe-right="onSwipe()">
	<div layout="row" layout-align="end none">
		<div><md-icon ng-if="arb.isTouchDevice" ng-click="onSwipe()">close</md-icon></div>
	</div>

	<!-- Loading spinner -->
	<div layout="column"
			layout-align="center center"
			ng-if="!isLoaded">
		<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	</div>

	<!-- Lens tabs -->
	<md-tabs class="md-primary md-hue-2"
			ng-class="::{'hide-tabs': summaries.length <= 1}"
			md-dynamic-height
			ng-if="::isLoaded">
		<md-tab ng-repeat="summary in ::summaries" label="{{::summary.name}}">
			<md-tab-body>
				<div layout="column">
					<md-content class="prevent-scroll-leak popover-tab-body" layout-padding>
						<!-- Title row -->
						<div class="popover-title" layout="row" layout-align="start center">
							<div flex>
								<!-- Title -->
								<arb-page-title page-id="{{::userId}}"
										custom-page-title="{{::page.isComment() ? 'Comment': undefined}}"
										is-link="true"
										class="ignore-popover" 
										flex
										ng-if="::page"></arb-page-title>
							</div>

							<!-- Subscribe -->
							<!--<arb-subscribe-to-user user-id="{{::userId}}"></arb-subscribe-to-user>-->
						</div>

						<!-- Summary content -->
						<div arb-markdown
								class="popover-text-container"
								page-id="{{::userId}}"
								summary-name="{{::summary.name}}"></div>

						<!-- Number of characters -->
						<div class="md-caption">
							Last online: <span ng-bind="::(user.lastWebsiteVisit | smartDateTime)"></span>
						</div>
					</md-content>
				</div>
			</md-tab-body>
		</md-tab>
	</md-tabs>
</div>
