<div layout="column" class="capped-body-width">
	<arb-primary-page class="reveal-after-render" no-footer="::true"></arb-primary-page>

	<!-- For user page display some additional info -->
	<div>
		<h2>User domain roles</h2>
		<div ng-repeat="(domainId, membership) in ::userDomainMembershipMap">
			<!-- Admins can edit the level of the user -->
			<div layout="row" layout-margin ng-if="::arb.userService.user.isAdmin">
				<arb-domain-role-input
						domain-id="{{::domainId}}"
						user-id="{{::userId}}"
						show-label="true"
						layout="row"
						flex></arb-domain-role-input>
			</div>
			<div ng-if="::!arb.userService.user.isAdmin">
				This user's role in
				<arb-page-title page-id="{{::arb.stateService.domainMap[domainId].pageId}}" is-link="true"></arb-page-title>
				domain is {{membership.role == '' ? 'none' : membership.role}}.
			</div>
		</div>
	</div>

	<!-- User page specific-->
	<div arb-page-list panel-title="Recently created comments"
				show-created-at="true"
				page-ids="::userPageData.recentlyCreatedCommentIds"
				ng-if="::userId"></div>
	<div arb-page-list panel-title="Recently created pages"
				show-created-at="true"
				show-text-length="::(userId === arb.userService.user.id)"
				page-ids="::userPageData.recentlyCreatedIds"
				ng-if="::userId"></div>
	<div arb-page-list panel-title="Recently edited"
				show-last-edit="true"
				show-text-length="::(userId === arb.userService.user.id)"
				show-quick-edit-link="true"
				page-ids="::userPageData.recentlyEditedIds"
				ng-if="::userId"></div>
	<div arb-page-list panel-title="Top pages"
				show-created-at="true"
				page-ids="::userPageData.topPagesIds"
				ng-if="::userId"></div>

	<div ng-include="arb.versionUrl('static/html/footer.html')"></div>
</div>
