<div class="vote-bar"
		ng-class="{'lens-text-container': !isEmbedded}"
		layout="column"
		layout-margin
		layout-fill>
	<!-- Header -->
	<div class="md-caption" layout="row">
		<span flex ng-bind="typeHelper.headerLabel"></span>
		<span>
			<ng-pluralize count="page.votes.length"
					when="{'0': 'No votes', 'one': 'One vote', 'other': '{} votes'}"></ng-pluralize>
		</span>
	</div>

	<!-- Body -->
	<div layout="row">
		<div class="vote-bar-body"
				ng-mouseleave="voteMouseMove($event, true)"
				ng-mousemove="voteMouseMove($event, false)"
				ng-click="voteMouseClick($event)"
				layout="column"
				flex>
			<!-- Top margin -->
			<div class="vote-bar-margin" layout="row" flex>
				<!-- Knob to show where user's vote is -->
				<div class="my-vote-div"
						ng-style="{left: valueToOffset(userVoteValue), visibility: userVoteValue ? 'visible' : 'hidden'}">
					<div class="my-vote-knob md-whiteframe-2dp"></div>
				</div>
				<!-- Know to show where the user will vote -->
				<div class="new-vote-div"
						ng-style="{left: valueToOffset(newVoteValue)}"
						ng-show="isHovering && userService.user.id !== '0'">
					<div class="new-vote-knob md-whiteframe-4dp"></div>
					<div class="md-body-2 new-vote-knob-hor" ng-bind="typeHelper.toString(newVoteValue)"></div>
				</div>
			</div>

			<!-- Buckets -->
			<div class="vote-bucket-container" layout="row" layout-align="start center" flex>
				<div class="vote-bucket-div md-whiteframe-1dp"
						ng-repeat="bucket in voteBuckets"
						ng-class="{selected: bucket === selectedVoteBucket}"
						flex="{{bucket.flex}}">
					<div class="vote-bucket"
							ng-style="{opacity: bucket.normValue}"
							layout-fill></div>
				</div>
			</div>

			<!-- Bottom margin -->
			<div layout="row" layout-align="start start" flex>
				<div class="vote-bar-label left-text" flex="10" ng-bind="typeHelper.label1"></div>
				<div flex="10"></div>
				<div class="vote-bar-label center-text" flex="10" ng-bind="typeHelper.label2"></div>
				<div flex="15"></div>
				<div class="vote-bar-label center-text" flex="10" ng-bind="typeHelper.label3"></div>
				<div flex="15"></div>
				<div class="vote-bar-label center-text" flex="10" ng-bind="typeHelper.label4"></div>
				<div flex="10"></div>
				<div class="vote-bar-label right-text" flex="10" ng-bind="typeHelper.label5"></div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<div layout="row">
		<div flex>
			<div ng-repeat="vote in selectedVoteBucket.votes">
				<arb-user-name user-id="{{vote.userId}}"></arb-user-name>:
				<span ng-bind="typeHelper.toString(vote.value)"></span> 
				<span ng-bind="vote.createdAt | relativeDateTime"></span>
			</div>
		</div>
		<!--<md-button ng-click="deleteMyVote()"
				ng-show="userVoteValue">
			Delete your {{typeHelper.toString(userVoteValue)}} vote
		</md-button>-->
	</div>
</div>
