<div class="vote-bar md-whiteframe-1dp" layout="column" layout-margin>
	<!-- Header -->
	<div layout="row">
		<span flex ng-bind="typeHelper.headerLabel"></span>
		<span>
			<ng-pluralize count="page.votes.length"
					when="{'0': 'No votes', 'one': 'One vote', 'other': '{} votes'}"></ng-pluralize>
		</span>
	</div>

	<!-- Body -->
	<div layout="row">
		<div layout="row" layout-align="end center">
			<div class="pre" ng-bind="typeHelper.label1"></div>
		</div>
		<div class="vote-bar-body"
				ng-mouseleave="voteMouseMove($event, true)"
				ng-mousemove="voteMouseMove($event, false)"
				ng-click="voteMouseClick($event)"
				layout="column"
				flex>
			<!-- Top margin -->
			<div class="vote-bar-margin" layout="row" flex>
				<!-- Knob to show where user's vote is -->
				<div class="my-vote-div"
						ng-style="{left: valueToOffset(userVoteValue), visibility: userVoteValue ? 'visible' : 'hidden'}">
					<div class="my-vote-knob md-whiteframe-2dp"></div>
				</div>
				<!-- Know to show where the user will vote -->
				<div class="new-vote-div"
						ng-style="{left: valueToOffset(newVoteValue)}"
						ng-show="isHovering">
					<div class="new-vote-knob md-whiteframe-4dp"></div>
					<div class="new-vote-knob-hor" ng-bind="typeHelper.toString(newVoteValue)"></div>
				</div>
			</div>

			<!-- Buckets -->
			<div class="md-whiteframe-1dp" layout="row" flex>
				<div class="vote-bucket-div"
						ng-repeat="bucket in voteBuckets"
						ng-class="{selected: bucket === selectedVoteBucket}"
						flex="{{bucket.flex}}">
					<div class="vote-bucket"
							ng-style="{opacity: bucket.normValue}"
							layout-fill></div>
				</div>
			</div>

			<!-- Bottom margin -->
			<div class="vote-bar-margin" layout="row" layout-align="start center" flex>
				<div flex></div>
				<div class="pre center-text" flex="15" ng-bind="typeHelper.label2"></div>
				<div flex></div>
				<div class="pre center-text" flex="15" ng-bind="typeHelper.label3"></div>
				<div flex></div>
				<div class="pre center-text" flex="15" ng-bind="typeHelper.label4"></div>
				<div flex></div>
			</div>
		</div>
		<div layout="row" layout-align="start center">
			<div class="pre" ng-bind="typeHelper.label5"></div>
		</div>
	</div>

	<!-- Footer -->
	<div layout="row">
		<div flex>
			<div ng-repeat="vote in selectedVoteBucket.votes">
				<span ng-bind="userService.getFullName(vote.userId)"></span>:
				<span ng-bind="typeHelper.toString(vote.value)"></span> 
				<span ng-bind="vote.createdAt | relativeDateTime"></span>
			</div>
		</div>
		<md-button ng-click="deleteMyVote()"
				ng-show="userVoteValue">
			Delete my vote ({{typeHelper.toString(userVoteValue)}})
		</md-button>
	</div>
</div>

