<div class="vote-bar">
	<!-- Header -->
	<div class="md-caption" layout="row"></div>

	<!-- Body -->
	<div layout="row">
		<div class="vote-bar-body full-width"
				ng-mouseleave="voteMouseMove($event, true)"
				ng-mousemove="voteMouseMove($event, false)"
				ng-click="voteMouseClick($event)">

			<div layout="row" layout-align="end center">
				<ng-pluralize count="page.voteCount"
						when="{'0': 'No votes', 'one': 'One vote', 'other': '{} votes'}"></ng-pluralize>
				<md-button class="short-button" ng-click="deleteMyVote()" ng-if="page.currentUserVote >= -1">
					<md-icon>delete</md-icon>
					<md-tooltip md-delay="300">Delete your vote</md-tooltip>
				</md-button>
			</div>

			<!-- Top margin -->
			<div class="vote-bar-margin full-width" layout="row">
				<!-- Knob to show where user's vote is -->
				<div class="my-vote-div"
						ng-style="{left: valueToOffset(page.currentUserVote),
								visibility: page.currentUserVote > 0 ? 'visible' : 'hidden'}">
					<div class="my-vote-knob md-whiteframe-2dp"></div>
				</div>
				<!-- Know to show where the user will vote -->
				<div class="new-vote-div"
						ng-style="{left: valueToOffset(newVoteValue)}"
						ng-if="isHovering && selectedVoteBucketIndex !== -1">
					<div class="new-vote-knob md-whiteframe-4dp"></div>
					<div class="md-body-2 new-vote-knob-hor" ng-bind="typeHelper.toString(newVoteValue)"></div>
				</div>
			</div>

			<!-- Buckets -->
			<div class="vote-bucket-container full-width" layout="row" layout-align="start center">
				<div class="vote-bucket-div md-whiteframe-1dp"
						ng-repeat="index in typeHelper.buckets"
						ng-class="{selected: index === selectedVoteBucketIndex}"
						flex="{{::typeHelper.getFlex(index)}}">
					<div class="vote-bucket"
							ng-style="{opacity: getNormValue(index)}"
							layout-fill></div>
				</div>
			</div>

			<!-- Bottom margin -->
			<div class="full-width" layout="row" layout-align="start start">
				<div class="vote-bar-label left-text"
						flex="{{::(arb.stateServie.isTinyScreen ? 20 : 10)}}"
						ng-bind="::typeHelper.label1"></div>
				<div flex="10"></div>
				<div class="vote-bar-label center-text"
						flex="10"
						ng-bind="::typeHelper.label2"
						ng-if="::!arb.stateServie.isTinyScreen"></div>
				<div flex="15"></div>
				<div flex="10">
					<div class="vote-bar-label center-text" ng-bind="::typeHelper.label3"></div>
					<md-button ng-class="{'md-raised md-accent': page.currentUserVote == -1}"
							ng-click="muVote()" 
							ng-mouseleave="voteMouseMove($event, true, true)"
							ng-mousemove="voteMouseMove($event, false, true)">
						<md-icon>block</md-icon>
						<span ng-bind="page.getMuVoteCount()"></span>
						<md-tooltip md-delay="300">This claim is flawed / confused</md-tooltip>
					</md-button>
				</div>
				<div flex="15"></div>
				<div class="vote-bar-label center-text"
						flex="10"
						ng-bind="::typeHelper.label4"
						ng-if="::!arb.stateServie.isTinyScreen"></div>
				<div flex="10"></div>
				<div class="vote-bar-label right-text"
						flex="{{::(arb.stateServie.isTinyScreen ? 20 : 10)}}"
						ng-bind="::typeHelper.label5"></div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<div layout="row">
		<div flex>
			<div ng-repeat="vote in getSelectedVotes()">
				<span ng-if="vote.userId != 0">
					<arb-user-name user-id="{{::vote.userId}}"></arb-user-name>
				</span>
				<span ng-if="vote.userId == 0">
					Anonymous vote
				</span>

				<span class="comma">:</span>
				<span ng-bind="::(typeHelper.toString(vote.value))"></span>
				<span ng-bind="::(vote.createdAt | smartDateTime)"></span>
			</div>
		</div>
	</div>
</div>
