<div class='md-whiteframe-1dp list-panel'>
	<!-- Red links -->
	<arb-list-sub-header>
		Some <a ng-href="/explore/math">Math</a> pages are referencing concepts that Arbital doesn't have yet.
		You can help by creating pages to explain these concepts.
		<arb-page-title page-id="3hs" is-link="true" custom-page-title="(How?)"></arb-page-title>
	</arb-list-sub-header>

	<md-progress-circular md-mode="indeterminate" ng-cloak ng-if="!redLinkRows"></md-progress-circular>
	<arb-explanation-request-row ng-repeat="row in redLinkRows | orderBy:['-originalTotalLikeCount','alias']" row="::row"></arb-explanation-request-row>

	<!-- Explanation requests -->
	<arb-list-sub-header>
		Looking for a bigger challenge?
		We are explaining&nbsp;<a ng-href="/explore/probability_theory">probability theory</a>.
		You can help by writing intuitive explanations for these topics:
	</arb-list-sub-header>

	<arb-explanation-request-row alias="sample_space"></arb-explanation-request-row>
	<arb-explanation-request-row alias="independent_events"></arb-explanation-request-row>
	<arb-explanation-request-row alias="normal_probability_distribution"></arb-explanation-request-row>
	<arb-explanation-request-row alias="monte_carlo_simulation"></arb-explanation-request-row>
	<arb-explanation-request-row alias="rejection_sampling"></arb-explanation-request-row>
	<arb-explanation-request-row alias="markov_random_field"></arb-explanation-request-row>

	<!-- Footer -->
	<arb-list-sub-header>
		If there is another math topic you'd like to explain or exercises you'd like to write:
		<a ng-href="{{::arb.urlService.getNewPageUrl()}}">go for it</a>!
	</arb-list-sub-header>
</div>
