<div class='md-whiteframe-1dp list-panel'>
	<!-- Red links -->
	<arb-list-sub-header>
		Some <a ng-href="/explore/math">Math</a> pages are referencing concepts that Arbital doesn't have yet.
		You can help by creating pages to explain these concepts.
		<arb-page-title page-id="3hs" is-link="true" custom-page-title="(How?)"></arb-page-title>
	</arb-list-sub-header>

	<md-progress-circular md-mode="indeterminate" ng-if="!redLinkRows" ng-cloak></md-progress-circular>
	<arb-explanation-request-row ng-repeat="redLink in redLinkRows"
		alias="{{::redLink.redLinkAlias}}"
		ref-count="{{::redLink.redLinkCount}}"></arb-explanation-request-row>

	<!-- Explanation requests -->
	<arb-list-sub-header>
		Looking for a bigger challenge?
		We are explaining&nbsp;<a ng-href="/explore/probability_theory">probability theory</a>.
		You can help by writing intuitive explanations for these topics:
	</arb-list-sub-header>

	<arb-explanation-request-row alias="monte_carlo_simulation"></arb-explanation-request-row>
	<arb-explanation-request-row alias="rejection_sampling"></arb-explanation-request-row>
	<arb-explanation-request-row alias="likelihood_weighting"></arb-explanation-request-row>
	<arb-explanation-request-row alias="gibbs_sampling"></arb-explanation-request-row>
	<arb-explanation-request-row alias="markov_random_field"></arb-explanation-request-row>
	<arb-explanation-request-row alias="structure_learning_for_bayesian_networks"></arb-explanation-request-row>
</div>
