{{define "init_js"}}
<script>
function init() {
  $(".hidden").hide();
  $(".show").click(function() {
    $(this).hide().next().show().next().show()
  });
  $(".hide").click(function() {
    $(this).hide().prev().show();
    $(this).next().hide()
  });
  $('#disconnect').click(helper.disconnectServer);
}

var helper = (function() {
  var BASE_API_PATH = 'plus/v1/';
  var authResult = undefined;

  return {
    /**
     * Hides the sign-in button and connects the server-side app after
     * the user successfully signs in.
     */
    signInCallback: function(authResult) {
      console.log("Auth result: " + authResult.code);
      if (authResult['access_token']) {
        console.log("signed in");
        this.logIn(authResult.code);
      } else if (authResult["error"]) {
        console.log("error signing in: " + authResult["error"]);
        $('#authResult').append('Logged out');
      }
    },
    logIn: function(code) {
      window.location.replace(
        window.location.origin + "/connect?state=" +
        $("#state").html() + "&code=" + code);
    }
  };
})();


function signInCallback(authResult) {
  helper.signInCallback(authResult);
}

$(document).ready(function() {
  init();
});
</script>
{{end}}
