{{define "login"}}
<span class style="display: none" id="state">{{.StateURI}}</span>

<div id="gConnect">
<span id="signinButton">
  <span
    class="g-signin"
    data-callback="signInCallback"
    data-clientid="{{.ClientId}}"
    data-accesstype="offline"
    data-cookiepolicy="single_host_origin"
    data-scope="profile">
  </span>
</span>
</div>
{{end}}
