{{/* style.tmpl; css style */}}
{{define "style"}}
.show .hide {
  margin: 1em;
}
.good {
  background-color: #8F8;
  height: 1.5em;
}
.bad {
  background-color: #F88;
  height: 1.5em;
}
textarea {
  width: 80%;
  height: 20em;
}
.probe_result {
  margin: 1em;
  float: left;
}
.fixfloat {
  clear: both;
}
{{end}}
