// All the z-indices we use
$inlineCommentIconZ: 1;
$popoverZ: 100;
$composeFabZ: 200;

body {
	overflow-x: hidden;
	&.autocomplete-body-fix {
		height: initial;
	}
}

// Set height to 100%
.full-height {
	height: 100%;

	// For md-tabs, also propagate the height change
	[md-tabs-template] {
		height: 100%;
	}
}

// Use this class to reveal the element after it and the children are linked
.reveal-after-render-parent {
	visibility: hidden !important;

	.reveal-after-render {
		visibility: hidden !important;
	}
}

// Container for the new/edit comment; embedded in the discussion section
.edit-comment-embed {
	.wmd-input {
		height: 50vh;
	}
}

// Container for the new answer edit
.new-answer-div {
	height: 70vh;
};

// Used when we use display: table
.edit-page-table-layout {
	display: table;
	width: 100%;

	.edit-page-row {
		display: table-row;
	}

	.edit-page-cell {
		display: table-cell;
	}
}

// Hack to allow us to use 100% height inside dynamic-view
$toolbar-height: 64px;
#dynamic-view {
	position: relative;
	top: -$toolbar-height;
	padding-top: $toolbar-height;
	box-sizing: border-box;
}

// Used to style the dot we display when a page hasn't been visited / was updated
.blue-dot {
	position: relative;
	top: -0.4em;
	display: inline-block;
	background-color: blue;
	width: 0.4em;
	height: 0.4em;
	border-radius: 50%;
}

.autocomplete-custom-template li {
	//border-bottom: 1px solid #ccc;
	height: auto;
	//padding-top: 8px;
	padding-bottom: 8px;
	//white-space: normal;
}

// Voting bar
.vote-bar {
	$vote-bar-height: 18px;
	$vote-bar-margin: $vote-bar-height * 1.5;
	$my-vote-width: 10px;

	// This is one of the 10 buckets we show for voting
	.vote-bucket-div {
		border: 1px solid black;
		height: $vote-bar-height;

		// Vote bucket background, which we change based on the vote count
		.vote-bucket {
			background-color: black;
			opacity: 0.0;

		}

		// Added when the div is hovered over
		&.selected {
			border: 1px solid red;
		}
	}

	// This is the space surrounding the vote bar on top and bottom
	.vote-bar-margin {
		height: $vote-bar-margin;
	}
	
	// This is the div we show when the user is hovering over the bar to vote
	.new-vote-div {
		position: relative;
		top: $vote-bar-margin / 2.0;
		z-index: 2;

		// This is the actual knob we show visually
		.new-vote-knob {
			position: relative;
			// Move left by $my-vote-width because my-vote-knob pushes this know to the right
			left: -$my-vote-width / 2.0 - $my-vote-width;
			background-color: red;
			width: $my-vote-width;
			height: $vote-bar-height + $vote-bar-margin;
		}

		// This is the actual knob we show visually
		.new-vote-knob-hor {
			position: relative;
			// Move left by $my-vote-width because my-vote-knob pushes this know to the right
			left: -$my-vote-width * 2.5 - 0.5 * $my-vote-width;
			top: -2.0 * $vote-bar-height - $vote-bar-margin;
			width: $my-vote-width * 5;
			height: $vote-bar-height;
			text-align: center;
		}
	}
	
	// This is the bar we show where the user's vote is
	.my-vote-div {
		position: relative;
		top: $vote-bar-margin / 2.0;
		z-index: 1;

		// This is the actual knob we show visually
		.my-vote-knob {
			position: relative;
			left: -$my-vote-width / 2.0;
			background-color: black;
			width: $my-vote-width;
			height: $vote-bar-height + $vote-bar-margin;
		}
	}
}

// Div containing the entire voting bar
.vote-bar-body:focus {
	// Prevent outline appearing when the user clicks to vote
	outline: none;
}

// Helper used to center text horizontally
.center-text {
	text-align: center;
}

// Helper to preserve whitespace
.pre {
	white-space: pre;
}

// Style all the links
a {
	$color: #0000cc;
	text-decoration: none;
	color: $color;
	&:hover {
		color: darken($color, 20%);
	}
	&:active {
		color: lighten($color, 20%);
	}
}

// Tooltips that show up when you hover over things
md-tooltip .md-content {
	background-color: rgba(0,0,0,0.9);
	font-size: 12px;
	font-weight: bold;
}

md-list {
	// Remove top/bottom padding
	padding: 0;
}

md-dialog {
	width: 90vw;
	height: 90vh;

	// Hack to allow us to use 100% height inside the dialog
	md-dialog-content {
		position: relative;
		top: -$toolbar-height;
		padding-top: $toolbar-height;
		margin-bottom: -$toolbar-height;
		box-sizing: border-box;
		height: 100%;
	}
}

.md-button {
}

.md-subheader {
	background-color: silver;

	&.md-primary {
		background-color: lightblue;
	}
	&.md-accent {
		background-color: pink;
	}
	&.md-warn {
		background-color: orange;
	}

	.md-subheader-inner {
		padding: 4px;
	}
}

.md-toolbar-tools a {
	// Prevent links from wrapping inside toolbars
	white-space: nowrap;
}

// Style all md-icons to have size proportionate to the font size
/*md-icon.material-icons {
	width: 1em;
	height: 1em;
	font-size: max(1em, 24px);
	min-width: 24px;
	min-height: 24px;
}*/

// Helper for coloring broken links
.red-link {
	color: #c70a0a;
}

arb-likes {
	white-space: nowrap;
	margin: 0 10px 0 0;
}

// Intrasite popover
arb-intrasite-popover {
	position: absolute;
	z-index: $popoverZ;
	background-color: white;
}

// Compose fab that appears in the bottom right corner
arb-compose-fab {
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: $composeFabZ;
}

// Helper class for hiding the tabs (used when we only have one)
.hide-tabs {
	md-tabs-wrapper {
		display: none;
	}
	md-tabs-content-wrapper {
		top: 0px;
	}
}

// Container for buttons that appear when we diff two edits
.diff-buttons {
	position: absolute;
	right: 0;
	top: $toolbar-height;
	margin: 20px;
	z-index: 3;
};

// Section that shows the diff between two edits
.diff-section {
	del {
		color: red;
	}
	ins {
		color: green;
	};
};

// Contains all markdown buttons
.wmd-button-bar {
	border-bottom: 2px solid silver;

	@mixin small-button {
		width: 24px;
		min-width: 24px;
		margin: 0px 5px;
		padding: 0;
	}

	button {
		@include small-button;
	}

	a {
		@include small-button;
	}
}

// Small vertical separator
.separator {
	margin: 10px 10px;
	padding: 0 1px 0 0;
	background-color: silver;
}

// Textarea for editing markdown
.wmd-input {
	width: 100%;
	height: 100%;
	resize: none;
	border: none;
	outline: none;
	padding: 0;
}

// Div for the preview separator
.wmd-preview-separator {
	width: 20px;
}

// Highlight subpages when they are selected
.selected-subpage {
	border: blue 1px solid;
}

// Icon shown on the RHS corresponding to an inline comment
.inline-comment-icon {
	position: absolute;
	z-index: $inlineCommentIconZ;
}

// Anchor text for an inline comment
.inline-comment-highlight {
	background-color: lightblue;
}

// Anchor text for an inline comment
.inline-comment-highlight-hover {
	background-color: lightblue;
}

// Div containing the inline comment thread
.inline-comment-container {
	margin: 20px;

	// Expand button
	.expand {
		height: 20px;
	}

	// Added to constrain the height of the subpage
	&.constrained {
		arb-subpage {
			max-height: calc(70vh - 20px);
			overflow-y: auto;
		}
	}
}
