@import "ng-sortable.scss";

// All the z-indices we use
$inlineCommentIconZ: 1;
$popoverZ: 60;
$composeFabZ: 50;

$link-color: #137abd;

// Colors that are the same as we set for mdThemingProvider
//http://www.google.com/design/spec/style/color.html#color-color-palette
$primary-color: #009688; // teal (500)
$primary-hue-1: #E0F2F1; // 100
$primary-hue-2: #00796B; // 700
$primary-hue-3: #004D40; // 900
$accent-color: #FF5722; // deep-orange (500)
$accent-hue-1: #FFCCBC; // 100
$accent-hue-2: #E64A19; // 700
$accent-hue-3: #F16700; // custom (opposite to teal500)
$warn-color: #F44336; // red (500)
$warn-hue-1: #FFCDD2; // 100
$warn-hue-2: #D32F2F; // 700
$warn-hue-3: #B71C1C; // 900

#primary-color {
	border-top-color: $primary-color;
	border-right-color: $primary-hue-1;
	border-bottom-color: $primary-hue-2;
	border-left-color: $primary-hue-3;
}

#accent-color {
	border-top-color: $accent-color;
	border-right-color: $accent-hue-1;
	border-bottom-color: $accent-hue-2;
	border-left-color: $accent-hue-3;
}

#warn-color {
	border-top-color: $warn-color;
	border-right-color: $warn-hue-1;
	border-bottom-color: $warn-hue-2;
	border-left-color: $warn-hue-3;
}

body {
	overflow-x: hidden;
	background-color: whitesmoke;
}

// Fix we need to apply to the body for most pages (where content just scrolls down)
// Edit page is the notable exception
.body-fix {
	height: auto;
}

md-content {
	background-color: initial;
}

// WTF? This is probably a bug with NgMaterial
.md-select-menu-container {
	background-color: white;
}

div.md-primary, md-list-item.md-primary {
	background-color: $primary-color;
	&.md-hue-1 {
		background-color: $primary-hue-1;
	}
	&.md-hue-2 {
		background-color: $primary-hue-2;
	}
	&.md-hue-3 {
		background-color: $primary-hue-3;
	}
}

div.md-accent, md-list-item.md-accent {
	background-color: $accent-color;
	&.md-hue-1 {
		background-color: $accent-hue-1;
	}
	&.md-hue-2 {
		background-color: $accent-hue-2;
	}
	&.md-hue-3 {
		background-color: $accent-hue-3;
	}
}

div.md-warn, md-list-item.md-warn {
	background-color: $warn-color;
	&.md-hue-1 {
		background-color: $warn-hue-1;
	}
	&.md-hue-2 {
		background-color: $warn-hue-2;
	}
	&.md-hue-3 {
		background-color: $warn-hue-3;
	}
}

span.md-accent {
	color: $accent-color;
	& > span, & > md-icon {
		color: $accent-color;
	}
}

span.md-warn {
	color: $warn-color;
	& > span, & > md-icon {
		color: $warn-color;
	}
}

// Page and section titles
.md-display-3 {
	font-family: "Roboto Slab";
	font-size: 2.5rem;
	line-height: 3rem;
	font-weight: 400;
	margin: 0.5rem 0;

	md-icon {
		font-size: 2.5rem;
		width: 2.5rem;
		height: 2.5rem;
	}
}

// Markdown header 1
.md-display-2, .preview-area h1, arb-markdown h1 {
	font-family: "Roboto Slab";
	font-size: 2rem;
	line-height: 2.2rem;
	font-weight: 700;
	margin-top: 2rem;
	margin-bottom: 0.75rem;
}

// Markdown header 2
.md-display-1, .preview-area h2, arb-markdown h2 {
	font-size: 1.5rem;
	line-height: 1.7rem;
	font-weight: 300;
	margin-top: 2rem;
	margin-bottom: 0.75rem;
}

// Markdown header 3
.md-headline, .preview-area h3, arb-markdown h3 {
	font-size: 1.3rem;
	line-height: 1.5rem;
	font-weight: 700;
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
	color: #555555;
}

.md-subhead {
	font-weight: 700;
}

// Used for helpful, non-important info text
.md-caption {
	font-size: 12px;
	color: darkgray;
	line-height: normal;
}

// Slightly bolder normal font
.md-body-2 {
	font-weight: 700;
}

.md-subheader {
	background-color: whitesmoke;
	padding: 8px 16px;
	margin-bottom: 6px;

	&.md-primary {
		background-color: $primary-color;
	}
	&.md-accent {
		background-color: $accent-color;
	}
	&.md-warn {
		background-color: $warn-color;
	}

	.md-subheader-inner {
		padding: 0;
	}
}

.submit-form-error {
	padding: 10px;
}

.bold {
	font-weight: bold;
}

.float-left {
	float: left;
}
.float-right {
	float: right;
}

.nowrap {
	white-space: nowrap;
}

.facebook-button {
	background-color: #3b5998;
	color: white;

	md-icon {
		color: white;
	}

	&:hover {
		background-color: #8b9dc3 !important;
	}
	&:focus {
		background-color: #8b9dc3 !important;
	}
}

arb-markdown, [arb-markdown], .preview-area {
	p {
		margin-top: 0;
		// Allow scrollbars when paragraphs (sometimes caused by long MathJax equations) don't fit on the screen
		overflow-x: auto;
		overflow-y: hidden;

		&:empty {
			margin: 0;
		}
	}

	img {
		max-width: 100%;
	}

	ul, ol {
		padding-left: 1.5em;
	}

	li p {
		// Reset overflow value, otherwise the bullet points in lists are invisible.
		overflow: inherit;
	}

	blockquote {
		border-left: lightgray 7px solid;
		padding-left: 10px;
		margin-left: 2px;
		p {
			padding: 10px 0;
		}
	}

	& > :last-child {
		margin-bottom: 0;
	}
}

// Cap the width of some pages, so they look nicer
.capped-body-width {
	display: block;
	margin-left: auto;
	margin-right: auto;

	arb-index > & {
		max-width: 1100px;
	}
	arb-group-index > & {
		max-width: 1100px;
	}
	arb-user-page > & {
		max-width: 1100px;
	}
	arb-dashboard-page > & {
		max-width: 1100px;
	}
	arb-signup > & {
		max-width: 560px;
	}
	arb-login > & {
		max-width: 560px;
	}
	arb-updates > & {
		max-width: 560px;
	}
	arb-groups-page > & {
		max-width: 900px;
	}
	arb-requisites-page > & {
		max-width: 900px;
	}
	arb-learn-page > & {
		max-width: 900px;
	}
	arb-settings-page > & {
		max-width: 560px;
	}
	arb-primary-page > & {
		max-width: 1100px;
	}
}

.discussion-container {
	margin: 20px 0;
}

.white-background {
	background-color: white;
}
.md-whiteframe-1dp {
	background-color: white;
}
.md-whiteframe-2dp {
	background-color: white;
}

.black-font {
	color: black;
}

.full-width {
	width: 100%;
}
.full-height {
	height: 100%;
}
md-tabs.full-height > md-tabs-content-wrapper > md-tab-content > div {
	height: 100%;
}

.no-margins {
	margin: 0 !important;
}

// Use this class to reveal the element after it and the children are linked
.reveal-after-render-parent {
	visibility: hidden !important;

	.reveal-after-render {
		visibility: hidden !important;
	}

	// Have to hide the knob, otherwise it appears before we reveal the page
	.my-vote-knob {
		visibility: hidden !important;
	}
}

// Container for a list of tags/parents
.page-list-span {
	margin: 5px 0;
}

// Container for the new/edit comment; embedded in the discussion section
.edit-comment-embed {
	height: 50vh;
}

// Container for the new comment in a discussion
.new-comment-edit-page {
	margin-top: 20px;
}

// Container for the new answer edit
.new-answer-div {
	height: 70vh;
	.wmd-input {
		background-color: white;
	}
};

.next-prev-nav {
	min-height: 50px;
}

// Hack to allow us to use 100% height inside dynamic-view
$toolbar-height: 64px;
#dynamic-view {
	/* position: relative;
	top: -$toolbar-height;
	padding-top: $toolbar-height;
	box-sizing: border-box;*/
}

.sidenav-email {
	max-width: 90%;
	overflow-x: hidden;
}

// Added to updates that the user hasn't seen yet
.unseen-update {
	background-color: $primary-hue-1;
}

// Used to style the dot we display when a page hasn't been visited / was updated
@mixin dot($color) {
	position: relative;
	top: -0.4em;
	display: inline-block;
	background-color: $color;
	width: 0.4em;
	height: 0.4em;
	border-radius: 50%;
}
.primary-dot {
	@include dot($primary-color);
}
.accent-dot {
	@include dot($accent-color);
}
.warn-dot {
	@include dot($warn-color);
}

// Element inside an autocomplete dropdown list
.autocomplete-custom-template li {
	border-bottom: 1px solid silver;
	padding-top: 10px;
	padding-bottom: 5px;
	height: auto;
	white-space: normal;
	line-height: 20px;
}

// Fixing the issue with the dropdown autocomplete sometimes being too small.
.md-virtual-repeat-container.md-autocomplete-suggestions-container {
	min-height: 30vh;
}

// Voting bar
.vote-bar {
	$vote-bar-height: 18px;
	$vote-bar-selected-height: 24px;
	$vote-bucket-container-height: 30px;
	$vote-bar-margin: $vote-bar-height * 1.5;
	$my-vote-width: 10px;

	.vote-bar-label {
		margin: 10px 0px;
		white-space: pre;
		line-height: normal;
	}

	// Contains all vote-bucket-divs
	.vote-bucket-container {
		min-height: $vote-bucket-container-height;
	}

	// This is one of the 10 buckets we show for voting
	.vote-bucket-div {
		border: 1px solid black;
		height: $vote-bar-height;

		// Vote bucket background, which we change based on the vote count
		.vote-bucket {
			opacity: 0;
			background-color: black;
		}

		// Added when the div is hovered over
		&.selected {
			//border: $accent-hue-3 1px solid;
			height: $vote-bar-selected-height;

			.vote-bucket {
				background-color: $primary-color;
			}
		}
	}

	// Don't double up on borders when the neighbor will have one
	.vote-bucket-div:not(.selected) + .vote-bucket-div:not(.selected) {
		border-left: none;
	}


	// This is the space surrounding the vote bar on top and bottom
	.vote-bar-margin {
		height: $vote-bar-margin;
		max-height: $vote-bar-margin;
	}

	// This is the div we show when the user is hovering over the bar to vote
	.new-vote-div {
		position: relative;
		top: $vote-bar-margin - ($vote-bar-height + $vote-bar-margin - $vote-bucket-container-height)/ 2.0;
		z-index: 2;

		// This is the actual knob we show visually
		.new-vote-knob {
			position: relative;
			// Move left by $my-vote-width because my-vote-knob pushes this know to the right
			left: -$my-vote-width / 2.0 - $my-vote-width;
			background-color: $accent-hue-3;
			width: $my-vote-width;
			height: $vote-bar-height + $vote-bar-margin;
		}

		// This is the actual knob we show visually
		.new-vote-knob-hor {
			position: relative;
			// Move left by $my-vote-width because my-vote-knob pushes this know to the right
			left: -$my-vote-width * 2.5 - 0.5 * $my-vote-width;
			top: -2.0 * $vote-bar-height - $vote-bar-margin;
			width: $my-vote-width * 5;
			height: $vote-bar-height;
			text-align: center;
		}
	}

	// This is the bar we show where the user's vote is
	.my-vote-div {
		position: relative;
		top: $vote-bar-margin - ($vote-bar-height + $vote-bar-margin - $vote-bucket-container-height)/ 2.0;
		z-index: 1;

		// This is the actual knob we show visually
		.my-vote-knob {
			position: relative;
			left: -$my-vote-width / 2.0;
			background-color: $accent-color;
			width: $my-vote-width;
			height: $vote-bar-height + $vote-bar-margin;
		}
	}
}

// Div containing the entire voting bar
.vote-bar-body:focus {
	// Prevent outline appearing when the user clicks to vote
	outline: none;
}

// Helpers used to align text horizontally
.left-text {
	text-align: left;
}
.center-text {
	text-align: center;
}
.right-text {
	text-align: right;
}

// Helper to preserve whitespace
.pre {
	white-space: pre;
}

// Add this to an element to only show the first line of text in it.
.one-line {
	& > * {
		white-space: nowrap !important;
		text-overflow: ellipsis !important;
		overflow: hidden !important;
	}

	* + * {
		display: none;
	}
}

// This is used to style the comma which appears in the generated list of things.
// Normally there is a space before it, so we adjust the left margin.
.comma {
	margin-left: -3px;
}

// Inside toolbars, color the link differently
md-toolbar a:not(.md-button), md-toolbar a[page-id]:not(.md-button), md-toolbar a[user-id]:not(.md-button) {
	color: white;
	&:hover {
		color: $primary-hue-1;
	}
	&:active {
		color: darken($primary-hue-1, 20%);
	}
}

// Style all the links
a:not(.md-button) {
	$color: #0000cc;
	text-decoration: none;
	outline: none;

	color: $color;
	&:hover {
		color: darken($color, 20%);
	}
	&:active {
		color: lighten($color, 20%);
	}

	// Style intrasite links
	&[page-id], &[user-id] {
		color: $primary-color;
		&:hover {
			color: $primary-hue-2;
		}
		&:active {
			color: $primary-hue-3;
		}

		// Helper for coloring broken links
		&.red-link {
			color: $warn-color;
			&:hover {
				color: $warn-hue-2;
			}
			&:active {
				color: $warn-hue-3;
			}
		}

		// Helper for coloring [ red text] links.
		&.red-todo-text {
			background-color: #ffdddd;
		};
	}
}

#footer {
	font-size: 12px;
	opacity: 0.5;
	margin-top: 12px;
}

// Tooltips that show up when you hover over things
md-tooltip .md-content {
	background-color: rgba(0,0,0,0.9);
	font-size: 12px;
	font-weight: bold;
}

md-list {
	// Remove padding, so that when the list is empty, it doesn't take up space
	padding-top: 0;
	padding-bottom: 0;
}

.edit-page-dialog {
	width: 90vw;
	height: 90vh;
	background-color: $primary-hue-2; // otherwise we get slightly white corners

	// Hack to allow us to use 100% height inside the dialog
	md-dialog-content {
		height: 100%;
		// Need layout-column
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		flex-direction: column;
	}
}

.md-button:not(.md-fab) {
	// Remove all margins from buttons so we can easier have them fill areas we need
	margin: 0;

	&.md-icon-button {
		// Sometimes we have an icon AND a number following it inside the button, but
		// still want to keep it small; so we need to show the overflow.
		overflow: visible;
	}

	&:not([disabled]).special {
		color: $link-color !important;

		&:hover {
			color: darken($link-color, 15%) !important;
		}

		&.md-raised {
			background-color: $link-color !important;
			color: white !important;

			&:hover {
				background-color: darken($link-color, 5%) !important;
			}

			& md-icon {
				color: white !important;
			}
		}

		& md-icon {
			color: $link-color;
		}
	}
}

.feedback-textarea {
	width: 40vw;
	height: 50vh;
}

md-list-item:not(.no-margins) {
	min-height: 0;
	margin-top: 10px;
	margin-bottom: 10px;
}

.md-toolbar-tools {
	.arbital-logo {
		position: relative;
		top: -4px;
		width: 48px;
		height: 48px;
		margin: 10px 15px 0 0;
	}

	a {
		// Prevent links from wrapping inside toolbars
		white-space: nowrap;
	}

	&:not(.md-toolbar-tools-bottom) arb-autocomplete {
		max-width: 70%;
	}

	md-autocomplete {
		background-color: $primary-hue-2;

		md-autocomplete-wrap {
			// Remove the shadow since this autocomplete is inside a toolbar
			box-shadow: none;
		}

		input {
			color: white;
		}
	}
}

md-autocomplete {
	input {
		// Change line-height, otherwise the caret looks oversized in Safari
		line-height: normal;
	}
}

// Remove "X" button on IE
.md-input::-ms-clear {
  display: none;
}

// Style all md-icons to have size proportionate to the font size
md-icon {
	&.on {
		color: $primary-color;
	}

	&.off {
		color: gray;
	}
}

arb-likes, .likes-in-autocomplete {
	white-space: nowrap;
	margin: 0 10px 0 0;

	// The thumbs icon
	.like-icon {
		// Set width manually, otherwise Safari has it smaller
		min-width: 24px;
		margin-right: 2px;
	}

	// Number of likes
	.like-count {
	}
}

[arb-page-list] {
	margin-bottom: 4vw;
}

arb-page-title, [arb-page-title] {
	line-height: normal;
}

@mixin small-button {
	padding: 0 !important;
	width: 20px !important;
	height: 20px !important;
	min-width: 20px !important;
	min-height: 20px !important;
	margin-right: 5px !important;
}

.small-button {
	@include small-button;
}

arb-requisite-button, [arb-requisite-button] {
	.md-button {
		min-width: 40px;
		//@include small-button;
	}
}

.mastery-list-vertical {
	margin-bottom: 10px;

	& > * {
		margin: 5px 0;
	}
}

// Menu for a lens (with like, subscribe, edit, etc. buttons)
.lens-menu {
	padding: 5px 0;
}

@media (max-width: 599px) {
	$lens-padding: 5px;
	.lens-text-container {
		padding: 10px $lens-padding 20px;
		font-size: 16px;
		line-height: 20px;
	}
	.comment-text-container {
		padding: 5px 5px;
		font-size: 16px;
		line-height: 18px;
	}
	.dynamic-hor-padding {
		padding-left: $lens-padding;
		padding-right: $lens-padding;
		box-sizing: border-box;
	}
}
@media (min-width: 600px) {
	$lens-padding: 50px;
	.lens-text-container {
		padding: 10px $lens-padding 20px;
		font-size: 18px;
		line-height: 22px;
	}
	.comment-text-container {
		padding: 5px 10px;
		font-size: 16px;
		line-height: 20px;
	}
	.dynamic-hor-padding {
		padding-left: $lens-padding;
		padding-right: $lens-padding;
		box-sizing: border-box;
	}
}
@media (min-width: 960px) {
	$lens-padding: 90px;
	.lens-text-container {
		padding: 30px $lens-padding 60px;
		font-size: 18px;
		line-height: 26px;
	}
	.comment-text-container {
		padding: 5px 15px;
		font-size: 17px;
		line-height: 22px;
	}
	.dynamic-hor-padding {
		padding-left: $lens-padding;
		padding-right: $lens-padding;
		box-sizing: border-box;
	}
}
@media (min-width: 1100px) {
	$lens-padding: 100px;
	.lens-text-container {
		padding: 40px $lens-padding 80px;
		font-size: 18px;
		line-height: 30px;
	}
	.comment-text-container {
		padding: 5px 20px;
		font-size: 18px;
		line-height: 24px;
	}
	.dynamic-hor-padding {
		padding-left: $lens-padding;
		padding-right: $lens-padding;
		box-sizing: border-box;
	}
}

// Container for requirements
.requirements-container {
	padding: 5px 10px;
	border-bottom: silver 1px solid;

	.lens-suggestion {
		padding-top: 10px;
	}
}

// Container for the list of page's authors
.author-list {
	text-align: right;
}

// Text inside a popover
.popover-text-container {
	font-size: 18px;
	line-height: 24px;
}

// Intrasite popover
arb-intrasite-popover {
	position: absolute;
	z-index: $popoverZ;
}

// User popover
arb-user-popover {
	position: absolute;
	z-index: $popoverZ;
}

.popover-tab-body {
	max-height: 32vh;
}

.popover-body {
	background-color: whitesmoke;
}

$triangle-size: 15px;
.top-triangle-track {
	position: relative;
	left: -12px;

	.triangle-up {
		position: relative;
		width: 0;
		height: 0;
		border-left: $triangle-size solid transparent;
		border-right: $triangle-size solid transparent;
		border-bottom: $triangle-size solid $primary-color;
	}
}

.bottom-triangle-track {
	position: relative;
	left: -12px;

	.triangle-down {
		position: relative;
		width: 0;
		height: 0;
		border-left: $triangle-size solid transparent;
		border-right: $triangle-size solid transparent;
		border-top: $triangle-size solid whitesmoke;
	}
}

.private-group-icon {
	position: absolute;
	bottom: 4px;
	left: 42px;
	z-index: $composeFabZ;
	color: black;
}

// Compose fab that appears in the bottom right corner
arb-compose-fab {
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: $composeFabZ;
}

// Make the fab icon bigger
.fab-icon {
	width: 30px;
	height: 30px;
	font-size: 30px;
}

// Helper class for hiding the tabs (used when we only have one)
.hide-tabs {
	md-tabs-wrapper {
		display: none;
	}
	md-tabs-content-wrapper {
		top: 0px;
	}
}

md-tabs {
	outline: none;
}

md-tabs-wrapper {
	a {
		color: inherit;
	}
}

// When applying layout-column and flex to md-tabs, we want to propagate these
// all the way down to the tab content
md-tabs.layout-column.flex {
	@mixin layout-column-flex {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
	}

	md-tabs-content-wrapper {
		@include layout-column-flex;
	}
	md-tab-content {
		@include layout-column-flex;
	}
	md-tab-content > div {
		@include layout-column-flex;
	}
}

md-tab-content {
	background-color: white;
}

// Color the active tab
.md-tab {
	&.md-active {
		background-color: $primary-hue-3;
	}
}

md-tabs.page-tabs {
	margin-top: 15px;

	& > md-tabs-wrapper {
		background-color: white !important;
		border-bottom: $primary-hue-2 2px solid;

		md-tab-item {
			color: $primary-hue-2 !important;
			md-icon {
				color: $primary-hue-2 !important;
			}

			&.md-active {
				background-color: $primary-hue-1;
				border: $primary-hue-2 2px solid;
				margin-right: -4px;
			}
		}
	}
}

// Show deletes and inserts
del {
	color: red;
}
ins {
	color: green;
}

// Border for the RHS preview half on the edit page
.edit-page-rhs-border {
	border-left: $primary-hue-2 5px solid;
}

.edit-page-footer {
	margin: 0;
}

// Container for a editing a specific type of relationships
.edit-relationship-div {
	margin-bottom: 20px;
}

// Contains all markdown buttons
.wmd-button-bar {
	background-color: white;
	border-bottom: silver 1px solid;
	min-height: 0; // otherwise it collapses for some reason

	.md-button {
		width: 25px;
		min-width: 25px;
		margin: 0;
		padding: 0 0px;
	}

	@media (min-width: 1500px) {
		.md-button {
			width: 34px;
			min-width: 34px;
			margin: 0;
			padding: 0 5px;
		}
	}
}

// Small vertical separator
.separator {
	margin: 10px 10px;
	padding: 0 1px 0 0;
	background-color: silver;
}

// Textarea for editing markdown
.wmd-input {
	height: 100%;
	border: none;
	outline: none;
	padding: 5px 15px;
	background-color: whitesmoke;
}

textarea {
	resize: none;
}

// Where the preview for the editor goes
.preview-area {
	padding: 0 15px;
	background-color: white;
}

// Contents of editors tabs (but not the tab with the textarea)
.editor-tab {
	padding: 10px 20px 0px 20px;
}

// Highlight subpages when they are selected
.selected-subpage > .comment-header {
	background-color: $accent-hue-1;
	border: $accent-color 1px solid;
}

[arb-subpage] + [arb-subpage] {
	margin-top: 20px;
}

// Header/footer sections for a comment
.comment-header {
	background-color: $primary-hue-1;
	padding: 0 5px;
	border-bottom: silver 1px solid;
}
.comment-footer {
	padding: 0 5px;
}

// Icon shown on the RHS corresponding to an inline comment
.inline-comment-icon {
	position: absolute;
	z-index: $inlineCommentIconZ;
}

// Anchor text for an inline comment
.inline-comment-highlight {
	background-color: $primary-hue-1;
}

// Anchor text for an inline comment
.inline-comment-highlight-hover {
	background-color: $primary-hue-1;
}

// Div containing the inline comment thread
.inline-comment-container {
	margin: 20px;

	// Expand button
	.expand {
		height: 20px;
	}

	// Added to constrain the height of the subpage
	&.constrained {
		arb-subpage {
			max-height: calc(70vh - 20px);
			overflow-y: auto;
		}
	}
}

// Container with a list of pages
.pages-list {
	margin-bottom: 20px;
}

// Container for multiple choice questions
arb-multiple-choice {
	display: block;
	margin: 15px 0;

	.question-icon {
		position: relative;
		top: -1px;
		margin-right: 5px;
	}

	p {
		margin-bottom: 0;
	}

	md-radio-group {
		display: block;
		margin-left: 10px;
		margin-top: 0;
		border-left: $primary-hue-1 3px solid;
		padding-left: 10px;
	}

	md-radio-button {
		display: inline-block;
		margin: 0;
	}
}

.learn-requirements {
	margin-left: 10px;
	border-left: $primary-hue-1 3px solid;
	padding-left: 10px;
}

.learn-list {
	margin: 0 0 0 5px;
	padding-top: 0;

	& > div {
		margin-bottom: 5px;
	}
}

.unlearnable-list {
	margin: 0 0 0 20px;

	& > li {
		margin-bottom: 15px;
	}
}

arb-learn-part, [arb-learn-part] {
	padding-top: 7px;
	margin-bottom: 7px;

	.which-part {
		padding-left: 5px;
	}
}
