@import "constants.scss";

.slow-down-container {
	margin-left: -32px;
	margin-right: -500px;

	.change-speed-button {
		padding: 6px 8px 6px 6px;
		width: 94px;

		&.collapsed {
			border-radius: 18px 0 0 18px;
			padding-right: 2px;
		}
	}
}

.speed-up-container {
	margin-left: -68px;
	margin-right: -34px;

	.change-speed-button {
		padding: 6px 6px 6px 8px;
		width: 87px;

		&.collapsed {
			border-radius: 0 18px 18px 0;
			padding-left: 4px;
			margin-left: 68px;
		}
	}
}

.change-speed-container {
	position: fixed;
	z-index: 1;
	transition: all 100ms cubic-bezier(0.55, 0, 0.55, 0.2), top 1ms;
	opacity: 1;

	&.expanded {

		border-radius: 18px 18px 5px 5px;
		background-color: white;
	
		.change-speed-button {
			width: 400px;
			border-radius: 18px 18px 0 0;
		}
	
		.change-speed-tray {
			padding: 8px;
			width: auto;
			height: auto;
			border-radius: 0 0 5px 5px;
			border-left: 2px solid $link-color;
			border-right: 2px solid $link-color;
			border-bottom: 2px solid $link-color;
		}
	
		md-input-container {
			margin-top: 10px;
			margin-bottom: 0px;
		}
	}
}

.change-speed-button {
	transition: all 100ms cubic-bezier(0.55, 0, 0.55, 0.2), border-radius 1ms;
	border-radius: 18px;
	background-color: $link-color;
	color: white;
	min-width: 0;
	width: auto;
	opacity: 1;
	white-space: nowrap;
	outline: none;
	cursor: pointer;

	md-icon {
		color: white;
	}

	&.collapsed {
		width: 24px;
		opacity: .7;
	
		md-icon {
			opacity: .2;
		}
	}
}

.change-speed-tray {
	transition: all 100ms cubic-bezier(0.55, 0, 0.55, 0.2);
	border-left: 0px solid $link-color;
	width: 0px;
	height: 0px;
	padding: 0;
	max-width: 400px;
	background-color: white;

	ul {
		margin-top: 0;
	}
}
