@import "constants.scss";

$change-speed-width: 115px;
$no-info-color: gray;

arb-change-speed-button, [arb-change-speed-button] {
	max-width: 0px;
	max-height: 0px;
}

.slow-down-container {
	margin-left: -32px;
	margin-right: -500px;

	.change-speed-button {
		padding: 6px 8px 6px 6px;
		width: $change-speed-width;

		&.collapsed {
			border-radius: 18px 0 0 18px;
			padding-right: 2px;
		}
	}
}

.speed-up-container {
	margin-left: -68px;
	margin-right: -34px;

	&.expanded {
		margin-left: -366px;
	}

	.change-speed-button {
		padding: 6px 6px 6px 8px;
		width: $change-speed-width - 7px;
		text-align: right;

		&.collapsed {
			border-radius: 0 18px 18px 0;
			padding-left: 4px;
			margin-left: 68px;
		}
	}
}

// If the screen is less than 1200px, no speedometer icon, and
// line things up with the page
@media (max-width: 1199px) {
	.slow-down-container {
		margin-left: 0;

		.change-speed-button {
			width: auto;
			padding-left: 16px;
			border-top-left-radius: 0 !important;
			border-bottom-left-radius: 0 !important;
		}
	}

	.speed-up-container {
		margin-left: -$change-speed-width;

		&.expanded {
			margin-left: -400px;
		}

		.change-speed-button {
			width: auto;
			padding-right: 16px;
			border-top-right-radius: 0 !important;
			border-bottom-right-radius: 0 !important;
		}
	}

	.change-speed-button {
		md-icon {
			display: none;
		}
	}
}

.change-speed-container {
	position: fixed;
	margin-top: 8px;
	top: 0px;
	z-index: $changeSpeedZ;
	opacity: 1;
	width: $change-speed-width;

	&.expanded {
		z-index: $changeSpeedZ + 1;
		border-radius: 18px 18px 5px 5px;
		background-color: transparent;
		width: 400px;

		.change-speed-button {
			border-radius: 18px 18px 0 0;
			width: auto;
			z-index: $changeSpeedZ + 1;
		}

		.change-speed-tray {
			padding: 8px;
			width: auto;
			height: auto;
			border-radius: 0 0 5px 5px;
			border-left: 2px solid $no-info-color;
			border-right: 2px solid $no-info-color;
			border-bottom: 2px solid $no-info-color;
			z-index: $changeSpeedZ + 1;

			&.has-info {
				border-left: 2px solid $link-color;
				border-right: 2px solid $link-color;
				border-bottom: 2px solid $link-color;
			}
		}

		md-input-container {
			margin-top: 0px;
			margin-bottom: 0px;

			.md-errors-spacer {
				min-height: 0px;
			}
		}
	}
}

@media (max-width: 599px) {
	.change-speed-container {
		margin-top: 20px;
	}
}

.change-speed-container.stick-to-top {
	position: static;
}

.change-speed-container.stick-to-bottom {
	position: absolute;
}

.change-speed-button {
	border-radius: 18px;
	background-color: $no-info-color;
	color: white;
	min-width: 0;
	width: auto;
	opacity: 1;
	white-space: nowrap;
	outline: none;
	z-index: $changeSpeedZ;
	cursor: pointer;
	font-weight: 500;

	&.has-info {
		background-color: $link-color;
	}

	md-icon {
		color: white;
	}

	&.collapsed {
		width: 24px;
		opacity: .7;

		md-icon {
			opacity: .2;
		}
	}
}

.change-speed-tray {
	border-left: 0px solid $no-info-color;
	width: 0px;
	height: 0px;
	padding: 0;
	max-width: 400px;
	background-color: white;
	z-index: $changeSpeedZ;

	&.has-info {
		border-left: 0px solid $link-color;
	}

	ul {
		margin-top: 0;
	}
}

.change-speed-something-else {
	padding-left: 18px;

	.md-button {
		line-height: 24px !important;
		min-height: 0 !important;
	}

	input {
		height: auto;
		margin-left: 2px;
		line-height: 24px;
	}
}
