<arb-update-row update="::update" on-dismiss="::onDismiss" show-like-button="true">

	<div>
		<arb-page-title page-id="{{::update.goToPageId}}" is-link="true"></arb-page-title>
		<span ng-if="update.changeLog.type !== 'newEditProposal'">
			was edited by
		</span>
		<span ng-if="update.changeLog.type === 'newEditProposal'">
			has a pending edit proposal from
		</span>
		<arb-user-name user-id="{{::update.byUserId}}"></arb-user-name>
	</div>

	<md-button ng-click="arb.pageService.approveEditProposal(update.changeLog)"
			ng-if="update.changeLog.type == 'newEditProposal'">Approve</md-button>

	<arb-edit-diff change-log="::update.changeLog"></arb-edit-diff>

</arb-update-row>
