<div layout="column">
	<div layout="row" layout-align="start start" flex>
		<arb-expand-icon ng-if="showExpandIcon"></arb-expand-icon>
{{expanded}}

		<!-- Likes -->
		<arb-likes likeable-type="changeLog"
			likeable-id="{{::update.changeLog.id}}"
			likeable="::update.changeLog"
			is-button="true"
			ng-if="showLikeButton"></arb-likes>

		<!-- Guts of the row -->
		<div layout="column" layout-align="center start" flex>
			<div ng-transclude></div>
		</div>

		<!-- Dismiss button -->
		<div layout="column" layout-align="start end">
			<md-button class="md-icon-button dismiss-button remove-extra-space s20" ng-click="onDismiss()">
				<md-icon>close</md-icon>
				<md-tooltip md-delay="500">Dismiss</md-tooltip>
			</md-button>
			<arb-update-timestamp></arb-update-timestamp>
		</div>
	</div>
</div>
