<div layout="row" layout-xs="column" layout-align="space-between center">

	<!-- LHS of the row -->
	<arb-likes object-id="{{::update.changeLog.id}}"
		likeable="::update.changeLog"
		is-button="true"
		ng-if="showLikeButton"></arb-likes>

	<!-- guts of the row -->
	<div ng-transclude flex></div>

	<!-- RHS of the row -->
	<div layout="row" layout-align="end center">
		<span class="md-caption nowrap" ng-bind="::(update.createdAt | smartDateTime)"></span>
		<md-button class="md-icon-button" ng-click="onDismiss()">
			<md-icon>close</md-icon>
			<md-tooltip md-delay="500">Dismiss</md-tooltip>
		</md-button>
	</div>

</div>
