{{/* claim.tmpl is the main body of the claim page */}}
{{define "base"}}
<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	{{template "style"}}
	<link href="/static/css/claim.css" rel="stylesheet">
	{{template "scripts"}}
	<script src="/static/js/claim.js"></script>
</head>

<body>
{{template "navbar" .User}}

{{with .Claim}}
	<div class="bClaim claim" claim-id="{{.Id}}">
		<div class="claimLeft">
			{{template "vote" .}}
		</div>
		<div class="claimRight">
			<div class="claimBody">
				<div class="contexts">
					{{range .Contexts}}
						<p class="context"><a href="{{GetClaimUrl .}}">{{.Text}}</a></p>
					{{end}}
				</div>
				<p>{{if IsUpdated .CreatorId .UpdatedAt}}(U){{end}}<span class="claimText">{{.Text}}</span></p>
				<p><a href="{{.Url}}" target="_blank" class="claimUrl" {{if not .Url}}style="display:none"{{end}}>Link</a></p>
				{{range .Tags}}
					<span class="tag">{{.Text}}</span>
				{{end}}
				<a href="#" class="subscribeToClaim" {{if .IsSubscribed}}style="display:none"{{end}}>Subscribe</a>
				<a href="#" class="unsubscribeToClaim" {{if not .IsSubscribed}}style="display:none"{{end}}>Unsubscribe</a>
				{{if IsAdmin}} <!--TODO: another condition -->
					<a href="#" class="editClaim">Edit</a>
				{{end}}
				{{if IsAdmin}}
					<p class="admin">asked by {{.CreatorName}}</p>
				{{end}}
			</div>
			<form class="editClaimForm">
				<textarea name="text" class="editClaimTextarea"></textarea>
				<p>URL: <input type="url" name="url" class="editClaimUrl"/></p>
				<input type="hidden" name="id" value="{{.Id}}"/>
				<p class="errorText"></p>
				<img src="/static/images/loading.gif" class="loadingIndicator"/>
				<input type="submit" value="Save"/>
				<a href="#" class="cancelLink cancelClaim">Cancel</a>
			</form>
			<span>Comments:</span></br>
			<div class="comments">
				{{range .Comments}}
					{{template "comment" .}}
				{{end}}
				{{template "newComment" 0}}
			</div>
		</div>
	</div>
{{end}}

<div class="bClaims">
	{{range .Claims}}
		{{template "claim" .}}
	{{end}}
	{{if IsLoggedIn}}
		<div class="newClaim">
			<div class="newClaimBody">
				<a href="#" class="newClaimLink">New Claim</a>
				<a href="#" class="addExistingClaimLink">Add Existing Claim</a>
			</div>
			<form class="newClaimForm">
				<textarea name="text" class="newClaimTextarea"></textarea>
				<p>URL: <input type="url" name="url"/></p>
				<p class="errorText"></p>
				<img src="/static/images/loading.gif" class="loadingIndicator"/>
				<input type="submit" value="Submit">
				<a href="#" class="cancelLink cancelNewClaim">Cancel</a>
			</form>
			<form class="addExistingClaimForm">
				<p>Claim URL: <input type="url" name="url"/></p>
				<p class="errorText"></p>
				<img src="/static/images/loading.gif" class="loadingIndicator"/>
				<input type="submit" value="Submit">
				<a href="#" class="cancelLink cancelAddExistingClaim">Cancel</a>
			</form>
		</div>
	{{end}}
</div>

</body>
</html>
{{end}}
