{{/* claims.tmpl is the main body of the claims page */}}
{{define "base"}}
<!DOCTYPE html>
<html>
<head>
	{{template "style"}}
	<link href="/static/css/claims.css" rel="stylesheet">
	{{template "scripts"}}
</head>

<body>
{{template "navbar" .User}}

<div class="bClaims">
	<ul class="claimsList">
		{{range .Claims}}
			<li class="claimText"><a href="/claims/{{.Id}}">{{.Text}}</a>
				{{range .Tags}}
					<span class="tag">{{.Text}}</span>
				{{end}}
			</li>
		{{end}}
	</ul>
</div>

</body>
</html>
{{end}}
