{{/* claim.tmpl is the template for a given claim */}}
{{define "claim"}}
<div class="claim" claim-id="{{.Id}}">
	<div class="claimLeft">
		{{template "vote" .}}
	</div>
	<div class="claimRight">
		<div class="claimBody">
			<p>{{if IsNew .CreatorId .CreatedAt}}(*){{else if IsUpdated .CreatorId .UpdatedAt}}(U){{end}}<span class="claimText">{{.Text}}</span></p>
			<p><a href="{{.Url}}" target="_blank" class="claimUrl" {{if not .Url}}style="display:none"{{end}}>Link</a></p>
			<p><a href="{{GetClaimUrl .}}">Inputs ({{.InputCount}})</a></p>
			<a href="#" class="editClaim">Edit</a>
			{{if IsAdmin}}
				<p class="admin">
					<span>added by {{.CreatorName}}</span></br>
				</p>
			{{end}}
		</div>
		<form class="editClaimForm">
			<textarea name="text" class="editClaimTextarea"></textarea>
			<p>URL: <input type="url" name="url" class="editClaimUrl"/></p>
			<input type="hidden" name="id" value="{{.Id}}"/>
			<p class="errorText"></p>
			<img src="/static/images/loading.gif" class="loadingIndicator"/>
			<input type="submit" value="Save"/>
			<a href="#" class="cancelEditClaim">Cancel</a>
		</form>
	
		<span>Comments:</span></br>
		<div class="comments">
			{{range .Comments}}
				{{template "comment" .}}
			{{end}}
			{{template "newComment" 0}}
		</div>
	</div>
</div>
{{end}}
