{{/* claim.tmpl is the template for a given claim */}}
{{define "claim"}}
<div class="claim" claim-id="{{.Id}}">
	<div class="row">
		<!-- Vote column -->
		<div class="col-xs-2 vote text-right" my-vote="{{.MyVote}}">
			<div class="upvote-div">
				<span class="upvote-count">{{.UpvoteCount}}</span>
				{{if IsLoggedIn}}
					<a href="#" class="upvote-link glyphicon glyphicon-triangle-top {{if ge .MyVote 1}}on{{end}}"></a>
				{{else}}
					<span class="disabled-vote-link glyphicon glyphicon-triangle-top"></span>
				{{end}}
			</div>
			<div class="downvote-div">
				<span class="downvote-count">{{.DownvoteCount}}</span>
				{{if IsLoggedIn}}
					<a href="#" class="downvote-link glyphicon glyphicon-triangle-bottom {{if le .MyVote -1}}on{{end}}"></a>
				{{else}}
					<span class="disabled-vote-link glyphicon glyphicon-triangle-bottom"></span>
				{{end}}
			</div>
		</div>
		<!-- Claim buttons column -->
		<div class="col-xs-1 text-center">
			{{if IsLoggedIn}}
				<a href="#" class="subscribe-to-claim-link glyphicon glyphicon-eye-open {{if .IsSubscribed}}on{{end}}"></a></br>
			{{end}}
			{{if eq UserId .CreatorId}}
				<a href="#" class="edit-claim-link glyphicon glyphicon-pencil"></a></br>
			{{else if IsAdmin}}
				<a href="#" class="edit-claim-link admin glyphicon glyphicon-pencil"></a></br>
			{{end}}
		</div>
		<!-- Main claim column -->
		<div class="col-xs-9">
			<div class="claim-body">
				{{if IsAdmin}}
					<div class="admin">Last Visit: {{.LastVisit}}; Created At: {{.CreatedAt}}</div>
				{{end}}
				<span class="new-text">{{if IsNewClaim .}}(New){{else if IsUpdatedClaim .}}(Updated){{end}}</span>
				{{if .PrivacyKey.Valid}}<span class="private-text dotted-underline" title="Nobody can access this page unless they have the exact URL.">(Private)</span>{{end}}
				<a href={{GetClaimUrl .}} class="claim-summary">{{.Summary}}</a></br>
				<div class="claim-outdent">
					<span class="claim-text">{{.Text}}</span>
					<a href="{{.Url}}" target="_blank" class="claim-url" {{if not .Url}}hidden{{end}}>(Relevant Link)</a>

				<!-- Tags -->
				{{if .Tags}}
					</br>
					{{range .Tags}}
						<span class="tag label label-default">{{.Text}}</span>
					{{end}}
				{{end}}
				</div>

				<!-- Contexts -->
				{{if .IsParentClaim}}
					{{if .Contexts}}
						<a class="toggle-contexts-link" data-toggle="collapse" data-target=".contexts">Contexts ({{len .Contexts}}) &raquo;</a>
						<div>
							<ul class="contexts" hidden>
								{{range .Contexts}}
									<li><a href="{{GetClaimUrl .}}">{{.Summary}}</a></li>
								{{end}}
							</ul>
						</div>
					{{else}}
						<div class="contexts">No Contexts</div>
					{{end}}
				{{else}}
					{{if gt .InputCount 0}}
						<a href="{{GetClaimUrl .}}">Inputs ({{.InputCount}})</a></br>
					{{end}}
				{{end}}

				<!--Admin stuff -->
				{{if IsAdmin}}
					<span class="admin">Added by {{.CreatorName}}</span></br>
				{{end}}
			</div>
			<!-- Editing claim form -->
			<form class="edit-claim-form" hidden>
				<div class="form-group">
					<input name="summary" type="text" class="edit-claim-summary form-control" value="{{.Summary}}" placeholder="Summary">
				</div>
				<div class="form-group">
					<textarea name="text" class="edit-claim-text form-control" placeholder="Claim description">{{.Text}}</textarea>
				</div>
				<div class="form-group">
					<input name="url" type="url" class="edit-claim-url form-control" value="{{.Url}}" placeholder="Relevant URL"/>
				</div>
				<input name="id" type="hidden" value="{{.Id}}"/>
				<p class="error-text"></p>
				<img src="/static/images/loading.gif" class="loading-indicator"/>
				<button type="submit" class="btn btn-primary">Save</button>
			</form>
			<!-- Comments -->
			<b>Comments:</b></br>
		</div>
	</div>
	{{range .Comments}}
		{{template "comment" .}}
	{{end}}
	<div class="row">
		<div class="col-xs-9 col-xs-offset-3">
			{{template "newComment" 0}}
		</div>
	</div>
</div>
{{end}}
