{{/* claim.tmpl is the main body of the claim page */}}
{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
	{{template "style"}}
	<link href="/static/css/claim.css" rel="stylesheet">
	{{template "scripts"}}
	<script src="/static/js/claim.js"></script>
</head>

<body claim-url="{{GetClaimUrl .Claim}}" last-visit="{{.Claim.LastVisit}}">
{{template "navbar" .User}}

<div class="body-div container-fluid">
	<!-- Parent claim -->
	{{template "claim" .Claim}}
	<hr class="children-claim-line"></hr>

	<!-- Children claims -->
	{{range .Claims}}
		{{template "claim" .}}
	{{end}}

	<!-- New claim tabs -->
	{{if IsLoggedIn}}
			<ul class="new-claim-nav nav nav-tabs">
				<li class="active"><a href="#new-claim" class="new-claim-link" data-toggle="tab">New Claim</a></li>
			  <li><a href="#add-existing-claim" class="add-existing-claim-link">Add Existing Claim</a></li>
			</ul>
		<div class="tab-content">
			<div class="tab-pane fade in active" id="new-claim">
				<form class="new-claim-form">
					<div class="form-group">
						<textarea name="summary" class="new-claim-summary form-control" placeholder="Short claim summary"></textarea>
					</div>
					<div class="form-group">
						<textarea name="text" class="new-claim-text form-control" placeholder="Claim description"></textarea>
					</div>
					<div class="form-group">
						<input type="url" name="url" class="form-control" placeholder="Optional relevant URL"/>
					</div>
					{{if .Claim.PrivacyKey.Valid}}
					<div class="checkbox">
						<label>
							<input type="checkbox" name="private" checked>
							Private
							<span class="dotted-underline" title="This claim will only be accessible by people who have the link.">(?)</span>
						</label>
					</div>
					{{end}}
					<input name="parentClaimId" type="hidden" value="{{.Claim.Id}}"/>
					<p class="error-text"></p>
					<img src="/static/images/loading.gif" class="loading-indicator"/>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
			<div class="tab-pane fade" id="add-existing-claim">
				<form class="add-existing-claim-form">
					<div class="form-group">
						<input type="url" name="url" class="add-existing-claim-url form-control" placeholder="Claim URL"/>
					</div>
					<input name="parentClaimId" type="hidden" value="{{.Claim.Id}}"/>
					<p class="error-text"></p>
					<img src="/static/images/loading.gif" class="loading-indicator"/>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	{{end}}
</div>

</body>
</html>
{{end}}
