{{/* claims.tmpl is the main body of the claims page */}}
{{define "base"}}
<!DOCTYPE html>
<html>
<head>
	{{template "style"}}
	<link href="/static/css/claim.css" rel="stylesheet">
	{{template "scripts"}}
</head>

<body>
{{template "navbar" .User}}

<div class="claims-body-div">
	<h3>Recently Created Claims</h3>
	<ul class="list-unstyled">
		{{range .Claims}}
			<li>
				<a href="{{GetClaimUrl .}}">{{.Summary}}</a>
				<div>
				{{range .Tags}}
					<span class="tag label label-default">{{.Text}}</span>
				{{end}}
				</div>
			</li>
			<br>
		{{end}}
	</ul>
</div>

</body>
</html>
{{end}}
