{{/* daemon.tmpl; shows tatus and logs from daemons */}}
{{define "main"}}

<h1>Crashes</h1>
{{range $i, $c := .Crashes}}
<h2>{{$c.Time}}</h2>
<p>{{$c.Info}}</p>
{{end}}
</h1>

{{range $i, $l := .Logs}}
<h1>Logs from {{$l.Name}}</h1>
<textarea>{{$l.Contents}}</textarea>
{{end}}

{{end}}
