{{/* domainIndex.tmpl is the template for the domain index page */}}
{{define "base"}}
<!DOCTYPE html>
<html>
<head>
	<title>{{.Domain.Name}} - Zanaduu</title>
	{{template "style"}}
	{{template "scripts"}}
	{{template "angular" .}}
	<script>
		// IndexCtrl is for the Index page.
		app.controller("IndexCtrl", ["$scope", function ($scope) {
			$scope.mostLikedIds = [{{range .MostLikedIds}}{{.}},{{end}}];
			$scope.mostControversialIds = [{{range .MostControversialIds}}{{.}},{{end}}];
			$scope.recentlyCreatedIds = [{{range .RecentlyCreatedIds}}{{.}},{{end}}];
			$scope.recentlyEditedIds = [{{range .RecentlyEditedIds}}{{.}},{{end}}];
		}]);
	</script>
</head>

<body ng-app="zanaduu" ng-controller="ZanaduuCtrl">
{{template "navbar" .User}}

<div class="index-body-div container-fluid" ng-controller="IndexCtrl">
	<div class="panel panel-default">
	  <div class="panel-heading">Most Liked</div>
	  <div class="panel-body">
	    <znd-likes-page-title page-id="{[{pageId}]}" ng-repeat="pageId in mostLikedIds"></znd-likes-page-title>
	  </div>
	</div>

	<div class="panel panel-default">
	  <div class="panel-heading">Most Controversial</div>
	  <div class="panel-body">
	    <znd-likes-page-title page-id="{[{pageId}]}" ng-repeat="pageId in mostControversialIds"></znd-likes-page-title>
	  </div>
	</div>

	<div class="panel panel-default">
	  <div class="panel-heading">Recently Created</div>
	  <div class="panel-body">
	    <znd-likes-page-title page-id="{[{pageId}]}" show-created-at="true" ng-repeat="pageId in recentlyCreatedIds"></znd-likes-page-title>
	  </div>
	</div>

	<div class="panel panel-default">
	  <div class="panel-heading">Recently Edited</div>
	  <div class="panel-body">
	    <znd-likes-page-title page-id="{[{pageId}]}" show-created-at="true" ng-repeat="pageId in recentlyEditedIds"></znd-likes-page-title>
	  </div>
	</div>
</div>

{{template "footer"}}
</body>
</html>
{{end}}
