{{/* domainIndex.tmpl is the template for the domain index page */}}
{{define "base"}}
<!DOCTYPE html>
<html>
<head>
	<title>Arbital</title>
	{{template "style"}}
	{{template "scripts"}}
	{{template "angular" .}}
	<script>
		// IndexCtrl is for the Index page.
		app.controller("IndexCtrl", function ($scope, pageService) {
			$scope.mostLikedIds = [{{range .MostLikedIds}}{{.}},{{end}}];
			$scope.mostControversialIds = [{{range .MostControversialIds}}{{.}},{{end}}];
			$scope.recentlyCreatedIds = [{{range .RecentlyCreatedIds}}{{.}},{{end}}];
			$scope.recentlyEditedIds = [{{range .RecentlyEditedIds}}{{.}},{{end}}];
			document.title = pageService.pageMap["{{.DomainId}}"].title + " - Abital";
		});
	</script>
</head>

<body ng-app="arbital" ng-controller="ArbitalCtrl">
<arb-navbar></arb-navbar>

<div class="index-body-div container-fluid" ng-controller="IndexCtrl">
	<div class="panel panel-default">
	  <div class="panel-heading">Most Liked</div>
	  <div class="panel-body">
	    <arb-likes-page-title page-id="{[{pageId}]}" ng-repeat="pageId in mostLikedIds"></arb-likes-page-title>
	  </div>
	</div>

	<div class="panel panel-default">
	  <div class="panel-heading">Most Controversial</div>
	  <div class="panel-body">
	    <arb-likes-page-title page-id="{[{pageId}]}" ng-repeat="pageId in mostControversialIds"></arb-likes-page-title>
	  </div>
	</div>

	<div class="panel panel-default">
	  <div class="panel-heading">Recently Created</div>
	  <div class="panel-body">
	    <arb-likes-page-title page-id="{[{pageId}]}" show-created-at="true" ng-repeat="pageId in recentlyCreatedIds"></arb-likes-page-title>
	  </div>
	</div>

	<div class="panel panel-default">
	  <div class="panel-heading">Recently Edited</div>
	  <div class="panel-body">
	    <arb-likes-page-title page-id="{[{pageId}]}" show-created-at="true" ng-repeat="pageId in recentlyEditedIds"></arb-likes-page-title>
	  </div>
	</div>
</div>

<arb-footer></arb-footer>
</body>
</html>
{{end}}
