{{/* dynamicPage.tmpl is used as the basic starting point for bootstrapping dynamic content */}}
{{define "base"}}
<!DOCTYPE html>
<html lang="en" ng-app="arbital">
<head>
	<title>Arbital</title>
	<!-- Setting base href for ngRoute -->
	<base href="/">

	{{template "style"}}
	{{template "scripts"}}

	<!-- General scripts -->
	<script src="/static/js/util.js"></script>
	<script src="/static/js/inlineCommentUtil.js"></script>
	<script src="/static/js/mathjax.js"></script>
	<script src="/static/js/angular.js"></script>
	<script src="/static/js/pageService.js"></script>
	<script src="/static/js/userService.js"></script>
	<script src="/static/js/autocompleteService.js"></script>
	<script src="/static/js/popoverService.js"></script>
	<script src="/static/js/angularDirectives.js"></script>
	<script src="/static/js/markdown.js"></script>
	<script src="/static/js/toolbar.js"></script>
	<script src="/static/js/voteBar.js"></script>
	<script src="/static/js/page.js"></script>
	<script src="/static/js/lens.js"></script>
	<script src="/static/js/editPageDialog.js"></script>
	<script src="/static/js/feedbackDialog.js"></script>
	<script src="/static/js/discussion.js"></script>
	<script src="/static/js/subpage.js"></script>
	<script src="/static/js/relationships.js"></script>
	<script src="/static/js/masteryList.js"></script>
	<script src="/static/js/multipleChoice.js"></script>
	<script src="/static/js/checkbox.js"></script>

	<!-- Page specific scripts -->
	<script src="/static/js/primaryPage.js"></script>
	<script src="/static/js/editPage.js"></script>
	<script src="/static/js/indexPage.js"></script>
	<script src="/static/js/groupIndexPage.js"></script>
	<script src="/static/js/updatesPage.js"></script>
	<script src="/static/js/groupsPage.js"></script>
	<script src="/static/js/userPage.js"></script>
	<script src="/static/js/dashboardPage.js"></script>
	<script src="/static/js/loginPage.js"></script>
	<script src="/static/js/signupPage.js"></script>
	<script src="/static/js/knowledgePage.js"></script>
	<script src="/static/js/sequencePage.js"></script>
	<script src="/static/js/settingsPage.js"></script>
</head>

<body ng-controller="ArbitalCtrl">
	<!-- Facebook mandated script -->
	<script>
		window.fbAsyncInit = function() {
			FB.init({
				appId  : isLive() ? '1064531780272247' : '1064555696936522',
				cookie: true,
				xfbml  : true,
				version: 'v2.5'
			});
		};
		(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

	<!-- These divs exist for us to get colors from css into mdThemingProvider -->
	<div id="primary-color"></div>
	<div id="accent-color"></div>
	<div id="warn-color"></div>

	<!-- ======= Collection of common popover templates ======= -->
	
	<!-- Compose fab -->
	<arb-compose-fab></arb-compose-fab>
	
	<!-- All the content -->
	<div id="content-div" class="full-height">
		<arb-toolbar loading-bar-value="loadingBarValue"></arb-toolbar>

		<!-- Global info messages -->
		<div class="global-error md-warn" hidden></div>
	
		<!-- We append dynamic content to this div. -->
		<div id="dynamic-view" class="full-height" layout="column" ng-view></div>
	</div>
</body>
</html>
{{end}}
