{{/* dynamicPage.tmpl is used as the basic starting point for bootstrapping dynamic content */}}
{{define "base"}}
<!DOCTYPE html>
<html lang="en" ng-app="arbital">
<head>
	<title>Arbital</title>
	<!-- Setting base href for ngRoute -->
	<base href="/">

	<!-- Open graph settings -->
	<meta property="og:title" content="{{.Title}}"/>
	<meta property="og:url" content="{{.Url}}"/>
	<meta property="og:description" content="{{.Description}}"/>
	<meta property="og:type" content="article"/>
	<meta property="fb:app_id" content="1064531780272247"/>

	{{template "style"}}
	{{template "scripts"}}

	<!-- General scripts -->
	<script src="/static/js/util.js"></script>
	<script src="/static/js/inlineCommentUtil.js"></script>
	<script src="/static/js/mathjax.js"></script>
	<script src="/static/js/angular.js"></script>
	<script src="/static/js/pageService.js"></script>
	<script src="/static/js/userService.js"></script>
	<script src="/static/js/urlService.js"></script>
	<script src="/static/js/autocompleteService.js"></script>
	<script src="/static/js/popoverService.js"></script>
	<script src="/static/js/diffService.js"></script>
	<script src="/static/js/angularDirectives.js"></script>
	<script src="/static/js/markdown.js"></script>
	<script src="/static/js/toolbar.js"></script>
	<script src="/static/js/voteBar.js"></script>
	<script src="/static/js/page.js"></script>
	<script src="/static/js/lens.js"></script>
	<script src="/static/js/editPageDialog.js"></script>
	<script src="/static/js/feedbackDialog.js"></script>
	<script src="/static/js/discussion.js"></script>
	<script src="/static/js/subpage.js"></script>
	<script src="/static/js/relationships.js"></script>
	<script src="/static/js/masteryList.js"></script>
	<script src="/static/js/multipleChoice.js"></script>
	<script src="/static/js/checkbox.js"></script>
	<script src="/static/js/tableOfContents.js"></script>
	<script src="/static/js/queryInfo.js"></script>
	<script src="/static/js/markInfo.js"></script>
	<script src="/static/js/answers.js"></script>
	<script src="/static/js/marks.js"></script>
	<script src="/static/js/rhsButtons.js"></script>
	<script src="/static/js/hiddenText.js"></script>

	<!-- Page specific scripts -->
	<script src="/static/js/primaryPage.js"></script>
	<script src="/static/js/editPage.js"></script>
	<script src="/static/js/indexPage.js"></script>
	<script src="/static/js/groupIndexPage.js"></script>
	<script src="/static/js/updatesPage.js"></script>
	<script src="/static/js/groupsPage.js"></script>
	<script src="/static/js/userPage.js"></script>
	<script src="/static/js/dashboardPage.js"></script>
	<script src="/static/js/loginPage.js"></script>
	<script src="/static/js/signupPage.js"></script>
	<script src="/static/js/requisitesPage.js"></script>
	<script src="/static/js/learnPage.js"></script>
	<script src="/static/js/settingsPage.js"></script>
	<script src="/static/js/settingsInviteTab.js"></script>
	<script src="/static/js/adminDashboardPage.js"></script>
	<script src="/static/js/readModePage.js"></script>
	<script src="/static/js/readModePanel.js"></script>
	<script src="/static/js/newsletterPage.js"></script>

	<!-- Google Analytics -->
	<script>
		window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
		ga('create', 'UA-74080546-1', 'auto');
	</script>
	<script async src='//www.google-analytics.com/analytics.js'></script>
	<!-- End Google Analytics -->
</head>

<body ng-controller="ArbitalCtrl">
	<!-- Facebook mandated script -->
	<script>
		window.fbAsyncInit = function() {
			FB.init({
				appId  : isLive() ? '1064531780272247' : '1064555696936522',
				cookie: true,
				xfbml  : true,
				version: 'v2.5'
			});
		};
		(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

	<!-- These divs exist for us to get colors from css into mdThemingProvider -->
	<div id="primary-color"></div>
	<div id="accent-color"></div>
	<div id="warn-color"></div>

	<!-- Use this to hold various fixed position elements, especially from Angular Material -->
	<div id="fixed-overlay"></div>

	<!-- Persistent popup -->
	<div id="popup-div"
			class="md-whiteframe-6dp"
			ng-show="pageService.popupParams">
			<!--ng-style="{opacity: pageService.popupPercentLeft / 100}"-->

		<md-toolbar class="md-hue-3">
			<div class="md-toolbar-tools md-primary md-hue-2">
				<span id="popup-header"></span>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="pageService.hidePopup()">
					<md-icon>close</md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<!--<md-progress-linear md-mode="determinate"
				ng-value="pageService.popupPercentLeft"
				ng-if="pageService.popupPercentLeft"></md-progress-linear>-->

		<div id="popup-body" layout-margin>
		</div>
	</div>

	<!-- ======= Collection of common popover templates ======= -->

	<!-- Compose fab -->
	<arb-compose-fab></arb-compose-fab>

	<!-- All the content -->
	<div id="content-div" class="full-height">
		<arb-toolbar loading-bar-value="loadingBarValue"></arb-toolbar>

		<!-- We append dynamic content to this div. -->
		<div id="dynamic-view" class="full-height" layout="column" ng-view></div>
	</div>
</body>
</html>
{{end}}
