{{/* editPage.tmpl is the page for creating a new page or editing an existing one. */}}
{{define "base"}}
<!DOCTYPE html>
<html>
<head>
	{{template "style"}}
	{{template "scripts"}}
	<script src="/static/js/editPage.js"></script>
	<script>
		// This array is used for autocompletion.
		// TODO: populate this from tagMap
		var availableTags = [{{range .Tags}}"{{.FullName}}",{{end}}];
		// This array is used to update the page when it loads to correctly display what tags it already uses.
		var usedTags = [{{range .Page.Tags}}"{{.FullName}}",{{end}}];
		// This array contains all tags.
		// TODO: populate this from tagMap
		var allTags = [{{range .Tags}}{label:"{{.FullName}}", value:"{{.Id}}"},{{end}}];
		// Map of tag text -> tag id.
		var tagMap = { {{range .Tags}}"{{.FullName}}":"{{.Id}}",{{end}} };
		// Map of alias -> {pageId, title} object.
		var pageAliases = { {{range .Aliases}}"{{.FullName}}":{pageId:{{.PageId}}, title:"{{.PageTitle}}"},{{end}} };
	</script>
	<title>{{if gt .Page.PageId 0}}Edit - {{.Page.Title}}{{else}}New Page{{end}} - Zanaduu</title>
</head>

<body privacy-key="{{.Page.PrivacyKey}}" page-id="{{.Page.PageId}}">

{{template "navbar" .User}}

<!-- Modal for creating new tags. -->
<div class="modal fade" id="new-tag-modal" tabindex="-1">
	<div class="modal-dialog">
		<form class="new-tag-form modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Create New Tag</h4>
			</div>
			<div class="modal-body">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-3 control-label">Parent Tag</label>
						<div class="col-sm-8">
							<input type="text" class="parent-tag-input form-control" autocomplete="off">
							<a href="#" class="tag label label-default"></a>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Tag Name</label>
						<div class="col-sm-8">
							<input name="text" type="text" class="new-tag-input form-control" autocomplete="off">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<!-- Misc form stuff for submission / saving. -->
				<div class="alert alert-danger" hidden></div>
				<div class="alert alert-success" hidden></div>
				<img src="/static/images/loading.gif" class="loading-indicator" toggle-on-submit/>
				<button type="submit" class="add-tag-button btn btn-default" toggle-on-submit>Add</button>
				<button type="submit" class="add-tag-close-button btn btn-primary" toggle-on-submit>Add &amp; Close</button>
			</div>
		</form><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{{with .Page}}
	{{if gt .DeletedBy 0}}
		<div class="new-page-body-div">
			<p class="text-center alert alert-danger">This page has been deleted.
				{{if IsAdmin}}
					<span class="admin">By id: {{.DeletedBy}}. <a href="#" class="undo-page-delete">Undo.</a></span>
				{{end}}
			</p>
		</div>
	{{else}}
		<div class="new-page-body-div">
			<form class="new-page-form form-horizontal">

				<!-- Alerts -->
				<div class="form-group">
					<div class="col-sm-6">
						{{if le (GetEditLevel .) 0}}
							{{if eq (GetEditLevel .) 0}}
								<div class="alert alert-warning">Bypassing karma lock using admin priviledges.</div>
							{{else}}
								<div class="alert alert-danger" role="alert">You don't have enough karma to edit this page. Required: {{.KarmaLock}}. OR this is a blog page and you are not the author.</div>
							{{end}}
						{{end}}
						<div class="alert alert-info" id="autosave-label" hidden></div>
					</div>
				</div>
		
				<!-- Title -->
				<div class="form-group">
					<div class="col-sm-6">
						<input name="title" type="text" class="form-control input-lg" value="{{.Title}}" placeholder="Page Title" required="true" autocomplete="off">
					</div>
					<div class="col-sm-6 page-title">
						<div class="page-title-text">{{.Title}}</div>
					</div>
				</div>
		
				<!-- Input and preview -->
				<div class="form-group">
					<div class="col-sm-6">
						<div class="wmd-panel">
							<div id="wmd-button-bar"></div>
							<textarea name="text" class="edit-page-text wmd-input form-control" id="wmd-input" rows="30" placeholder="Truth is singular. Its &#34;versions&#34; are mistruths.&#13;&#10;&mdash; Sonmi-451" style="resize: none;">{{.Text}}</textarea>
						</div>
					</div>
					<div class="col-sm-6">
						<div id="wmd-preview" class="wmd-preview pagedown"></div>
					</div>
				</div>
		
				<!-- Page type -->
				<div class="form-group" {{if .WasPublished}}hidden{{end}}>
					<label class="title-label control-label col-sm-1">Page Type</label>
					<div class="col-sm-2">
						<select name="type" class="type-select form-control">
							<option value="" {{if eq .Type ""}}selected="selected"{{end}} disabled hidden>Select page type</option>
							<option value="blog" {{if eq .Type "blog"}}selected="selected"{{end}}>Blog Page</option>
							<option value="wiki" {{if eq .Type "wiki"}}selected="selected"{{end}}>Wiki Page</option>
						</select>
					</div>
					<div class="type-help col-sm-3">
						<p class="type-help-blog help-block">Blog page is used for writing your thoughts on some topic. Only you will be able to edit the page.</p>
						<p class="type-help-wiki help-block">Wiki page is a shared community page. Anyone can edit it.</p>
					</div>
				</div>

				<!-- Probability vote -->
				<div class="form-group" {{if .WasPublished}}hidden{{end}}>
					<label class="title-label control-label col-sm-1">Probability Vote</label>
					<div class="col-sm-4">
						<div class="checkbox">
							<label>
								<input type="checkbox" name="hasVoteStr" {{if .HasVote}}checked{{end}}>
							</label>
						</div>
					</div>
				</div>

				<!-- Karma edit lock -->
				<div class="karma-lock-form-group form-group" {{if le GetMaxKarmaLock 0}}hidden{{end}}>
					<label class="title-label control-label col-sm-1">Karma Lock
						<span title="Editing this page will require a minimum amount of karma." class="dashed-underline">(?)</span>
					</label>
					<div class="col-sm-4">
						<div class="karma-lock-slider" max="{{GetMaxKarmaLock}}"></div>
					</div>
					<div class="col-sm-1">
						<label class="karma-lock-text control-label">{{.KarmaLock}}</label>
					</div>
				</div>
		
				<!-- Privacy options -->
				<div class="form-group" {{if and (le .PrivacyKey 0) .WasPublished}}hidden{{end}}>
					<label class="control-label col-sm-1">
						Private
						<span title="This page will only be accessible by people who have the link." class="dashed-underline">(?)</span>
					</label>
					<div class="col-sm-4">
						<div class="checkbox">
							<label>
								<input type="checkbox" name="private" {{if gt .PrivacyKey 0}}checked{{end}}>
							</label>
						</div>
					</div>
				</div>
		
				<!-- Tags -->
				<div class="form-group">
					<label class="control-label col-sm-1">Tags</label>
					<div class="col-sm-2">
						<div class="input-group">
							<input type="text" class="tag-input form-control">
							<span class="input-group-btn">
								<button class="new-tag-button btn btn-default" type="button" data-toggle="modal" data-target="#new-tag-modal">New</button>
							</span>
						</div>
					</div>
					<div class="col-sm-3" id="tag-container">
						<a href="#" class="tag template label label-default" id="tag-template"></a>
					</div>
				</div>

				<!-- Alias -->
				<div class="form-group">
					<label class="control-label col-sm-1">Alias</label>
					<div class="col-sm-5">
						<div class="input-group">
							<input type="text" name="alias" placeholder='Optional alias, e.g. "Vitamin_D3_Good"' class="form-control" value="{{.Alias}}">
						</div>
					</div>
				</div>
		
				<!-- Misc form stuff for submission / saving. -->
				<div class="form-group">
					<div class="col-sm-6">
						<div class="alert alert-danger" hidden></div>
						<img src="/static/images/loading.gif" class="loading-indicator" toggle-on-submit/>
						<button type="button" class="save-snapshot-button btn btn-default" toggle-on-submit>Save Snapshot</button>
						<button type="submit" class="btn btn-primary" toggle-on-submit>Publish</button>
						<span class="loading-text" style="display:none"></span>
					</div>
				</div>
			</form>
		</div>
	{{end}}
{{end}}

{{template "footer"}}
</body>
</html>
{{end}}
