{{/* explorePage.tmpl is the main body of the page that shows all pages */}}
{{define "base"}}
<!DOCTYPE html>
<html>
<head>
	{{template "style"}}
	{{template "scripts"}}
	{{template "angular" .}}
	<title>Explore Arbital</title>
	<script>
		// ExploreCtrl is for the Explore page.
		app.controller("ExploreCtrl", function ($scope, pageService) {
			$scope.rootPages = {};
			$scope.childPages = {};
			for (var alias in pageService.pageMap) {
				var page = pageService.pageMap[alias];
				if (page.pageId in $scope.childPages) continue;
				$scope.childPages[page.pageId] = page;
			}

			var rootPageIds = [{{range .RootPageIds}}{{.}},{{end}}];
			for (var n = 0; n < rootPageIds.length; n++) {
				var id = rootPageIds[n];
				$scope.rootPages[id] = $scope.childPages[id];
				delete $scope.childPages[id];
			}
		});
	</script>
</head>

<body ng-app="arbital" ng-controller="ArbitalCtrl">
	{{template "navbar" .User}}
	
	<div class="filter-body-div" ng-controller="ExploreCtrl">
		<arb-page-tree init-map="rootPages" additional-map="childPages" supersize-roots="true"></arb-page-tree>
	</div>
	
	{{template "footer"}}
</body>
</html>
{{end}}
