{{/* recentPagesPage.tmpl is the main body of the recent pages page */}}
{{define "base"}}
<!DOCTYPE html>
<html>
<head>
	<title>Zanaduu Filtered Pages</title>
	{{template "style"}}
	{{template "scripts"}}
	{{template "angular" .}}
	<script src="/static/js/editPage.js"></script>
	<script src="/static/js/pagePage.js"></script>
	<script src="/static/js/filter.js"></script>
</head>

<body ng-app="zanaduu" ng-controller="ZanaduuCtrl">
{{template "navbar" .User}}

<div class="filter-body-div">
	<h3>Recently Created Pages</h3>
	{{if IsLoggedIn}}
		{{if .Author}}
			<p>Created by: {{template "userName" .Author}} <a href="#" class="subscribe-to-user-link glyphicon glyphicon-eye-open {{if .IsSubscribedToUser}}on{{end}}" user-id="{{.Author.Id}}"></a></p>
		{{end}}
	{{end}}
	<ul class="list-unstyled">
		{{range $k, $v := .PageMap}}
			<li class="filter-result like-span">
				<div class="filter-title">
					<znd-likes-page-title page-id="{{$k}}"></znd-likes-page-title>
				</div>
				{{if eq $v.Type "blog"}}
					<div>
						by {{$v.CreatorName}}
					</div>
				{{end}}
			</li>
		{{end}}
		{{if eq (len .PageMap) .LimitCount}}
			<span class="gray-text">Results truncated at {{.LimitCount}}.</span>
		{{end}}
	</ul>
</div>

{{template "footer"}}
</body>
</html>
{{end}}
