{{/* Template for showing a footer. */}}
{{define "footer"}}
	<div class="page-footer">
		<p>Powered by: <a href="https://code.google.com/p/pagedown/" target="_blank">Pagedown</a> and <a href="http://www.mathjax.org/" target="_blank">Mathjax</a>.</p>
		<p>User contributions licensed under <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank">cc by-sa 4.0</a> with attribution required.</p>
	</div>
{{end}}
