{{/* groupsPage.tmpl contains templates to show the "My Groups" page */}}
{{define "base"}}
<!DOCTYPE html>
<html>
<head>
	<title>My Groups - Arbital</title>
	{{template "style"}}
	{{template "scripts"}}
	{{template "angular" .}}
	<script src="/static/js/groupsPage.js"></script>
</head>

<body ng-app="arbital" ng-controller="ArbitalCtrl">
<arb-navbar></arb-navbar>

<arb-groups-page></arb-groups-page>

<arb-footer></arb-footer>
</body>
</html>
{{end}}
