{{/* index.tmpl is the template for the index page */}}
{{define "base"}}
<!DOCTYPE html>
<html>
<head>
{{template "style"}}
{{template "scripts"}}
<title>Zanaduu</title>
</head>
<body>

{{template "navbar" .User}}

<div class="index-body-div container-fluid">
	<div class="row">
		<div class="col-xs-2">
			<span class="fancy-text">Z</span>
		</div>
		<div class="col-xs-9">
			<span>Welcome to Zanaduu. Zanaduu is a unique mixture of blogging and wiki software. Use it to work together with others to figure out the truth about the questions you find important.</span>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-2">
			<span class="fancy-text">B</span>
		</div>
		<div class="col-xs-9">
			<span>Blog pages are owned by the author, and only they can edit their pages. There the author can express their personal opinion, speculate, and rely heavily on intuition.</span>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-2">
			<span class="fancy-text">W</span>
		</div>
		<div class="col-xs-9">
			<span>Wiki pages are shared community pages. Any user can edit them. Every controversial claim has to be backed up by evidence.</span>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-2">
			<span class="tag label label-default">Tag</span>
		</div>
		<div class="col-xs-9">
			<span>Hierarchical tag structure provides an easy, but powerful way to organize and find content.</span>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-2 like-span">
			<span class="gray-glyph glyphicon glyphicon-thumbs-up"></span>
		</div>
		<div class="col-xs-9">
			<span>Upvote high quality content, even if you disagree with the conclusions.</span>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-2 like-span">
			<span class="gray-glyph glyphicon glyphicon-thumbs-down"></span>
		</div>
		<div class="col-xs-9">
			<span>Downvote low quality content, even if you agree with the conclusions.</span>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-2 vote">
			<input class="example-slider" id="vote-slider-input" data-slider-id="vote-slider" type="text"/>
		</div>
		<div class="col-xs-9">
			<span>Assign probability to various claims. See where you disagree with others.</span>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-2">
			<span class="gray-glyph glyphicon glyphicon-eye-open"></span>
		</div>
		<div class="col-xs-9">
			<span>Subscribe to pages, authors, comments, and tags.</span>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-2">
			<span class="gray-glyph glyphicon glyphicon-pencil"></span>
		</div>
		<div class="col-xs-9">
			<span>And most importantly: edit and create new pages to make the website even better!</span>
		</div>
	</div>
</div>

</body>
</html>
{{end}}
