{{/* index.tmpl is the template for the index page */}}
{{define "base"}}
<!DOCTYPE html>
<html>
<head>
	{{template "style"}}
	{{template "scripts"}}
	{{template "angular" .}}
	<title>Zanaduu</title>
	<script>
		// IndexCtrl is for the Index page.
		app.controller("IndexCtrl", ["$scope", function ($scope) {
			$scope.pageMap = $scope.initialPages;
			$scope.recentlyEditedByMeIds = [{{range .RecentlyEditedByMeIds}}{{.}},{{end}}];
			$scope.recentlyCreatedIds = [{{range .RecentlyCreatedIds}}{{.}},{{end}}];
			$scope.mostLikedIds = [{{range .MostLikedIds}}{{.}},{{end}}];
			$scope.recentlyEditedIds = [{{range .RecentlyEditedIds}}{{.}},{{end}}];
			$scope.mostControversialIds = [{{range .MostControversialIds}}{{.}},{{end}}];
		}]);

		// PageCtrl sets the page variable.
		app.controller("PageCtrl", ["$scope", function ($scope) {
			$scope.page = $scope.pageMap[$scope.pageId];
		}]);
	</script>
</head>
<body ng-app="zanaduu" ng-controller="ZanaduuCtrl">

	{{template "navbar" .User}}
	
	<div class="index-body-div container-fluid" ng-controller="IndexCtrl">
		<div class="panel panel-default" ng-hide="recentlyEditedByMeIds.length <= 0">
		  <div class="panel-heading">Recently Edited By Me</div>
		  <div class="panel-body">
		    <div likes-page-title ng-repeat="pageId in recentlyEditedByMeIds" ng-controller="PageCtrl"></div>
		  </div>
		</div>

		<div class="panel panel-default">
		  <div class="panel-heading">Recently Created</div>
		  <div class="panel-body">
		    <div likes-page-title ng-repeat="pageId in recentlyCreatedIds" ng-controller="PageCtrl"></div>
		  </div>
		</div>

		<div class="panel panel-default">
		  <div class="panel-heading">Most Liked</div>
		  <div class="panel-body">
		    <div likes-page-title ng-repeat="pageId in mostLikedIds" ng-controller="PageCtrl"></div>
		  </div>
		</div>

		<div class="panel panel-default">
		  <div class="panel-heading">Recently Edited</div>
		  <div class="panel-body">
		    <div likes-page-title ng-repeat="pageId in recentlyEditedIds" ng-controller="PageCtrl"></div>
		  </div>
		</div>

		<div class="panel panel-default">
		  <div class="panel-heading">Most Controversial</div>
		  <div class="panel-body">
		    <div likes-page-title ng-repeat="pageId in mostControversialIds" ng-controller="PageCtrl"></div>
		  </div>
		</div>
	</div>

</body>
</html>
{{end}}
