{{/* index.tmpl is the template for the index page */}}
{{define "base"}}
<!DOCTYPE html>
<html>
<head>
	<title>Zanaduu</title>
	{{template "style"}}
	{{template "scripts"}}
	{{template "angular" .}}
	<script>
		// IndexCtrl is for the Index page.
		app.controller("IndexCtrl", ["$scope", function ($scope) {
			$scope.recentlyEditedByMeIds = [{{range .RecentlyEditedByMeIds}}{{.}},{{end}}];
			$scope.recentlyVisitedIds = [{{range .RecentlyVisitedIds}}{{.}},{{end}}];
			$scope.recentlyCreatedIds = [{{range .RecentlyCreatedIds}}{{.}},{{end}}];
			$scope.mostLikedIds = [{{range .MostLikedIds}}{{.}},{{end}}];
			$scope.recentlyEditedIds = [{{range .RecentlyEditedIds}}{{.}},{{end}}];
			$scope.mostControversialIds = [{{range .MostControversialIds}}{{.}},{{end}}];
		}]);
	</script>
</head>

<body ng-app="zanaduu" ng-controller="ZanaduuCtrl">
{{template "navbar" .User}}

<div class="index-body-div container-fluid" ng-controller="IndexCtrl">
	<div class="panel panel-default" ng-hide="recentlyEditedByMeIds.length <= 0">
	  <div class="panel-heading">Recently Edited By Me</div>
	  <div class="panel-body">

			<div ng-repeat="pageId in recentlyEditedByMeIds">
				<!-- Red link count -->
				<span class="red-link-count pull-right"
					ng-show="pageService.pageMap[pageId].redLinkCount>0"
					ng-bind="pageService.pageMap[pageId].redLinkCount"
					title="Number of links to non-existing pages"></span>
				<znd-likes-page-title page-id="{[{pageId}]}" show-red-link-count="true" show-quick-edit-link="true" show-created-at="true" ></znd-likes-page-title>
			</div>
	  </div>
	</div>

	<div class="panel panel-default" ng-hide="recentlyVisitedIds.length <= 0">
	  <div class="panel-heading">Recently Visited</div>
	  <div class="panel-body">
	    <znd-likes-page-title page-id="{[{pageId}]}" ng-repeat="pageId in recentlyVisitedIds"></znd-likes-page-title>
	  </div>
	</div>

	<div class="panel panel-default">
	  <div class="panel-heading">Recently Created</div>
	  <div class="panel-body">
	    <znd-likes-page-title page-id="{[{pageId}]}" show-created-at="true" ng-repeat="pageId in recentlyCreatedIds"></znd-likes-page-title>
	  </div>
	</div>

	<div class="panel panel-default">
	  <div class="panel-heading">Most Liked</div>
	  <div class="panel-body">
	    <znd-likes-page-title page-id="{[{pageId}]}" ng-repeat="pageId in mostLikedIds"></znd-likes-page-title>
	  </div>
	</div>

	<div class="panel panel-default">
	  <div class="panel-heading">Recently Edited</div>
	  <div class="panel-body">
	    <znd-likes-page-title page-id="{[{pageId}]}" show-created-at="true" ng-repeat="pageId in recentlyEditedIds"></znd-likes-page-title>
	  </div>
	</div>

	<div class="panel panel-default">
	  <div class="panel-heading">Most Controversial</div>
	  <div class="panel-body">
	    <znd-likes-page-title page-id="{[{pageId}]}" ng-repeat="pageId in mostControversialIds"></znd-likes-page-title>
	  </div>
	</div>
</div>

</body>
</html>
{{end}}
