{{/* input.tmpl is the template for a given input */}}
{{define "input"}}
<div class="input" input-id="{{.Id}}">
	<div class="inputLeft">
		{{if IsLoggedIn}}
			<a href="#" class="priorVote" {{if .Vote}}vote-id="{{.Vote.Id}}"{{end}}>Vote</a>
			{{if .Vote}}
				<p>My vote: {{.Vote.Value}}</p>
			{{end}}
		{{end}}
	</div>
	<div class="inputRight">
		<div class="inputBody">
			<p class="inputText">{{.Text}}</p>
			{{if .Url}}
				<p><a href="{{.Url}}" target="_blank" class="inputUrl">Link</a></p>
			{{end}}
			<a href="#" class="editInput">Edit</a>
			{{if IsAdmin}}
				<p class="admin">
					<span>asked by {{.CreatorName}}</span></br>
				</p>
			{{end}}
		</div>
		<form class="editInputForm">
			<textarea name="text" class="editInputTextarea"></textarea>
			<p>URL: <input type="url" name="url" class="editInputUrl"/></p>
			<input type="submit" value="Save"/>
			<input type="hidden" name="id" value="{{.Id}}"/>
			<a href="#" class="cancelNewInput">Cancel</a>
		</form>
	
		<span>Comments:</span></br>
		<div class="comments">
			{{range .Comments}}
				{{template "comment" .}}
			{{end}}
			{{template "newComment" "New Comment"}}
		</div>
	</div>
</div>
{{end}}
