{{/* navbar.tmpl contains the navigation drop down menu shown at the top right of some pages. */}}
{{define "navbar"}}
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Zanaduu</a>
		</div>
		<ul class="nav navbar-nav">
			<li><a href="/explore">Explore</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			{{if .IsLoggedIn}}
				<li><a href="/edit">+New Page</a></li>
				<li><a href="/updates">Updates <span class="badge {{if gt .UpdateCount 0}}alert-danger{{end}}">{{.UpdateCount}}</span></a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">{{.Email}} <span class="karma badge">{{.Karma}}</span><span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						{{if .IsAdmin}}
							<li><a class="admin" href="/becomeUser/?id=0">Become User</a></li>
							<li class="divider"></li>
						{{end}}
						<li><a href="{{GetUserUrl UserId}}">My Pages</a></li>
						<li><a href="/groups">My Groups</a></li>
						<li><a href="{{.LogoutLink}}" id="logout">Log Out</a></li>
					</ul>
				</li>
			{{else}}
				<li><a href="/signup/?continueUrl={{.CurrentUrl}}">Sign Up</a></li>
				<li><a href="{{.LoginLink}}">Log In</a></li>
			{{end}}
		</ul>
	</div>
</nav>
<input type="text" id="nav-search" class="nav-search form-control" placeholder="Search">
{{end}}
