{{/* navbar.tmpl contains the navigation drop down menu shown at the top right of some pages. */}}
{{define "navbar"}}
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Arbital</a>
		</div>
		{{if ne .DomainAlias ""}}
			<div class="navbar-text">
				<a ng-href="/explore/{{.DomainAlias}}" class="navbar-link">Explore</a>
			</div>
		{{end}}
		<ul class="nav navbar-nav navbar-right">
			{{if .IsLoggedIn}}
				<li><a href="/edit">+New Page</a></li>
				<li><a href="/updates">Updates <span class="badge {{if gt .UpdateCount 0}}alert-danger{{end}}">{{.UpdateCount}}</span></a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">{{.Email}} <span class="karma badge">{{.Karma}}</span><span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						{{if .IsAdmin}}
							<li><a class="admin" href="/becomeUser/?id=0">Become User</a></li>
							<li><a class="admin" href="/domains">All Domains</a></li>
							<li class="divider"></li>
						{{end}}
						<li><a href="{{GetUserUrl UserId}}">My Profile</a></li>
						<li><a href="/groups">My Groups</a></li>
						<li><a href="{{.LogoutLink}}" id="logout">Log Out</a></li>
					</ul>
				</li>
			{{else}}
				<li><a href="/signup/?continueUrl={{.CurrentUrl}}">Sign Up</a></li>
				<li><a href="{{.LoginLink}}">Log In</a></li>
			{{end}}
		</ul>
	</div>
</nav>
<input type="text" id="nav-search" class="nav-search form-control" placeholder="Search">

<!-- ======= Collection of commonly popover templates ======= -->

<!-- This div shows up when the user tries to take an action that requires them to be logged in. -->
<div id="signup-popover-template" hidden>
	<div class="popover-summary">
		You have to be logged in.
	</div>
</div>

<!-- This div shows up when the user hovers over an intra-site link. -->
<div id="link-popover-template" hidden>
	<div class="popover-blog-owner"></div>
	<span class="popover-summary markdown-text"></span>

	<!-- Likes / dislikes and approval voting -->
	<div class="like-span">
		<span class="like-count">JS inserts likes</span>
		<span class="disabled-like glyphicon glyphicon-thumbs-up"></span>
		&nbsp;
		<span class="dislike-count">JS inserts dislikes</span>
		<span class="disabled-dislike glyphicon glyphicon-thumbs-down"></span>
	</div>

	<!-- Answers and probability votes -->
	<div class="vote"></div>
</div>


{{end}}
