{{/* newComment.tmpl is the template for url and textarea used to create new a comment. */}}
{{define "newComment"}}
{{if IsLoggedIn}}
	<div class="newComment">
		<div class="newCommentBody">
			<a href="#" class="newCommentLink">{{.}}</a>
		</div>
		<form class="newCommentForm">
			<textarea name="text" class="inputNewComment"></textarea>
			<p class="errorText"></p>
			<img src="/static/images/loading.gif" class="loadingIndicator"/>
			<input type="submit" value="Save"/>
			<a href="#" class="cancelLink cancelNewComment">Cancel</a>
		</form>
	</div>
{{end}}
{{end}}
