{{/* newQuestion.tmpl is the main body of the new question page */}}
{{define "base"}}
<!DOCTYPE html>
<html>
<head>
	{{template "style"}}
	<link href="/static/css/question.css" rel="stylesheet">
	{{template "scripts"}}
	<script src="/static/js/newQuestion.js"></script>
</head>

<body>

{{template "navbar" .User}}

<form class="newQuestionForm">
	Question: <input type="text" name="text" required="true"></br>
	Answer 1: <input type="text" name="answer1" value="Yes" required="true"></br>
	Prior 1 Text: <input type="text" name="input1Text" required="true"></br>
	Answer 2: <input type="text" name="answer2" value="No" required="true"></br>
	Prior 2 Text: <input type="text" name="input2Text" required="true"></br>
	Prior value: <input type="text" name="priorVote" value="5.0" required="true"></br>
	Private <span title="This question will only be accessible by people who have the link."><u>(?)</u></span>: <input type="checkbox" name="private"></br>
	Tag: <select name="tagId">
		<option value="0">-</option>
		{{range .Tags}}
			<option value="{{.Id}}">{{.Text}}</option>
		{{end}}
	</select></br>
	<input type="submit" value="Submit">
</div>
<p id="newQuestionError"></p>

</body>
</html>
{{end}}
