{{/* page.tmpl is the base template file for displaying a page. */}}
{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{.Page.Title}} - Zanaduu</title>
	{{template "style"}}
	{{template "scripts"}}
	{{template "angular" .}}
	<script src="/static/js/comments.js"></script>
	<script src="/static/js/pageController.js"></script>
	<script src="/static/js/editPage.js"></script>
	<script src="/static/js/pagePage.js"></script>
	<script>
		// List of ids related to the primary page.
		var gRelatedIds = {{.RelatedIds}};
	</script>
</head>

<body last-visit="{{.Page.LastVisit}}" ng-app="zanaduu" ng-controller="ZanaduuCtrl">
{{template "navbar" .User}}

{{template "newLinkModal"}}
{{template "popoverTemplates"}}

<!-- This div template is used to create vote divs. -->
<div id="vote-template" class="vote" hidden>
	<div class="bar-background"></div>
	<input class="vote-slider-input" data-slider-id="vote-slider" type="text"/>
	<div class="text-center gray-text">
		<span class="vote-count">0 votes</span> counted
		<span class="my-vote">
			<span class="my-vote-value"></span>
			<a href="#" class="delete-my-vote-link glyphicon glyphicon-remove"></a>
		</span>
	</div>
</div>

<!-- This div is used to create embedded page divs. -->
<div id="embedded-page-template" class="embedded-page" hidden>
	<div>
		<h2>
			<a href="#" class="hide-embedded-page glyphicon glyphicon-triangle-bottom"></a>&nbsp;
			<a href="#" class="embedded-page-title">JS inserts title here</a>
		</h2>
	</div>
	<div class="embedded-page-body">
		<div class="embedded-vote-container"></div>
		<div class="embedded-page-text">JS inserts page text here</div>
	</div>
</div>

<!-- This div is used to create icons to toggle inline comments. -->
<div class="toggle-inline-comment-div template">
	<a href="#" class="inline-comment">
		<span class="inline-comment-icon glyphicon glyphicon-comment"></span>
		<span class="inline-comment-count"><span>
	</a>
</div>

<!-- This modal is for asking a new question. -->
<znd-edit-page-modal></znd-edit-page-modal>

<!-- All the page stuff. -->
<div class="primary-page-body-div" ng-controller="MainCtrl">
	<!-- Navigation column -->
	<div class="navigation-column pull-left">
		<!-- Parents -->
		<div class="panel panel-default" ng-show="initialParentsCount > 0">
			<div class="panel-heading">Parents</div>
			<div class="panel-body">
				<znd-page-tree init-map="initialParents" is-parent-tree="true"></znd-page-tree>
			</div>
		</div>

		<!-- Children -->
		<div class="panel panel-default" ng-show="initialChildrenCount > 0">
			<div class="panel-heading">Children</div>
			<div class="panel-body">
				<znd-page-tree init-map="initialChildren"></znd-page-tree>
			</div>
		</div>

		<!-- Siblings -->
		<div class="panel panel-default" ng-show="false && relatedIds.length > 0">
			<div class="panel-heading">Related</div>
			<div class="panel-body">
				<znd-likes-page-title page-id="{[{pageId}]}" ng-repeat="pageId in relatedIds"></znd-likes-page-title>
			</div>
		</div>
		&nbsp;
	</div>

	<!-- Middle column containing the primary page, comments, etc... -->
	<div class="mid-column pull-left">
		<!-- Lens tabs -->
	  <ul class="lens-tabs nav nav-tabs" role="tablist" ng-show="page.lensIds !== null">
			<li><span class="gray-glyph glyphicon glyphicon-search"></span>&nbsp;</li>
	    <li class="active">
				<a href="#" data-target="#lens-{[{page.pageId}]}" class="lens-tab" data-toggle="tab">Default Lens</a>
			</li>
	    <li ng-repeat="lensId in page.lensIds">
				<a href="#" data-target="#lens-{[{lensId}]}" class="lens-tab" data-toggle="tab">{[{pageService.pageMap[lensId].title}]}</a>
			</li>
	  </ul>

		<div class="tab-content">
			<div class="tab-pane active" id="lens-{[{page.pageId}]}">
				<znd-page page-id="{[{page.pageId}]}"></znd-page>
			</div>
			<div class="tab-pane" id="lens-{[{lensId}]}" ng-repeat="lensId in page.lensIds">
				<img src="/static/images/loading.gif" class="loading-indicator"/>
			</div>
		</div>
		
		<!-- Answers for a question page -->
		<div class="answers" ng-show="answerIds.length > 0">
			<h1>Answers</h1>
			<div class="answers-list">
			</div>
		</div>

		<!-- New Answer for a question page -->
		<div class="new-answer" ng-show="page.type === 'question'">
			<h1>Your Answer</h1>
			<!-- zndEditPage is inserted here dynamically when primary page is a question -->
		</div>
	</div>

	<!-- Right hand side (RHS) column -->
	<div class="question-div pull-left">
		<div class="rhs-buttons-div">
			<!-- Question button -->
			<button type="button" class="question-button btn btn-info" title="Ask a question" ng-show="pageService.primaryPage.type != 'question'">
			  <span class="glyphicon glyphicon-question-sign"></span>
				<span class="has-question-draft-icon glyphicon glyphicon-pencil" ng-show="pageService.primaryPage.childDraftId > 0"></span>
			</button>
			<!-- Inline comment button -->
			<span class="new-inline-comment-div" hidden>
				<button type="button" class="new-inline-comment-button btn btn-info" title="New inline comment">
					<span class="glyphicon glyphicon-comment"></span>
				</button>
			</span>
		</div>
		<!-- Div to hold an expanded inline comment or edit -->
		<div class="inline-comment-div">
			<!-- zndComment is inserted here dynamically when expanding an inline comment -->
			<!-- zndEditPage is inserted here dynamically when creating a new inline comment -->
		</div>
	</div>

	<div class="clearfix"></div>
</div>

{{template "footer"}}
</body>
</html>
{{end}}
