{{/* Template for showing a user's name. */}}
{{define "userName"}}
	<a href="{{GetUserUrl .Id}}" class="user-name-link">{{.FirstName}} {{.LastName}}</a>
{{end}}

{{/* Template for showing a tag. */}}
{{define "tag"}}
	<a href="{{GetPageUrl .}}" class="tag label label-default">{{.Title}}</a>
{{end}}

{{/* Template for showing a page title. */}}
{{define "title"}}
	<span class="title-span">
		{{if gt .DeletedBy 0}}
			<span class="alert alert-danger">[DELETED]</span>
		{{else}}
			{{if IsUpdatedPage .}}<span class="new-updated-label glyphicon glyphicon-star-empty" title="This page has been updated since the last time you've seen it"></span>{{end}}
			{{if gt .PrivacyKey 0}}
				<span class="gray-text glyphicon glyphicon-lock" title="Nobody can access this page unless they have the exact URL"></span>
			{{end}}
			{{if ne .Group.Name ""}}
				<span>[{{.Group.Name}}]</span>
			{{end}}
			<span class="page-title-text">{{.Title}}</span>
		{{end}}
	</span>
{{end}}

{{/* Modal for new links used from Markdown.Editor. */}}
{{define "newLinkModal"}}
<div class="modal fade" id="new-link-modal" tabindex="-1" style="z-index:2000">
	<div class="modal-dialog">
		<form class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body">
				<input name="link" type="text" class="form-control new-link-input">
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary">Insert</button>
			</div>
		</div>
	</div>
</div>
{{end}}
