{{/* page.tmpl is the base template file for displaying a page. */}}
{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
	{{template "style"}}
	{{template "scripts"}}
	<script src="/static/js/page.js"></script>
	<script>
		var gPageText = "{{.Page.Text}}";
		var gVoteCount = {{.Page.VoteCount}};
		var gVoteValueStr = "{{if .Page.VoteValue.Valid}}{{.Page.VoteValue.Float64}}{{end}}";
		var gMyVoteValueStr = "{{if .Page.MyVoteValue.Valid}}{{.Page.MyVoteValue.Float64}}{{end}}";
	</script>
	<title>{{.Page.Title}} - Zanaduu</title>
</head>

<body page-id="{{.Page.PageId}}" page-type="{{.Page.Type}}" page-url="{{GetPageUrl .Page}}" last-visit="{{.Page.LastVisit}}" has-vote="{{if .Page.HasVote}}true{{end}}">
{{template "navbar" .User}}

<!-- This div shows up when the user hovers over an intra-site link. -->
<div id="link-popover-template" hidden>
	<!-- Likes / dislikes and approval voting -->
	<div class="like-span">
		<span class="like-count">JS inserts likes</span>
		<span class="disabled-like glyphicon glyphicon-thumbs-up"></span>
		&nbsp;
		<span class="dislike-count">JS inserts dislikes</span>
		<span class="disabled-dislike glyphicon glyphicon-thumbs-down"></span>
	</div>

	<!-- Answers and probability votes -->
	<div class="vote" hidden>
		<div class="vote-text text-center gray-text">JS inserts vote count and my vote</div>
	</div>
</div>

<!-- This div is used to create vote divs. -->
<div id="vote-template" class="vote" hidden>
	<input class="vote-slider-input" data-slider-id="vote-slider" type="text"/>
	<div class="text-center gray-text">
		<span class="vote-count">0 votes</span> counted
		<span class="my-vote">
			<span class="my-vote-value"></span>
			<a href="#" class="delete-my-vote-link glyphicon glyphicon-remove"></a>
		</span>
	</div>
</div>

<!-- This div is used to create embedded page divs. -->
<div id="embedded-page-template" class="embedded-page" hidden>
	<div class="embedded-page-title">
		<h2>
			<a href="#" class="hide-embedded-page glyphicon glyphicon-triangle-bottom"></a>&nbsp;
			<a href="#" class="page-title">JS inserts title here</a>
		</h2>
	</div>
	<div class="embedded-page-body">
		<div class='vote-container'></div>
		<div class="page-text">JS inserts page text here</div>
	</div>
</div>

{{with .Page}}
	{{if gt .DeletedBy 0}}
		<div class="page-body-div">
			<div class="alert alert-danger">This page has been deleted.
				{{if IsAdmin}}
					<span class="admin">By id: {{.DeletedBy}}. <a href="#" class="undo-page-delete">Undo.</a></span>
				{{end}}
			</div>
		</div>
	{{else}}
		<div class="page-body-div">
			<!-- Left column -->
			<div class="left-column pull-left">
				<!-- Likes / dislikes and approval voting -->
				<div class="page-like-div pull-right" my-like="{{.MyLikeValue}}">
					<div class="">
						<span class="like-count">{{.LikeCount}}</span>
						{{if IsLoggedIn}}
							<a href="#" class="like-link glyphicon glyphicon-thumbs-up {{if ge .MyLikeValue 1}}on{{end}}" title="This is a high quality page"></a>
						{{else}}
							<span class="disabled-like glyphicon glyphicon-thumbs-up"></span>
						{{end}}
					</div>
					<div class="">
						<span class="dislike-count">{{.DislikeCount}}</span>
						{{if IsLoggedIn}}
							<a href="#" class="dislike-link glyphicon glyphicon-thumbs-down {{if le .MyLikeValue -1}}on{{end}}" title="This is a low quality page"></a>
						{{else}}
							<span class="disabled-dislike glyphicon glyphicon-thumbs-down"></span>
						{{end}}
					</div>
				</div>
				<div class="clearfix"></div>

				<!-- Page icons like subscribe, edit, and delete. -->
				<div class="page-glyphs pull-right">
					{{if IsLoggedIn}}
							<a href="#" class="subscribe-to-page-link glyphicon glyphicon-eye-open {{if .IsSubscribed}}on{{end}}" title="Subscribe to receive updates when this page changes or gets new comments"></a><br>
					{{end}}
					{{if ShowEditIcons .}}
						{{if ge (GetEditLevel .) 0}}
								<a href="{{GetPageEditUrl .}}" class="edit-page-link glyphicon glyphicon-pencil {{if eq (GetEditLevel .) 0}}admin{{end}}" title="Edit this page"></a><br>
						{{end}}
						{{if ge (GetDeleteLevel .) 0}}
								<a href="#" class="delete-page-link glyphicon glyphicon-remove {{if eq (GetDeleteLevel .) 0}}admin{{end}}" title="Delete this page"></a><br>
						{{end}}
					{{end}}
				</div>
				<div class="clearfix"></div>

				<!-- Alert to check if the user really wants to delete a page. -->
				<div class="alert alert-danger fade in" id="delete-page-alert" hidden>
					<p>Are you sure you want to delete this page?</p>
					<button type="button" class="delete-page-confirm btn btn-danger">Delete</button>
					<button type="button" class="delete-page-cancel btn btn-default">Cancel</button></br>
				</div>
			</div>
		
			<!-- Main page column -->
			<div class="mid-column pull-left">
				<div class="page-title">{{template "title" .}}</div>
				{{if eq .Type "blog"}}
					<div class="author-text">by {{template "userName" .Author}}</div>
				{{end}}

				<!-- Probability voting -->
				{{if .HasVote}}
					<div id="main-page-vote"></div>
				{{end}}

				<!-- Main page text. Populated by JS. -->
				<div class="page-text"></div>
		
				<!-- Tags -->
				{{if .Tags}}
					<div class="tags gray-text">
					Tagged as:&nbsp;&nbsp;
					{{range .Tags}}
						{{template "tag" .}}
					{{end}}
					</div>
				{{end}}
		
				<!--Admin stuff -->
				{{if IsAdmin}}
					<span class="admin">Last Visit: {{.LastVisit}}; Last Edit At: {{.CreatedAt}} by {{template "userName" .Author}}</span></br>
				{{end}}

				<!-- Contexts -->
				<div class="contexts">
					{{if .Contexts}}
						<a data-toggle="collapse" href="#contexts" aria-expanded="false" aria-controls="contexts" title="Show what pages link to this page">Used In &raquo;</a>
						<div class="contexts-content collapse" id="contexts">
							<ul class="list-unstyled">
								{{range .Contexts}}
									<li><a href="{{GetPageUrl .}}" class="context-link intrasite-link" page-id="{{.PageId}}" privacy-key="{{.PrivacyKey}}">{{.Title}}</a></li>
								{{end}}
							</ul>
						</div>
					{{end}}
				</div>
			</div>
			<div class="right-column pull-left">
				<!-- TODO: side comments -->
			</div>
			<div class="clearfix"></div>
			
			<!-- Comments -->
			<div class="left-column pull-left">
				&nbsp;
			</div>
			<div class="mid-column pull-left">
				<b id="comments-label">Comments:</b></br>
			</div>
			<div class="clearfix"></div>
			<div class="comments">
				{{range .Comments}}
					{{template "comment" .}}
				{{end}}
			</div>
			
			{{template "newComment" 0}}
		</div>
	{{end}}
{{end}}

{{template "footer"}}
</body>
</html>
{{end}}
