{{/* Template for showing a user's name. */}}
{{define "userName"}}
	<a href="{{GetUserUrl .Id}}" class="user-name-link">{{.FirstName}} {{.LastName}}</a>
{{end}}

{{/* Template for showing a tag. */}}
{{define "tag"}}
	<a href="{{GetPageUrl .}}" class="tag label label-default">{{.Title}}</a>
{{end}}

{{/* Template for showing a page title. */}}
{{define "title"}}
	<span class="title-span">
		{{if gt .DeletedBy 0}}
			<span class="alert alert-danger">[DELETED]</span>
		{{else}}
			{{if IsUpdatedPage .}}<span class="new-updated-label glyphicon glyphicon-star-empty" title="This page has been updated since the last time you've seen it"></span>{{end}}
			{{if gt .PrivacyKey 0}}
				<span class="gray-text glyphicon glyphicon-lock" title="Nobody can access this page unless they have the exact URL"></span>
			{{end}}
			{{if ne .Group.Name ""}}
				<span>[{{.Group.Name}}]</span>
			{{end}}
			<span class="page-title-text">{{.Title}}</span>
		{{end}}
	</span>
{{end}}

{{/* Collection of popover templates. */}}
{{define "popoverTemplates"}}

<!-- This div shows up when the user tries to take an action that requires them to be logged in. -->
<div id="signup-popover-template" hidden>
	<div class="popover-summary">
		You have to be logged in.
	</div>
</div>

<!-- This div template is used to create vote divs. -->
<div id="vote-template" class="vote" hidden>
	<div class="bar-background"></div>
	<input class="vote-slider-input" data-slider-id="vote-slider" type="text"/>
	<div class="text-center gray-text">
		<span class="vote-count">0 votes</span> counted
		<span class="my-vote">
			<span class="my-vote-value"></span>
			<a href="#" class="delete-my-vote-link glyphicon glyphicon-remove"></a>
		</span>
	</div>
</div>

<!-- This div shows up when the user hovers over an intra-site link. -->
<div id="link-popover-template" hidden>
	<div class="popover-blog-owner"></div>
	<span class="popover-summary markdown-text"></span>

	<!-- Likes / dislikes and approval voting -->
	<div class="like-span">
		<span class="like-count">JS inserts likes</span>
		<span class="disabled-like glyphicon glyphicon-thumbs-up"></span>
		&nbsp;
		<span class="dislike-count">JS inserts dislikes</span>
		<span class="disabled-dislike glyphicon glyphicon-thumbs-down"></span>
	</div>

	<!-- Answers and probability votes -->
	<div class="vote"></div>
</div>
{{end}}
