{{/* question.tmpl is the main body of the question page */}}
{{define "base"}}
<!DOCTYPE html>
<html>
<head>
	{{template "style"}}
	<link href="/static/css/question.css" rel="stylesheet">
	{{template "scripts"}}
	<script src="/static/js/question.js"></script>
</head>

<body>

<nav id="primary_nav_wrap" class="bHeader">
	<ul>
		{{if .User.IsLoggedIn}}
			<li><a href="#">&#x25BC; {{.User.Email}}</a>
				<ul>
					<li><a href="{{.User.LogoutLink}}" id="logout">Logout</a></li>
				</ul>
			</li>
		{{else}}
			<li><a href="{{.User.LoginLink}}">LOGIN</a></li>
		{{end}}
	</ul>
	<div class="clearfix"></div>
</nav>


<div class="bQuestion">
	<p class="questionText" question-id="{{.Question.Id}}">{{.Question.Text}}</p>
	{{if IsAdmin}}
		<p class="admin">
			<input type="text" class="inputQuestion"></br>
			<a href="#" class="saveQuestion">Save</a>
			<a href="#" class="cancelQuestion">Cancel</a>
			<a href="#" class="editQuestion">Edit</a>
			asked by {{.Question.CreatorName}}
		</p>
	{{end}}
</div>

<div class="bPriors">
	{{range .Priors}}
		<div class="supportColumn">
			{{template "support" .}}
		</div>
	{{end}}
	{{if .Question.PriorVote}}
		<p style="font-size:15px">You voted: {{.Question.PriorVote.Value}}</p>
	{{end}}
</div>

<div class="bSupport">
	{{range .Support}}
		<div class="supportColumn">
			{{range .}}
				{{template "support" .}}
			{{end}}
		</div>
	{{end}}
</div>

<div>Error: {{.Error}}</div>

</body>
</html>
{{end}}
