{{define "scripts"}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/static/js/lib/jquery.cookie.js"></script>
<script src="/static/js/lib/jquery-ui.min.js"></script>

<script src="/static/js/lib/angular.min.js"></script>
<script src="/static/js/lib/angular-resource.min.js"></script>
<script src="/static/js/lib/angular-recursion.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="/static/js/lib/ui-bootstrap-tpls-0.9.0.min.js"></script>
<script src="/static/js/lib/bootstrap-slider.js"></script>

<script src="/static/js/Markdown.Converter.js"></script>
<script src="/static/js/Markdown.Editor.js"></script>
<script src="/static/js/Markdown.Sanitizer.js"></script>

<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
<script src="/static/js/lib/diff_match_patch.min.js"></script>
<script src="/static/js/lib/moment.min.js"></script>
<script src="/static/js/lib/js-yaml.min.js"></script>

<!-- Our scripts -->
<script src="/static/js/init.js"></script>
<script src="/static/js/util.js"></script>
<script src="/static/js/mathjax.js"></script>
<script src="/static/js/markdown.js"></script>
{{end}}
