{{define "scripts"}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.min.js"></script>
<script src="/static/js/lib/angular-recursion.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.7/angular-material.min.js"></script>

<script src="/static/js/Markdown.Converter.js"></script>
<script src="/static/js/Markdown.Editor.js"></script>
<script src="/static/js/Markdown.Sanitizer.js"></script>

<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
<script src="/static/js/lib/diff_match_patch.min.js"></script>
<script src="/static/js/lib/moment.min.js"></script>
<script src="/static/js/lib/ng-sortable.min.js"></script>
<script src="/static/js/lib/js.cookie.js"></script>
{{end}}
