{{/* settingsPage.tmpl contains templates to show the "Settings" page */}}
{{define "base"}}
<!DOCTYPE html>
<html>
<head>
	<title>Settings - Arbital</title>
	{{template "style"}}
	{{template "scripts"}}
	{{template "angular" .}}
	<script src="/static/js/settingsPage.js"></script>
</head>

<body ng-app="arbital" ng-controller="ArbitalCtrl">
<arb-navbar></arb-navbar>

<arb-settings-page></arb-settings-page>

<arb-footer></arb-footer>
</body>
</html>
{{end}}
