{{/* signup.tmpl is the main body of the signup page */}}
{{define "base"}}
<!DOCTYPE html>
<html>
<head>
	{{template "style"}}
	{{template "scripts"}}
</head>

<body>

<div class="signup-body-div">
	<form method="GET" action="/signup/" class="signup-form form-horizontal">
		<div class="form-group">
			<h3 class="form-control-static col-sm-8 col-sm-offset-4">Sign Up</h3>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-4">Email</label>
			<p class="form-control-static col-sm-8">{{.User.Email}}</p>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-4">First Name</label>
			<div class="col-sm-8">
				<input name="firstName" type="text" class="form-control" value="{{.User.FirstName}}" required="true" placeholder="First Name"/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-4">Last Name</label>
			<div class="col-sm-8">
				<input name="lastName" type="text" class="form-control" value="{{.User.LastName}}" required="true" placeholder="Last Name"/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-4">Invite Code</label>
			<div class="col-sm-8">
				<input name="inviteCode" type="text" class="form-control" value="" placeholder="Invite Code"/>
			</div>
		</div>
		<input name="continueUrl" type="hidden" value="{{.ContinueUrl}}"/>
		<button name="action" type="submit" class="btn btn-primary pull-right">Sign Up</button>
	</form>
</div>

</body>
</html>
{{end}}
