{{define "style"}}
<meta charset="utf-8">
{{/* Scale viewport in resolution-independent way. */}}
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc5/angular-material.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Our files -->
<link href="/static/css/compiled/arbital.css" rel="stylesheet">
{{end}}
