{{define "style"}}
<meta charset="utf-8">
{{/* Scale viewport in resolution-independent way. */}}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/libs/bootstrap-slider.css" rel="stylesheet">

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Rye' rel='stylesheet' type='text/css'>

<link href="/static/css/jquery-ui.min.css" rel="stylesheet">
<link href="/static/css/jquery-ui.structure.min.css" rel="stylesheet">

<!-- Our files -->
<link href="/static/css/compiled/base.css" rel="stylesheet">
<link href="/static/css/compiled/page.css" rel="stylesheet">
<link href="/static/css/compiled/pagedown.css" rel="stylesheet">
{{end}}
