{{/* updates.tmpl shows updates for the logged in user */}}
{{define "base"}}
<!DOCTYPE html>
<html>
<head>
	{{template "style"}}
	{{template "scripts"}}
</head>

<body>

{{template "navbar" .User}}

<div class="updates-body-div">
	{{range .UpdatedPages}}
		<div class="panel panel-default">
			<div class="panel-heading">
		    <a href="{{GetPageUrl .}}" class="update-page-summary-link panel-title">{{.Title}}</a>
		  </div>
			<div class="panel-body">
				{{range $key, $count := .Counts}}
					{{if eq $key "reply"}}
						There are {{$count}} new replies to a comment you are subscribed to.
					{{else if eq $key "topLevelComment"}}
						There are {{$count}} new top level comments to a page you are subscribed to.
					{{else if eq $key "pageEdit"}}
						The page has been edited.
					{{end}}
					<br>
				{{end}}
			</div>
		</div>
	{{else}}
		<p>No new updates</p>
	{{end}}
</div>

</body>
</html>
{{end}}
