{{/* updates.tmpl shows updates for the logged in user */}}
{{define "base"}}
<!DOCTYPE html>
<html>
<head>
	<title>Arbital Updates</title>
	{{template "style"}}
	{{template "scripts"}}
	{{template "angular" .}}
	<script>
		// UpdatesCtrl is for the controller for this page.
		app.controller("UpdatesCtrl", function ($scope, pageService, userService) {
			$scope.pageService = pageService;
			$scope.userService = userService;
			$(".group-subscribe-to-user-link").on("click", function(event) {
				userService.subscribeToUser($(event.target));
				// Need to update other links to the same user. Can remove when we start using AngularJS here.
				$(".group-subscribe-to-user-link[user-id='" + $target.attr("user-id") + "']").toggleClass("on", $target.hasClass("on"));
				return false;
			});
			$(".group-subscribe-to-page-link").on("click", function(event) {
				var $target = $(event.target);
				userService.subscribeToPage($target);
				// Need to update other links to the same page. Can remove when we start using AngularJS here.
				$(".group-subscribe-to-page-link[page-id='" + $target.attr("page-id") + "']").toggleClass("on", $target.hasClass("on"));
				return false;
			});
		});
	</script>
</head>

<body ng-app="arbital" ng-controller="ArbitalCtrl">
<arb-navbar></arb-navbar>

<div class="updates-body-div" ng-controller="UpdatesCtrl">
	{{range .UpdateGroups}}
		<div class="panel {{if .Key.IsNew}}panel-info{{else}}panel-default{{end}}">
			<div class="panel-heading">
				{{if ne .Key.GroupByPageId 0}}
					<span class="pull-right">
						<a href="#" class="group-subscribe-to-page-link glyph-link glyphicon glyphicon-eye-open" ng-class="{on: pageService.pageMap['{{.Key.GroupByPageId}}'].isSubscribed}" page-id="{{.Key.GroupByPageId}}"></a>
					</span>
					<arb-likes-page-title page-id="{{.Key.GroupByPageId}}"></arb-likes-page-title>
				{{else}}
					<span class="pull-right">
						<a href="#" class="group-subscribe-to-user-link glyphicon glyphicon-eye-open" ng-class="{on: userService.userMap['{{.Key.GroupByUserId}}'].isSubscribed}" user-id="{{.Key.GroupByUserId}}"></a>
					</span>
					<arb-user-name user-id="{{.Key.GroupByUserId}}"></arb-user-name>
				{{end}}
			</div>
			<div class="panel-body">
				{{range .Updates}}
					<div class="update-row {{if not .IsVisited}}unvisited-update{{end}}">
					{{if eq .Type "topLevelComment"}}
						<arb-user-name user-id="{{.ByUserId}}"></arb-user-name>
						wrote a
						<a ng-href="{[{pageService.pageMap['{{.GoToPageId}}'].url()}]}"
								page-id="{{.GoToPageId}}"
								class="intrasite-link">new comment</a>.
					{{else if eq .Type "reply"}}
						<arb-user-name user-id="{{.ByUserId}}"></arb-user-name>
						wrote a
						<a ng-href="{[{pageService.pageMap['{{.GoToPageId}}'].url()}]}"
								page-id="{{.GoToPageId}}"
								class="intrasite-link">new comment reply</a>.
					{{else if eq .Type "pageEdit"}}
						This page has been edited
						<span ng-show="{{.Repeated}}==1">
							by <arb-user-name user-id="{{.ByUserId}}"></arb-user-name>
						</span>
						<span ng-show="{{.Repeated}}>1">
							{{.Repeated}} times
						</span>.
					{{else if eq .Type "newPageByUser"}}
						Created a new page:
						<arb-likes-page-title page-id="{{.GoToPageId}}"></arb-likes-page-title>
					{{else if eq .Type "newParent"}}
						New parent page:
						<arb-likes-page-title page-id="{{.GoToPageId}}"></arb-likes-page-title>
					{{else if eq .Type "newChild"}}
						New child page:
						<arb-likes-page-title page-id="{{.GoToPageId}}"></arb-likes-page-title>
					{{else if eq .Type "newRequirement"}}
						New requirement:
						<arb-likes-page-title page-id="{{.GoToPageId}}"></arb-likes-page-title>
					{{else if eq .Type "newRequiredBy"}}
						This page is now a requirement for
						<arb-likes-page-title page-id="{{.GoToPageId}}"></arb-likes-page-title>
					{{else if eq .Type "newTag"}}
						New tag:
						<arb-likes-page-title page-id="{{.GoToPageId}}"></arb-likes-page-title>
					{{else if eq .Type "newTaggedBy"}}
						This page now tags
						<arb-likes-page-title page-id="{{.GoToPageId}}"></arb-likes-page-title>
					{{else if eq .Type "commentEdit"}}
						<arb-user-name user-id="{{.ByUserId}}"></arb-user-name>
						edited a
						<a ng-href="{[{pageService.pageMap['{{.GoToPageId}}'].url()}]}"
								page-id="{{.GoToPageId}}"
								class="intrasite-link">comment</a>.
					{{else if eq .Type "atMention"}}
						<arb-user-name user-id="{{.ByUserId}}"></arb-user-name>
						mentioned you in a
						<a ng-href="{[{pageService.pageMap['{{.GoToPageId}}'].url()}]}"
								page-id="{{.GoToPageId}}"
								class="intrasite-link">comment</a>.
					{{else if eq .Type "addedToGroup"}}
						<arb-user-name user-id="{{.ByUserId}}"></arb-user-name>
						added you to the
						<a ng-href="{[{pageService.pageMap['{{.GoToPageId}}'].url()}]}"
								page-id="{{.GoToPageId}}"
								class="intrasite-link">{[{pageService.pageMap['{{.GoToPageId}}'].title}]} group</a>.
					{{else if eq .Type "removedFromGroup"}}
						<arb-user-name user-id="{{.ByUserId}}"></arb-user-name>
						removed you from the
						<a ng-href="{[{pageService.pageMap['{{.GoToPageId}}'].url()}]}"
								page-id="{{.GoToPageId}}"
								class="intrasite-link">{[{pageService.pageMap['{{.GoToPageId}}'].title}]} group</a>.
					{{end}}
					</div>
				{{end}}
			</div>
		</div>
	{{else}}
		<p class="alert alert-info">No new updates</p>
	{{end}}
</div>

<arb-footer></arb-footer>
</body>
</html>
{{end}}
