<div>
	<div layout="row" layout-xs="column" layout-align="space-between center">

		<div ng-switch="::update.type" ng-if="::(update.changeLog && update.changeLog.id)">
			<div ng-switch-when="topLevelComment"></div>
			<div ng-switch-when="reply"></div>
			<div ng-switch-default>
				<arb-likes likeable-type="changeLog"
					likeable-id="{{::update.changeLog.id}}"
					likeable="::update.changeLog"
					is-stretched="true"
					is-button="true"></arb-likes>
			</div>
		</div>

		<div ng-switch="::update.type" flex>

			<!-- Updates -->

			<span ng-switch-when="atMention">
				<arb-user-name user-id="{{::update.byUserId}}"></arb-user-name>
				mentioned you in a
				<arb-page-title page-id="{{::update.goToPageId}}"
						is-link="true"
						custom-page-title="comment"></arb-page-title>
			</span>

			<span ng-switch-when="resolvedThread">
				<arb-user-name user-id="{{::update.byUserId}}"></arb-user-name>
				marked
				<span ng-if="::goToPage.pageCreatorId == arb.userService.user.id">your</span>
				comment,
				<arb-page-title page-id="{{::update.goToPageId}}" is-link="true"></arb-page-title>,
				as resolved
				<div ng-if="goToPage.isResolved">
					<md-button ng-click="arb.pageService.resolveThread(update.goToPageId, true)">
						Reopen
					</md-button>
				</div>
			</span>

			<div ng-switch-when="pageToDomainSubmission">
				<arb-user-name user-id="{{::update.byUserId}}"></arb-user-name>
				wants to add
				<arb-page-title page-id="{{::update.goToPageId}}" is-link="true"></arb-page-title>
				to the
				<arb-page-title page-id="{{::update.subscribedToId}}" is-link="true"></arb-page-title>
				domain.
				<div>
					<md-button class="md-primary"
							ng-click="arb.pageService.approvePageToDomain(update.goToPageId, update.subscribedToId)"
							ng-if="goToPage.domainSubmissions[update.subscribedToId].approverId == ''">
						Approve
					</md-button>
					<!-- Check that goToPage exists, because it might have been deleted -->
					<span ng-if="goToPage && goToPage.domainSubmissions[update.subscribedToId].approverId != ''">
						This submission has been approved by
						<arb-user-name user-id="{{::goToPage.domainSubmissions[update.subscribedToId].approverId}}"></arb-user-name>
					</span>
				</div>
			</div>

			<div ng-switch-when="pageToDomainAccepted">
				Congrats!
				<arb-page-title page-id="{{::update.goToPageId}}" is-link="true"></arb-page-title>
				is now part of the
				<arb-page-title page-id="{{::update.subscribedToId}}" is-link="true"></arb-page-title>
				domain.
			</div>

			<!-- Marks -->

			<div ng-switch-when="newMark">
				<div arb-query-info
					mark-id="{{::update.markId}}"
					ng-if="arb.markService.markMap[update.markId].type === 'query'"></div>
				<div arb-mark-info
						mark-id="{{::update.markId}}"
						ng-if="arb.markService.markMap[update.markId].type !== 'query'"></div>
			</div>

			<div ng-switch-when="answeredMark">
				<div arb-query-info mark-id="{{::update.markId}}"></div>
			</div>

			<div ng-switch-when="resolvedMark">
				<div arb-mark-info mark-id="{{::update.markId}}"></div>
			</div>

			<!-- Unknown -->

			<span ng-switch-default class="md-warn">
				Unknown activity type: {{::update.type}}
			</span>

		</div>

		<!-- RHS of the row -->
		<div layout="row" layout-align="end center">
			<!-- Link to the user who performed the action (if we haven't already) -->
			<span ng-switch="::update.type">
				<span ng-switch-when="topLevelComment"></span>
				<span ng-switch-when="reply"></span>
				<span ng-switch-when="atMention"></span>
				<span ng-switch-when="pageToDomainSubmission"></span>
				<span ng-switch-default>
					<arb-user-name user-id="{{::update.byUserId}}" ng-if="::showUserLink && !!update.byUserId"></arb-user-name>
					&nbsp;
				</span>
			</span>

			<span class="md-caption nowrap" ng-bind="::(update.createdAt | relativeDateTime)"></span>
			<md-button class="md-icon-button" ng-click="onDismiss()" ng-if="showDismissIcon">
				<md-icon>close</md-icon>
				<md-tooltip md-delay="500">Dismiss</md-tooltip>
			</md-button>
		</div>

	</div>

	<!-- Additional stuff -->
	<div ng-switch="::update.type">
		<span ng-switch-when="topLevelComment">
			<div arb-collapsable-comment-thread comment-id="{{::update.goToPageId}}"></div>
		</span>

		<span ng-switch-when="reply">
			<div arb-collapsable-comment-thread
					comment-id="{{::goToPage.getTopLevelComment().pageId}}"></div>
		</span>
	</div>
</div>
