<!-- New discussion thread -->
<div ng-if="::topLevelComment === comment" flex>
	<arb-user-name user-id="{{::comment.pageCreatorId}}"></arb-user-name>
	commented
	<arb-page-title page-id="{{::comment.pageId}}" is-link="true"></arb-page-title>
	on
	<arb-page-title page-id="{{::comment.getCommentParentPage().pageId}}" is-link="true"></arb-page-title>
</div>

<!-- New reply -->
<div ng-if="::topLevelComment !== comment" flex>
	<arb-user-name user-id="{{::comment.pageCreatorId}}"></arb-user-name>
	replied
	<arb-page-title page-id="{{::comment.pageId}}" is-link="true"></arb-page-title>
	to
	<span ng-bind="::topLevelComment.pageCreatorId == arb.userService.user.id ? 'your' : 'a'"></span>
	comment:
	<arb-page-title page-id="{{::topLevelComment.pageId}}" is-link="true"></arb-page-title>
</div>

<div ng-if="expanded">
	<md-progress-circular md-mode="indeterminate" ng-if="!threadLoaded"></md-progress-circular>
	<div arb-subpage class="reveal-after-render"
			lens-id="{{::comment.getCommentParentPage().pageId}}"
			page-id="{{::topLevelComment.pageId}}"
			show-even-if-resolved="true"
			ng-if="threadLoaded"></div>
</div>
