<div class="full-width" layout="column">
	<div layout="row" layout-align="start center">
		<arb-update-row-expand-button></arb-update-row-expand-button>
		<div flex>
			<arb-user-name user-id="{{::changeLog.userId}}"></arb-user-name>
			proposed an edit to
			<arb-page-title page-id="{{::changeLog.pageId}}" is-link="true"></arb-page-title>
			<span ng-if="isObsolete">
				<br>
				A new version of the page has been published since then, so this change can only
				be applied manually.
			</span>
		</div>
		<span class="md-caption">{{::changeLog.createdAt | relativeDateTime}}</span>
	</div>

	<div class="expand-tray" ng-if="expanded">
		<arb-edit-diff change-log="::changeLog" just-diff="true"></arb-edit-diff>
		<md-button ng-click="arb.pageService.approveEditProposal(changeLog)"
				ng-if="showApprove()">Approve</md-button>
		<span ng-if="changeLog.type != 'newEditProposal'">
			Edit approved!
		</span>
		<!-- TODO: show the likes button -->
		<!--<arb-update-row-like-button></arb-update-row-like-button>-->
	</div>
</div>
