<md-list-item>
	<div layout="row" flex>
		<div layout="row" flex>
			<div ng-if="::refCount">
				<md-button ng-click="toggleExpand()" class="md-icon-button icon-first">
					<arb-expand-icon expanded="expanded"></arb-expand-icon>
				</md-button>
			</div>
			<div class="explanation-text" layout="column" flex>
				<div>
					<span ng-if="::refCount">"</span>{{::prettyName}}<span ng-if="::refCount">"</span>
					<span ng-if="::refCount">referenced in {{::refCount}} pages</span>
				</div>
				<div ng-if="expanded">
					<md-progress-circular md-mode="indeterminate" ng-if="!linkedByPageIds"></md-progress-circular>
					<div ng-repeat="pageId in linkedByPageIds">
						<arb-page-title page-id="{{::pageId}}" is-link="true"></arb-page-title>
					</div>
				</div>
			</div>
		</div>
		<div>
			<md-button ng-href="{{editUrl}}" class="md-icon-button icon-last">
				<md-icon>create</md-icon>
			</md-button>
		</div>
	</div>
	<md-divider></md-divider>
</md-list-item>
