<md-list-item layout="column" layout-align="center" ng-if="!row || row.myLikeValue >= 0">
	<div layout="row" layout-align="start center">
		<div layout="row" layout-align="start center" flex>

			<arb-likes
				object-id="{{::row.alias}}"
				likeable="row"
				is-button="true"
				is-plus-one="true"
				ng-if="::row.refCount"
				></arb-likes>

			<div class="explanation-text" layout="column" flex>
				<div layout="row" layout-align="start center">
					{{::prettyName}} &nbsp;
					<span ng-if="::row.refCount" class="md-caption">
						referenced on <a ng-click="toggleExpand()">{{::row.refCount}} pages</a> with {{totalViewCount}} total views
					</span>
				</div>
			</div>
		</div>

		<div layout="row" layout-align="center center">
			<!-- Edit -->
			<arb-edit-button class="icon-last"
					page-id="{{row.alias}}"
					analytics-desc="write new red link"
					custom-text="Create"></arb-edit-button>
		</div>
	</div>

	<div class="expand-tray expanded-list" layout="column" ng-if="expanded">
		<md-progress-circular md-mode="indeterminate" ng-if="!linkedByPageIds"></md-progress-circular>
		<div ng-repeat="pageId in linkedByPageIds">
			<arb-page-title page-id="{{::pageId}}" is-link="true"></arb-page-title>
			<span class="md-caption">
				{{arb.stateService.pageMap[pageId].viewCount}} views
			</span>
		</div>
		<md-button ng-click="stopSuggesting()"
				ng-if="::arb.userService.user.trustMap['1lw'].permissions.domainTrust.has">
			Don't suggest this alias
		</md-button>
	</div>
</md-list-item>
<md-divider></md-divider>
