<div flex>
	<div layout="column" layout-gt-sm="row" layout-align-gt-sm="start center" flex>
		<div flex>
			<!-- Names of people -->
			{{::userNames}}

			<ng-pluralize count="::modeRow.userIds.length" when="{'1': 'likes', 'other': 'like'}">
			</ng-pluralize>

			<span ng-if="::arb.stateService.pageMap[modeRow.pageId].isComment()">your comment:</span>
			<span ng-if="::modeRow.changeLog.id">your edit to</span>
			<arb-page-title page-id="{{::modeRow.pageId}}"
				is-link="true"></arb-page-title>
			<span ng-if="::arb.stateService.pageMap[modeRow.pageId].isComment()">
				on
				<arb-page-title page-id="{{::arb.stateService.pageMap[modeRow.pageId].getCommentParentPage().pageId}}"
					is-link="true"></arb-page-title>
			</span>
		</div>
		<div class="md-caption" layout="row" layout-align="start center">
			<span ng-bind="::(modeRow.activityDate | relativeDateTime)"></span>
		</div>
	</div>
	<div ng-if="::modeRow.changeLog.id">
		<arb-edit-diff change-log="::modeRow.changeLog"></arb-edit-diff>
	</div>
</div>
