<div>
	<div layout="row" layout-xs="column" layout-align="start start">

		<div ng-switch="::type" ng-if="::(changeLog && changeLog.id)">
			<div ng-switch-when="newPageByUser"></div>
			<div ng-switch-default>
				<arb-likes likeable-type="changeLog"
					likeable-id="{{::changeLog.id}}"
					likeable="::changeLog"
					is-stretched="true"
					is-button="true"></arb-likes>
			</div>
		</div>

		<div ng-switch="::type" flex>

			<!-- Change log type is associated to the corresponding changeLog value and
				changeLog's type determines the contents of the update -->
			<span ng-switch-when="changeLog" ng-switch="::changeLog.type" flex>
				<span ng-switch-when="newParent">
					New parent: <arb-page-title page-id="{{::goToPageId}}" is-link="true"></arb-page-title>
				</span>

				<span ng-switch-when="deleteParent">
					Removed parent: <arb-page-title page-id="{{::goToPageId}}" is-link="true"></arb-page-title>
				</span>

				<span ng-switch-when="newChild">
					New child: <arb-page-title page-id="{{::goToPageId}}" is-link="true"></arb-page-title>
				</span>

				<span ng-switch-when="newLens">
					New lens: <arb-page-title page-id="{{::goToPageId}}" is-link="true"></arb-page-title>
				</span>

				<span ng-switch-when="deleteChild">
					Removed child: <arb-page-title page-id="{{::goToPageId}}" is-link="true"></arb-page-title>
				</span>

				<span ng-switch-when="newTag">
					New tag: <arb-page-title page-id="{{::goToPageId}}" is-link="true"></arb-page-title>
				</span>

				<span ng-switch-when="deleteTag">
					Removed tag: <arb-page-title page-id="{{::goToPageId}}" is-link="true"></arb-page-title>
				</span>

				<span ng-switch-when="newUsedAsTag">
					Used as tag for: <arb-page-title page-id="{{::goToPageId}}" is-link="true"></arb-page-title>
				</span>

				<span ng-switch-when="deleteUsedAsTag">
					Not a tag for: <arb-page-title page-id="{{::goToPageId}}" is-link="true"></arb-page-title>
				</span>

				<span ng-switch-when="newRequirement">
					New requirement: <arb-page-title page-id="{{::goToPageId}}" is-link="true"></arb-page-title>
				</span>

				<span ng-switch-when="deleteRequirement">
					Removed requirement: <arb-page-title page-id="{{::goToPageId}}" is-link="true"></arb-page-title>
				</span>

				<span ng-switch-when="newRequiredBy">
					Required for: <arb-page-title page-id="{{::goToPageId}}" is-link="true"></arb-page-title>
				</span>

				<span ng-switch-when="deleteRequiredBy">
					Not required for: <arb-page-title page-id="{{::goToPageId}}" is-link="true"></arb-page-title>
				</span>

				<span ng-switch-when="newSubject">
					Teaches: <arb-page-title page-id="{{::goToPageId}}" is-link="true"></arb-page-title>
				</span>

				<span ng-switch-when="deleteSubject">
					Doesn't teach: <arb-page-title page-id="{{::goToPageId}}" is-link="true"></arb-page-title>
				</span>

				<span ng-switch-when="newTeacher">
					Taught by: <arb-page-title page-id="{{::goToPageId}}" is-link="true"></arb-page-title>
				</span>

				<span ng-switch-when="deleteTeacher">
					Not taught by: <arb-page-title page-id="{{::goToPageId}}" is-link="true"></arb-page-title>
				</span>

				<span ng-switch-when="searchStringChange">
					<span ng-if="::changeLog.newSettingsValue">
						Search string added: <span ng-bind="::changeLog.newSettingsValue"></span>
					</span>
					<span ng-if="::changeLog.oldSettingsValue">
						Search string removed: <span ng-bind="::changeLog.oldSettingsValue"></span>
					</span>
				</span>

				<span ng-switch-when="answerChange">
					<span ng-if="::changeLog.newSettingsValue">
						Answer added: <arb-page-title page-id="{{::goToPageId}}" is-link="true"></arb-page-title>
					</span>
					<span ng-if="::changeLog.oldSettingsValue">
						Answer removed: <arb-page-title page-id="{{::goToPageId}}" is-link="true"></arb-page-title>
					</span>
				</span>

				<span ng-switch-when="lensOrderChanged">
					Lens order was changed.
				</span>

				<!-- Settings changes -->

				<span ng-switch-when="newAlias">
					Alias changed
					from "{{::changeLog.oldSettingsValue}}"
					to "{{::changeLog.newSettingsValue}}"
				</span>

				<span ng-switch-when="newSortChildrenBy">
					Child sort order changed
					from "{{::changeLog.oldSettingsValue}}"
					to "{{::changeLog.newSettingsValue}}"
				</span>

				<span ng-switch-when="setVoteType">
					Vote type changed
					from "{{::changeLog.oldSettingsValue}}"
					to "{{::changeLog.newSettingsValue}}"
				</span>

				<span ng-switch-when="newEditGroup">
					Edit group changed from
					<!-- old edit group -->
					<span ng-if="::(changeLog.oldSettingsValue == '')">none</span>
					<span ng-if="::(changeLog.oldSettingsValue != '')">
						<arb-page-title page-id="{{::changeLog.oldSettingsValue}}" is-link="true"></arb-page-title>
					</span>
					to
					<!-- new edit group -->
					<span ng-if="::(changeLog.newSettingsValue == '')">none</span>
					<span ng-if="::(changeLog.newSettingsValue != '')">
						<arb-page-title page-id="{{::changeLog.newSettingsValue}}" is-link="true"></arb-page-title>
					</span>
				</span>

				<span ng-switch-when="turnOnVote">
					Probability bar shown
				</span>

				<span ng-switch-when="turnOffVote">
					Probability bar hidden
				</span>

				<span ng-switch-when="pageInfoEdit">
					Settings changed
				</span>

				<!-- Edits and snapshots -->

				<span ng-switch-when="deletePage">
					Deleted page
				</span>

				<span ng-switch-when="undeletePage">
					Republished page
				</span>

				<span ng-switch-when="newEdit">
					New edit #{{::changeLog.edit}}
				</span>

				<span ng-switch-when="revertEdit">
					Reverted to edit #{{::changeLog.edit}}
				</span>

				<span ng-switch-when="newSnapshot">
					New snapshot (edit #{{::changeLog.edit}})
				</span>

			</span>

			<!-- Updates -->

			<span ng-switch-when="newPageByUser">
				Created a new page:
				<arb-page-title page-id="{{::goToPageId}}" is-link="true"></arb-page-title>
			</span>

			<span ng-switch-when="addedToGroup">
				<arb-user-name user-id="{{::byUserId}}"></arb-user-name>
				added you to
				<arb-page-title page-id="{{::goToPageId}}"
						is-link="true"
						custom-page-title="the {{::goToPage.title}} group"></arb-page-title>
			</span>

			<span ng-switch-when="removedFromGroup">
				<arb-user-name user-id="{{::byUserId}}"></arb-user-name>
				removed you from
				<arb-page-title page-id="{{::goToPageId}}"
						is-link="true"
						custom-page-title="the {{::goToPage.title}} group"></arb-page-title>
			</span>

			<span ng-switch-when="inviteReceived">
				Thanks to
				<arb-user-name user-id="{{::byUserId}}"></arb-user-name>
				you can now participate in
				<arb-page-title page-id="{{::goToPageId}}"
						is-link="true"
						custom-page-title="the {{::arb.pageService.getDomainName(goToPageId)}} domain"
						ng-if="::goToPageId"></arb-page-title>
				<span ng-bind="the {{::arb.pageService.getDomainName(goToPageId)}} domain"
						ng-if="::!goToPageId"></span>
			</span>

			<!-- Unknown -->

			<span ng-switch-default class="md-warn">
				Unknown activity type: {{::type}}
			</span>

		</div>

		<!-- RHS of the row -->
		<div layout="row" layout-align="end center">
			<!-- Link to the user who performed the action (if we haven't already) -->
			<span ng-switch="::type">
				<span ng-switch-when="addedToGroup"></span>
				<span ng-switch-when="removedFromGroup"></span>
				<span ng-switch-default>
					<arb-user-name user-id="{{::byUserId}}" ng-if="::showUserLink && !!byUserId"></arb-user-name>
					&nbsp;
				</span>
			</span>

			<span class="md-caption nowrap" ng-bind="::(createdAt | relativeDateTime)"></span>
			<md-button class="md-icon-button" ng-click="onDismiss()" ng-if="showDismissIcon">
				<md-icon>close</md-icon>
				<md-tooltip md-delay="500">Dismiss</md-tooltip>
			</md-button>
		</div>

	</div>
</div>
