<div>
	<div layout="row" layout-xs="column" layout-align="space-between center">

		<div ng-if="::(update.changeLog && update.changeLog.id)">
			<arb-likes likeable-type="changeLog"
				likeable-id="{{::update.changeLog.id}}"
				likeable="::update.changeLog"
				is-stretched="true"
				is-button="true"></arb-likes>
		</div>

		<div ng-switch="::update.type" flex>

			<!-- Change log type is associated to the corresponding changeLog value and
				changeLog's type determines the contents of the update -->
			<span ng-switch-when="changeLog" ng-switch="::update.changeLog.type" flex>
				<span ng-switch-when="searchStringChange">
					<arb-page-title page-id="{{::update.subscribedToId}}" is-link="true"></arb-page-title>
					<span ng-if="::update.changeLog.newSettingsValue">
						search string added: <span ng-bind="::update.changeLog.newSettingsValue"></span>
					</span>
					<span ng-if="::update.changeLog.oldSettingsValue">
						search string removed: <span ng-bind="::update.changeLog.oldSettingsValue"></span>
					</span>
				</span>

				<span ng-switch-when="answerChange">
					<arb-page-title page-id="{{::update.subscribedToId}}" is-link="true"></arb-page-title>
					<span ng-if="::update.changeLog.newSettingsValue">
						answer added: <arb-page-title page-id="{{::update.goToPageId}}" is-link="true"></arb-page-title>
					</span>
					<span ng-if="::update.changeLog.oldSettingsValue">
						answer removed: <arb-page-title page-id="{{::update.goToPageId}}" is-link="true"></arb-page-title>
					</span>
				</span>

				<!-- Edits and snapshots -->

				<span ng-switch-when="deletePage">
					<arb-page-title page-id="{{::update.goToPageId}}" is-link="true"></arb-page-title>
					deleted
				</span>

				<span ng-switch-when="undeletePage">
					<arb-page-title page-id="{{::update.goToPageId}}" is-link="true"></arb-page-title>
					republished
				</span>

				<span ng-switch-when="newEdit">
					<arb-page-title page-id="{{::update.goToPageId}}" is-link="true"></arb-page-title>
					new edit #{{::update.changeLog.edit}}
				</span>

				<span ng-switch-when="revertEdit">
					<arb-page-title page-id="{{::update.goToPageId}}" is-link="true"></arb-page-title>
					reverted to edit #{{::update.changeLog.edit}}
				</span>

				<span ng-switch-when="newSnapshot">
					<arb-page-title page-id="{{::update.goToPageId}}" is-link="true"></arb-page-title>
					new snapshot (edit #{{::update.changeLog.edit}})
				</span>

			</span>

			<!-- Unknown -->

			<span ng-switch-default class="md-warn">
				<arb-page-title page-id="{{::update.goToPageId}}" is-link="true"></arb-page-title>
				unknown activity type: {{::update.type}}
			</span>

		</div>

		<!-- RHS of the row -->
		<div layout="row" layout-align="end center">
			<!-- Link to the user who performed the action -->
			<span>
				<arb-user-name user-id="{{::update.byUserId}}" ng-if="::showUserLink && !!update.byUserId"></arb-user-name>
				&nbsp;
			</span>

			<span class="md-caption nowrap" ng-bind="::(update.createdAt | relativeDateTime)"></span>
			<md-button class="md-icon-button" ng-click="onDismiss()" ng-if="showDismissIcon">
				<md-icon>close</md-icon>
				<md-tooltip md-delay="500">Dismiss</md-tooltip>
			</md-button>
		</div>

	</div>
</div>
