.as-sortable-item, .as-sortable-placeholder {
  display: block; }

.as-sortable-item {
  -ms-touch-action: none;
  touch-action: none; }

.as-sortable-item-handle {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab; }

.as-sortable-drag {
  position: absolute;
  pointer-events: none;
  z-index: 9999; }

.as-sortable-hidden {
  display: none !important; }

.as-sortable-un-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.as-sortable-item, .as-sortable-placeholder {
  min-height: 20px;
  margin: 5px 2px 10px 1px; }

.as-sortable-item {
  background-color: #ffffff; }

.as-sortable-placeholder {
  border: 1px dashed darkgrey;
  box-sizing: border-box;
  background-color: #dbdbdb; }

.as-sortable-drag {
  opacity: .8; }

#primary-color {
  border-top-color: #009688;
  border-right-color: #E0F2F1;
  border-bottom-color: #00796B;
  border-left-color: #004D40; }

#accent-color {
  border-top-color: #FF5722;
  border-right-color: #FFCCBC;
  border-bottom-color: #E64A19;
  border-left-color: #F16700; }

#warn-color {
  border-top-color: #F44336;
  border-right-color: #FFCDD2;
  border-bottom-color: #D32F2F;
  border-left-color: #B71C1C; }

md-content {
  background-color: initial; }

.md-whiteframe-1dp {
  background-color: white; }

.md-whiteframe-2dp {
  background-color: white; }

.md-select-menu-container {
  background-color: white; }

div.md-primary, md-list-item.md-primary {
  background-color: #009688; }
  div.md-primary.md-hue-1, md-list-item.md-primary.md-hue-1 {
    background-color: #E0F2F1; }
  div.md-primary.md-hue-2, md-list-item.md-primary.md-hue-2 {
    background-color: #00796B; }
  div.md-primary.md-hue-3, md-list-item.md-primary.md-hue-3 {
    background-color: #004D40; }

div.md-accent, md-list-item.md-accent {
  background-color: #FF5722; }
  div.md-accent.md-hue-1, md-list-item.md-accent.md-hue-1 {
    background-color: #FFCCBC; }
  div.md-accent.md-hue-2, md-list-item.md-accent.md-hue-2 {
    background-color: #E64A19; }
  div.md-accent.md-hue-3, md-list-item.md-accent.md-hue-3 {
    background-color: #F16700; }

div.md-warn, md-list-item.md-warn {
  background-color: #F44336; }
  div.md-warn.md-hue-1, md-list-item.md-warn.md-hue-1 {
    background-color: #FFCDD2; }
  div.md-warn.md-hue-2, md-list-item.md-warn.md-hue-2 {
    background-color: #D32F2F; }
  div.md-warn.md-hue-3, md-list-item.md-warn.md-hue-3 {
    background-color: #B71C1C; }

span.md-accent {
  color: #FF5722; }
  span.md-accent > span, span.md-accent > md-icon {
    color: #FF5722; }

span.md-warn {
  color: #F44336; }
  span.md-warn > span, span.md-warn > md-icon {
    color: #F44336; }

.md-display-3 {
  font-family: "Roboto Slab";
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 400;
  margin: 0.5rem 0;
  text-align: left; }
  .md-display-3 md-icon {
    font-size: 2.5rem;
    width: 2.5rem;
    height: 2.5rem; }

.md-display-2, .preview-area h1, arb-markdown h1 {
  font-family: "Roboto Slab";
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 0.75rem;
  text-align: left; }

.md-display-1, .preview-area h2, arb-markdown h2 {
  font-size: 1.8rem;
  line-height: 1.7rem;
  font-weight: 300;
  margin-top: 2rem;
  margin-bottom: 0.75rem;
  text-align: left; }

.md-headline, .preview-area h3, arb-markdown h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color: rgba(0, 0, 0, 0.9);
  text-align: left; }

.md-subhead {
  font-weight: 700; }

.md-caption {
  font-size: 12px;
  opacity: 0.6;
  line-height: normal; }

.md-body-2 {
  font-weight: 700; }

.md-subheader {
  background-color: whitesmoke;
  padding: 8px 16px;
  margin-bottom: 6px; }
  .md-subheader.md-primary {
    background-color: #009688; }
  .md-subheader.md-accent {
    background-color: #FF5722; }
  .md-subheader.md-warn {
    background-color: #F44336; }
  .md-subheader .md-subheader-inner {
    padding: 0; }

.md-button:not(.md-fab) {
  margin: 0; }
  .md-button:not(.md-fab).md-icon-button {
    overflow: visible; }
  .md-button:not(.md-fab):not([disabled]).special {
    color: #137abd !important; }
    .md-button:not(.md-fab):not([disabled]).special:hover {
      color: #0c4d77 !important; }
    .md-button:not(.md-fab):not([disabled]).special.md-raised {
      background-color: #137abd !important;
      color: white !important; }
      .md-button:not(.md-fab):not([disabled]).special.md-raised:hover {
        background-color: #116ba6 !important; }
      .md-button:not(.md-fab):not([disabled]).special.md-raised md-icon {
        color: white !important; }
    .md-button:not(.md-fab):not([disabled]).special md-icon {
      color: #137abd; }

md-list-item {
  min-height: 0 !important;
  margin-bottom: 10px !important;
  padding: 5px 16px 10px 16px !important; }

md-list-item + md-list-item {
  margin-top: 10px !important; }

.md-toolbar-tools a {
  white-space: nowrap; }
.md-toolbar-tools:not(.md-toolbar-tools-bottom) arb-autocomplete {
  max-width: 70%; }
.md-toolbar-tools md-autocomplete {
  background-color: #00796B; }
  .md-toolbar-tools md-autocomplete md-autocomplete-wrap {
    box-shadow: none; }
  .md-toolbar-tools md-autocomplete input {
    color: white; }

md-autocomplete input {
  line-height: normal; }

.md-input::-ms-clear {
  display: none; }

md-tabs.full-height > md-tabs-content-wrapper > md-tab-content > div {
  height: 100%; }

.hide-tabs md-tabs-wrapper {
  display: none; }
.hide-tabs md-tabs-content-wrapper {
  top: 0px; }

md-tabs {
  outline: none; }

md-tabs-wrapper a {
  color: inherit; }

md-tabs.layout-column.flex md-tabs-content-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }
md-tabs.layout-column.flex md-tab-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }
md-tabs.layout-column.flex md-tab-content > div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

md-tab-content {
  background-color: white; }

.md-tab.md-active {
  background-color: #004D40; }

.md-virtual-repeat-container.md-autocomplete-suggestions-container {
  min-height: 30vh; }

md-toolbar a:not(.md-button), md-toolbar a[page-id]:not(.md-button), md-toolbar a[user-id]:not(.md-button) {
  color: white; }
  md-toolbar a:not(.md-button):hover, md-toolbar a[page-id]:not(.md-button):hover, md-toolbar a[user-id]:not(.md-button):hover {
    color: #E0F2F1; }
  md-toolbar a:not(.md-button):active, md-toolbar a[page-id]:not(.md-button):active, md-toolbar a[user-id]:not(.md-button):active {
    color: #98d4d1; }

md-tooltip .md-content {
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 12px;
  font-weight: bold; }

md-tooltip.unlimited .md-content {
  height: auto !important; }
  md-tooltip.unlimited .md-content span {
    white-space: pre; }

md-list {
  padding-top: 0;
  padding-bottom: 0; }

.display-none {
  display: none; }

.submit-form-error {
  padding: 10px; }

.bold {
  font-weight: bold; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.nowrap {
  white-space: nowrap; }

.white-background {
  background-color: white; }

.black-font {
  color: black; }

.green-font {
  color: green; }

.full-width {
  width: 100%; }

.full-height {
  height: 100%; }

.no-margins {
  margin: 0 !important; }

.no-padding {
  padding: 0 !important; }

.reveal-after-render-parent {
  visibility: hidden !important; }
  .reveal-after-render-parent .reveal-after-render {
    visibility: hidden !important; }
  .reveal-after-render-parent .my-vote-knob {
    visibility: hidden !important; }

.invisible {
  visibility: hidden !important; }

.primary-dot {
  position: relative;
  top: -0.4em;
  display: inline-block;
  background-color: #009688;
  width: 0.4em;
  height: 0.4em;
  border-radius: 50%; }

.accent-dot {
  position: relative;
  top: -0.4em;
  display: inline-block;
  background-color: #FF5722;
  width: 0.4em;
  height: 0.4em;
  border-radius: 50%; }

.warn-dot {
  position: relative;
  top: -0.4em;
  display: inline-block;
  background-color: #F44336;
  width: 0.4em;
  height: 0.4em;
  border-radius: 50%; }

.left-text {
  text-align: left; }

.center-text {
  text-align: center; }

.right-text {
  text-align: right; }

.pre {
  white-space: pre; }

.one-line > * {
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important; }
.one-line * + * {
  display: none; }

.comma {
  margin-left: -3px; }

.small-button {
  padding: 0 !important;
  width: 24px !important;
  height: 24px !important;
  min-width: 24px !important;
  min-height: 24px !important;
  margin-right: 5px !important; }

.separator {
  margin: 10px 10px;
  padding: 0 1px 0 0;
  background-color: silver; }

.slow-down-container {
  margin-left: -32px;
  margin-right: -500px; }
  .slow-down-container .change-speed-button {
    padding: 6px 8px 6px 6px;
    width: 94px; }
    .slow-down-container .change-speed-button.collapsed {
      border-radius: 18px 0 0 18px;
      padding-right: 2px; }

.speed-up-container {
  margin-left: -68px;
  margin-right: -34px; }
  .speed-up-container.expanded {
    margin-left: -366px; }
  .speed-up-container .change-speed-button {
    padding: 6px 6px 6px 8px;
    width: 87px;
    text-align: right; }
    .speed-up-container .change-speed-button.collapsed {
      border-radius: 0 18px 18px 0;
      padding-left: 4px;
      margin-left: 68px; }

.change-speed-container {
  position: fixed;
  margin-top: 8px;
  top: 0px;
  z-index: 2;
  opacity: 1;
  width: 94px; }
  .change-speed-container.expanded {
    border-radius: 18px 18px 5px 5px;
    background-color: white;
    width: 400px; }
    .change-speed-container.expanded .change-speed-button {
      border-radius: 18px 18px 0 0;
      width: auto; }
    .change-speed-container.expanded .change-speed-tray {
      padding: 8px;
      width: auto;
      height: auto;
      border-radius: 0 0 5px 5px;
      border-left: 2px solid #137abd;
      border-right: 2px solid #137abd;
      border-bottom: 2px solid #137abd; }
    .change-speed-container.expanded md-input-container {
      margin-top: 10px;
      margin-bottom: 0px; }

.change-speed-container.stick-to-top {
  position: static; }

.change-speed-container.stick-to-bottom {
  position: absolute; }

.change-speed-button {
  border-radius: 18px;
  background-color: #137abd;
  color: white;
  min-width: 0;
  width: auto;
  opacity: 1;
  white-space: nowrap;
  outline: none;
  z-index: 2;
  cursor: pointer;
  font-weight: 500; }
  .change-speed-button md-icon {
    color: white; }
  .change-speed-button.collapsed {
    width: 24px;
    opacity: .7; }
    .change-speed-button.collapsed md-icon {
      opacity: .2; }

.change-speed-tray {
  border-left: 0px solid #137abd;
  width: 0px;
  height: 0px;
  padding: 0;
  max-width: 400px;
  background-color: white;
  z-index: 2; }
  .change-speed-tray ul {
    margin-top: 0; }

body {
  overflow-x: hidden;
  background-color: #f7f7f7; }

ul.no-top-margin {
  margin-top: 0; }

.body-fix {
  height: auto; }

arb-signup md-input-container {
  margin: 0;
  width: 222px; }
arb-signup .centered-hr-text {
  line-height: 0px;
  text-align: center;
  margin: 25px 10px;
  color: #555;
  font-weight: 500;
  border-bottom: 1px solid #999;
  padding: 0;
  width: 270px; }
  arb-signup .centered-hr-text span {
    background: white;
    padding: 0 10px; }
arb-signup .md-button.md-raised.facebook-button {
  background-color: #3b5998;
  color: white; }
  arb-signup .md-button.md-raised.facebook-button md-icon {
    color: white; }
  arb-signup .md-button.md-raised.facebook-button:hover {
    background-color: #8b9dc3 !important; }
  arb-signup .md-button.md-raised.facebook-button:focus {
    background-color: #8b9dc3 !important; }

.beta-label {
  margin-left: 2px;
  margin-right: 14px;
  font-size: 13px;
  opacity: 0.6; }

.arbital-logo {
  width: 48px;
  height: 48px;
  margin-right: 2px; }

.arbital-logo-sm {
  width: 30px;
  height: 30px; }

.math-background {
  background-image: url("/static/images/math.png");
  background-repeat: no-repeat;
  background-size: 100%; }

.short-button {
  min-width: 0 !important; }

.light {
  opacity: 0.7; }

.nice-blockquote, arb-markdown blockquote, [arb-markdown] blockquote, .preview-area blockquote {
  border-left: lightgray 7px solid;
  padding-left: 10px;
  margin-left: 2px; }
  .nice-blockquote p, arb-markdown blockquote p, [arb-markdown] blockquote p, .preview-area blockquote p {
    padding: 10px 0; }

.centered-item, arb-markdown img, [arb-markdown] img, .preview-area img, [arb-hidden-text] button {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0); }

arb-markdown p, [arb-markdown] p, .preview-area p {
  margin-top: 0;
  overflow-wrap: break-word; }
  arb-markdown p:empty, [arb-markdown] p:empty, .preview-area p:empty {
    margin: 0; }
arb-markdown img, [arb-markdown] img, .preview-area img {
  max-width: 100%; }
arb-markdown ul, arb-markdown ol, [arb-markdown] ul, [arb-markdown] ol, .preview-area ul, .preview-area ol {
  padding-left: 1.5em; }
arb-markdown li p, [arb-markdown] li p, .preview-area li p {
  overflow: inherit; }
arb-markdown > :last-child, [arb-markdown] > :last-child, .preview-area > :last-child {
  margin-bottom: 0; }

.preview-area {
  padding: 0 15px 40vh;
  background-color: white; }
  .preview-area .editor-block {
    padding: 10px 15px 5px 15px; }
  .preview-area .todo-text {
    background-color: rgba(255, 0, 0, 0.15); }
  .preview-area .fixme-text {
    background-color: rgba(180, 0, 0, 0.35); }
  .preview-area .conditional-text {
    background-color: rgba(0, 255, 0, 0.15); }
  .preview-area .info-text {
    background-color: rgba(0, 0, 255, 0.15); }
  .preview-area.hidden {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: initial !important;
    visibility: hidden !important;
    z-index: -1; }

.capped-body-width {
  padding-bottom: 100px; }
  .capped-body-width, .capped-body-width #footer {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .capped-body-width #footer {
    max-width: 1100px; }
  arb-index > .capped-body-width {
    max-width: 1100px; }
  arb-group-index > .capped-body-width {
    max-width: 1100px; }
  arb-user-page > .capped-body-width {
    max-width: 1100px; }
  arb-dashboard-page > .capped-body-width {
    max-width: 1100px; }
  arb-login > .capped-body-width {
    max-width: 560px; }
  arb-updates > .capped-body-width {
    max-width: 1100px; }
  arb-groups-page > .capped-body-width {
    max-width: 900px; }
  arb-requisites-page > .capped-body-width {
    max-width: 900px; }
  arb-learn-page > .capped-body-width {
    max-width: 900px; }
  arb-settings-page > .capped-body-width {
    max-width: 560px; }
  arb-primary-page > .capped-body-width {
    max-width: 1100px; }
  arb-admin-dashboard-page > .capped-body-width {
    max-width: 900px; }
  arb-newsletter > .capped-body-width {
    max-width: 900px; }
  arb-explore-page > .capped-body-width {
    max-width: 1100px; }

.toolbar-update-icon {
  opacity: 0.5; }
  .toolbar-update-icon.on {
    opacity: 1.0; }
  .toolbar-update-icon.selected {
    opacity: 1.0;
    color: white !important; }

.toolbar-update-count {
  position: relative;
  left: -14px;
  top: -8px;
  padding: 2px 3px;
  background-color: #F16700;
  color: white;
  font-size: 12px;
  border-radius: 2px; }

.md-button.md-icon-button.remove-extra-space {
  padding: 0 !important;
  min-height: 0px; }

.md-button.md-icon-button.s20 {
  height: 20px;
  width: 20px; }
  .md-button.md-icon-button.s20 md-icon {
    font-size: 20px;
    height: 20px;
    width: 20px; }

.md-button.md-icon-button.s24 {
  height: 24px;
  width: 24px; }
  .md-button.md-icon-button.s24 md-icon {
    font-size: 24px;
    height: 24px;
    width: 24px; }

arb-update-row .md-button.expand-button,
.dense-panel .md-button.expand-button {
  margin-left: -8px;
  margin-top: -4px; }
arb-update-row .update-row-guts,
arb-update-row .expand-button-container,
.dense-panel .update-row-guts,
.dense-panel .expand-button-container {
  min-height: 32px; }
arb-update-row .md-button.dismiss-button,
.dense-panel .md-button.dismiss-button {
  margin-right: -4px;
  margin-top: -4px;
  margin-left: 8px; }

.chip {
  border: 1px solid #ccc;
  border-radius: 20px;
  color: #888 !important;
  padding: 2px 6px; }

.after-page-container {
  margin: 20px 0; }

.page-list-span {
  margin: 5px 0; }

.edit-comment-embed {
  height: 50vh; }

.new-comment-edit-page {
  margin-top: 20px; }

.new-answer-div {
  height: 70vh; }
  .new-answer-div .wmd-input {
    background-color: white; }

.next-prev-nav {
  min-height: 50px;
  padding: 0 10px; }

#dynamic-view {
  /* position: relative;
  top: -$toolbar-height;
  padding-top: $toolbar-height;
  box-sizing: border-box;*/ }

.sidenav-email {
  max-width: 90%;
  overflow-x: hidden; }

.list > * {
  margin-top: 7px;
  margin-bottom: 7px; }

.unseen-update {
  background: #E0F2F1; }

#mc-signup .subscribe-header {
  margin-bottom: 0; }
#mc-signup md-input-container {
  margin-bottom: 0; }

.autocomplete-custom-template li {
  border-bottom: 1px solid silver;
  padding-top: 10px;
  padding-bottom: 5px;
  height: auto;
  white-space: normal;
  line-height: 20px; }

md-toolbar md-autocomplete ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.5); }
md-toolbar md-autocomplete ::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.5); }
md-toolbar md-autocomplete :-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(255, 255, 255, 0.5); }
md-toolbar md-autocomplete :-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.5); }

.vote-bar .vote-bar-label {
  margin: 10px 0px;
  white-space: pre;
  line-height: normal; }
.vote-bar .vote-bucket-container {
  min-height: 30px; }
.vote-bar .vote-bucket-div {
  border: 1px solid black;
  height: 18px; }
  .vote-bar .vote-bucket-div .vote-bucket {
    opacity: 0;
    background-color: black; }
  .vote-bar .vote-bucket-div.selected {
    height: 24px; }
    .vote-bar .vote-bucket-div.selected .vote-bucket {
      background-color: #009688; }
.vote-bar .vote-bucket-div:not(.selected) + .vote-bucket-div:not(.selected) {
  border-left: none; }
.vote-bar .vote-bar-margin {
  height: 27px;
  max-height: 27px; }
.vote-bar .new-vote-div {
  position: relative;
  top: 19.5px;
  z-index: 2; }
  .vote-bar .new-vote-div .new-vote-knob {
    position: relative;
    left: -15px;
    background-color: #F16700;
    width: 10px;
    height: 45px; }
  .vote-bar .new-vote-div .new-vote-knob-hor {
    position: relative;
    left: -30px;
    top: -63px;
    width: 50px;
    height: 18px;
    text-align: center; }
.vote-bar .my-vote-div {
  position: relative;
  top: 19.5px;
  z-index: 1; }
  .vote-bar .my-vote-div .my-vote-knob {
    position: relative;
    left: -5px;
    background-color: #FF5722;
    width: 10px;
    height: 45px; }

.vote-bar-body:focus {
  outline: none; }

a:not(.md-button) {
  text-decoration: none;
  outline: none;
  color: #0000cc; }
  a:not(.md-button):hover {
    color: #000066; }
  a:not(.md-button):active {
    color: #3333ff; }
  a:not(.md-button)[page-id], a:not(.md-button)[user-id] {
    color: #009688; }
    a:not(.md-button)[page-id]:hover, a:not(.md-button)[user-id]:hover {
      color: #00796B; }
    a:not(.md-button)[page-id]:active, a:not(.md-button)[user-id]:active {
      color: #004D40; }
    a:not(.md-button)[page-id].red-link, a:not(.md-button)[user-id].red-link {
      color: #F44336; }
      a:not(.md-button)[page-id].red-link:hover, a:not(.md-button)[user-id].red-link:hover {
        color: #D32F2F; }
      a:not(.md-button)[page-id].red-link:active, a:not(.md-button)[user-id].red-link:active {
        color: #B71C1C; }

.support-visited-links a:not(.md-button)[page-id]:visited, .support-visited-links a:not(.md-button)[user-id]:visited {
  color: #004D40; }

#index-header .arbital-blurb {
  padding: 8px; }
#index-header md-input-container {
  margin-bottom: 0; }

@media (max-width: 599px) {
  .children-vertical-margin-lt-xs > *:not(:first-child) {
    margin-top: 12px; } }
@media (min-width: 600px) {
  .padding-gt-xs {
    padding: 4px; }

  .children-margin-gt-xs > * {
    margin: 4px; } }
#footer {
  font-size: 12px;
  opacity: 0.5;
  margin-top: 12px; }
  #footer a {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: underline; }

.cursor-pointer {
  cursor: pointer; }

.underline {
  text-decoration: underline; }

.edit-page-dialog {
  width: 90vw;
  height: 90vh;
  background-color: #00796B; }
  .edit-page-dialog md-dialog-content {
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column; }

.feedback-textarea {
  width: 40vw;
  height: 50vh;
  min-width: 300px; }

arb-likes, .likes-in-autocomplete {
  margin: 0 10px 0 0;
  white-space: nowrap; }
  arb-likes .like-icon, .likes-in-autocomplete .like-icon {
    min-width: 24px;
    margin-right: 2px !important; }
  arb-likes .short-button .like-count, arb-likes .icon-likes .like-count, .likes-in-autocomplete .short-button .like-count, .likes-in-autocomplete .icon-likes .like-count {
    color: #666;
    font-weight: normal;
    font-size: 16px;
    min-width: 16px; }

[arb-page-list], .arb-page-list {
  margin-bottom: 4vw; }

arb-page-title, [arb-page-title] {
  line-height: normal; }

arb-requisite-button .md-button, [arb-requisite-button] .md-button {
  min-width: 40px; }

.mastery-list-vertical {
  margin-bottom: 10px; }
  .mastery-list-vertical > * {
    margin: 5px 0; }

.lens-menu {
  border-top: 1px solid #efefef; }
  .lens-menu arb-likes {
    margin: 0; }

.lens-menu-floating {
  position: fixed;
  bottom: 0;
  background: white;
  width: inherit;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transition: .3s linear;
  -moz-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear; }

.lens-menu-floater-hidden {
  transform: translate(-50%, 100%); }

md-toast md-icon {
  color: white; }

@media (max-width: 599px) {
  .lens-text-container {
    padding: 20px 16px 20px;
    font-size: 16px;
    line-height: 1.65; }

  .comment-text-container {
    padding: 5px 5px;
    font-size: 16px;
    line-height: 18px; }

  .dynamic-hor-padding {
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box; }

  .hidden-text {
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 16px;
    padding-right: 16px; }

  .speed-up-container,
  .slow-down-container {
    display: none; } }
@media (min-width: 600px) and (max-width: 959px) {
  .lens-text-container {
    padding: 20px 50px 20px;
    font-size: 18px;
    line-height: 22px; }

  .comment-text-container {
    padding: 5px 10px;
    font-size: 16px;
    line-height: 20px; }

  .dynamic-hor-padding {
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box; }

  .hidden-text {
    margin-left: -50px;
    margin-right: -50px;
    padding-left: 50px;
    padding-right: 50px; }

  .speed-up-container,
  .slow-down-container {
    display: none; } }
@media (min-width: 960px) and (max-width: 1099px) {
  .lens-text-container {
    padding: 20px 90px 60px;
    font-size: 18px;
    line-height: 26px; }

  .comment-text-container {
    padding: 5px 15px;
    font-size: 17px;
    line-height: 22px; }

  .dynamic-hor-padding {
    padding-left: 90px;
    padding-right: 90px;
    box-sizing: border-box; }

  .hidden-text {
    margin-left: -90px;
    margin-right: -90px;
    padding-left: 90px;
    padding-right: 90px; }

  .speed-up-container,
  .slow-down-container {
    display: none; } }
@media (min-width: 1100px) {
  .lens-text-container {
    padding: 20px 100px 80px;
    font-size: 18px;
    line-height: 30px; }

  .comment-text-container {
    padding: 5px 20px;
    font-size: 18px;
    line-height: 24px; }

  .dynamic-hor-padding {
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box; }

  .hidden-text {
    margin-left: -100px;
    margin-right: -100px;
    padding-left: 100px;
    padding-right: 100px; } }
.requirements-container {
  padding: 5px 10px;
  border-bottom: silver 1px solid; }
  .requirements-container .lens-suggestion {
    padding-top: 7px; }

.author-list {
  text-align: right; }

.popover-text-container {
  font-size: 15px;
  line-height: 22px; }

arb-intrasite-popover, arb-user-popover, arb-text-popover {
  position: absolute;
  background: white;
  z-index: 60; }
  arb-intrasite-popover .intrasite-popover-title, arb-user-popover .intrasite-popover-title, arb-text-popover .intrasite-popover-title {
    font-size: 18px;
    padding-bottom: 10px;
    padding-top: 12px;
    font-weight: 500; }

.shadow-primary-hue-1, arb-text-popover {
  border: 2px solid #E0F2F1;
  border-radius: 5px;
  box-shadow: 0 6px 6px -3px rgba(224, 242, 241, 0.4), 0 10px 14px 1px rgba(224, 242, 241, 0.4), 0 4px 18px 3px rgba(224, 242, 241, 0.4); }

arb-intrasite-popover {
  border: 3px solid #00796B;
  box-shadow: 0 6px 6px -3px rgba(0, 96, 88, 0.25), 0 10px 14px 1px rgba(0, 96, 88, 0.25), 0 4px 18px 3px rgba(0, 96, 88, 0.25); }
  arb-intrasite-popover md-tabs-wrapper md-tabs-canvas,
  arb-intrasite-popover md-tabs-wrapper md-pagination-wrapper {
    height: 31px; }
  arb-intrasite-popover md-tabs-wrapper .md-tab {
    line-height: 6px; }

.popover-tab-body {
  max-height: 32vh; }
  .popover-tab-body.toolbarless-version {
    padding: 10px;
    overflow-y: auto; }

.top-triangle-track {
  position: relative;
  left: -12px; }
  .top-triangle-track .triangle-up {
    position: relative;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #009688; }
    .top-triangle-track .triangle-up.toolbarless-version {
      border-bottom: 15px solid whitesmoke; }

.bottom-triangle-track {
  position: relative;
  left: -12px; }
  .bottom-triangle-track .triangle-down {
    position: relative;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid whitesmoke; }
    .bottom-triangle-track .triangle-down.toolbarless-version {
      border-top: 15px solid whitesmoke; }

.vertical-layout-padding > * {
  margin-top: 16px; }

.horizontal-margin-between-children > *:not(:first-child) {
  margin-left: 8px !important; }

.vertical-margin-between-children > *:not(:first-child) {
  margin-top: 8px !important; }

.page-title-icon {
  font-size: 43px;
  line-height: 0.33;
  padding-right: 25px; }

#fixed-overlay {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 0;
  overflow: visible;
  z-index: 1000; }

.private-group-icon {
  position: absolute;
  bottom: 4px;
  left: 42px;
  z-index: 50;
  color: black; }

arb-compose-fab {
  position: fixed;
  right: -14px;
  bottom: -18px;
  z-index: 50; }

.fab-icon {
  width: 30px;
  height: 30px;
  font-size: 30px; }

@media (min-width: 600px) {
  md-bottom-sheet button md-icon {
    font-size: 48px !important;
    width: 48px;
    height: 48px; } }

del {
  color: red; }

ins {
  color: green; }

#popup-div {
  position: fixed;
  right: 0;
  top: 0;
  width: 600px;
  max-width: 100%;
  max-height: 100vh;
  overflow-y: auto;
  z-index: 55;
  background-color: white; }

.page-tabs .md-button,
.tab-panel-header .md-button {
  border-radius: 0; }
  .page-tabs .md-button.active-tab,
  .tab-panel-header .md-button.active-tab {
    background-color: #009688 !important;
    color: white !important;
    border-bottom: none; }

.page-tabs .md-button {
  padding: 5px 35px; }

.prevent-horizontal-scroll {
  overflow-x: hidden; }

.edit-page-rhs-border {
  border-left: #00796B 5px solid; }

.edit-page-footer {
  margin: 0;
  padding-left: 10px; }

.edit-relationship-div {
  margin-bottom: 20px; }

.edit-page-side-text {
  white-space: pre-wrap; }

.wmd-button-bar {
  background-color: white;
  border-bottom: silver 1px solid;
  min-height: 36px; }
  .wmd-button-bar .md-button, .wmd-button-bar .md-menu {
    width: 25px;
    min-width: 25px;
    margin: 0;
    padding: 0 0px; }
  @media (min-width: 1500px) {
    .wmd-button-bar .md-button, .wmd-button-bar .md-menu {
      width: 34px;
      min-width: 34px;
      margin: 0;
      padding: 0 5px; } }

.wmd-input {
  height: 100%;
  border: none;
  outline: none;
  padding: 5px 15px;
  background-color: whitesmoke; }

.editor-feedback-fab {
  width: 40px; }

.question-text-container {
  width: 100%;
  overflow-y: auto; }

textarea {
  resize: none; }

.editor-tab {
  padding: 10px 20px 0px 20px; }
  .editor-tab .editor-input-container-help-button {
    margin-top: 10px; }

.publishing-options-panel {
  padding: 10px 20px 0px 20px;
  background-color: white;
  border-top: #00796B 5px solid; }

.selected-subpage > .comment-header {
  background-color: #FFCCBC;
  border: #FF5722 1px solid; }

.subpage-content {
  margin-top: 20px; }
  .inline-subpage > .subpage-content {
    margin-top: 0px; }

.comment-header {
  background-color: #E0F2F1;
  padding: 0 5px;
  border-bottom: silver 1px solid; }

.comment-footer {
  padding: 0 5px; }

.inline-comment-icon {
  position: absolute;
  z-index: 2; }

.rhs-buttons {
  position: absolute; }
  .rhs-buttons .rhs-button {
    margin: 5px 5px 0px 0px !important; }
  .rhs-buttons .rhs-dropdown-button {
    width: 100%;
    text-align: left; }

.resolved-mark {
  color: lightgray !important; }

.inline-comment-highlight {
  background-color: #E0F2F1; }

.inline-comment-highlight-hover {
  background-color: #E0F2F1; }

.inline-comment-container {
  margin: 20px; }
  .inline-comment-container .expand {
    height: 20px; }
  .inline-comment-container.constrained arb-subpage {
    max-height: calc(70vh - 20px);
    overflow-y: auto; }

arb-multiple-choice {
  display: block;
  margin: 15px 0; }
  arb-multiple-choice .question-icon {
    position: relative;
    top: -1px;
    margin-right: 5px; }
  arb-multiple-choice p {
    margin-bottom: 0; }
  arb-multiple-choice md-radio-group {
    display: block;
    margin-left: 10px;
    margin-top: 0;
    border-left: #e0e0e0 3px solid;
    padding-left: 10px; }
  arb-multiple-choice md-radio-button {
    display: inline-block;
    margin: 0; }
  @media (max-width: 599px) {
    arb-multiple-choice .multiple-choice-option + .multiple-choice-option {
      margin-top: 5px; } }

arb-checkbox, [arb-checkbox] {
  position: relative;
  top: -1em; }
  arb-checkbox p, [arb-checkbox] p {
    margin-bottom: 0; }

.learn-requirements {
  margin-left: 10px;
  border-left: #e0e0e0 3px solid;
  padding-left: 10px; }

.learn-list {
  margin: 0 0 0 5px;
  padding-top: 0; }
  .learn-list > div {
    margin-bottom: 5px; }

.unlearnable-list {
  margin: 0 0 0 20px; }
  .unlearnable-list > li {
    margin-bottom: 15px; }

arb-learn-part, [arb-learn-part] {
  padding-top: 7px;
  margin-bottom: 7px; }
  arb-learn-part .which-part, [arb-learn-part] .which-part {
    padding-left: 5px; }

.toc-div {
  border-left: #e0e0e0 3px solid;
  padding-left: 10px;
  margin-bottom: 20px; }
  .toc-div .toc-title {
    color: gray; }
  .toc-div .toc-section-number {
    margin-right: 10px; }
  .toc-div .toc-row-tab-1 {
    margin-left: 30px; }
  .toc-div .toc-row-tab-2 {
    margin-left: 70px; }

arb-settings-page .create-code-form {
  background-color: #E0F2F1;
  padding: 30px; }

.hint {
  /* Position the hint */
  position: absolute;
  left: 2px;
  right: auto;
  bottom: 7px;
  /* Copy styles from ng-messages */
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  /* Set our own color */
  color: grey; }

arb-log-row, [arb-log-row] {
  padding-left: 10px; }

.spaced-buttons .md-button {
  margin-right: 15px; }

.explore-bullet {
  position: relative;
  left: 8px;
  min-width: 40px;
  color: lightgray; }

.explore-page-div {
  margin-top: 10px; }

.explore-children-div {
  border-left: lightgray 4px solid;
  padding-left: 10px;
  margin-left: 16px; }

[arb-hidden-text] {
  margin-bottom: 15px; }

.hidden-text {
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 5px; }

.hidden-text,
.expand-tray {
  background-color: whitesmoke;
  box-shadow: inset 0 4px 3px -3px rgba(0, 0, 0, 0.2), inset 0 -4px 3px -3px rgba(0, 0, 0, 0.14); }

.markdown-note {
  display: inline-block;
  position: relative;
  top: -5px;
  background-color: #E0F2F1;
  min-width: 20px;
  text-align: center;
  font-weight: 500;
  color: #666;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  cursor: pointer;
  line-height: 20px;
  font-size: 15px; }

arb-list-sub-header,
arb-explanation-request-row {
  color: #444; }
  arb-list-sub-header .explanation-text,
  arb-explanation-request-row .explanation-text {
    line-height: 38px; }
    arb-list-sub-header .explanation-text .expanded-list,
    arb-explanation-request-row .explanation-text .expanded-list {
      line-height: normal; }

.expand-icon {
  transition: all 500ms ease; }

.expand-icon-closed {
  -webkit-transform: rotate(-90deg); }

.md-button.icon-first,
md-icon.icon-first,
.icon-first .md-button {
  margin-left: -12px; }

.md-button.icon-last,
.md-icon.icon-last,
.icon-last .md-button {
  margin-right: -12px; }

.md-icon.s24 {
  width: 24px;
  height: 24px; }

arb-likes.s20 {
  margin-right: 0px; }
  arb-likes.s20 md-icon {
    width: 20px;
    height: 20px; }
  arb-likes.s20 .like-icon {
    min-width: 20px;
    font-size: 20px;
    margin-right: 0px !important; }

arb-likes.tiny {
  line-height: 5px;
  width: 14px;
  height: 14px; }
  arb-likes.tiny .md-button {
    line-height: 5px;
    min-height: 0px;
    min-width: 0px;
    font-size: 12px; }
  arb-likes.tiny md-icon {
    width: 14px;
    height: 14px;
    min-width: 0px;
    margin-right: 0px !important; }

.page-row .page-row-caption {
  min-width: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
.page-row .page-row-metadata div + div:before {
  content: "|";
  padding: 0 10px; }

.dense-panel {
  font-size: 14px; }
  .dense-panel md-toolbar {
    min-height: 0px; }

.list-panel .expand-tray {
  margin-left: -16px;
  padding-left: 16px;
  margin-right: -16px;
  padding-right: 16px;
  margin-bottom: -3px;
  padding-bottom: 20px; }

.dense-panel arb-user-name a,
.dense-panel arb-page-title a,
.popover-panel arb-user-name a,
.popover-panel arb-page-title a {
  font-weight: 500;
  color: black !important; }
.dense-panel md-list-item,
.popover-panel md-list-item {
  padding-left: 16px !important; }
.dense-panel .expand-tray,
.popover-panel .expand-tray {
  margin-left: -16px;
  padding-left: 16px;
  margin-right: -16px;
  padding-right: 16px;
  margin-bottom: -3px;
  padding-bottom: 20px; }

.tiny-panel md-list-item {
  padding-left: 6px !important;
  padding-right: 6px !important; }

.expand-tray {
  padding-top: 10px; }

.popover-panel {
  margin-top: 12px;
  width: 600px; }
  .popover-panel md-list {
    height: 400px;
    overflow-y: scroll; }
  .popover-panel md-card {
    margin: 0px; }

.popover-panel:before {
  box-shadow: inherit; }

.popover-panel:before,
.popover-panel:after {
  content: '';
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: -1; }

.popover-panel.arrow-top:before,
.popover-panel.arrow-top:after {
  bottom: 100%;
  right: 13px;
  margin-bottom: -8px;
  border-bottom: 0;
  border-right: 0; }

.list-panel {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto; }
  .list-panel md-list-item {
    margin: 0px !important;
    min-height: 42px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important; }
  .list-panel .update-primary-row {
    min-height: 39px; }
  .list-panel div {
    min-width: 0px; }
  .list-panel md-divider {
    border-top-color: rgba(0, 0, 0, 0.04); }

.tab-panel-header {
  border-bottom: #009688 3px solid; }

.tab-panel-title {
  font-size: 25px;
  margin-left: 5px; }

.tab-panel-tab {
  box-shadow: none !important;
  border-radius: 0 !important; }
  .tab-panel-tab:not(.md-primary) {
    background-color: white !important; }

.mathjax-div {
  margin: 1em 0; }

.query-info-button-div {
  min-width: 200px !important; }

arb-page-improvement .improvement-header, [arb-page-improvement] .improvement-header {
  background-color: #FFCCBC;
  padding: 8px 16px;
  min-height: 46px;
  border-bottom: 1px solid #efefef; }
arb-page-improvement .improvement-header.c-class, [arb-page-improvement] .improvement-header.c-class {
  background-color: #ffffe8; }
arb-page-improvement .improvement-header.start, [arb-page-improvement] .improvement-header.start {
  background-color: rgba(241, 103, 0, 0.15); }
arb-page-improvement .improvement-body, [arb-page-improvement] .improvement-body {
  padding: 5px 20px 16px 20px;
  color: #282828;
  font-size: 14px;
  line-height: 18px; }
arb-page-improvement ul, [arb-page-improvement] ul {
  margin: 0;
  margin-top: 5px;
  padding-left: 30px; }

.edit-page-lens-row {
  padding: 15px 10px; }

/*# sourceMappingURL=arbital.css.map */
