body {
  overflow-x: hidden; }
  body.autocomplete-body-fix {
    height: initial; }

.full-height {
  height: 100%; }
  .full-height [md-tabs-template] {
    height: 100%; }

.reveal-after-render-parent {
  visibility: hidden !important; }
  .reveal-after-render-parent .reveal-after-render {
    visibility: hidden !important; }

.edit-comment-embed .wmd-input {
  height: 50vh; }

.new-answer-div {
  height: 70vh; }

.edit-page-table-layout {
  display: table;
  width: 100%; }
  .edit-page-table-layout .edit-page-row {
    display: table-row; }
  .edit-page-table-layout .edit-page-cell {
    display: table-cell; }

#dynamic-view {
  position: relative;
  top: -64px;
  padding-top: 64px;
  box-sizing: border-box; }

.blue-dot {
  position: relative;
  top: -0.4em;
  display: inline-block;
  background-color: blue;
  width: 0.4em;
  height: 0.4em;
  border-radius: 50%; }

.autocomplete-custom-template li {
  height: auto;
  padding-bottom: 8px; }

.vote-bar .vote-bucket-div {
  border: 1px solid black;
  height: 18px; }
  .vote-bar .vote-bucket-div .vote-bucket {
    background-color: black;
    opacity: 0.0; }
  .vote-bar .vote-bucket-div.selected {
    border: 1px solid red; }
.vote-bar .vote-bar-margin {
  height: 27px; }
.vote-bar .new-vote-div {
  position: relative;
  top: 13.5px;
  z-index: 2; }
  .vote-bar .new-vote-div .new-vote-knob {
    position: relative;
    left: -15px;
    background-color: red;
    width: 10px;
    height: 45px; }
  .vote-bar .new-vote-div .new-vote-knob-hor {
    position: relative;
    left: -30px;
    top: -63px;
    width: 50px;
    height: 18px;
    text-align: center; }
.vote-bar .my-vote-div {
  position: relative;
  top: 13.5px;
  z-index: 1; }
  .vote-bar .my-vote-div .my-vote-knob {
    position: relative;
    left: -5px;
    background-color: black;
    width: 10px;
    height: 45px; }

.vote-bar-body:focus {
  outline: none; }

.center-text {
  text-align: center; }

.pre {
  white-space: pre; }

a {
  text-decoration: none;
  color: #0000cc; }
  a:hover {
    color: #000066; }
  a:active {
    color: #3333ff; }

md-tooltip .md-content {
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 12px;
  font-weight: bold; }

md-list {
  padding: 0; }

md-dialog {
  width: 90vw;
  height: 90vh; }
  md-dialog md-dialog-content {
    position: relative;
    top: -64px;
    padding-top: 64px;
    margin-bottom: -64px;
    box-sizing: border-box;
    height: 100%; }

.md-button {
  margin: 3px; }

.md-subheader {
  background-color: silver; }
  .md-subheader.md-primary {
    background-color: lightblue; }
  .md-subheader.md-accent {
    background-color: pink; }
  .md-subheader.md-warn {
    background-color: orange; }
  .md-subheader .md-subheader-inner {
    padding: 4px; }

.md-toolbar-tools a {
  white-space: nowrap; }

/*md-icon.material-icons {
	width: 1em;
	height: 1em;
	font-size: max(1em, 24px);
	min-width: 24px;
	min-height: 24px;
}*/
.red-link {
  color: #c70a0a; }

arb-likes {
  white-space: nowrap;
  margin: 0 10px 0 0; }

arb-intrasite-popover {
  position: absolute;
  z-index: 100;
  background-color: white; }

arb-user-popover {
  position: absolute;
  z-index: 100;
  background-color: white; }

arb-compose-fab {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 200; }

.hide-tabs md-tabs-wrapper {
  display: none; }
.hide-tabs md-tabs-content-wrapper {
  top: 0px; }

.diff-buttons {
  position: absolute;
  right: 0;
  top: 64px;
  margin: 20px;
  z-index: 3; }

.diff-section del {
  color: red; }
.diff-section ins {
  color: green; }

.wmd-button-bar {
  border-bottom: 2px solid silver; }
  .wmd-button-bar button {
    width: 24px;
    min-width: 24px;
    margin: 0px 5px;
    padding: 0; }
  .wmd-button-bar a {
    width: 24px;
    min-width: 24px;
    margin: 0px 5px;
    padding: 0; }

.separator {
  margin: 10px 10px;
  padding: 0 1px 0 0;
  background-color: silver; }

.wmd-input {
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  outline: none;
  padding: 0; }

.wmd-preview-separator {
  width: 20px; }

.selected-subpage {
  border: blue 1px solid; }

.inline-comment-icon {
  position: absolute;
  z-index: 1; }

.inline-comment-text {
  background-color: lightblue; }

.inline-comment-container {
  margin: 20px;
  max-height: 70vh;
  overflow-y: auto; }

/*# sourceMappingURL=arbital.css.map */
