.body-div {
  width: 100%;
  margin: 0 auto 160px auto;
  font-family: "Open Sans", sans-serif;
}
.page-body-div {
  width: 100%;
  margin: 0 auto 160px auto;
  font-family: "Open Sans", sans-serif;
}
.signup-body-div {
  width: 100%;
  margin: 0 auto 160px auto;
  font-family: "Open Sans", sans-serif;
  max-width: 400px;
}
.new-page-body-div {
  width: 100%;
  margin: 0 auto 160px auto;
  font-family: "Open Sans", sans-serif;
  max-width: 90%;
}
.filter-body-div {
  width: 100%;
  margin: 0 auto 160px auto;
  font-family: "Open Sans", sans-serif;
  max-width: 800px;
}
.updates-body-div {
  width: 100%;
  margin: 0 auto 160px auto;
  font-family: "Open Sans", sans-serif;
  max-width: 700px;
}
.index-body-div {
  width: 100%;
  margin: 0 auto 160px auto;
  font-family: "Open Sans", sans-serif;
  max-width: 800px;
  font-size: 18px;
}
.index-body-div .fancy-text {
  font-size: 60px;
  color: #b8b8b8;
}
.index-body-div .row {
  margin: 60px 0px;
}
.page-footer {
  color: #b8b8b8;
  font-size: 10px;
  padding: 10px;
}
.page-footer p {
  margin: 0;
}
.link-popover-dislike-correction {
  margin: 0 14px;
}
.template {
  display: none;
}
.karma {
  background-color: #0ccd29;
}
.admin {
  border-bottom: 1px dashed red;
}
.dashed-underline {
  border-bottom: 1px dashed;
  text-decoration: none;
}
.gray-link {
  color: #b8b8b8;
  cursor: pointer;
}
.gray-link:focus {
  color: #9f9f9f;
}
.gray-link:hover {
  color: #9f9f9f;
}
.gray-link:active {
  color: #9f9f9f;
}
.loading-indicator {
  display: none;
}
.fancy-text {
  font-size: 14px;
  font-family: 'Rye', cursive;
}
.error-text {
  color: red;
  display: none;
}
.pagedown h1 {
  font-size: 26px;
}
.pagedown h2 {
  font-size: 20px;
  font-weight: 600;
}
.pagedown h3 {
  font-size: 16px;
  font-weight: 800;
}
.wmd-panel {
  position: relative;
  height: 90%;
}
.wmd-preview {
  margin-top: 40px;
}
.wmd-panel-bottom-buttons {
  margin-top: 5px;
}
.ui-autocomplete {
  border: 1px solid gray;
  background-color: white;
  z-index: 2000;
}
.ui-menu-item {
  font-family: "Open Sans", sans-serif;
}
.ui-menu-item:focus {
  background-color: #8888ff;
}
.ui-menu-item:hover {
  background-color: #8888ff;
}
.ui-menu-item:active {
  background-color: #5555ff;
}
.ui-menu-item.ui-state-focus {
  background-color: #8888ff;
}
