.body-div {
  width: 100%;
  margin: 0 auto 160px auto;
  font-family: "Open Sans", sans-serif;
}
.signup-body-div {
  width: 100%;
  margin: 0 auto 160px auto;
  font-family: "Open Sans", sans-serif;
  max-width: 400px;
}
.new-page-body-div {
  width: 100%;
  margin: 0 auto 160px auto;
  font-family: "Open Sans", sans-serif;
  max-width: 90%;
}
.filter-body-div {
  width: 100%;
  margin: 0 auto 160px auto;
  font-family: "Open Sans", sans-serif;
  max-width: 800px;
}
.updates-body-div {
  width: 100%;
  margin: 0 auto 160px auto;
  font-family: "Open Sans", sans-serif;
  max-width: 700px;
}
.page-footer {
  color: #b8b8b8;
  font-size: 10px;
  padding: 10px;
}
.page-footer p {
  margin: 0;
}
.link-popover-dislike-correction {
  margin: 0 14px;
}
.template {
  display: none;
}
.admin {
  border-bottom: 1px dashed red;
}
.dashed-underline {
  border-bottom: 1px dashed;
  text-decoration: none;
}
.gray-link {
  color: #b8b8b8;
}
.gray-link:focus {
  color: #9f9f9f;
}
.gray-link:hover {
  color: #9f9f9f;
}
.gray-link:active {
  color: #9f9f9f;
}
.loading-indicator {
  display: none;
}
.error-text {
  color: red;
  display: none;
}
.pagedown h1 {
  font-size: 26px;
}
.pagedown h2 {
  font-size: 20px;
  font-weight: 600;
}
.pagedown h3 {
  font-size: 16px;
  font-weight: 800;
}
.wmd-panel {
  position: relative;
  height: 90%;
}
.wmd-preview {
  margin-top: 40px;
}
.ui-autocomplete {
  border: 1px solid gray;
  background-color: white;
}
.ui-menu-item {
  font-family: "Open Sans", sans-serif;
}
.ui-menu-item:focus {
  background-color: #8888ff;
}
.ui-menu-item:hover {
  background-color: #8888ff;
}
.ui-menu-item:active {
  background-color: #5555ff;
}
.gray-text {
  color: #b8b8b8;
}
.page-body-div {
  width: 100%;
  margin: 0 auto 160px auto;
  font-family: "Open Sans", sans-serif;
}
.new-updated-label {
  color: #00e000;
}
.left-column {
  width: 15%;
  padding: 0px 20px;
}
.mid-column {
  width: 60%;
}
.right-column {
  width: 25%;
}
.page {
  margin-bottom: 40px;
}
.subscribe-to-page-link {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 21px;
  margin: 5px 0;
}
.subscribe-to-page-link.on {
  color: #5050ff;
}
.subscribe-to-page-link.on:focus {
  color: #5050ff;
}
.subscribe-to-page-link:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.subscribe-to-page-link:hover {
  color: #0000e9;
  text-decoration: none;
}
.subscribe-to-page-link:active {
  color: #8383ff;
  text-decoration: none;
}
.subscribe-to-user-link {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 21px;
  margin: 5px 0;
  font-size: 14px;
}
.subscribe-to-user-link.on {
  color: #5050ff;
}
.subscribe-to-user-link.on:focus {
  color: #5050ff;
}
.subscribe-to-user-link:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.subscribe-to-user-link:hover {
  color: #0000e9;
  text-decoration: none;
}
.subscribe-to-user-link:active {
  color: #8383ff;
  text-decoration: none;
}
.subscribe-to-tag-link {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 21px;
  margin: 5px 0;
  font-size: 14px;
}
.subscribe-to-tag-link.on {
  color: #5050ff;
}
.subscribe-to-tag-link.on:focus {
  color: #5050ff;
}
.subscribe-to-tag-link:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.subscribe-to-tag-link:hover {
  color: #0000e9;
  text-decoration: none;
}
.subscribe-to-tag-link:active {
  color: #8383ff;
  text-decoration: none;
}
.edit-page-link {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 21px;
  margin: 5px 0;
}
.edit-page-link.on {
  color: #5050ff;
}
.edit-page-link.on:focus {
  color: #5050ff;
}
.edit-page-link:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.edit-page-link:hover {
  color: #0000e9;
  text-decoration: none;
}
.edit-page-link:active {
  color: #8383ff;
  text-decoration: none;
}
.delete-page-link {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 21px;
  margin: 5px 0;
}
.delete-page-link.on {
  color: #5050ff;
}
.delete-page-link.on:focus {
  color: #5050ff;
}
.delete-page-link:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.delete-page-link:hover {
  color: #0000e9;
  text-decoration: none;
}
.delete-page-link:active {
  color: #8383ff;
  text-decoration: none;
}
#delete-page-alert {
  position: absolute;
  z-index: 1;
}
.page-title {
  font-size: 28px;
}
.author-text {
  color: #b8b8b8;
}
.answer {
  text-overflow: ellipsis;
  font-weight: bold;
}
.page-summary {
  font-weight: bold;
}
.page-text {
  margin-top: 7px;
}
.page-text h1 {
  font-size: 26px;
}
.page-text h2 {
  font-size: 20px;
  font-weight: 600;
}
.page-text h3 {
  font-size: 16px;
  font-weight: 800;
}
.page-outdent {
  margin: 0 0 8px 30px;
}
.toggle-contexts-link {
  color: #b8b8b8;
  cursor: pointer;
}
.toggle-contexts-link:focus {
  color: #9f9f9f;
}
.toggle-contexts-link:hover {
  color: #9f9f9f;
}
.toggle-contexts-link:active {
  color: #9f9f9f;
}
.new-page-nav {
  margin-bottom: 14px;
}
.children-page-line {
  border-color: #666666;
}
.contexts {
  margin: 7px 0;
}
.contexts-content {
  padding-left: 20px;
}
.intrasite-link {
  border-bottom: 1px dashed;
  text-decoration: none;
}
.tags {
  margin: 7px 0;
}
.tag {
  margin: 10px 5px 0 0;
  font-size: 12px;
  background-color: #aaa;
}
.comment-body {
  display: table;
}
.comment-creator-name {
  display: table-cell;
  white-space: nowrap;
  font-weight: bold;
}
.comment-text {
  display: table-cell;
}
.reply {
  margin-left: 5px;
  padding-left: 15px;
  border-left: 1px solid #aaaaff;
}
.edit-comment-link {
  color: #e0e0e0;
  text-decoration: none;
  visibility: hidden;
}
.edit-comment-link.on {
  color: #5050ff;
}
.edit-comment-link.on:focus {
  color: #5050ff;
}
.edit-comment-link:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.edit-comment-link:hover {
  color: #0000e9;
  text-decoration: none;
}
.edit-comment-link:active {
  color: #8383ff;
  text-decoration: none;
}
.comment-row:hover .edit-comment-link {
  visibility: visible;
}
.edit-comment-link.on {
  visibility: visible;
}
.subscribe-comment-link {
  color: #e0e0e0;
  text-decoration: none;
  visibility: hidden;
}
.subscribe-comment-link.on {
  color: #5050ff;
}
.subscribe-comment-link.on:focus {
  color: #5050ff;
}
.subscribe-comment-link:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.subscribe-comment-link:hover {
  color: #0000e9;
  text-decoration: none;
}
.subscribe-comment-link:active {
  color: #8383ff;
  text-decoration: none;
}
.comment-row:hover .subscribe-comment-link {
  visibility: visible;
}
.subscribe-comment-link.on {
  visibility: visible;
}
.like-comment-link {
  color: #e0e0e0;
  text-decoration: none;
  visibility: hidden;
}
.like-comment-link.on {
  color: #0ccd29;
}
.like-comment-link.on:focus {
  color: #0ccd29;
}
.like-comment-link:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.like-comment-link:hover {
  color: #066d16;
  text-decoration: none;
}
.like-comment-link:active {
  color: #1af23b;
  text-decoration: none;
}
.comment-row:hover .like-comment-link {
  visibility: visible;
}
.like-comment-link.on {
  visibility: visible;
}
.new-comment-link {
  color: #b8b8b8;
}
.new-comment-link:focus {
  color: #9f9f9f;
}
.new-comment-link:hover {
  color: #9f9f9f;
}
.new-comment-link:active {
  color: #9f9f9f;
}
.comment-like-count {
  color: #858585;
}
textarea.new-comment-text {
  height: 6em;
}
.page-like-div {
  font-size: 28px;
  position: relative;
  top: -7px;
}
.page-like-div .like-count {
  color: #0ccd29;
  font-size: 28px;
}
.page-like-div .dislike-count {
  color: #ff0032;
  font-size: 28px;
}
.page-like-div .like-link {
  color: #e0e0e0;
  text-decoration: none;
  position: relative;
  top: 7px;
  font-size: 42px;
}
.page-like-div .like-link.on {
  color: #0ccd29;
}
.page-like-div .like-link.on:focus {
  color: #0ccd29;
}
.page-like-div .like-link:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.page-like-div .like-link:hover {
  color: #066d16;
  text-decoration: none;
}
.page-like-div .like-link:active {
  color: #1af23b;
  text-decoration: none;
}
.page-like-div .dislike-link {
  color: #e0e0e0;
  text-decoration: none;
  position: relative;
  top: 14px;
  font-size: 42px;
}
.page-like-div .dislike-link.on {
  color: #ff0032;
}
.page-like-div .dislike-link.on:focus {
  color: #ff0032;
}
.page-like-div .dislike-link:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.page-like-div .dislike-link:hover {
  color: #99001e;
  text-decoration: none;
}
.page-like-div .dislike-link:active {
  color: #ff335b;
  text-decoration: none;
}
.page-like-div .disabled-like {
  color: #e0e0e0;
  text-decoration: none;
  position: relative;
  top: 7px;
  font-size: 42px;
}
.page-like-div .disabled-like.on {
  color: #0ccd29;
}
.page-like-div .disabled-like.on:focus {
  color: #0ccd29;
}
.page-like-div .disabled-dislike {
  color: #e0e0e0;
  text-decoration: none;
  position: relative;
  top: 14px;
  font-size: 42px;
}
.page-like-div .disabled-dislike.on {
  color: #ff0032;
}
.page-like-div .disabled-dislike.on:focus {
  color: #ff0032;
}
.like-span {
  font-size: 21px;
}
.like-span .like-count {
  color: #0ccd29;
  font-size: 21px;
}
.like-span .dislike-count {
  color: #ff0032;
  font-size: 21px;
}
.like-span .like-link {
  color: #e0e0e0;
  text-decoration: none;
  position: relative;
  top: 5.25px;
  font-size: 31.5px;
}
.like-span .like-link.on {
  color: #0ccd29;
}
.like-span .like-link.on:focus {
  color: #0ccd29;
}
.like-span .like-link:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.like-span .like-link:hover {
  color: #066d16;
  text-decoration: none;
}
.like-span .like-link:active {
  color: #1af23b;
  text-decoration: none;
}
.like-span .dislike-link {
  color: #e0e0e0;
  text-decoration: none;
  position: relative;
  top: 10.5px;
  font-size: 31.5px;
}
.like-span .dislike-link.on {
  color: #ff0032;
}
.like-span .dislike-link.on:focus {
  color: #ff0032;
}
.like-span .dislike-link:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.like-span .dislike-link:hover {
  color: #99001e;
  text-decoration: none;
}
.like-span .dislike-link:active {
  color: #ff335b;
  text-decoration: none;
}
.like-span .disabled-like {
  color: #e0e0e0;
  text-decoration: none;
  position: relative;
  top: 5.25px;
  font-size: 31.5px;
}
.like-span .disabled-like.on {
  color: #0ccd29;
}
.like-span .disabled-like.on:focus {
  color: #0ccd29;
}
.like-span .disabled-dislike {
  color: #e0e0e0;
  text-decoration: none;
  position: relative;
  top: 10.5px;
  font-size: 31.5px;
}
.like-span .disabled-dislike.on {
  color: #ff0032;
}
.like-span .disabled-dislike.on:focus {
  color: #ff0032;
}
.vote {
  margin-top: 7px;
}
.slider {
  cursor: pointer;
}
#vote-slider {
  width: 97%;
  margin: 0px 1.5%;
}
#vote-slider .slider-track {
  height: 6px;
  margin-top: -3px;
  background-image: none;
  background-repeat: no-repeat;
  box-shadow: none;
  background-color: lightgray;
}
#vote-slider .slider-tick {
  margin-top: -7px;
  width: 6px;
  margin-left: -3px;
  background-image: none;
  background-repeat: no-repeat;
  box-shadow: none;
  background-color: lightgray;
  opacity: 1.0;
}
#vote-slider .slider-tick.vote-tick {
  width: 20px;
  margin-left: -10px;
  border-radius: 50%;
  background-color: gray;
}
#vote-slider .slider-handle {
  margin-top: -7px;
  width: 10px;
  margin-left: -5px;
  z-index: 1;
}
.delete-my-vote-link {
  color: #e0e0e0;
  text-decoration: none;
}
.delete-my-vote-link.on {
  color: #b8b8b8;
}
.delete-my-vote-link.on:focus {
  color: #b8b8b8;
}
.delete-my-vote-link:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.delete-my-vote-link:hover {
  color: #858585;
  text-decoration: none;
}
.delete-my-vote-link:active {
  color: #d2d2d2;
  text-decoration: none;
}
.filter-result {
  margin: 10px 0px;
}
.inline-block-top {
  display: inline-block;
  vertical-align: top;
}
.filter-title {
  position: relative;
  top: 7px;
}
