.body-div {
  width: 100%;
  margin: 0 auto 160px auto;
  font-family: "Open Sans", sans-serif;
}
.primary-page-body-div {
  width: 100%;
  margin: 0 auto 160px auto;
  font-family: "Open Sans", sans-serif;
}
.signup-body-div {
  width: 100%;
  margin: 0 auto 160px auto;
  font-family: "Open Sans", sans-serif;
  max-width: 400px;
}
.new-page-body-div {
  width: 100%;
  margin: 0 auto 160px auto;
  font-family: "Open Sans", sans-serif;
}
.filter-body-div {
  width: 100%;
  margin: 0 auto 160px auto;
  font-family: "Open Sans", sans-serif;
  max-width: 800px;
}
.updates-body-div {
  width: 100%;
  margin: 0 auto 160px auto;
  font-family: "Open Sans", sans-serif;
  max-width: 700px;
}
.index-body-div {
  width: 100%;
  margin: 0 auto 160px auto;
  font-family: "Open Sans", sans-serif;
  max-width: 800px;
  font-size: 18px;
}
.index-body-div .fancy-text {
  font-size: 60px;
  color: #b8b8b8;
}
.index-body-div .row {
  margin: 60px 0px;
}
.nav-search {
  position: absolute;
  top: 8px;
  left: 33%;
  width: 33%;
}
.search-result {
  text-decoration: none;
}
.search-result:focus {
  text-decoration: none;
}
.search-result:hover {
  text-decoration: none;
}
.search-result:active {
  text-decoration: none;
}
.page-footer {
  color: #b8b8b8;
  font-size: 10px;
  padding: 10px;
}
.page-footer p {
  margin: 0;
}
.error-message {
  max-width: 768px;
  margin: 0 auto;
}
.link-popover-dislike-correction {
  margin: 0 14px;
}
.template {
  display: none;
}
.karma {
  background-color: #0ccd29;
}
.admin {
  border-bottom: 1px dashed red;
}
.dashed-underline {
  border-bottom: 1px dashed;
  text-decoration: none;
}
.intrasite-link {
  border-bottom: 1px dashed;
  text-decoration: none;
}
.intrasite-link:focus {
  text-decoration: none;
}
.intrasite-link:hover {
  text-decoration: none;
}
.intrasite-link:active {
  text-decoration: none;
}
.gray-link {
  color: #b8b8b8;
  cursor: pointer;
}
.gray-link:focus {
  color: #9f9f9f;
}
.gray-link:hover {
  color: #9f9f9f;
}
.gray-link:active {
  color: #9f9f9f;
}
.index-page-domain-link {
  font-size: 22px;
  color: #337ab7;
}
.loading-indicator {
  display: none;
}
.fancy-text {
  font-size: 14px;
  font-family: 'Rye', cursive;
}
.error-text {
  color: red;
  display: none;
}
.input-group {
  width: 100%;
}
.popover {
  max-width: 512px;
  width: 512px;
  z-index: 3010;
}
.pagedown h1 {
  font-size: 26px;
}
.pagedown h2 {
  font-size: 20px;
  font-weight: 600;
}
.pagedown h3 {
  font-size: 16px;
  font-weight: 800;
}
.pagedown blockquote {
  font-size: 14px;
  padding: 10px 10px;
  margin: 0 0 5px;
}
.wmd-panel {
  position: relative;
  height: 90%;
}
.wmd-preview {
  margin-top: 40px;
}
.wmd-panel-bottom-buttons {
  margin-top: 5px;
}
.ui-autocomplete {
  border: 1px solid gray;
  background-color: white;
  z-index: 20000;
}
.ui-autocomplete .ui-menu-item {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
.ui-autocomplete .ui-menu-item:focus {
  background-color: #bbbbff;
}
.ui-autocomplete .ui-menu-item:hover {
  background-color: #bbbbff;
}
.ui-autocomplete .ui-menu-item:active {
  background-color: #8888ff;
}
.ui-autocomplete .ui-menu-item.ui-state-focus {
  background-color: #bbbbff;
}
.gray-glyph {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 2em;
}
.gray-glyph.on {
  color: #b8b8b8;
}
.gray-glyph.on:focus {
  color: #b8b8b8;
}
.warning-glyph {
  color: #e0e0e0;
  text-decoration: none;
  color: #9a7d4b;
  font-size: 2em;
  margin: 2px 5px 0 5px;
}
.warning-glyph.on {
  color: #9a7d4b;
}
.warning-glyph.on:focus {
  color: #9a7d4b;
}
.gray-text {
  color: #b8b8b8;
}
.public-private-label {
  color: #b8b8b8;
}
.show-page-diff:focus {
  outline: 0;
}
.new-updated-label {
  color: #00e000;
}
.hash-anchor {
  background-color: #f8f8f8;
  border: blue 1px solid;
  margin-bottom: 10px;
}
.navigation-column {
  width: 30%;
  padding-left: 20px;
}
.page-body-div {
  width: 100%;
  padding: 20px 0px;
}
.page-body-div .like-column {
  width: 130px;
  padding: 0px 20px 0 0;
}
.page-body-div .text-column {
  margin-left: 130px;
}
.page-body-div .comments {
  margin-top: 15px;
  position: relative;
  left: -130px;
}
.mid-column {
  width: 55%;
}
.lens-tabs {
  margin-left: 130px;
}
.edit-page-body {
  width: 100%;
}
.edit-page-body .half {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  margin: 0 2%;
}
.edit-page-body .new-page-options {
  margin-top: 80px;
}
.edit-page-body .karma-lock-form-group {
  padding-top: 30px;
}
.edit-page-body .edit-page-alerts {
  margin: 0px 2%;
  max-width: 45%;
}
.edit-page-body .diff-half {
  display: none;
}
.edit-history-body {
  position: relative;
  overflow: auto;
}
.edit-history {
  width: 45%;
  margin: 0px 2% 20px 2%;
  max-width: 45%;
}
.edit-history .edit-block {
  position: absolute;
  width: 40px;
  height: 40px;
}
.edit-history .edit-block .edit-node {
  position: relative;
  top: 30px;
  left: 33px;
  background-color: lightblue;
  width: 16px;
  height: 16px;
  z-index: 1;
  border-radius: 16px;
}
.edit-history .edit-block .edit-node.snapshot-node {
  background-color: gray;
}
.edit-history .edit-block .edit-node.autosave-node {
  background-color: red;
}
.edit-history .edit-block .edit-node.current-edit-node {
  background-color: blue;
}
.edit-history .edit-block .edit-node.being-edited-node {
  border: 4px solid black;
}
.edit-history .edit-block.hor-line {
  border-bottom: 5px solid lightgray;
}
.edit-history .edit-block.ver-line {
  border-left: 5px solid lightgray;
}
.similar-pages {
  width: 45%;
  margin: 0px 2% 20px 2%;
  max-width: 45%;
}
.save-snapshot-button {
  margin: 0px 5px;
}
.meta-text-input {
  font-family: monospace;
}
.meta-text-error {
  white-space: pre;
}
.page {
  margin-bottom: 40px;
}
.subscribe-to-page-link {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 21px;
  margin: 5px 0;
  display: block;
}
.subscribe-to-page-link.on {
  color: #5050FF;
}
.subscribe-to-page-link.on:focus {
  color: #5050FF;
}
.subscribe-to-page-link:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.subscribe-to-page-link:hover {
  color: #0000e9;
  text-decoration: none;
}
.subscribe-to-page-link:active {
  color: #8383ff;
  text-decoration: none;
}
.subscribe-to-user-link {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 21px;
  margin: 5px 0;
  font-size: 14px;
}
.subscribe-to-user-link.on {
  color: #5050FF;
}
.subscribe-to-user-link.on:focus {
  color: #5050FF;
}
.subscribe-to-user-link:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.subscribe-to-user-link:hover {
  color: #0000e9;
  text-decoration: none;
}
.subscribe-to-user-link:active {
  color: #8383ff;
  text-decoration: none;
}
.subscribe-to-tag-link {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 21px;
  margin: 5px 0;
  font-size: 14px;
}
.subscribe-to-tag-link.on {
  color: #5050FF;
}
.subscribe-to-tag-link.on:focus {
  color: #5050FF;
}
.subscribe-to-tag-link:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.subscribe-to-tag-link:hover {
  color: #0000e9;
  text-decoration: none;
}
.subscribe-to-tag-link:active {
  color: #8383ff;
  text-decoration: none;
}
.start-reading {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 21px;
  margin: 5px 0;
  font-size: 18px;
}
.start-reading.on {
  color: #5050FF;
}
.start-reading.on:focus {
  color: #5050FF;
}
.start-reading:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.start-reading:hover {
  color: #0000e9;
  text-decoration: none;
}
.start-reading:active {
  color: #8383ff;
  text-decoration: none;
}
.page-anchor-link {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 21px;
  margin: 5px 0;
  display: block;
}
.page-anchor-link.on {
  color: #5050FF;
}
.page-anchor-link.on:focus {
  color: #5050FF;
}
.page-anchor-link:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.page-anchor-link:hover {
  color: #0000e9;
  text-decoration: none;
}
.page-anchor-link:active {
  color: #8383ff;
  text-decoration: none;
}
.edit-page-link {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 21px;
  margin: 5px 0;
  display: block;
}
.edit-page-link.on {
  color: #5050FF;
}
.edit-page-link.on:focus {
  color: #5050FF;
}
.edit-page-link:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.edit-page-link:hover {
  color: #0000e9;
  text-decoration: none;
}
.edit-page-link:active {
  color: #8383ff;
  text-decoration: none;
}
.edit-page-link.has-draft {
  color: #ff0000;
}
.delete-page-link {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 21px;
  margin: 5px 0;
  display: block;
}
.delete-page-link.on {
  color: #5050FF;
}
.delete-page-link.on:focus {
  color: #5050FF;
}
.delete-page-link:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.delete-page-link:hover {
  color: #0000e9;
  text-decoration: none;
}
.delete-page-link:active {
  color: #8383ff;
  text-decoration: none;
}
#delete-page-alert {
  position: absolute;
  z-index: 1;
}
.page-tag-row {
  margin-bottom: 10px;
}
.delete-tag-link {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 21px;
  margin: 5px 0;
  float: left;
  margin-right: 10px;
}
.delete-tag-link.on {
  color: #5050FF;
}
.delete-tag-link.on:focus {
  color: #5050FF;
}
.delete-tag-link:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.delete-tag-link:hover {
  color: #0000e9;
  text-decoration: none;
}
.delete-tag-link:active {
  color: #8383ff;
  text-decoration: none;
}
.delete-requirement-link {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 21px;
  margin: 5px 0;
  margin-right: 10px;
}
.delete-requirement-link.on {
  color: #5050FF;
}
.delete-requirement-link.on:focus {
  color: #5050FF;
}
.delete-requirement-link:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.delete-requirement-link:hover {
  color: #0000e9;
  text-decoration: none;
}
.delete-requirement-link:active {
  color: #8383ff;
  text-decoration: none;
}
.requirement-not-met {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 21px;
  margin: 5px 0;
  margin-right: 10px;
}
.requirement-not-met.on {
  color: #5050FF;
}
.requirement-not-met.on:focus {
  color: #5050FF;
}
.requirement-not-met:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.requirement-not-met:hover {
  color: #0000e9;
  text-decoration: none;
}
.requirement-not-met:active {
  color: #8383ff;
  text-decoration: none;
}
.title-span {
  white-space: normal;
}
.page-title {
  font-size: 28px;
}
.page-clickbait {
  margin-top: 10px;
}
.quick-edit-span {
  display: table-cell;
}
.quick-edit-span .edit-page-link {
  font-size: 14px;
}
.inline-page-title {
  padding-left: 5px;
}
.created-span {
  font-size: 14px;
  padding-left: 10px;
  display: table-cell;
  min-width: 110px;
}
.author-text {
  color: #b8b8b8;
}
.answer {
  text-overflow: ellipsis;
  font-weight: bold;
}
.page-summary {
  font-weight: bold;
}
.markdown-text h1 {
  font-size: 26px;
}
.markdown-text h2 {
  font-size: 20px;
  font-weight: 600;
}
.markdown-text h3 {
  font-size: 16px;
  font-weight: 800;
}
.markdown-text blockquote {
  font-size: 14px;
  padding: 10px 10px;
  margin: 0 0 5px;
}
.markdown-text .intrasite-link {
  white-space: nowrap;
  color: #333;
}
.markdown-text .intrasite-link.red-link {
  color: #c70a0a;
}
.page-text {
  margin-top: 7px;
  margin-bottom: 15px;
}
.page-outdent {
  margin: 0 0 8px 30px;
}
.edit-diff {
  margin: 15px 0px;
}
.toggle-inline-comment-div {
  position: absolute;
}
.toggle-inline-comment-div .inline-comment {
  text-decoration: none;
}
.toggle-inline-comment-div .inline-comment-icon {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 21px;
  margin: 5px 0;
  font-size: 30px;
  float: left;
}
.toggle-inline-comment-div .inline-comment-icon.on {
  color: #5050FF;
}
.toggle-inline-comment-div .inline-comment-icon.on:focus {
  color: #5050FF;
}
.toggle-inline-comment-div .inline-comment-icon:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.toggle-inline-comment-div .inline-comment-icon:hover {
  color: #0000e9;
  text-decoration: none;
}
.toggle-inline-comment-div .inline-comment-icon:active {
  color: #8383ff;
  text-decoration: none;
}
.toggle-inline-comment-div .inline-comment-count {
  position: relative;
  top: 9px;
  left: -70%;
  margin-right: -15px;
  z-index: 1;
  pointer-events: none;
  float: left;
  color: black;
}
.inline-comment-highlight {
  background-color: #DDDDFF;
}
.toggle-contexts-link {
  color: #b8b8b8;
  cursor: pointer;
}
.toggle-contexts-link:focus {
  color: #9f9f9f;
}
.toggle-contexts-link:hover {
  color: #9f9f9f;
}
.toggle-contexts-link:active {
  color: #9f9f9f;
}
.new-page-nav {
  margin-bottom: 14px;
}
.children-page-line {
  border-color: #666666;
}
.contexts {
  margin: 7px 0;
}
.contexts-content {
  padding-left: 20px;
}
.tags {
  margin: 7px 0;
}
.tag {
  display: inline-block;
  margin: 10px 5px 0 0;
  font-size: 13px;
  max-width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.children {
  margin-left: 15px;
}
.embedded-page {
  margin: 40px 0px;
}
.embedded-page-body {
  margin-left: 40px;
}
.hide-embedded-page {
  color: #e0e0e0;
  text-decoration: none;
}
.hide-embedded-page.on {
  color: #b8b8b8;
}
.hide-embedded-page.on:focus {
  color: #b8b8b8;
}
.hide-embedded-page:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.hide-embedded-page:hover {
  color: #858585;
  text-decoration: none;
}
.hide-embedded-page:active {
  color: #d2d2d2;
  text-decoration: none;
}
.red-link-count {
  border-bottom: 1px dashed;
  text-decoration: none;
  color: #c70a0a;
}
.rhs-buttons-div {
  z-index: 2;
}
.inline-comment-div {
  display: absolute;
  background-color: white;
  z-index: 1;
  padding-top: 10px;
}
.question-div {
  width: 14%;
}
.question-button {
  width: 50px;
  height: 50px;
  font-size: 28px;
  margin-left: 50px;
}
.question-button .glyphicon {
  position: relative;
  left: -3px;
}
.question-button .has-question-draft-icon {
  position: relative;
  top: 8px;
  left: -15px;
  font-size: 14px;
}
.new-inline-comment-div .new-inline-comment-button {
  width: 50px;
  height: 50px;
  font-size: 28px;
  margin-left: 25px;
}
.new-inline-comment-div .new-inline-comment-button .glyphicon {
  position: relative;
  left: -3px;
}
.comment {
  position: relative;
  top: -10px;
  margin-bottom: -10px;
}
.comment-creator-name {
  white-space: nowrap;
  font-weight: bold;
}
.comment-text {
  margin-left: 15px;
}
.reply {
  margin-left: 17px;
  padding-left: 10px;
  border-left: 1px solid #aaaaff;
}
.reply.new-comment {
  border-radius: 0 0 0 10px;
}
.edit-comment-link {
  color: #e0e0e0;
  text-decoration: none;
  visibility: hidden;
}
.edit-comment-link.on {
  color: #5050FF;
}
.edit-comment-link.on:focus {
  color: #5050FF;
}
.edit-comment-link:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.edit-comment-link:hover {
  color: #0000e9;
  text-decoration: none;
}
.edit-comment-link:active {
  color: #8383ff;
  text-decoration: none;
}
.comment-row:hover .edit-comment-link {
  visibility: visible;
}
.edit-comment-link.on {
  visibility: visible;
}
.edit-comment-link.has-draft {
  color: #ff0000;
  visibility: visible;
}
.subscribe-comment-link {
  color: #e0e0e0;
  text-decoration: none;
  visibility: hidden;
}
.subscribe-comment-link.on {
  color: #5050FF;
}
.subscribe-comment-link.on:focus {
  color: #5050FF;
}
.subscribe-comment-link:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.subscribe-comment-link:hover {
  color: #0000e9;
  text-decoration: none;
}
.subscribe-comment-link:active {
  color: #8383ff;
  text-decoration: none;
}
.comment-row:hover .subscribe-comment-link {
  visibility: visible;
}
.subscribe-comment-link.on {
  visibility: visible;
}
.like-comment-link {
  color: #e0e0e0;
  text-decoration: none;
  visibility: hidden;
}
.like-comment-link.on {
  color: #0ccd29;
}
.like-comment-link.on:focus {
  color: #0ccd29;
}
.like-comment-link:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.like-comment-link:hover {
  color: #066d16;
  text-decoration: none;
}
.like-comment-link:active {
  color: #1af23b;
  text-decoration: none;
}
.comment-row:hover .like-comment-link {
  visibility: visible;
}
.like-comment-link.on {
  visibility: visible;
}
.new-comment-div {
  position: relative;
  top: -10px;
}
.new-comment-link {
  color: #b8b8b8;
  cursor: pointer;
}
.new-comment-link:focus {
  color: #9f9f9f;
}
.new-comment-link:hover {
  color: #9f9f9f;
}
.new-comment-link:active {
  color: #9f9f9f;
}
.comment-like-count {
  color: #858585;
}
textarea.new-comment-text {
  height: 6em;
}
.page-like-div {
  font-size: 28px;
  white-space: nowrap;
  position: relative;
  top: -7px;
}
.page-like-div .like-count {
  color: #0ccd29;
  font-size: 28px;
}
.page-like-div .dislike-count {
  color: #ff0032;
  font-size: 28px;
}
.page-like-div .like-link {
  color: #e0e0e0;
  text-decoration: none;
  position: relative;
  top: 7px;
  font-size: 42px;
}
.page-like-div .like-link.on {
  color: #0ccd29;
}
.page-like-div .like-link.on:focus {
  color: #0ccd29;
}
.page-like-div .like-link:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.page-like-div .like-link:hover {
  color: #066d16;
  text-decoration: none;
}
.page-like-div .like-link:active {
  color: #1af23b;
  text-decoration: none;
}
.page-like-div .dislike-link {
  color: #e0e0e0;
  text-decoration: none;
  position: relative;
  top: 14px;
  font-size: 42px;
}
.page-like-div .dislike-link.on {
  color: #ff0032;
}
.page-like-div .dislike-link.on:focus {
  color: #ff0032;
}
.page-like-div .dislike-link:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.page-like-div .dislike-link:hover {
  color: #99001e;
  text-decoration: none;
}
.page-like-div .dislike-link:active {
  color: #ff335b;
  text-decoration: none;
}
.page-like-div .disabled-like {
  color: #e0e0e0;
  text-decoration: none;
  position: relative;
  top: 7px;
  font-size: 42px;
}
.page-like-div .disabled-like.on {
  color: #0ccd29;
}
.page-like-div .disabled-like.on:focus {
  color: #0ccd29;
}
.page-like-div .disabled-dislike {
  color: #e0e0e0;
  text-decoration: none;
  position: relative;
  top: 14px;
  font-size: 42px;
}
.page-like-div .disabled-dislike.on {
  color: #ff0032;
}
.page-like-div .disabled-dislike.on:focus {
  color: #ff0032;
}
.like-span {
  font-size: 21px;
  white-space: nowrap;
  padding-right: 15px;
}
.like-span .like-count {
  color: #0ccd29;
  font-size: 21px;
}
.like-span .dislike-count {
  color: #ff0032;
  font-size: 21px;
}
.like-span .like-link {
  color: #e0e0e0;
  text-decoration: none;
  position: relative;
  top: 5.25px;
  font-size: 31.5px;
}
.like-span .like-link.on {
  color: #0ccd29;
}
.like-span .like-link.on:focus {
  color: #0ccd29;
}
.like-span .like-link:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.like-span .like-link:hover {
  color: #066d16;
  text-decoration: none;
}
.like-span .like-link:active {
  color: #1af23b;
  text-decoration: none;
}
.like-span .dislike-link {
  color: #e0e0e0;
  text-decoration: none;
  position: relative;
  top: 10.5px;
  font-size: 31.5px;
}
.like-span .dislike-link.on {
  color: #ff0032;
}
.like-span .dislike-link.on:focus {
  color: #ff0032;
}
.like-span .dislike-link:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.like-span .dislike-link:hover {
  color: #99001e;
  text-decoration: none;
}
.like-span .dislike-link:active {
  color: #ff335b;
  text-decoration: none;
}
.like-span .disabled-like {
  color: #e0e0e0;
  text-decoration: none;
  position: relative;
  top: 5.25px;
  font-size: 31.5px;
}
.like-span .disabled-like.on {
  color: #0ccd29;
}
.like-span .disabled-like.on:focus {
  color: #0ccd29;
}
.like-span .disabled-dislike {
  color: #e0e0e0;
  text-decoration: none;
  position: relative;
  top: 10.5px;
  font-size: 31.5px;
}
.like-span .disabled-dislike.on {
  color: #ff0032;
}
.like-span .disabled-dislike.on:focus {
  color: #ff0032;
}
.like-small-span {
  font-size: 14px;
  white-space: nowrap;
  display: table-cell;
  padding-right: 15px;
}
.like-small-span .like-count {
  color: #0ccd29;
  font-size: 14px;
}
.like-small-span .dislike-count {
  color: #ff0032;
  font-size: 14px;
}
.like-small-span .like-link {
  color: #e0e0e0;
  text-decoration: none;
  position: relative;
  top: 3.5px;
  font-size: 21px;
}
.like-small-span .like-link.on {
  color: #0ccd29;
}
.like-small-span .like-link.on:focus {
  color: #0ccd29;
}
.like-small-span .like-link:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.like-small-span .like-link:hover {
  color: #066d16;
  text-decoration: none;
}
.like-small-span .like-link:active {
  color: #1af23b;
  text-decoration: none;
}
.like-small-span .dislike-link {
  color: #e0e0e0;
  text-decoration: none;
  position: relative;
  top: 7px;
  font-size: 21px;
}
.like-small-span .dislike-link.on {
  color: #ff0032;
}
.like-small-span .dislike-link.on:focus {
  color: #ff0032;
}
.like-small-span .dislike-link:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.like-small-span .dislike-link:hover {
  color: #99001e;
  text-decoration: none;
}
.like-small-span .dislike-link:active {
  color: #ff335b;
  text-decoration: none;
}
.like-small-span .disabled-like {
  color: #e0e0e0;
  text-decoration: none;
  position: relative;
  top: 3.5px;
  font-size: 21px;
}
.like-small-span .disabled-like.on {
  color: #0ccd29;
}
.like-small-span .disabled-like.on:focus {
  color: #0ccd29;
}
.like-small-span .disabled-dislike {
  color: #e0e0e0;
  text-decoration: none;
  position: relative;
  top: 7px;
  font-size: 21px;
}
.like-small-span .disabled-dislike.on {
  color: #ff0032;
}
.like-small-span .disabled-dislike.on:focus {
  color: #ff0032;
}
.embedded-vote {
  width: 80%;
  margin: 20px auto 10px auto;
}
.vote {
  margin-top: 40px;
}
.slider {
  cursor: pointer;
}
.slider.slider-horizontal {
  width: 100%;
}
.slider.slider-horizontal .slider-track {
  height: 4px;
  margin-top: -3px;
  background-image: none;
  background-repeat: no-repeat;
  box-shadow: none;
  background-color: lightgray;
}
.slider.slider-horizontal .slider-tick {
  margin-top: -6px;
  margin-left: -2px;
  width: 4px;
  height: 18px;
  background-image: none;
  background-repeat: no-repeat;
  box-shadow: none;
  background-color: lightgray;
  opacity: 1.0;
}
.slider.slider-horizontal .slider-handle {
  position: relative;
  top: 3px;
  margin-top: -7px;
  z-index: 3000;
  border: 1px solid blue;
  height: 9px;
}
.bar-background {
  position: relative;
  width: 100%;
  z-index: 2;
}
.bar-background .vote-bar {
  position: absolute;
  bottom: -3px;
  background-image: url(../../images/vote-bar.png);
  background-size: 100% 11px;
}
.delete-my-vote-link {
  color: #e0e0e0;
  text-decoration: none;
}
.delete-my-vote-link.on {
  color: #b8b8b8;
}
.delete-my-vote-link.on:focus {
  color: #b8b8b8;
}
.delete-my-vote-link:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.delete-my-vote-link:hover {
  color: #858585;
  text-decoration: none;
}
.delete-my-vote-link:active {
  color: #d2d2d2;
  text-decoration: none;
}
.filter-result {
  margin: 10px 0px;
}
.filter-title {
  display: table-cell;
}
.filter-like-div {
  display: table-cell;
  width: 120px;
}
.page-panel {
  margin: 10px 0px 0px 0px;
  font-size: 14px;
}
.page-panel .big-page-panel-header {
  font-size: 21px;
}
.page-panel .big-page-panel-header .extra-info {
  margin-top: 15px;
}
.page-panel .collapse-span {
  display: table-cell;
  min-width: 30px;
}
.page-panel .collapse-link {
  color: #e0e0e0;
  text-decoration: none;
  display: table-cell;
  width: 20px;
}
.page-panel .collapse-link.on {
  color: #b8b8b8;
}
.page-panel .collapse-link.on:focus {
  color: #b8b8b8;
}
.page-panel .collapse-link:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.page-panel .collapse-link:hover {
  color: #858585;
  text-decoration: none;
}
.page-panel .collapse-link:active {
  color: #d2d2d2;
  text-decoration: none;
}
.page-panel .page-panel-body {
  margin-left: 6px;
  padding-left: 24px;
  border-left: 1px solid blue;
}
.page-panel .extra-info {
  color: #b8b8b8;
  font-size: 14px;
  margin-top: 4px;
}
.likes-page-title {
  font-size: 14px;
}
.likes-page-title .page-header-link {
  display: table-cell;
  padding-left: 15px;
}
.likes-page-title .clickbait {
  color: #b8b8b8;
}
.update-row {
  margin: 7px 0px;
  padding: 0px 3px;
}
.panel-default .unvisited-update {
  padding: 3px 3px;
  background-color: #f7f8ff;
}
.group-subscribe-to-page-link {
  color: #e0e0e0;
  text-decoration: none;
}
.group-subscribe-to-page-link.on {
  color: #5050FF;
}
.group-subscribe-to-page-link.on:focus {
  color: #5050FF;
}
.group-subscribe-to-page-link:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.group-subscribe-to-page-link:hover {
  color: #0000e9;
  text-decoration: none;
}
.group-subscribe-to-page-link:active {
  color: #8383ff;
  text-decoration: none;
}
.group-subscribe-to-user-link {
  color: #e0e0e0;
  text-decoration: none;
}
.group-subscribe-to-user-link.on {
  color: #5050FF;
}
.group-subscribe-to-user-link.on:focus {
  color: #5050FF;
}
.group-subscribe-to-user-link:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.group-subscribe-to-user-link:hover {
  color: #0000e9;
  text-decoration: none;
}
.group-subscribe-to-user-link:active {
  color: #8383ff;
  text-decoration: none;
}
.remove-from-group {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 21px;
  margin: 5px 0;
}
.remove-from-group.on {
  color: #5050FF;
}
.remove-from-group.on:focus {
  color: #5050FF;
}
.remove-from-group:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.remove-from-group:hover {
  color: #0000e9;
  text-decoration: none;
}
.remove-from-group:active {
  color: #8383ff;
  text-decoration: none;
}
