.body-div {
  width: 100%;
  margin: 0 auto 160px auto;
  font-family: "Open Sans", sans-serif;
}
.signup-body-div {
  width: 100%;
  margin: 0 auto 160px auto;
  font-family: "Open Sans", sans-serif;
  width: 400px;
}
.new-page-body-div {
  width: 100%;
  margin: 0 auto 160px auto;
  font-family: "Open Sans", sans-serif;
  width: 90%;
}
.claims-body-div {
  width: 100%;
  margin: 0 auto 160px auto;
  font-family: "Open Sans", sans-serif;
  width: 600px;
}
.updates-body-div {
  width: 100%;
  margin: 0 auto 160px auto;
  font-family: "Open Sans", sans-serif;
  width: 700px;
}
.update-claim-summary-link {
  color: #0000ee;
}
.template {
  display: none;
}
.admin {
  border-bottom: 1px dotted red;
}
.dotted-underline {
  border-bottom: 1px dotted;
  text-decoration: none;
}
.loading-indicator {
  display: none;
}
.error-text {
  color: red;
  display: none;
}
.tag {
  margin: 10px 15px 0 0;
}
.ui-autocomplete {
  border: 1px solid gray;
  background-color: white;
}
.ui-menu-item {
  font-family: "Open Sans", sans-serif;
}
.ui-menu-item:focus {
  background-color: #8888ff;
}
.ui-menu-item:hover {
  background-color: #8888ff;
}
.ui-menu-item:active {
  background-color: #5555ff;
}
.ui-slider {
  margin-top: 1em;
  background-color: #bbbbbb;
}
.ui-slider-handle {
  border: 3px solid blue;
  border-radius: 5px;
  background-color: white;
}
.page-body-div {
  width: 100%;
  margin: 0 auto 160px auto;
  font-family: "Open Sans", sans-serif;
}
.gray-link {
  color: #b8b8b8;
}
.new-text {
  color: green;
}
.left-column {
  width: 15%;
  padding: 20px;
}
.mid-column {
  width: 60%;
}
.right-column {
  width: 25%;
}
.page {
  margin-bottom: 40px;
}
.page-link {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 21px;
  margin: 5px 0;
}
.page-link.on {
  color: #5050ff;
}
.page-link:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.page-link.on:focus {
  color: #5050ff;
}
.page-link:hover {
  color: #0000e9;
  text-decoration: none;
}
.page-link:active {
  color: #8383ff;
  text-decoration: none;
}
.subscribe-to-page-link {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 21px;
  margin: 5px 0;
}
.subscribe-to-page-link.on {
  color: #5050ff;
}
.subscribe-to-page-link:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.subscribe-to-page-link.on:focus {
  color: #5050ff;
}
.subscribe-to-page-link:hover {
  color: #0000e9;
  text-decoration: none;
}
.subscribe-to-page-link:active {
  color: #8383ff;
  text-decoration: none;
}
.edit-page-link {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 21px;
  margin: 5px 0;
}
.edit-page-link.on {
  color: #5050ff;
}
.edit-page-link:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.edit-page-link.on:focus {
  color: #5050ff;
}
.edit-page-link:hover {
  color: #0000e9;
  text-decoration: none;
}
.edit-page-link:active {
  color: #8383ff;
  text-decoration: none;
}
.delete-page-link {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 21px;
  margin: 5px 0;
}
.delete-page-link.on {
  color: #5050ff;
}
.delete-page-link:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.delete-page-link.on:focus {
  color: #5050ff;
}
.delete-page-link:hover {
  color: #0000e9;
  text-decoration: none;
}
.delete-page-link:active {
  color: #8383ff;
  text-decoration: none;
}
#delete-page-alert {
  position: absolute;
  z-index: 1;
}
.page-summary {
  font-weight: bold;
}
.page-outdent {
  margin: 0 0 8px 30px;
}
.toggle-contexts-link {
  color: #b8b8b8;
  cursor: pointer;
}
textarea.edit-page-text {
  height: 6em;
}
.new-page-nav {
  margin-bottom: 14px;
}
textarea.new-page-text {
  height: 6em;
}
.children-page-line {
  border-color: #666666;
}
#highlighter-div {
  position: relative;
  top: -2em;
  left: -50%;
  border: 2px solid blue;
  border-radius: 5px;
  background-color: white;
}
.comment-row {
  border: 1px solid transparent;
}
.comment-body {
  display: table;
}
.comment-creator-name {
  display: table-cell;
  white-space: nowrap;
  font-weight: bold;
}
.comment-text {
  display: table-cell;
}
.reply {
  margin-left: 5px;
  padding-left: 15px;
  border-left: 1px solid #aaaaff;
}
.edit-comment-link {
  color: #e0e0e0;
  text-decoration: none;
  visibility: hidden;
}
.edit-comment-link.on {
  color: #5050ff;
}
.edit-comment-link:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.edit-comment-link.on:focus {
  color: #5050ff;
}
.edit-comment-link:hover {
  color: #0000e9;
  text-decoration: none;
}
.edit-comment-link:active {
  color: #8383ff;
  text-decoration: none;
}
.comment-row:hover .edit-comment-link {
  visibility: visible;
}
.edit-comment-link.on {
  visibility: visible;
}
.subscribe-comment-link {
  color: #e0e0e0;
  text-decoration: none;
  visibility: hidden;
}
.subscribe-comment-link.on {
  color: #5050ff;
}
.subscribe-comment-link:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.subscribe-comment-link.on:focus {
  color: #5050ff;
}
.subscribe-comment-link:hover {
  color: #0000e9;
  text-decoration: none;
}
.subscribe-comment-link:active {
  color: #8383ff;
  text-decoration: none;
}
.comment-row:hover .subscribe-comment-link {
  visibility: visible;
}
.subscribe-comment-link.on {
  visibility: visible;
}
.like-comment-link {
  color: #e0e0e0;
  text-decoration: none;
  visibility: hidden;
}
.like-comment-link.on {
  color: #0ccd29;
}
.like-comment-link:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.like-comment-link.on:focus {
  color: #0ccd29;
}
.like-comment-link:hover {
  color: #066d16;
  text-decoration: none;
}
.like-comment-link:active {
  color: #1af23b;
  text-decoration: none;
}
.comment-row:hover .like-comment-link {
  visibility: visible;
}
.like-comment-link.on {
  visibility: visible;
}
.new-comment-link {
  color: #b8b8b8;
}
.comment-like-count {
  color: #858585;
}
textarea.new-comment-text {
  height: 6em;
}
.like-count {
  position: relative;
  font-size: 2em;
  top: -0.4em;
}
.like-count {
  position: relative;
  font-size: 2em;
  top: -0.4em;
  color: #0ccd29;
}
.dislike-count {
  position: relative;
  font-size: 2em;
  top: -0.4em;
  color: #0ccd29;
  color: #ff0032;
}
.disabled-like-link {
  font-size: 3em;
  color: #e0e0e0;
}
.like-link {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 3em;
}
.like-link.on {
  color: #0ccd29;
}
.like-link:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.like-link.on:focus {
  color: #0ccd29;
}
.like-link:hover {
  color: #066d16;
  text-decoration: none;
}
.like-link:active {
  color: #1af23b;
  text-decoration: none;
}
.dislike-link {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 3em;
}
.dislike-link.on {
  color: #ff0032;
}
.dislike-link:focus {
  outline: none;
  color: #e0e0e0;
  text-decoration: none;
}
.dislike-link.on:focus {
  color: #ff0032;
}
.dislike-link:hover {
  color: #99001e;
  text-decoration: none;
}
.dislike-link:active {
  color: #ff335b;
  text-decoration: none;
}
.vote-slider.ui-slider {
  background-color: red;
  height: 8px;
}
.vote-slider .ui-slider-handle {
  background-color: blue;
  z-index: 1;
}
.delete-my-vote-link {
  color: #b8b8b8;
}
