.body-div {
	width: 100%;
	margin: 0 auto 160px auto;
	font-family: "Open Sans", sans-serif;
}

.signup-body-div {
	.body-div();
	width: 400px;
}

.new-page-body-div {
	.body-div();
	width: 90%;
}

.claims-body-div {
	.body-div();
	width: 600px;
}

.updates-body-div {
	.body-div();
	width: 700px;
}

.update-claim-summary-link {
	color: #0000ee;
}

// Used for elements that will be cloned.
.template {
	display: none;
}

.admin {
	border-bottom: 1px dotted red;
}

.dotted-underline {
	border-bottom: 1px dotted;
	text-decoration: none;
}

.loading-indicator {
	display: none;
}

.error-text {
	color: red;
	display: none;
}

.tag {
	margin: 10px 15px 0 0;
}

// Div for autocomplete jquery-ui dropdown.
.ui-autocomplete {
	border: 1px solid gray;
	background-color: white;
}

// One of the menu items in the autocomplete jquery-ui dropdown.
.ui-menu-item {
	@c: #8888ff;
	font-family: "Open Sans", sans-serif;

	&:focus {
		background-color: @c;
	}
	&:hover {
		background-color: @c;
	}
	&:active {
		background-color: darken(@c, 10%);
	}
}

// Basic css for the jquery-ui slider.
.ui-slider {
	margin-top: 1em;
	background-color: #bbbbbb;
}

.ui-slider-handle {
	border: 3px solid blue;
	border-radius: 5px;
	background-color: white;
}
