// Vars
@gray-color: #b8b8b8;


.body-div {
	width: 100%;
	margin: 0 auto 160px auto;
	font-family: "Open Sans", sans-serif;
}

.page-body-div {
	.body-div();
}

.signup-body-div {
	.body-div();
	max-width: 400px;
}

.new-page-body-div {
	.body-div();
	max-width: 90%;
}

.filter-body-div {
	.body-div();
	max-width: 800px;
}

.updates-body-div {
	.body-div();
	max-width: 700px;
}

.index-body-div {
	.body-div();
	max-width: 800px;
	font-size: 18px;

	.fancy-text {
		font-size: 60px;
		color: @gray-color;
	}
	.row {
		margin: 60px 0px;
	}
}

.page-footer {
	color: @gray-color;
	font-size: 10px;
	padding: 10px;
	p {
		margin: 0;
	}
}


// Likes and dislikes are not vertically aligned in like-span. This fixes it.
.link-popover-dislike-correction {
	margin: 0 14px;
}

// Used for elements that will be cloned.
.template {
	display: none;
}

.admin {
	border-bottom: 1px dashed red;
}

.dashed-underline {
	border-bottom: 1px dashed;
	text-decoration: none;
}

// Generic light gray links
.gray-link {
	color: @gray-color;

	&:focus {
		color: darken(@gray-color, 10%);
	}
	&:hover {
		color: darken(@gray-color, 10%);
	}
	&:active {
		color: darken(@gray-color, 10%);
	}
}

.loading-indicator {
	display: none;
}

.fancy-text {
	font-size: 14px;
	font-family: 'Rye', cursive;
}

.error-text {
	color: red;
	display: none;
}

// This contains pagedown text.
.pagedown {
	h1 {
		font-size: 26px;
	}
	h2 {
		font-size: 20px;
		font-weight: 600;
	}
	h3 {
		font-size: 16px;
		font-weight: 800;
	}
}

.wmd-panel {
	position: relative;
	height: 90%;
}

.wmd-preview {
	margin-top: 40px;
}

// Div for autocomplete jquery-ui dropdown.
.ui-autocomplete {
	border: 1px solid gray;
	background-color: white;
}

// One of the menu items in the autocomplete jquery-ui dropdown.
.ui-menu-item {
	@c: #8888ff;
	font-family: "Open Sans", sans-serif;

	&:focus {
		background-color: @c;
	}
	&:hover {
		background-color: @c;
	}
	&:active {
		background-color: darken(@c, 10%);
	}
}
