@import "base.less";

// Variables
@like-color: #0ccd29;
@dislike-color: #ff0032;
@glyph-color: #e0e0e0;

// Generic light gray glyph icon
.glyph-mixin(@c) {
	color: @glyph-color;
	text-decoration: none;
	&.on {
		color: @c;
	}
	&.on:focus {
		color: @c;
	}
}

.glyph-mixin-link(@c) {
	.glyph-mixin(@c);
	&:focus {
		outline: none;
		color: @glyph-color;
		text-decoration: none;
	}
	&:hover {
		color: darken(@c, 20%);
		text-decoration: none;
	}
	&:active {
		color: lighten(@c, 10%);
		text-decoration: none;
	}
}

.gray-text {
	color: @gray-color;
}

.page-body-div {
	.body-div();
}

.new-updated-label {
	color: #00e000;
}


// Structure stuff

.left-column {
	width: 15%;
	padding: 0px 20px;
}

.mid-column {
	width: 60%;
}

.right-column {
	width: 25%;
}


// Page stuff

.page {
	margin-bottom: 40px;
}

// This class is for the column of page utility icons
.page-icon-mixin() {
	.glyph-mixin-link(#5050FF);
	font-size: 21px;
	margin: 5px 0;
}

.subscribe-to-page-link {
	.page-icon-mixin();
}

.subscribe-to-user-link {
	.page-icon-mixin();
	font-size: 14px;
}

.subscribe-to-tag-link {
	.page-icon-mixin();
	font-size: 14px;
}

.edit-page-link {
	.page-icon-mixin();
}

.delete-page-link {
	.page-icon-mixin();
}

#delete-page-alert {
	position: absolute;
	z-index: 1;
}

.page-title {
	font-size: 28px;
}

.author-text {
	.gray-text();
}

.answer {
	text-overflow: ellipsis;
	font-weight: bold;
}

.page-summary {
	font-weight: bold;
}

.page-text {
	.pagedown();
	margin-top: 7px;
}

.page-outdent {
	margin: 0 0 8px 30px;
}

.page-url {
}

.toggle-contexts-link {
	.gray-link();
	cursor: pointer; 
}

textarea.edit-page-text {
	height: 6em;
}

.new-page-nav {
	margin-bottom: 14px;
}

textarea.new-page-text {
	height: 6em;
}

.children-page-line {
	border-color: #666666;
}

.contexts {
	margin: 7px 0;
}

.contexts-content {
	padding-left: 20px;
}

.intrasite-link {
	.dashed-underline();
}

.tags {
	margin: 7px 0;
}

.tag {
	margin: 10px 15px 0 0;
	font-size: 12px;
}


// Comment stuff

.comment-row {
}

.comment-body {
	display: table;
}

.comment-creator-name {
	display: table-cell;
	white-space: nowrap;
	font-weight: bold;
}

.comment-text {
	display: table-cell;
}

.reply {
	margin-left: 5px;
	padding-left: 15px;
	border-left: 1px solid #aaaaff;
}

.comment-icon(@c) {
	.glyph-mixin-link(@c);
	visibility: hidden;

	.comment-row:hover & {
		visibility: visible;
	}
	&.on {
		visibility: visible;
	}
}

.edit-comment-link {
	.comment-icon(#5050FF);
}

.subscribe-comment-link {
	.comment-icon(#5050FF);
}

.like-comment-link {
	.comment-icon(@like-color);
}

.new-comment-link {
	.gray-link();
}

.comment-like-count {
	@c: darken(@gray-color, 20%);
	color: @c;
}

textarea.new-comment-text {
	height: 6em;
}

.replies {
}

// Like stuff

.like-area-mixin(@size) {
	font-size: @size;
	
	.like-count {
		color: @like-color;
		font-size: @size;
	}
	
	.dislike-count {
		color: @dislike-color;
		font-size: @size;
	}
	
	.like-link {
		.glyph-mixin-link(@like-color);
		position: relative;
		top: @size / 4.0;
		font-size: 1.5 * @size;
	}
	
	.dislike-link {
		.glyph-mixin-link(@dislike-color);
		position: relative;
		top: @size / 2.0;
		font-size: 1.5 * @size;
	}
	
	.disabled-like {
		.glyph-mixin(@like-color);
		position: relative;
		top: @size / 4.0;
		font-size: 1.5 * @size;
	}
	
	.disabled-dislike {
		.glyph-mixin(@dislike-color);
		position: relative;
		top: @size / 2.0;
		font-size: 1.5 * @size;
	}
}

.page-like-div {
	.like-area-mixin(28px);
	position: relative;
	top: -7px;
}

.like-span {
	.like-area-mixin(21px);
}


// Vote stuff

.vote {
	margin-top: 7px;
}

.slider {
	cursor: pointer;
}

#vote-slider {
	width: 97%;
	margin: 0px 1.5%;

	.slider-track {
		height: 6px;
		margin-top: -3px;
		background-image: none;
		background-repeat: no-repeat;
		box-shadow: none;
		background-color: lightgray;
	}
	.slider-tick {
		margin-top: -7px;
		width: 6px;
		margin-left: -3px;
		background-image: none;
		background-repeat: no-repeat;
		box-shadow: none;
		background-color: lightgray;
		opacity: 1.0;
	}
	.slider-tick.vote-tick {
		width: 20px;
		margin-left: -10px;
		border-radius: 50%;
		background-color: gray;
	}
	.slider-handle {
		margin-top: -7px;
		width: 10px;
		margin-left: -5px;
		z-index: 1;
	}
}

.delete-my-vote-link {
	.glyph-mixin-link(@gray-color);
}


// Filter page

.filter-result {
	margin: 10px 0px;
}

.inline-block-top {
	display: inline-block;
	vertical-align: top;
}

.filter-title {
	position: relative;
	top: 7px;
}
