@import "base.less";

// Variables
@like-color: #0ccd29;
@dislike-color: #ff0032;
@gray-link-color: #b8b8b8;
@glyph-color: #e0e0e0;

// Generic light gray glyph icon
.glyph-mixin(@c) {
	color: @glyph-color;
	text-decoration: none;
	&.on {
		color: @c;
	}
	&.on:focus {
		color: @c;
	}
}

.glyph-mixin-link(@c) {
	.glyph-mixin(@c);
	&:focus {
		outline: none;
		color: @glyph-color;
		text-decoration: none;
	}
	&:hover {
		color: darken(@c, 20%);
		text-decoration: none;
	}
	&:active {
		color: lighten(@c, 10%);
		text-decoration: none;
	}
}

.page-body-div {
	.body-div();
}

// Generic light gray links
.gray-link {
	color: @gray-link-color;
}

.new-text {
	color: green;
}


// Structure stuff

.left-column {
	width: 15%;
	padding: 20px;
}

.mid-column {
	width: 60%;
}

.right-column {
	width: 25%;
}


// Page stuff

.page {
	margin-bottom: 40px;
}

// This class is for the column of page utility icons
.page-icon-mixin() {
	.glyph-mixin-link(#5050FF);
	font-size: 21px;
	margin: 5px 0;
}

.page-link {
	.page-icon-mixin();
}

.subscribe-to-page-link {
	.page-icon-mixin();
}

.subscribe-to-user-link {
	.page-icon-mixin();
}

.subscribe-to-tag-link {
	.page-icon-mixin();
}

.edit-page-link {
	.page-icon-mixin();
}

.delete-page-link {
	.page-icon-mixin();
}

#delete-page-alert {
	position: absolute;
	z-index: 1;
}

.page-summary {
	font-weight: bold;
}

.page-text {
}

.page-outdent {
	margin: 0 0 8px 30px;
}

.page-url {
}

.toggle-contexts-link {
	.gray-link();
	cursor: pointer; 
}

textarea.edit-page-text {
	height: 6em;
}

.new-page-nav {
	margin-bottom: 14px;
}

textarea.new-page-text {
	height: 6em;
}

.children-page-line {
	border-color: #666666;
}

#highlighter-div {
	position: relative;
	top: -2em;
	left: -50%;
	border: 2px solid blue;
	border-radius: 5px;
	background-color: white;
}

.intrasite-link {
	.dashed-underline();
}


// Comment stuff

.comment-row {
	border: 1px solid transparent;
}

.comment-body {
	display: table;
}

.comment-creator-name {
	display: table-cell;
	white-space: nowrap;
	font-weight: bold;
}

.comment-text {
	display: table-cell;
}

.reply {
	margin-left: 5px;
	padding-left: 15px;
	border-left: 1px solid #aaaaff;
}

.comment-icon(@c) {
	.glyph-mixin-link(@c);
	visibility: hidden;

	.comment-row:hover & {
		visibility: visible;
	}
	&.on {
		visibility: visible;
	}
}

.edit-comment-link {
	.comment-icon(#5050FF);
}

.subscribe-comment-link {
	.comment-icon(#5050FF);
}

.like-comment-link {
	.comment-icon(@like-color);
}

.new-comment-link {
	.gray-link();
}

.comment-like-count {
	@c: darken(@gray-link-color, 20%);
	color: @c;
}

textarea.new-comment-text {
	height: 6em;
}

.replies {
}

// Like stuff

.like {
}

.like-count {
	position: relative;
	font-size: 2em;
	top: -0.4em;
}

.like-count {
	.like-count;
	color: @like-color;
}

.dislike-count {
	.like-count;
	color: @dislike-color;
}

.like-link-mixin(@c) {
	.glyph-mixin-link(@c);
	font-size: 3em;
}

.like-link {
	.like-link-mixin(@like-color);
}

.dislike-link {
	.like-link-mixin(@dislike-color);
}

.disabled-like-link {
	.glyph-mixin(@like-color);
	font-size: 3em;
}

.disabled-dislike-link {
	.glyph-mixin(@dislike-color);
	font-size: 3em;
}

// Vote stuff

.vote-slider.ui-slider {
	background-color: red;
	height: 8px;
}

.vote-slider .ui-slider-handle {
	background-color: blue;
	z-index: 1;
}

.delete-my-vote-link {
	.gray-link();
}
